@charset "UTF-8";

/* line 15, ../sass/_base.sass */
.clear {
  clear: both;
}


/* line 17, ../sass/_base.sass */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 20, ../sass/_base.sass */
em {
  font-style: normal;
}

/* line 22, ../sass/_base.sass */
a {
  color: #00bfd8;
  text-decoration: none;
}
/* line 25, ../sass/_base.sass */
a:hover {
  color: #00383f;
  text-decoration: none;
}
/* line 28, ../sass/_base.sass */
a em {
  font-style: normal;
}

/* line 30, ../sass/_base.sass */
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/_base.sass */
.list-none li {
  list-style-type: none;
  list-style-position: inside;
}

/* line 38, ../sass/_base.sass */
.btn-success {
  color: #fff;
  background-color: #66c5e6;
  border-color: #66c5e6;
}
/* line 42, ../sass/_base.sass */
.btn-success:hover {
  background-color: #66c5e6;
  border-color: #66c5e6;
}

/* line 46, ../sass/_base.sass */
.btn-primary {
  background-color: #7098db;
  border-color: #7098db;
}
@media (max-width: 768px) {
  /*.btn-default,.btn-primary,.btn-success,.btn-danger,.btn-info {
    width: 100%;
    margin: 5px 0;
  }*/
  .list-ticket .btn {
    width: auto;
  }
  .btn {
    width: 100%;
    margin: 5px 0;
  }

}
/* line 49, ../sass/_base.sass */
.btn-primary:hover {
  background-color: #7098db;
  border-color: #7098db;
}

/* line 52, ../sass/_base.sass */
.btn-cyan {
  background: #68d1df;
  color: white;
}
/* line 55, ../sass/_base.sass */
.btn-cyan:hover {
  color: white;
}

/* line 57, ../sass/_base.sass */
.btn-blue {
  background: none;
  border: 1px solid #0089d7;
  color: #0089d7 !important;
  border-radius: 0px;
}
/* line 62, ../sass/_base.sass */
.btn-blue:hover {
  background: #0089d7;
  color: #fff !important;
}

/* line 65, ../sass/_base.sass */
body {
  font-family: 微軟正黑體, sans-serif;
}

/* line 67, ../sass/_base.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 71, ../sass/_base.sass */
.maincolor {
  color: #00bfd8;
}

/* line 73, ../sass/_base.sass */
.color-1 {
  color: #5360bc;
}

/* line 75, ../sass/_base.sass */
.color-2 {
  color: #ae5da1;
}

/* line 77, ../sass/_base.sass */
.color-3 {
  color: #f19149;
}

/* line 79, ../sass/_base.sass */
.color-4 {
  color: #5394bc;
}

/* line 82, ../sass/_base.sass */
.bg-1 {
  background: #5360bc;
}

/* line 84, ../sass/_base.sass */
.bg-2 {
  background: #ae5da1;
}

/* line 86, ../sass/_base.sass */
.bg-3 {
  background: #f19149;
}

/* line 88, ../sass/_base.sass */
.bg-4 {
  background: #5394bc;
}

/* line 91, ../sass/_base.sass */
.center {
  text-align: center;
}

/* line 93, ../sass/_base.sass */
.field-validation-error {
  color: red;
}

/* line 95, ../sass/_base.sass */
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}

/* line 98, ../sass/_base.sass */
.container {
  width: 1170px;
  margin: 0 auto;
}

/* line 102, ../sass/_base.sass */
.iframe-rwd {
  position: relative;
  padding-bottom: 65.25%;
  height: 0;
  overflow: hidden;
}
/* line 108, ../sass/_base.sass */
.iframe-rwd iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 115, ../sass/_base.sass */
ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-bottom: 0;
}

/* line 124, ../sass/_base.sass */
.mt100 {
  margin-top: 100px;
}

/* line 1, ../sass/component/_pagination.sass */
.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus, .pagination .current {
  color: #00bfd8 !important;
  background: #f5f5f5 !important;
}

/* line 5, ../sass/component/_pagination.sass */
.pagination a, .pagination span {
  color: #00bfd8 !important;
}

/* line 1, ../sass/component/_tab.sass */
.nav-tabs {
  border: none;
}
/* line 3, ../sass/component/_tab.sass */
.nav-tabs > li {
  margin-bottom: 0;
}

/* line 5, ../sass/component/_tab.sass */
.nav-tabs > li.active > a, .nav > li > a:hover, .nav > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-radius: 0;
  background: #00383f;
  color: #fff;
}

/* line 10, ../sass/component/_tab.sass */
.l-tab {
  background: #575757;
}
/* line 12, ../sass/component/_tab.sass */
.l-tab a {
  color: #fff;
  font-size: 19.2px;
}
/* line 16, ../sass/component/_tab.sass */
.l-tab li.active > a:before, .l-tab:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 0;
  width: 0;
  border-bottom: 8px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: -5px;
}
/* line 25, ../sass/component/_tab.sass */
.l-tab > li > a {
  border: none !important;
}

/* line 3, ../sass/component/_video-photo-tab.sass */
.media_category {
  display: inline-block;
  margin-left: -3px;
  padding: 15px 40px;
  background: none;
}
/* line 10, ../sass/component/_video-photo-tab.sass */
.media_category:first-of-type {
  margin-left: 0;
}
/* line 12, ../sass/component/_video-photo-tab.sass */
.media_category a {
  color: black;
  text-decoration: none;
}
/* line 16, ../sass/component/_video-photo-tab.sass */
.media_container {
  margin-bottom: 50px;
  overflow-x: hidden;
  background: #f8f8f8;
}
/* line 20, ../sass/component/_video-photo-tab.sass */
.media_container_inner {
  background: #ececec;
}
/* line 22, ../sass/component/_video-photo-tab.sass */
.media_container_list {
  width: 40%;
  float: left;
}
.jq-num {
  background: #ff7bbb;
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 22, ../sass/component/_video-photo-tab.sass */
  .media_container_list {
    width: 100%;
    text-align: center;
  }
}
/* line 28, ../sass/component/_video-photo-tab.sass */
.media_container_list li {
  line-height: 1.5;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 33, ../sass/component/_video-photo-tab.sass */
.media_container_list li a {
  color: gray;
  text-decoration: none;
}
/* line 36, ../sass/component/_video-photo-tab.sass */
.media_container_list li.active {
  background: #a0ecf6;
}
/* line 38, ../sass/component/_video-photo-tab.sass */
.media_container_list li.active a {
  color: black;
}
/* line 41, ../sass/component/_video-photo-tab.sass */
.media_container_detail {
  width: 60%;
  float: left;
  background: #00bfd8;
  padding: 5px;
}
@media (max-width: 1024px) {
  /* line 41, ../sass/component/_video-photo-tab.sass */
  .media_container_detail {
    width: 100%;
  }
}

/* line 51, ../sass/component/_video-photo-tab.sass */
.detail_title {
  text-align: center;
  width: 100%;
  display: block;
  padding: 10px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}
/* line 61, ../sass/component/_video-photo-tab.sass */
.detail_list {
  position: relative;
}
/* line 64, ../sass/component/_video-photo-tab.sass */
.detail_image img {
  width: 100%;
}

/* line 68, ../sass/component/_video-photo-tab.sass */
.tab {
  width: 400px;
}
@media (max-width: 1024px) {
  /* line 68, ../sass/component/_video-photo-tab.sass */
  .tab {
    margin: 0 auto;
  }
}
/* line 73, ../sass/component/_video-photo-tab.sass */
.tab li.active {
  background: #00bfd8;
}
/* line 76, ../sass/component/_video-photo-tab.sass */
.tab li.active a {
  color: white;
}

/* line 1, ../sass/_layout.sass */
.control {
  /*border-bottom: 1px solid #68d1df;*/
  background: #FFF;
  background: rgba(255,255,255,.9);
}
/* line 3, ../sass/_layout.sass */
.control .container {
  padding: 0;
  margin: 0 auto;
}
/* line 6, ../sass/_layout.sass */
.control ul {
  list-style: none;
  margin-bottom: 0;
}

/* line 11, ../sass/_layout.sass */
.control-menu {
  list-style-type: none;
  margin-bottom: 0;
  float: right;
  -webkit-padding-start: 0px;
}

/* line 18, ../sass/_layout.sass */
.control-menu li {
  text-align: center;
  display: inline-block;
  color: #68d1df;
  font-size: 15px;
  padding: 10px 20px;
}
/* line 23, ../sass/_layout.sass */
.control-menu a {
  color: #5a5a5a;
}
/* line 25, ../sass/_layout.sass */
.control-menu i {
  color: #00bfd8;
  font-size: 20px;
  margin-right: 0.3em;
}

@media (max-width: 1024px) {
  /* line 29, ../sass/_layout.sass */
  .logo-section {
  }
}
/* line 32, ../sass/_layout.sass */
.logo-section .container {
  margin: 0px auto;
}

/* line 35, ../sass/_layout.sass */
.header .container {
  padding: 0;
}
/* line 37, ../sass/_layout.sass */
.header .dropdown-menu {
  min-width: 100%;
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
}
/* line 45, ../sass/_layout.sass */
.header.fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
  /*height: 131px;*/
  top: 0px;
  right: 0px;
  left: 0px;
  /*background: rgba(234, 234, 234, 0.95);*/
}
.control_drop_inner {
  /*background: white;*/
  height: 40px;
}

/* line 56, ../sass/_layout.sass */
.logo {
  /*transition: all .1s ease;*/
  display: block;
  height: 98px;
  width: 230px;
  width: 343px;
  float: left;
  background: url(../images/logo-1.svg);
  background: url(../images/logo-3.svg);
  background: url(../images/logo-6.svg);
  background: url(../images/logo-7.svg);
  background-size: 100% 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  /* line 56, ../sass/_layout.sass */
  .mobile-control {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .control-menu li {
    margin-left: -4px;
    padding: 10px 5px;
    font-size: 10px;
  }
  .logo {
    width: 50%;
    height: 78px;
  }

}
@media (max-width: 1024px) {
  /* line 56, ../sass/_layout.sass */

  .logo {
    margin: 0 auto;
  }
}
@media (max-width: 569px) {
  /* line 56, ../sass/_layout.sass */
  .logo {
    /*width: 99px;*/
    /*height: 98px;*/
    /*background: url(../images/logo-mobile.svg);*/
  }
}
/* line 75, ../sass/_layout.sass */
.logo-b {
  letter-spacing: 4px;
  color: #989898;
  font-size: 12px;
}
@media (max-width: 768px) {
  /* line 56, ../sass/_layout.sass */
  .logo {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 83, ../sass/_layout.sass */
.logo a {
  display: inline-block;
  height: 98px;
  width: 260px;
}

/* line 88, ../sass/_layout.sass */
.topmenu {
  background: #00bfd8;
}
/* line 93, ../sass/_layout.sass */
.topmenu > ul {
   border-top: 1px solid #00bfd8!important;
  border-bottom: 1px solid #00bfd8!important;
  background: #00bfd8;
  display: block;
  text-align: center;
}
/* line 96, ../sass/_layout.sass */
.topmenu > ul > li {
  width: 12%;
  display: inline-block !important;
}
/* line 99, ../sass/_layout.sass */
.topmenu > ul > li > a {
  background: none !important;
}
/* line 101, ../sass/_layout.sass */
.topmenu > ul > li > a i {
  padding-left: 0.3em;
  color: white;
  padding-right: 0.3em;
}
@media (max-width: 1024px) {
  /* line 101, ../sass/_layout.sass */
  .topmenu > ul > li > a i {
    display: none;
  }

  .navbar-collapse {

  }

}
/* line 107, ../sass/_layout.sass */
.topmenu > ul > li > a:hover i {
  color: #00bfd8;
}
/* line 109, ../sass/_layout.sass */
.topmenu a {
  color: white !important;
  font-size: 16px !important;
}
/* line 114, ../sass/_layout.sass */
.topmenu ul > li:hover > a {
  color: #00bfd8 !important;
  background: #fff !important;
}
/* line 119, ../sass/_layout.sass */
.topmenu ul > li li a {
  color: #5a5a5a !important;
  padding: 6px 10px !important;
}
/* line 122, ../sass/_layout.sass */
.topmenu ul > li li a:hover {
  color: #00bfd8 !important;
  background: #fff !important;
}
/* line 125, ../sass/_layout.sass */
.topmenu ul > li:hover ul {
  display: block;
}
/* line 128, ../sass/_layout.sass */
.topmenu ul > li > a:before {
  padding-right: 0.2em;
}

/* line 142, ../sass/_layout.sass */
.l-heading {
  padding: 0;
  margin: 0;
  height: 58px;
  line-height: 58px;
  font-weight: normal;
  color: #535353;
  font-size: 28px;
  text-align: center;
}

/* line 151, ../sass/_layout.sass */
.l-titles {
  margin: 0 0 16px 0;
  padding: 13px 16px 16px 20px;
  font-weight: bold;
  line-height: 2;
  color: #535353;
  font-size: 25px;
  text-indent: 0em;
}
@media (max-width: 768px) {
  .l-titles {
    font-size: 18px;
    text-align: center;
  }

}
/* line 162, ../sass/_layout.sass */
.l-titles > a {
  text-indent: 0;
}
/* line 164, ../sass/_layout.sass */
.l-titles span {
  color: #68d1df;
  padding-left: 0.2em;
}
/* line 167, ../sass/_layout.sass */
.l-titles span:before {
  content: "";
  border-left: 1px solid #68d1df;
  padding-right: 0.5em;
}
@media (max-width: 569px) {
  /* line 167, ../sass/_layout.sass */
  .l-titles span:before {
    border: none;
    display: block;
  }
}
/* line 175, ../sass/_layout.sass */
.l-titles-form {
  display: block;
  text-align: right;
  margin-top: -58px;
  margin-bottom: 10px;
  height: 58px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  /* line 175, ../sass/_layout.sass */

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .l-titles-form {
    display: block;
    float: none;
    margin-top: 0;
    text-align: left;
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    *zoom: 1;
  }
}
/* line 192, ../sass/_layout.sass */
.l-titles-form select, .l-titles-form input {
  display: inline;
}
@media (max-width: 768px) {
  /* line 194, ../sass/_layout.sass */
  .l-titles-form select {
    margin-bottom: 1em;
  }
}
/* line 197, ../sass/_layout.sass */
.l-titles span {
  color: #68d1df;
  padding-left: 0.2em;
}
/* line 200, ../sass/_layout.sass */
.l-titles span:before {
  content: "";
  border-left: 1px solid #68d1df;
  padding-right: 0.5em;
}
/* line 204, ../sass/_layout.sass */
.l-titles em {
  color: #ec6941;
}

/* line 207, ../sass/_layout.sass */
.main {
  min-height: 700px;
}
/* line 209, ../sass/_layout.sass */
.main .container {
  margin-top: 0;
}

@media (max-width: 768px) {
  /* line 211, ../sass/_layout.sass */
  .table {
    width: 569px;
  }
}

/* line 214, ../sass/_layout.sass */
.l-title {
  color: #00bfd8;
  padding: 0.5em;
  margin: 0;
  text-align: center;
}
/* line 220, ../sass/_layout.sass */
.l-title i {
  margin-right: 0.5em;
}

/* line 222, ../sass/_layout.sass */
.l-grid {
  list-style: none;
}
/* line 225, ../sass/_layout.sass */
.l-grid li {
  transition: 0.8s all;
  text-align: center;
  height: 300px;
}
/* line 230, ../sass/_layout.sass */
.l-grid li .title {
  text-align: left;
}
/* line 244, ../sass/_layout.sass */
.l-grid-fixedImg li {
  line-height: 210px;
  margin-bottom: 0px;
  height: auto;
  padding: 0;
}
/* line 250, ../sass/_layout.sass */
.l-grid-fixedImg li img {
  height: auto;
  width: 70%;
}

/* line 254, ../sass/_layout.sass */
.l-detail-title {
  color: #00bfd8;
  font-size: 19.2px;
  width: 100%;
  margin: 1em 0px;
}
/* line 260, ../sass/_layout.sass */
.l-detail-title em {
  padding-right: 25px;
}

/* line 265, ../sass/_layout.sass */
.l-list-menu-title {
  font-size: 19.2px;
  color: #00bfd8;
}
/* line 269, ../sass/_layout.sass */
.l-list-menu-content li {
  /*border-bottom: 1px solid #7F7F7F;*/
}
/* line 271, ../sass/_layout.sass */
.l-list-menu-content a {
  text-indent: 1em;
  display: block;
  padding: 5px 0;
}
/* line 275, ../sass/_layout.sass */
.l-list-menu-content a:hover {
  text-decoration: none;
  color: #fff;
  background: #00bfd8;
}
/* line 279, ../sass/_layout.sass */
.l-list-menu-content {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 285, ../sass/_layout.sass */
.l-list-content-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 289, ../sass/_layout.sass */
.l-list-content-main h3 {
  font-size: 19.2px;
  cursor: pointer;
}
/* line 293, ../sass/_layout.sass */
.l-list-content-main h3 a:before {
  content: "+";
  font-size: 16px;
  padding-right: 0.5em;
}
/* line 296, ../sass/_layout.sass */
.l-list-content-main h3 a:active {
  text-decoration: none;
}
/* line 298, ../sass/_layout.sass */
.l-list-content-main h3 a.active:before {
  content: "-";
  font-size: 16px;

}
/* line 300, ../sass/_layout.sass */
.l-list-content-main h3 a:hover {
  text-decoration: none;
}
/* line 302, ../sass/_layout.sass */
.l-list-content-main div {
  display: none;
}

/* line 304, ../sass/_layout.sass */
.l-pagination {
  text-align: center;
}

/* line 306, ../sass/_layout.sass */
.pagination {
  text-align: center;
  display: inline-block;
}

/* line 310, ../sass/_layout.sass */
.l-img {
  position: relative;
  text-align: center;
}
/* line 313, ../sass/_layout.sass */
.l-img-control {
  display: inline-block;
  position: relative;
}
/* line 316, ../sass/_layout.sass */
.l-img-title {
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  bottom: 15%;
  text-align: right;
  padding: 0.5em;
  width: 100%;
}
@media (max-width: 569px) {
  /* line 316, ../sass/_layout.sass */
  .l-img-title {
    bottom: 0;
    font-size: 16px;
  }
}

/* line 327, ../sass/_layout.sass */
.l-white {
  background: #fff;
  padding: 0 0 1em 0;
}

/* line 330, ../sass/_layout.sass */
.l-banner {
  text-align: center;
  position: relative;
}
@media (max-width: 1280px) {
  /* line 330, ../sass/_layout.sass */
  .logo-section .container {
    /*padding-left: 20px;*/
  }
  .l-banner {
    display: none;
  }
}

/* line 335, ../sass/_layout.sass */
.l-card {
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 338, ../sass/_layout.sass */
.l-card li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}
/* line 343, ../sass/_layout.sass */
.l-card-main {
  margin: 5px;
  background: #c8c8c8;
}
/* line 346, ../sass/_layout.sass */
.l-card-image {
  text-align: center;
  overflow: hidden;
}
/* line 350, ../sass/_layout.sass */
.l-card-image img {
  /*height: 300px;*/
}
@media (max-width: 1023px) {
  .l-card-image img {
  width: 100%;
  height: auto;
}

}
/* line 353, ../sass/_layout.sass */
.l-card-price {
  color: #8f8f8f;
  font-size: 16px;
}
/* line 356, ../sass/_layout.sass */
.l-card-price em {
  color: #dc1070;
  font-size: 30px;
}
/* line 359, ../sass/_layout.sass */
.l-card-content {
  overflow: hidden;
  text-align: center;
  background: white;
  padding: 10px 52px 10px 52px;
}
/* line 364, ../sass/_layout.sass */
.l-card-content h2 {
  line-height: 1.5;
  overflow: hidden;
}
/* line 368, ../sass/_layout.sass */
.l-card-nogutter .l-card-main {
  border-radius: 0;
  background: #fff;
}
/* line 372, ../sass/_layout.sass */
.l-card-nogutter .l-card-image {
  border-radius: 0;
}
/* line 374, ../sass/_layout.sass */
.l-card-nogutter .l-card-content {
  border-radius: 0px;
}
/* line 379, ../sass/_layout.sass */
.l-card-notrailer li {
  margin: 0;
}
/* line 382, ../sass/_layout.sass */
.l-card-notrailer li {
  margin: 0;
}
/* line 384, ../sass/_layout.sass */
.l-card h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 389, ../sass/_layout.sass */
.l-price {
  color: #8f8f8f;
  font-size: 16px;
}
/* line 392, ../sass/_layout.sass */
.l-price em {
  color: #dc1070;
  font-size: 30px;
}

/* line 395, ../sass/_layout.sass */
.contact {
  margin-bottom: 1em;
}
@media (max-width: 569px) {
  /* line 395, ../sass/_layout.sass */
  .contact {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  /* line 400, ../sass/_layout.sass */
  .panel span {
    display: block;
    margin: 0.5em 0px;
  }
}

/* line 404, ../sass/_layout.sass */
.footer {
  background: #f0f0f0;
  font-size: 13px;
  padding: 0.5em 0;
}
/* line 411, ../sass/_layout.sass */
.footer .container p {
  text-align: center;
  color: black;
}

/* line 416, ../sass/_layout.sass */
.google_search {
  width: 270px;
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 55px;
}
.language {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 55px;
}
.language li {
  display: inline-block;
}

.language li a {
    display: inline-block;
    padding: 5px;
  }

@media (max-width: 1024px) {
  .google_search {
    padding: 5px 20px;
    width: 100%;
    background: #f3f3f3;
    position: relative;
    z-index: 0;
    left: 0;
    top: 0;
  }
  .language {
    position: relative;
    z-index: 0;
    left: 0;
    top: 0;
    background: #f3f3f3;
    text-align: center;
  }
  .language li a {
    color: black;

  }

}

/* line 419, ../sass/_layout.sass */
.logo-section .container {
  position: relative;
}

/* line 422, ../sass/_layout.sass */
.control_drop_inner {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 55px;
}
/* line 429, ../sass/_layout.sass */
.control_drop_inner li {
  padding: 0;
}
/* line 431, ../sass/_layout.sass */
.control_drop_inner > li > a {
  display: inherit;
  padding-right: 10px;
}

/* line 434, ../sass/_layout.sass */
/*
.control_drop:hover .control_drop_inner {
  display: block;
}
*/

/* line 440, ../sass/_layout.sass */
.btn-blue {
  border: 0 !important;
  border-radius: 30px;
  background: #00bfd8 !important;
  color: white !important;
}

/* line 446, ../sass/_layout.sass */
.pagination a, .pagination span {
  border: 0 !important;
}

/* line 1, ../sass/_index.sass */
.banner {
  padding: 0;
}
@media (max-width: 569px) {
  /* line 1, ../sass/_index.sass */
  .banner {
    display: none;
  }
}

/* line 5, ../sass/_index.sass */
.indexNews {
  position: relative;
  overflow: hidden;
}
/* line 8, ../sass/_index.sass */
.indexNews.container {
  margin: 0 auto;
  padding: 0;
}
/* line 11, ../sass/_index.sass */
.indexNews-icon {
  float: left;
  font-size: 20px;
  color: #dedede;
  padding: 6px 0 10px 10px;
}
/* line 16, ../sass/_index.sass */
.indexNews-icon span {
  font-size: 18px;
}
/* line 18, ../sass/_index.sass */
.indexNews-list {
  list-style: none;
  margin: 0 0 0 55px;
  width: 800px;
  height: 44px;
  line-height: 44px;
  position: absolute;
}
/* line 26, ../sass/_index.sass */
.indexNews-list i {
  background: url(../images/index-news-cate.png);
  padding: 1px 13px;
  margin-right: 1em;
  color: #fff;
  font-size: 13px;
  display: inline;
  text-align: center;
}
/* line 34, ../sass/_index.sass */
.indexNews-list-title {
  color: #262626;
  font-size: 16px;
}
/* line 38, ../sass/_index.sass */
.indexNews-list-title:hover {
  text-decoration: none;
  color: #68d1df;
}

/* line 41, ../sass/_index.sass */
.index-video {
  overflow: hidden;
  *zoom: 1;
}
/* line 44, ../sass/_index.sass */
.index-video.container {
  padding: 0;
}
/* line 47, ../sass/_index.sass */
.index-video .youtube-main {
  width: 50%;
  float: left;
}
/* line 50, ../sass/_index.sass */
.index-video iframe {
  width: 100%;
  height: 330px;
  background: #fff;
  float: left;
}
/* line 55, ../sass/_index.sass */
.index-video ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 59, ../sass/_index.sass */
.index-video li {
  float: left;
  width: 25%;
  color: #fff;
  position: relative;
}
/* line 65, ../sass/_index.sass */
.index-video li p {
  position: absolute;
  text-align: center;
  color: #fff;
  padding: 0 1em;
  top: 50%;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  margin-top: -15px;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  transition: 0.8s all;
}
/* line 80, ../sass/_index.sass */
.index-video li:nth-child(1) {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* line 83, ../sass/_index.sass */
.index-video li:nth-child(2) {
  border-bottom: 1px solid #fff;
}
/* line 85, ../sass/_index.sass */
.index-video li:nth-child(3) {
  border-right: 1px solid #fff;
}
/* line 87, ../sass/_index.sass */
.index-video li .youtube-sub-shadow {
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.8s;
}
/* line 100, ../sass/_index.sass */
.index-video li .youtube-sub-shadow:hover {
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
/* line 109, ../sass/_index.sass */
.index-video li img {
  width: 100%;
}
/* line 111, ../sass/_index.sass */
.index-video li img:hover {
  opacity: 0.8;
}

/* line 126, ../sass/_index.sass */
.index-travel {
  padding: 0;
}

/* line 128, ../sass/_index.sass */
.index-h2 {
  color: #00bfd8;
  font-size: 36px;
  text-align: center;
  position: relative;
}
/* line 134, ../sass/_index.sass */
.index-h2:before {
  border-bottom: 1px solid #00bfd8;
  position: absolute;
  width: 100%;
  content: "";
  left: 0;
  top: 20px;
}
/* line 141, ../sass/_index.sass */
.index-h2 em {
  background: #fff;
  position: relative;
  padding: 0 0.5em;
}

/* line 146, ../sass/_index.sass */
.index-h3 {
  text-align: center;
  color: #4f4f4f;
  font-size: 26px;
}

/* line 150, ../sass/_index.sass */
.index-title, .l-h2 {
  padding: 20px 0;
  margin: 0;
  line-height: 58px;
  font-weight: normal;
  color: #00bfd8;
  font-size: 28px;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 150, ../sass/_index.sass */
  .index-title, .l-h2 {
    padding: 10px 0;
    /*background: #00bfd8;*/
    color: #00bfd8;
  }
}
/* line 162, ../sass/_index.sass */
.index-title span, .l-h2 span {
  display: none;
  color: #68d1df;
  padding-left: 0.2em;
}
/* line 166, ../sass/_index.sass */
.index-title span:before, .l-h2 span:before {
  content: "";
  border-left: 1px solid #68d1df;
  padding-right: 0.5em;
}

/* line 174, ../sass/_index.sass */
.indexNews, .header {
}

/* line 176, ../sass/_index.sass */
ul.card {
  padding: 0;
}

/* line 178, ../sass/_index.sass */
li.card {
  list-style-type: none;
  display: inline-block;
  margin: 10px 12px 0 0px;
  background: #fafafa;
}
/* line 183, ../sass/_index.sass */
li.card:last-child {
  margin-right: 0;
}

/* line 185, ../sass/_index.sass */
li.list {
  list-style-type: none;
  display: inline-block;
  width: 49%;
}

/* line 190, ../sass/_index.sass */
.index-expert {
  background: white;
}

/* line 192, ../sass/_index.sass */
.container {
  padding: 0;
}

/* line 195, ../sass/_index.sass */
.interactive {
  width: 22%;
  float: left;
}
/* line 198, ../sass/_index.sass */
.interactive-title {
  color: #707070;
  font-weight: 600;
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #00bfd8;
}
/* line 204, ../sass/_index.sass */
.interactive-content {
  color: #919191;
  font-size: 14px;
  line-height: 2em;
  padding-top: 10px;
}

/* line 211, ../sass/_index.sass */
.sponsor {
  display: inline-block;
  margin: 0 6px 10px 0;
  width: 66px;
  height: 66px;
}
/* line 216, ../sass/_index.sass */
.sponsor .image-circle {
  background-size: contain;
  background-position: center center;
}

/* line 220, ../sass/_index.sass */
.service {
  text-align: center;
  width: 49%;
  display: inline-block;
}

/* line 226, ../sass/_index.sass */
.button {
  width: 180px;
  color: white;
  background: #00bfd8;
  padding: 15px 0px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 8px auto;
}

/* line 235, ../sass/_index.sass */
.list-card .button {
  bottom: 0;
}

/* line 238, ../sass/_index.sass */
.image-circle {
  max-width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 246, ../sass/_index.sass */
.title-tag {
  display: inline-block;
  margin: 0 12px 15px 0;
  position: relative;
  color: white;
  width: 68px;
  vertical-align: top;
  padding: 5px 0;
  text-align: center;
}
/* line 256, ../sass/_index.sass */
.title-tag:after {
  bottom: -10px;
  right: 0;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-bottom: 10px solid transparent;
}

/* line 268, ../sass/_index.sass */
.list-card {
  width: 280px;
  height: 395px;
  background: #fafafa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 273, ../sass/_index.sass */
.list-card-image {
  text-align: center;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
  width: 280px;
  height: 225px;
  overflow: hidden;
}
/* line 279, ../sass/_index.sass */
.list-card-image img {
  height: 100%;
}
/* line 282, ../sass/_index.sass */
.list-card-content {
  text-align: center;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 10px 10px;
  background: white;
  width: 280px;
  padding: 18px 52px;
}
/* line 289, ../sass/_index.sass */
.list-card-text {
  height: 150px;
}

/* line 291, ../sass/_index.sass */
.list-ticket {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (max-width: 767px) {
  /* line 291, ../sass/_index.sass */
  .list-ticket {
    width: 100%;
    margin: 0 auto;
    background: none;
  }
}
/* line 301, ../sass/_index.sass */
.list-ticket .ribbon {
  color: gray;
  font-size: 20px;
  text-align: left;
  font-size: 20px;
  padding-top: 0.3em;
}
@media (max-width: 569px) {
  /* line 301, ../sass/_index.sass */
  .list-ticket .ribbon {
    text-align: center;
  }
}
/* line 309, ../sass/_index.sass */
.list-ticket .btn {
  margin: 15px;
}
@media (max-width: 569px) {
  /* line 309, ../sass/_index.sass */
  .list-ticket .btn {
    position: relative;
    text-align: center;
    margin: 0;
  }
}
/* line 319, ../sass/_index.sass */
.list-ticket li {
  position: relative;
  float: left;
  width: 48%;
  margin: 1%;
  background: #fff;
  border: 5px solid #dcdcdc;
}
@media (max-width: 768px) {
  /* line 319, ../sass/_index.sass */
  .list-ticket li {
    width: 100%;
    margin: 0;
    border: 0;
  }
}
@media (max-width: 569px) {
  /* line 319, ../sass/_index.sass */
  .list-ticket li {
    float: none;
    border: none;
  }
}
/* line 334, ../sass/_index.sass */
.list-ticket-card {
  width: 100%;
}
/* line 336, ../sass/_index.sass */
.list-ticket-card-image {
  position: relative;
  width: 50%;
  float: left;
}
/* line 340, ../sass/_index.sass */
.list-ticket-card-image img {
  height: 250px;
}
@media (max-width: 767px) {
  /* line 336, ../sass/_index.sass */
  .list-ticket-card-image {
    width: 100%;
  }
  /* line 344, ../sass/_index.sass */
  .list-ticket-card-image img {
    height: auto;
  }
}
/* line 346, ../sass/_index.sass */
.list-ticket-card-price {
  letter-spacing: 5px;
  padding: 0px 10px;
  width: 100%;
  text-align: right;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  color: #f03387;
}
/* line 358, ../sass/_index.sass */
.list-ticket-card-content {
  text-align: center;
  padding: 10px;
  width: 50%;
  float: right;
}
/* line 365, ../sass/_index.sass */
.list-ticket-card-content a {
  color: #000;
}
@media (max-width: 767px) {
  /* line 358, ../sass/_index.sass */
  .list-ticket-card-content {
    width: 100%;
    /*border: 5px solid #00bfd8;*/
    background: #f3f3f3;
  }
}
/* line 372, ../sass/_index.sass */
.list-ticket-card-content h2 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 0.5em 0;
  margin: 0;
}
@media (max-width: 569px) {
  /* line 372, ../sass/_index.sass */
  .list-ticket-card-content h2 {
    text-align: center;
  }
}
/* line 380, ../sass/_index.sass */
.list-ticket-card-content p {
  text-align: center;
  margin: 0;
  padding: 0 0 0 0.3em;
  font-size: 13px;
}
@media (max-width: 569px) {
  /* line 380, ../sass/_index.sass */
  .list-ticket-card-content p {
    text-align: center;
  }
}
/* line 387, ../sass/_index.sass */
.list-ticket-card-content p span.price {
  color: #ff7bbb;
  font-size: 18px;
}
/* line 390, ../sass/_index.sass */
.list-ticket-card-content p i {
  padding-right: 0.5em;
}

/* line 394, ../sass/_index.sass */
.list-horiz {
  position: relative;
  padding: 11px 14px 11px 45px;
}
/* line 398, ../sass/_index.sass */
.list-horiz-image {
  position: absolute;
  width: 140px;
  height: 140px;
}
/* line 403, ../sass/_index.sass */
.list-horiz-content {
  margin-left: 140px;
  color: #707070;
  height: 150px;
  padding: 20px 30px;
}
/* line 408, ../sass/_index.sass */
.list-horiz-content span {
  display: inline-block;
  width: 200px;
}
@media (max-width: 569px) {
  /* line 408, ../sass/_index.sass */
  .list-horiz-content span {
    width: auto;
  }
}
@media (max-width: 569px) {
  /* line 403, ../sass/_index.sass */
  .list-horiz-content {
    height: auto;
  }
}
/* line 415, ../sass/_index.sass */
.list-horiz-text {
  font-size: 14px;
}

/* line 418, ../sass/_index.sass */
.mobile-menu .dropdown-menu {
  left: 0;
  position: relative !important;
  background: #00bfd8;
  border: 0;
  box-shadow: 0 0px 0px transparent;
  -webkit-box-shadow: 0 0px 0px transparent;
}

/* line 426, ../sass/_index.sass */
.mobile-menu .dropdown-menu > li > a:hover {
  background: transparent;
  color: white;
}

/* line 429, ../sass/_index.sass */
.mobile-menu .dropdown-menu > li > a:focus {
  color: #fff3d7;
}

/* line 431, ../sass/_index.sass */
#sponsor a, #service a {
  display: block;
  color: #00bfd8;
}

/* line 435, ../sass/_index.sass */
.category-tab {
  margin-top: 50px;
  padding: 20px 0;
}
@media (max-width: 1280px) {
  /* line 435, ../sass/_index.sass */
  .category-tab {
    background: #f3f3f3;
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
/* line 440, ../sass/_index.sass */
.category-tab-card {
  overflow: hidden;
  height: 400px;
  text-align: center;
  box-sizing: border-box;
  width: 23%;
  float: left;
  margin: 1%;
}
@media (max-width: 1280px) {
  /* line 440, ../sass/_index.sass */
  .category-tab-card {
    width: 31%;
    margin: 1%;
  }
  .wrap .container {
    width: 100%;
  }

  .category-tab-card {
  	height: auto;
  }

  .fat-footer li {

  	height: 250px;
  }
}

@media (max-width: 900px) {
  .category-tab-card {
    width: 48%;
    margin: 1%;
  }

}
@media (max-width: 767px) {
  /* line 440, ../sass/_index.sass */
  .category-tab-card {
    width: 100%;
    margin: 0 auto;
  }
  .fat-footer li {

  	height: auto;
  }
}


/* line 457, ../sass/_index.sass */
.category-tab-card-image {
  text-align: center;
}
@media (max-width: 767px) {
  /* line 457, ../sass/_index.sass */
  .category-tab-card-image {
    background: #f1f1f1;
  }
}
/* line 461, ../sass/_index.sass */
.category-tab-card-image img {
  height: 250px !important;
}
/* line 463, ../sass/_index.sass */
.category-tab-card-title {
  text-align: left;
  /*width: 500px;*/
  letter-spacing: 2px;
  border-top: 5px solid #00bfd8;
  padding: 20px 0 0px 0;
  font-size: 20px;
}
@media (max-width: 1280px) {
  /* line 463, ../sass/_index.sass */
  .category-tab-card-title {
    border: 0;
  }
}
@media (max-width: 767px) {
  /* line 463, ../sass/_index.sass */
  .category-tab-card-title {
    padding: 0;
    background: #00bfd8;
    color: white;
  }
  .category-tab-card-image img {
    width: 100%;
    height: auto!important;
  }
}
/* line 473, ../sass/_index.sass */
.category-tab-card-price {
  color: #ff7bbb;
}
@media (max-width: 767px) {
  /* line 473, ../sass/_index.sass */
  .category-tab-card-price {
    background: white;
    color: #ff6bb2;
    padding: 10px;
  }
}
/* line 480, ../sass/_index.sass */
.category-tab li {
  border-radius: 30px;
  display: inline-block;
  padding: 10px;
  margin: 5px 3px;
}
/* line 485, ../sass/_index.sass */
.category-tab li a {
  color: black;
}
/* line 487, ../sass/_index.sass */
.category-tab li:hover {
  background: #f4f4f4;
}
/* line 490, ../sass/_index.sass */
.category-tab li.active {
  background: #67d1df;
}
/* line 492, ../sass/_index.sass */
.category-tab li.active a {
  color: white;
}

/* line 494, ../sass/_index.sass */
.item {
  margin-top: 50px;
  background: #d5f5fa;
  padding: 20px 0;
}

/* line 497, ../sass/_index.sass */
.filtering {
  text-align: center;
}
/* line 499, ../sass/_index.sass */
.filtering img {
  height: 100px !important;
}

/* line 1, ../sass/_index-rwd.sass */
.offcanvas-header {
  display: none;
}

@media (max-width: 768px) {
  /* line 4, ../sass/_index-rwd.sass */
  .control_drop_inner {
    background: #e4e4e4;
    top: 50px;
    text-align: center;

  }
  .control-menu {
    text-align: center;
  }
  .mobile-control > ul {
  }
  .control-menu {
    float: left;
    width: 100%;

  }
  .wrap .slidelogo {
    /*display: none;*/
  }
}
@media (max-width: 1023px) {

  .jq-num {
    display: none;
  }
  /* line 9, ../sass/_index-rwd.sass */
  .wrap .header .offcanvas-header {
    /*display: block;*/
  }
  /* line 11, ../sass/_index-rwd.sass */
  .wrap .header .logo-section {
    border-bottom: 0;
  }
  /* line 13, ../sass/_index-rwd.sass */
  .wrap .header .navbar-nav {
    display: none;
  }
  /* line 15, ../sass/_index-rwd.sass */
  .wrap .indexNews {
    display: none;
  }
  /* line 18, ../sass/_index-rwd.sass */
  .wrap .youtube-main {
    width: 100%;
  }
  /* line 20, ../sass/_index-rwd.sass */
  .wrap .youtube-sub {
    display: none;
  }
  /* line 22, ../sass/_index-rwd.sass */


}

@media (max-width: 1023px) {
  /* line 27, ../sass/_index-rwd.sass */
  .wrap .list-horiz {
    padding-left: 0;
  }
  /* line 29, ../sass/_index-rwd.sass */
  .wrap .shopnow {
    display: none;
  }
  /* line 31, ../sass/_index-rwd.sass */
  .wrap #facebook,
  .wrap #sponsor,
  .wrap #service {
    display: none;
  }
  /* line 35, ../sass/_index-rwd.sass */
  .wrap #contacts .interactive-title {
    padding: 10px;
    font-weight: 500;
    background: #00bfd8;
    color: white;
  }

  /* line 42, ../sass/_index-rwd.sass */
  .wrap .interactive {
    width: 100%;
  }
  /* line 44, ../sass/_index-rwd.sass */
  .wrap .interactive-content {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  /* line 51, ../sass/_index-rwd.sass */
  .wrap li.list {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 56, ../sass/_index-rwd.sass */
  .wrap .list-horiz-image {
    width: 70px;
    height: 70px;
  }
  /* line 59, ../sass/_index-rwd.sass */
  .wrap .list-horiz-content {
    padding-top: 0;
    margin-left: 70px;
    font-size: 16px;
  }
  /* line 63, ../sass/_index-rwd.sass */
  .wrap .title-tag {
    display: none;
  }
  /* line 65, ../sass/_index-rwd.sass */
  .wrap .list-horiz-text {
    font-size: 14px;
  }
}

/* line 2, ../sass/page/_contact.sass */
.contact .form-control {
  display: inline-block;
}
/* line 6, ../sass/page/_contact.sass */
.contact .form-group .full {
  width: 100%;
}

/* line 1, ../sass/page/_location.sass */
.locations {
  height: 800px;
}
@media (max-width: 569px) {
  /* line 1, ../sass/page/_location.sass */
  .locations {
    height: auto;
  }
}
/* line 6, ../sass/page/_location.sass */
.locations h1 {
  font-size: 24px;
  color: #8791da;
  text-align: center;
  margin-bottom: 2em;
}
/* line 11, ../sass/page/_location.sass */
.locations h2 {
  font-size: 19.2px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
/* line 17, ../sass/page/_location.sass */
.locations-map {
  background: url(../images/location-bigbg.png);
  width: 227px;
  height: 585px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 569px) {
  /* line 17, ../sass/page/_location.sass */
  .locations-map {
    width: auto;
    height: auto;
    background: url(../images/location-road.png) repeat-y;
    padding-left: 60px;
  }
}
/* line 28, ../sass/page/_location.sass */
.locations-setp {
  position: absolute;
}
@media (max-width: 569px) {
  /* line 28, ../sass/page/_location.sass */
  .locations-setp {
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    position: relative;
    margin-bottom: 50px;
  }
}
/* line 37, ../sass/page/_location.sass */
.locations-setp h2, .locations-setp p {
  margin: 0;
  padding: 0 0 0.3em 0;
}
/* line 40, ../sass/page/_location.sass */
.locations-setp-1 {
  right: -180px;
  top: 0px;
}
/* line 43, ../sass/page/_location.sass */
.locations-setp-2 {
  left: -150px;
  top: 98px;
}
/* line 46, ../sass/page/_location.sass */
.locations-setp-3 {
  right: -234px;
  top: 203px;
}
/* line 49, ../sass/page/_location.sass */
.locations-setp-4 {
  right: -230px;
  top: 380px;
}
/* line 52, ../sass/page/_location.sass */
.locations-setp-5 {
  left: -159px;
  bottom: -20px;
}

/* line 1, ../sass/page/_news.sass */
.news {
  list-style: none;
}
/* line 3, ../sass/page/_news.sass */
.news li {
  border-bottom: 1px solid #eee;
}
/* line 5, ../sass/page/_news.sass */
.news a {
  display: block;
  padding: 1em 0;
  text-indent: 1em;
}
/* line 9, ../sass/page/_news.sass */
.news a em {
  font-size: 100%;
}
@media (max-width: 569px) {
  /* line 9, ../sass/page/_news.sass */
  .news a em {
    display: block;
    margin-bottom: 0.3em;
  }
}
/* line 14, ../sass/page/_news.sass */
.news a:hover {
  background: #00bfd8;
  color: #fff !important;
}
/* line 17, ../sass/page/_news.sass */
.news a:hover span {
  color: #fff !important;
}
/* line 19, ../sass/page/_news.sass */
.news a:hover em {
  background: none !important;
  font-size: 100%;
}
/* line 22, ../sass/page/_news.sass */
.news .label-primary {
  background: #ff7bbb;
}
/* line 24, ../sass/page/_news.sass */
.news .label-success {
  background: #2de3ff;
}
/* line 26, ../sass/page/_news.sass */
.news-content {
  min-height: 1000px;
  padding: 2em;
}

/* line 2, ../sass/page/_offcanvas.sass */
.offcanvas-header {
  position: relative;
  height: 0px;
}
/* line 5, ../sass/page/_offcanvas.sass */
.offcanvas-logo {
  text-align: center;
}

/* line 8, ../sass/page/_offcanvas.sass */
.mobile-menu {
  padding: 40px 0;
  background: #00bfd8;
  line-height: 1.5em;
}
/* line 13, ../sass/page/_offcanvas.sass */
.mobile-menu li {
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
}
/* line 19, ../sass/page/_offcanvas.sass */
.mobile-menu li i {
  padding-left: 5px;
  font-size: 16px;
  margin-right: 20px;
  width: 24px;
  text-align: center;
}
/* line 25, ../sass/page/_offcanvas.sass */
.mobile-menu li li {
  margin: 0;
  width: 100%;
}

/* line 29, ../sass/page/_offcanvas.sass */
.mobile-menu > li > a {
  color: #6d6d6d;
  color: white;
}

/* line 33, ../sass/page/_offcanvas.sass */
.mobile-menu ul li a {
  color: #2794a6;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

/* line 38, ../sass/page/_offcanvas.sass */
.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 270px;
  left: -270px;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* line 55, ../sass/page/_offcanvas.sass */
.mobile-menu.menu-open {
  -webkit-transform: translate(270px, 0px);
  -moz-transform: translate(270px, 0px);
  -o-transform: translate(270px, 0px);
  -ms-transform: translate(270px, 0px);
  transform: translate(270px, 0px);
}

/* line 63, ../sass/page/_offcanvas.sass */
.wrap {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* line 72, ../sass/page/_offcanvas.sass */
.wrap.menu-open {
  -webkit-transform: translate(270px, 0px);
  -moz-transform: translate(270px, 0px);
  -o-transform: translate(270px, 0px);
  -ms-transform: translate(270px, 0px);
  transform: translate(270px, 0px);
}

/* line 80, ../sass/page/_offcanvas.sass */
.offcanvas-icon-line {
  width: 30px;
  height: 3px;
  background: #00bfd8;
  margin-bottom: 6px;
  border-radius: 3px;
}

/* line 88, ../sass/page/_offcanvas.sass */
.offcanvas-icon {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* line 107, ../sass/page/_offcanvas.sass */
.offcanvas-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* line 124, ../sass/page/_offcanvas.sass */
.offcanvas-icon {
  font-family: FontAwesome;
  text-decoration: none;
  color: white;
  content: "";
  font-size: 2em;
}

/* line 131, ../sass/page/_offcanvas.sass */
.offcanvas-icon:after {
  content: "";
  margin-left: 40px;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.95em;
}

/* line 140, ../sass/page/_offcanvas.sass */
.offcanvas-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 148, ../sass/page/_offcanvas.sass */
.offcanvas-icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 156, ../sass/page/_offcanvas.sass */
.offcanvas-icon span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 166, ../sass/page/_offcanvas.sass */
.menu-open .offcanvas-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

/* line 175, ../sass/page/_offcanvas.sass */
.menu-open .offcanvas-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

/* line 180, ../sass/page/_offcanvas.sass */
.menu-open .offcanvas-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 8px;
}

/* line 1, ../sass/_oocss.sass */
/* line 2, ../sass/_oocss.scss */
.p1 {
  padding: 1em !important;
}

/* line 3, ../sass/_oocss.sass */
/* line 7, ../sass/_oocss.scss */
.mr1 {
  margin-right: 1em;
}

/* line 5, ../sass/_oocss.sass */
/* line 12, ../sass/_oocss.scss */
.m1 {
  margin: 1em .3em;
}

/* line 7, ../sass/_oocss.sass */
/* line 20, ../sass/_oocss.scss */
.m0 {
  margin: 0;
}

/* line 9, ../sass/_oocss.sass */
/* line 25, ../sass/_oocss.scss */
.p0 {
  padding: 0;
}

/* line 29, ../sass/_oocss.scss */
.d-none {
  display: none;
}
@media (max-width: 768px) {
  /* line 29, ../sass/_oocss.scss */
  .d-none {
    display: block;
  }
}

/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
/* line 25, ../sass/vendor/_flexslider.scss */
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}

/* line 29, ../sass/vendor/_flexslider.scss */
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 37, ../sass/vendor/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* line 43, ../sass/vendor/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/vendor/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* line 51, ../sass/vendor/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 55, ../sass/vendor/_flexslider.scss */
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 63, ../sass/vendor/_flexslider.scss */
html[xmlns] .flexslider .slides {
  display: block;
}

/* line 66, ../sass/vendor/_flexslider.scss */
* html .flexslider .slides {
  height: 1%;
}

/* line 69, ../sass/vendor/_flexslider.scss */
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
/* line 75, ../sass/vendor/_flexslider.scss */
.flexslider {
  background: #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 87, ../sass/vendor/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 90, ../sass/vendor/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  -moz-user-select: none;
}

/* line 94, ../sass/vendor/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 102, ../sass/vendor/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 105, ../sass/vendor/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* line 108, ../sass/vendor/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 111, ../sass/vendor/_flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 0;
}

/* line 132, ../sass/vendor/_flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 25px;
  display: inline-block;
  content: '\f001';
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 30px rgba(0, 0, 0, 1);
}

/* line 141, ../sass/vendor/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* line 144, ../sass/vendor/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 147, ../sass/vendor/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 151, ../sass/vendor/_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 155, ../sass/vendor/_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

/* line 158, ../sass/vendor/_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 162, ../sass/vendor/_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

/* line 165, ../sass/vendor/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}

/* line 171, ../sass/vendor/_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 184, ../sass/vendor/_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 190, ../sass/vendor/_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 193, ../sass/vendor/_flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* line 196, ../sass/vendor/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

/* line 202, ../sass/vendor/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 208, ../sass/vendor/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 224, ../sass/vendor/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 228, ../sass/vendor/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  background: #00bfd8;
  cursor: default;
}

/* line 234, ../sass/vendor/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 239, ../sass/vendor/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 244, ../sass/vendor/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 257, ../sass/vendor/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 260, ../sass/vendor/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* line 264, ../sass/vendor/_flexslider.scss */
.flexslider_title {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  /* line 278, ../sass/vendor/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 282, ../sass/vendor/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
@media (max-width: 569px) {
  /* line 289, ../sass/vendor/_flexslider.scss */
  .flex-direction-nav a:before {
    display: none;
  }

  /* line 292, ../sass/vendor/_flexslider.scss */
  .flex-control-nav {
    display: none;
  }
}
/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
/* line 11, ../sass/vendor/default.scss */
.theme-default .nivoSlider {
  position: relative;
  background: #fff url(../images/loading.gif) no-repeat 50% 50%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
}

/* line 19, ../sass/vendor/default.scss */
.theme-default .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/* line 25, ../sass/vendor/default.scss */
.theme-default .nivoSlider a {
  border: 0;
  display: block;
}

/* line 30, ../sass/vendor/default.scss */
.nivo-controlNav {
  text-align: center;
  padding: 20px 0;
  display: none;
}

/* line 34, ../sass/vendor/default.scss */
.nivo-controlNav a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
}

/* line 43, ../sass/vendor/default.scss */
.nivo-controlNav a.active {
  background-position: 0 -22px;
}

/* line 47, ../sass/vendor/default.scss */
.nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

/* line 56, ../sass/vendor/default.scss */
.theme-default:hover .nivo-directionNav a {
  opacity: 1;
}

/* line 57, ../sass/vendor/default.scss */
.theme-default a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}

/* line 61, ../sass/vendor/default.scss */
.theme-default a.nivo-prevNav {
  left: 15px;
}

/* line 65, ../sass/vendor/default.scss */
.theme-default .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 68, ../sass/vendor/default.scss */
.theme-default .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

/* line 72, ../sass/vendor/default.scss */
.theme-default .nivo-caption a:hover {
  color: #fff;
}

/* line 76, ../sass/vendor/default.scss */
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}

/* line 79, ../sass/vendor/default.scss */
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}

/* line 85, ../sass/vendor/default.scss */
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}

/* line 1, ../sass/_ec-home.sass */
#commod_slider, #brand_slider {
  text-align: center;
}

/* line 4, ../sass/_ec-home.sass */
.commod_slider {
  text-align: center;
  margin: 40px 0;
}
/* line 6, ../sass/_ec-home.sass */
.commod_slider img {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  height: 200px !important;
}
/* line 10, ../sass/_ec-home.sass */
.commod_slider a {
  color: black;
}
/* line 12, ../sass/_ec-home.sass */
.commod_slider_title {
  line-height: 2;
  height: 35px;
  overflow: hidden;
  color: black;
  padding: 5px;
}

/* line 21, ../sass/_ec-home.sass */
.brand_slider {
  padding: 50px 0 100px 0;
}

/* line 25, ../sass/_ec-home.sass */
#brand_slider img {
  height: 60px !important;
  width: 70% !important;
}

/* line 31, ../sass/_ec-home.sass */

.left-side {
  padding: 10px;
  width: 25%;
  float: left;
}
.sidebar_category {
  padding: 50px 0px 0 0px;
}
@media (max-width: 1024px) {
  /* line 31, ../sass/_ec-home.sass */
  .news-content {
    min-height: auto;
  }
  .sidebar_category {
    display: none;
  }
}
/* line 37, ../sass/_ec-home.sass */
.sidebar_category .focus > a {
  color: #00bfd8 !important;
}
/* line 39, ../sass/_ec-home.sass */
.sidebar_category li {
  padding: 5px 0;
}
/* line 41, ../sass/_ec-home.sass */
.sidebar_category li a {
  color: black;
  font-size: 17px;
}
/* line 45, ../sass/_ec-home.sass */
.sidebar_category li ul {
  padding: 10px 20px;
}
/* line 47, ../sass/_ec-home.sass */
.sidebar_category li ul li {
  padding: 5px 0;
}
/* line 49, ../sass/_ec-home.sass */
.sidebar_category li ul li a {
  font-size: 16px;
  color: #757575;
}

/* line 54, ../sass/_ec-home.sass */
.main_block {
  width: 75%;
  float: left;
}
@media (max-width: 1024px) {
  /* line 54, ../sass/_ec-home.sass */
  .main_block {
    width: 100%;
  }
  .left-side {
    width: 100%;
  }
  .left-side li {
    text-align: center;
    width: 49%;
    display: inline-block;
  }
  .left-side h3 {
    text-align: center;
  }

}

/* line 61, ../sass/_ec-home.sass */
.ec_home_banner ul {
  margin-bottom: 40px;
}
@media (max-width: 569px) {
  /* line 61, ../sass/_ec-home.sass */
  .ec_home_banner ul {
    margin-bottom: 0px;
  }
}
/* line 65, ../sass/_ec-home.sass */
.ec_home_banner ul li {
  position: relative;
}
/* line 67, ../sass/_ec-home.sass */
.ec_home_banner ul li a {
  display: block;
}
/* line 69, ../sass/_ec-home.sass */
.ec_home_banner ul li img {
  width: 100%;
}
/* line 72, ../sass/_ec-home.sass */
.ec_home_banner_one_item {
  background: url(../images/ec-home/banner4.png) no-repeat;
  background-size: cover;
  height: 200px;
}
/* line 76, ../sass/_ec-home.sass */
.ec_home_banner_one_item .images_tag {
  color: #a3846d;
}
/* line 78, ../sass/_ec-home.sass */
.ec_home_banner_one_item .images_overlay {
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  padding-top: 8%;
}
@media (max-width: 569px) {
  /* line 78, ../sass/_ec-home.sass */
  .ec_home_banner_one_item .images_overlay {
    background: rgba(255, 255, 255, 0.4);
  }
}
/* line 89, ../sass/_ec-home.sass */
.ec_home_banner_two_item li {
  font-size: 20px;
  float: left;
}
/* line 92, ../sass/_ec-home.sass */
.ec_home_banner_two_item li img {
  height: 352px !important;
}
/* line 94, ../sass/_ec-home.sass */
.ec_home_banner_two_item li:first-of-type {
  text-align: center;
  padding-top: 20px;
  display: block;
  height: 352px;
  width: 60%;
  margin-right: 2%;
  background: url(../images/ec-home/banner2.png) no-repeat;
  background-size: cover;
}
/* line 114, ../sass/_ec-home.sass */
.ec_home_banner_two_item li:first-of-type .images_tag {
  margin-bottom: 20px;
  text-align: center;
  color: #e77a64;
}
@media (max-width: 768px) {
  /* line 94, ../sass/_ec-home.sass */
  .ec_home_banner_two_item li:first-of-type {
    margin-right: 0;
  }
}
@media (max-width: 569px) {
  /* line 94, ../sass/_ec-home.sass */
  .ec_home_banner_two_item li:first-of-type {
    width: 100%;
  }
  /* line 123, ../sass/_ec-home.sass */
  .ec_home_banner_two_item li:first-of-type .images_tag {
    font-size: 25px;
  }
}
/* line 125, ../sass/_ec-home.sass */
.ec_home_banner_two_item li:last-of-type {
  width: 37.7%;
}
@media (max-width: 768px) {
  /* line 125, ../sass/_ec-home.sass */
  .ec_home_banner_two_item li:last-of-type {
    width: 40%;
  }
}
@media (max-width: 569px) {
  /* line 125, ../sass/_ec-home.sass */
  .ec_home_banner_two_item li:last-of-type {
    background: #2f2f2f;
    text-align: right;
    width: 100%;
  }
  /* line 133, ../sass/_ec-home.sass */
  .ec_home_banner_two_item li:last-of-type img {
    width: 60%;
  }
}
/* line 136, ../sass/_ec-home.sass */
.ec_home_banner_two_item li:last-of-type .images_overlay {
  padding-top: 50%;
}
@media (max-width: 569px) {
  /* line 136, ../sass/_ec-home.sass */
  .ec_home_banner_two_item li:last-of-type .images_overlay {
    text-align: left;
    padding: 20px 0 0 40px;
  }
}
/* line 142, ../sass/_ec-home.sass */
.ec_home_banner_two_item li:nth-of-type(odd) .images_overlay {
  background: rgba(255, 255, 255, 0.1);
  color: black;
}
/* line 147, ../sass/_ec-home.sass */
.ec_home_banner_four_item li {
  float: left;
  margin-right: 2%;
  width: 23.5%;
}
@media (max-width: 768px) {
  /* line 147, ../sass/_ec-home.sass */
  .ec_home_banner_four_item li {
    width: 50%;
    margin-right: 0;
  }
}
/* line 157, ../sass/_ec-home.sass */
.ec_home_banner_four_item li:last-of-type {
  margin-right: 0;
}
/* line 161, ../sass/_ec-home.sass */
.ec_home_banner_four_item li:nth-of-type(odd) .images_overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
@media (max-width: 569px) {
  /* line 161, ../sass/_ec-home.sass */
  .ec_home_banner_four_item li:nth-of-type(odd) .images_overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
/* line 169, ../sass/_ec-home.sass */
.ec_home_banner_four_item .images_overlay {
  padding-top: 50%;
}

/* line 174, ../sass/_ec-home.sass */
.images_overlay {
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: white;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  letter-spacing: 10px;
}
@media (max-width: 569px) {
  /* line 174, ../sass/_ec-home.sass */
  .images_overlay {
    font-size: 25px;
  }
}
/* line 190, ../sass/_ec-home.sass */
.images_button {
  display: inline-block !important;
  background: rgba(178, 108, 83, 0.4);
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  border: 1px solid white;
}
/* line 197, ../sass/_ec-home.sass */
.images_button:hover {
  background: white;
  color: rgba(178, 108, 83, 0.4);
}
/* line 201, ../sass/_ec-home.sass */
.images_tag {
  background: white;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.4)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 100%);
  padding: 10px 0px;
}

/* line 214, ../sass/_ec-home.sass */
.lSAction > .lSPrev {
  left: -5px !important;
}

/* line 216, ../sass/_ec-home.sass */
.lSAction > .lSNext {
  background-position: 60px 0 !important;
  right: -5px !important;
}

/* line 219, ../sass/_ec-home.sass */
.lSAction > a {
  width: 64px !important;
  height: 64px !important;
  top: 30% !important;
}

/* line 223, ../sass/_ec-home.sass */
.form-select {
  display: none;
}
@media (max-width: 1023px) {
  /* line 223, ../sass/_ec-home.sass */
  .form-select {
    display: block;
  }
}

@media (max-width: 1023px) {
  /* line 227, ../sass/_ec-home.sass */
  .market-menu {
    display: none;
  }
}

/* News List */
ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.all-centering {
  position: relative;
}
.all-centering div {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .all-centering div {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
  }
}

.news-list li {
  position: relative;
  height: 100px;
  padding: 1em 1em 0 1em;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 767px) {
  .news-list li {
    height: auto;
    padding: 5px;
    /*box-shadow: 0px 0px 5px #dcdcdc;*/
    border-bottom: 1px solid #e9e9e9;
  }
}


.news-list .date {
  position: absolute;
  float: left;
  width: 70px;
  height: 70px;
  background: #f5f5f5;

  /*border: 1px solid #bfbfbf;*/
  color: #4e4e4e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 767px) {
  .news-list .date {
    margin-bottom: 5px;
    position: relative;
    width: 30%;
    height: auto;
    border: 0;
    background: none;
    font-size: 1em;
  }
}
.news-list .date div {
  text-align: center;
  line-height: 1.5;
}
.news-list .date h2 {
  display: inline-block;
  text-align: justify;
  margin: 0;
  font-size: 1em;
  letter-spacing: 4px;
}
.news-list .date h3 {
  display: inline-block;
  text-align: justify;
  margin: 0;
  font-size: 1em;
  letter-spacing: 6px;
}
@media (max-width: 767px) {
  .news-list .date h3 {
    /*margin-right: 10px;*/
  letter-spacing: 0px;
  }
  .news-list .date h2 {
    letter-spacing: 0px;
  }
  .news-list .content h3 {
    font-size: .8em!important;
  }
}
.news-list .content {
  margin-left: 80px;
  padding: 0px 10px 10px 10px;
  /*float: left;*/
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 767px) {
  .news-list .content {
    padding: 0;
    margin-left: 0;
  }
}
.news-list .content span {
  display: inline-block;
  padding: 5px;
  background: #68d1df;
  color: white;
  font-size: .9em;
}
@media (max-width: 767px) {
  .news-list .content span {
    display: block;
    display: none;
    text-align: center;
  }
}
.news-list .content h3 {
  font-size: 1em;
  margin: 0;
  margin-top: 3px;
  padding: 20px 0 0 0;
}
@media (max-width: 767px) {
  .news-list .content h3 {
    line-height: 1.4;
    padding: 0px;
  }
}
.news-list .content p {
  margin: 0;
  padding: 20px 0 0 0;
  color: #888;
}
@media (max-width: 767px) {
  .news-list .content p {
    display: none;
  }
}
.news-list .more {
  position: absolute;
  z-index: 10;
  right: 1em;
  bottom: 0;
  padding: 10px;
  float: right;
  height: 100%;
}
.news-list .more a {
  color: #00bfd8;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 767px) {
  .news-list .more a {
    display: none;
  }
}

.home-middle-banner {
  padding: 10px;
  text-align: center;
}

.home-middle-banner h2 {
  color: #00bfd8;
}

.home-middle-banner .btn-primary {
  background: #00bfd8!important;
}

/* Fat Footer */
.clear {
  clear: both;
}
.fat-footer ul {
  list-style-type: none;
}
.fat-footer {
  padding: 20px;
  background: #00bfd8;
  color: white
}
.fat-footer a{
  color: white;
}
.fat-footer h2 {
  font-size: 1.1em;

}
.fat-footer p {
  font-size: .8em;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.fat-footer li {
  box-sizing: border-box;
  padding: 10px;
  float: left;
}
.fat-footer li:nth-of-type(1) {
  width: 40%;
}
.fat-footer li:nth-of-type(2) {
  width: 30%;
}
.fat-footer li:nth-of-type(3) {
  width: 20%;
}
.fat-footer li:nth-of-type(4) {
  width: 10%;
}
@media (max-width: 1023px) {
  .fat-footer {
    text-align: center;
    width: 100%;
  }
  .fat-footer li:nth-of-type(1),
  .fat-footer li:nth-of-type(2),
  .fat-footer li:nth-of-type(3),
  .fat-footer li:nth-of-type(4)
  {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .fat-footer {
    /*display: none;*/
  }
  .fat-footer li:nth-of-type(1),
  .fat-footer li:nth-of-type(2),
  .fat-footer li:nth-of-type(3),
  .fat-footer li:nth-of-type(4)
  {
    width: 100%;
  }

}

.collapse {
  display: block;
}

@media (max-width: 1023px) {

  .topmenu {
    background: none;
    overflow-y: hidden!important;
    overflow-x: scroll!important;
    height: 43px;


  }



}

/* Side List */
.side_list li {
  box-sizing: border-box;
  padding: 10px 10px 10px 0;
}
.side_list_img {
  /*float: left;*/
  width: 150px;
}
.side_list_img img {
  display: inline-block;
  height: 80px;
}
.side_list_info {
  height: 100%;
  /*float: left;*/
  padding: 10px 10px 10px 0;
  line-height: 1.5;
}
.side_list_info .title {
  font-size: 17px;
  color: black;
}
.side_list_info .price {
  font-size: 1em;
  color: #ff7bbb;
}

/* News List Card */
.news_list_card {
  width: 100%;
}
.news_list_card li {
  padding: 1em;
  float: left;
  width: 24%;
  border: 1px solid #CCC;
  margin: 1em 0;
  background: white;
}

.news_list_card li:nth-of-type(2n+1) {
  margin: 1em 1%;
}


@media (max-width: 1024px) {
  .news_list_card li {
    width: 32%;
  }
}
@media (max-width: 768px) {

  .news_list_card li {
    width: 100%;
  }
  .news_list_card {
    width: 320px;
    margin: 0 auto;
  }
  .news_list_card li:nth-of-type(2n+1) {
    margin: 1em 0;
  }
}
.news_list_card .news_list_card_img {
  width: 500px;
  height: 300px;
  text-align: center;
  /*background: #f2f2f2;*/
  display: table-cell;
  vertical-align: middle;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.news_list_card .news_list_card_img img {
  /*height: 280px;*/
}
.news_list_card .news_list_card_info {
  padding: 1em 0;
}
.news_list_card p {
  margin-top: 0;
  color: #a4a4a4;
  height: 146px;
  line-height: 1.5;
  overflow: hidden;
}
.news_list_card .button {
  text-align: right;
}
.news_list_card .title {
  /*float: left;*/
  font-size: 1.2em;
  height: 55px;
  overflow: hidden;
}
.news_list_card .time {
  /*float: right;*/
  color: #969696;
  text-align: right;
  vertical-align: middle;
}
.news_list_card .more {
  display: inline-block;
  padding: 10px;
  background: #00bfd8;
  color: white;
}

/* POP Up Banner */

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .wrap {
    height: 100%;
  }
  .popup_background {
    position: fixed;
    z-index: 200;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #656565;
    background: rgba(0,0,0,.8);
    /*padding-top: 150px;*/


  }
  .popup_content {
    z-index: 11;
    /*background: white;*/
    width: 900px;
    margin: 0 auto;
  }

  .popup_content .closepop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    background: #00bfd8;
    text-decoration: none;

  }
  .popup_content .banner {

    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .popup_content .banner img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    width: 100%;
  }
  @media (max-width: 1024px) {
    .popup_background {
      padding-top: 15%;

    }
    .popup_content {
      width: 90%;
    }



  }
  @media (max-width: 768px) {
    .main {
      /*margin-top: 187px;*/
    }

  }

  .menu_arrow {
      padding: 11px;
      /*background: rgba(0,0,0,.1);*/
      /*background: rgba(0,165,181,1);*/

      color: #656565;
      position: fixed;
      z-index: 100;
      top: 98px;
      display: none;
  }
  .menu_arrow_left {
      left: 0px;
  }
  .menu_arrow_right {
      right: 0px;

  }
  @media (max-width: 1024px) {
      .menu_arrow {
          top: 163px;
          /*display: block;*/
      }
      .side_list_img,
      .side_list_info
       {
        width: 100%;
      }
      .side_list_info .title {
        height: 24px;
        overflow-y: hidden;
      }

  }
  @media (max-width: 768px) {
      .logo-section .container {
        padding-left: 0;
      }
      .menu_arrow {
          top: 143px;
      }

  }


  /* 預約步驟 */

  .four_icon_step_list li:nth-of-type(2n)
  {
    display: none;
  }
  .four_icon_step_list li:nth-of-type(1) .four_icon_step_list_bg {
    background: #39c3b2;
  }
  .four_icon_step_list li:nth-of-type(3) .four_icon_step_list_bg {
    background: #0389de;
  }
  .four_icon_step_list li:nth-of-type(5) .four_icon_step_list_bg {
    background: #aecc47;
  }
  .four_icon_step_list li:nth-of-type(7) .four_icon_step_list_bg {
    background: #25b8d4;
  }
  .four_icon_step_list li {
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .four_icon_step_list_bg {
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #CCC;
  }
  .four_icon_step_list_bg img {
    vertical-align: middle;
    width: 120px;
  }
  .four_icon_step_list_text {
    position: relative;
    padding: 20px 0;
    width: 250px;
    /*height: 250px;*/
    /*overflow: hidden;*/
  }
  .four_icon_step_list_text h2 {
    position: absolute;
    z-index: 5;
    left: 45px;
    top: -20px;
    color: #e6e6e6;
  }

  @media (max-width: 1024px) {
  /* line 11, ../sass/_layout.sass */
  .control-menu {
    text-align: center;
    /*display: none;*/
    float: none;
    /*background: #f3f3f3;*/
    height: 55px;
  }
  .logo {
    float: none;
  }
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.fat-footer .container {
  padding: 0;
  margin: 0 auto;
}

span.Category {
  padding: 10px 0;
  display: block;
}


@media (max-width: 768px) {
  .htmlEditor img {
      width: 100%;
      height: auto;
  }
}


.shopVideo .l-card li {
  width: 25%;
}
.shopVideo .l-card-main {
  margin: 10px;
  border-radius: 0;
  position: relative;
  height: 300px!important;
  overflow: hidden;

}
.shopVideo .l-card-image {
  border-radius: 0;

}
.shopVideo .l-card-image img {
  width: 100%!important;
  position: absolute;
  left: 0;
  bottom: 0;
}
.shopVideo .l-card-content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,.8);
  color: black;
  /*border-bottom: 5px solid #00bfd8;*/
  border-radius: 0;
}
span.btn {
  margin-bottom: 5px;
}
.spot-img .l-card-image {
  height: 200px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .shopVideo .l-card li {
      width: 49%;
    }

    .spot-img .l-card-image {
      height: auto;
    }
}
@media (max-width: 768px) {
  .shopVideo .l-card li {
      width: 100%;
    }
  .shopVideo .l-card-main {
      height: auto!important;
  }
  .shopVideo .l-card-image img {
    position: relative;
  }
}

.form-control {
  margin-bottom: 5px;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #7098db;
}

input[type=text],
input[type=password] {
  border: 1px solid #CCC;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .jq-num {
    display: none!important;
  }
}

@media (max-width: 320px) {
  .control-menu li {
    font-size: 8px;
  }

}



