
body{
	font-size: 16px;
}
td{
	border: 1px solid #68d1df;
	padding: 5px;
	line-height: 1.5;
}
table{
	margin: 0 auto;
}


.BUTTON_BODY input {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      background: #68d1df;
    color: white;
}
/* line 26, ../sass/bootstrap/_buttons.scss */
.BUTTON_BODY input:focus, .BUTTON_BODY input.focus, .BUTTON_BODY input:active:focus, .BUTTON_BODY input:active.focus, .BUTTON_BODY input.active:focus, .BUTTON_BODY input.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 32, ../sass/bootstrap/_buttons.scss */
.BUTTON_BODY input:hover, .BUTTON_BODY input:focus, .BUTTON_BODY input.focus {
  color: #333;
  text-decoration: none;
}
/* line 39, ../sass/bootstrap/_buttons.scss */
.BUTTON_BODY input:active, .BUTTON_BODY input.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 46, ../sass/bootstrap/_buttons.scss */
.BUTTON_BODY input.disabled, .BUTTON_BODY input[disabled], fieldset[disabled] .BUTTON_BODY input {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}