 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
  *{
    box-sizing: border-box
  }
  html{
    background: #fff;
  }
    .wrap {
      height: 606px;
      width: 1080px;
    }
    .wrap ul {
      border-top: 10px solid green;
      margin-top: 150px;
    }
    .wrap ul li {
        width: 113px;
        height: 100px;
        float: left;
        margin: 0 10px;
        position: relative;
    }
    .wrap ul li:before {
        content: "";
        height: 50px;
        width: 50px;
        background: green;
        display: block;
        float: left;
        border-radius: 50%;
        position: absolute;
        top: -38px;
        left: 14px;
        background: #fff;
        border: 10px solid green;
    }
    .wrap ul .map {
      left: -10px;
    }
    .wrap ul .location {
        position: absolute;
        top: -90px;
        width: 150px;
        left: -25px;
        text-align: center;
        font-size: 25px;
    }
    .wrap ul .map {
      position: absolute;
      bottom: -60px;
      text-align: center;
      width: 120px;
      height: 120px;
    }
    .wrap ul .map .time {
      background: #616263;
      padding: 10px;
      font-size: 24px;
      color: #fff;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .wrap ul .map .time-in {
      background: #E8980C;
    }
    .wrap ul .map .bus {
      color: blue;
      height: 24px;
      font-size: 24px;
    }

.locations {
    width: 100%;
   
    top: 50px;
    background: #00BFD8;
    top: 25px;
    text-align: center;
    padding: 1em;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.locations .number {
  font-size: 50px;
}
.locations .message {
  font-size: 40px;
  padding: 10px;
}
.locations .goto {
  font-size: 20px;
}
.locations .goto span {
  font-size: 99px;
}
.people{
  color: red;
  height: 24px;
  padding: .3em;
 } 
/* .note {
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 20px;
    text-align: left;
 }*/

.clear {
  clear: both;
}
.note {
  clear: both;
        position: relative;
        margin-top: 80px;
        text-align: center;
        width: 100%;
      }

@media (max-width: 1079px) {
      .wrap {
        width: 100%;
        height: auto;
      }
      .wrap ul {
        width: 180px;
        border: 0;
        margin-left: auto;
        margin-right: auto;
      }
      .wrap ul li {
        border-left: 10px solid green;
        height: 200px;
        float: none;

      }
      .wrap ul li:last-of-type {
        border-left: 10px solid rgba(0,0,0,0);
        height: 50px;
      }
      .wrap ul li:before {
        left: -40px;
      }
      .wrap ul .location {
        left: 20px;
      }
      .wrap ul .map {
        left: 40px;
        top: -55px;
      }
      .note {
        position: relative;
        margin-top: 50px;
        width: 100%;
      }


       
     }
