
html,body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
h1,h2 {
	display: block;
	margin: 0;
}
h1 {
	padding: 20px;

}
h2 {
	text-align: left;
	padding: 10px;
	font-size: 18px;
	background: #0089c7;
	color: white;
	/*color: rgba(255,255,255,.8);*/
}
.timeTableBanner div {
	color: #cfe8ff;

}
.timeTableBanner {
	padding: 10px;
	text-align: center;
	color: white;
	/*background-image: url(sunmoon.jpg);*/
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.timeTable .station {
	float: left;
	width: 25%;
}
.timeTable .time {
	float: left;
	width: 75%;
	overflow: scroll;
}
.clear {
	clear: both;
}
.timeTableButton {
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	border-radius: 30px;
	/*border: 1px solid white;*/
	color: white; 
	background: #00bfd8;
}
.timeTable .station table {
	width: 100%;
}
.timeTable .time table {
	width: 100%;
}
.timeTable td,th{
	height: 50px;
	padding: 0 15px 0px 15px;
}
.timeTable th {
	text-align: left;
	/*color:  #009dc9;*/
	font-weight: bolder;
}
.timeTable td {
	text-align: center;
	color: gray;
	/*vertical-align: bottom;*/

}
/*.timeTable .station tr:nth-of-type(even) {
	background: #d3f9ff;
}*/
.timeTable .station tr:nth-of-type(even) {
	background: #f0f0f0;
}
.timeTable .time tr:nth-of-type(even) {
	background: #f0f0f0;
}
.timeTableButton.active {
	background: white;
	color: #00bfd8;
}
@media (max-width: 415px) {
	.timeTable .station {
		float: left;
		width: 50%;
	}
	.timeTable .time {
		float: left;
		width: 50%;
		overflow: scroll;
	}
	
}
@media (max-width: 374px) {
	.timeTable .station {
		float: left;
		width: 60%;
	}
	.timeTable .time {
		float: left;
		width: 40%;
		overflow: scroll;
	}
	
}
