﻿@using Fun2twModels.Models
@model Fun2twModels.Models.News
@{
    ViewBag.Title = @Model.Subject;
}
<style>
	
	@@media(max-width:768px){
		.l-titles{

			line-height: 1.2;
			margin-bottom: 20px;
			margin-right: 10px;
			margin-left: 10px;
		}
	}
</style>

<div class="container l-white">
  <h1 class="l-titles l-titles-indent">@Model.Subject <span>ニュース</span></h1>
    <div class="news-content">

        @Html.Raw(Model.Article)
    </div>
       @if (Request["Mobile"] != "true")
       {
           <div class="text-center m1">
               <input type="button" onclick="history.back();" class="btn btn-cyan" value="戻り">
           </div>
       }
</div>
