﻿@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.News>
@{
    ViewBag.Title = "最新消息";
  
}
<div class="l-banner"  style="background:#AFBF53" >
</div>
<div class="container l-white">
    <h1 class="l-h2"> ニュース</h1>
     <ul class="news_list_card">
             @foreach (var item in Model)
             {
                 <li>
                     <a href="News/Details/@item.Id?mobile=@Request["mobile"]">

                     @if (item.UpImageUrl != null)
                     {
                         <div class="news_list_card_img" style="background-image: url(/upfiles/images/@item.UpImageUrl);">  </div>
                     }
                     else
                     {
                         <div class="news_list_card_img" style="background-image: url(/img/news-img.jpg);"> </div>
                     }

                         <div class="news_list_card_info">
                             <div class="time">
                                 <i class="fa fa-clock-o"></i>
                                 @item.InitDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd")
                             </div>
                             <div class="title">
                                     @item.Subject
                             </div>
                         </div>


                     <div align="right">
                         <a href="News/Details/@item.Id?mobile=@Request["mobile"]" class="more">more</a>
                     </div>
                     
                     </a>

                 </li>


             }

             <div class="clear"></div>
         </ul>
    <div class="l-pagination">
    <div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>
</div>
   <style>
     .news a {
      color: gray;
     }
   </style>





   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
