﻿@using Fun2twModels.Models
@{
    ViewBag.Title = "主頁";
    IQueryable<TravelProduct> travelproducts = ViewBag.travelproducts;
    IQueryable<ThemeVideo> themeVideos = ViewBag.ThemeVideos;
    List<News> newses = ViewBag.News;
    IQueryable<AboutLink> aboutLinks = ViewBag.AboutLinks;
    IQueryable<ExpertPlan> expertPlans = ViewBag.expertPlans;
    IQueryable<HomeBanner> homeBanners = ViewBag.HomeBanners;
}
<div class="container" >
  <div id="" class="theme-default flexslider" >
  <ul id="slider" class="slides">
    @foreach (var item in homeBanners.Where(w => w.Language == Language.日文).OrderBy(x => x.ListNum))
    {
    <li>
        <a href="@item.URL" title="@item.Subject">
            @if (!string.IsNullOrEmpty(item.UpImageUrl))
            {
                <img src="~/upfiles/images/@(item.UpImageUrl)"/>
            }
            else
            {
                 <img src="~/images/index-banner-1.png" alt="">
            }
        </a>
      </li>
       
    }
  </ul>

  </div>

</div>

 <style>
      .list-ticket-card-content {
        margin-bottom: 0;
      } 
      .wrap li.card {
        margin: 10px;
      }

      @@media (max-width: 1023px) {
        .wrap li.card {
            margin: 0px;
          }
        
        .topmenu > ul > li {
          width: auto;
        } 
        .navbar-collapse.collapse {
          height: 43px!important;
        }
      }  
</style>

 @foreach (var item in newses.OrderByDescending(x=>x.InitDate).Take(3))
{
   
    <div class="home-news-list container">
        <ul class="news-list">
            <li>
                <div class="date all-centering">
                    <div>
                        <h3>@item.InitDate.GetValueOrDefault().Year</h3>
                        <h2>@item.InitDate.GetValueOrDefault().Month<span>.@item.InitDate.GetValueOrDefault().Day</span></h2>
                    </div>
                </div>
                <div class="content">
                    <a href="/japan/News/Details/@item.Id?mobile=@Request["mobile"]">
                        <span style="display:none">@item.Catalog.Subject</span>
                        <h3>@item.Subject</h3>
                        <div class="more"><a href="/japan/News/Details/@item.Id?mobile=@Request["mobile"]">&#060;more&#062;</a></div>

                        
                    </a>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
} 

<div class="container indexNews" style="display: none;">
  @* <div class="indexNews-icon" style="color:gray">NEWS <span>/</span></div> *@
  <ul class="indexNews-list jq-marquee">
    
     @foreach (News news in newses.OrderBy(x => x.InitDate).Take(6))
     {
     <li>
      <i>ニュース</i>
     <a href="/Japan/News/Details/@news.Id" class="indexNews-list-title">@news.Subject</a>
    </li>
     } 
  </ul>
</div>


<div class="container index-travel">
<a href="/japan/TravelSchdule">
    <h2 class="index-title">
      人気モデルコース
      <span>TICKETS</span>
    </h2>
</a>
<div align="center">
    <ul class="list-ticket">
    @foreach (TravelProduct item in travelproducts.OrderByDescending(x => x.TravelNum).Take(4))
    {
      <li class="card">
        <div class="list-ticket" >
            <div class="list-ticket-card-image">
                 <a href="/Japan/TravelSchdule/Details/@item.Id?Mobile=@Request["Mobile"]">
                @if (!string.IsNullOrEmpty(item.UpImageUrl))
                {
                    <img style="width:100%" src="~/upfiles/images/@(item.UpImageUrl)"/>
                }
                else
                {
                    <img src="images/travel1.jpg" alt="">
                }
                     </a>
            </div>
          <div class="list-ticket-card-content">
            <div class="list-ticket-card-text" style="">
                
                     <h2><a href="/Japan/TravelSchdule/Details/@item.Id?Mobile=@Request["Mobile"]">
                    @item.JpSubject
                         </a></h2>
               
              @if (item.SinglePrice != 0)
              {
                                        <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color: #8f8f8f">シングル</span>
                                            @if (item.OriginalSinglePrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalSinglePrice</span>
                                            }
                                           
                                           <span class="price" style="color:#f03387;">@item.SinglePrice</span>
                                       </p>



              }
                                    @if (item.DoublePrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            タブル</span>
                                              @if (item.OriginalDoublePrice != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalDoublePrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.DoublePrice</span>
                                        </p>

                                    }

                 @if (item.FourPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            4人部屋</span>
                                              @if (item.OriginalFourPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalFourPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.FourPrice</span>
                                        </p>



                                    }

                @if (item.SixPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            6人部屋</span>
                                              @if (item.OriginalSixPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalSixPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.SixPrice</span>
                                        </p>



                                    }

                  @if (item.EightPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            8人部屋</span>
                                              @if (item.OriginalEightPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalEightPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.EightPrice</span>
                                        </p>



                                    }


                @if (item.WithoutBedPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            ベッドなしの子供が添い寝無料</span>
                                               @if (item.OriginalWithoutBedPrice != 0)
                                               {
                                                 <span style="text-decoration: line-through">@item.OriginalWithoutBedPrice</span>
                                               }
                                            <span class="price" style="color:#f03387;">@item.WithoutBedPrice</span>
                                        </p>



                                    }
                                    @if (item.BabyPric != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            幼児（2歳以下</span>
                                               @if (item.OriginalBabyPric != 0)
                                               {
                                                 <span style="text-decoration: line-through">@item.OriginalBabyPric</span>
                                               }
                                            <span class="price" style="color:#f03387;">@item.BabyPric</span>
                                        </p>



                                    }
                                    @if (item.OneDayAdult != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            大人･日帰り</span>
                                               @if (item.OriginalOneDayAdult != 0)
                                               {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayAdult</span>
                                               }
                                            <span class="price" style="color:#f03387;">@item.OneDayAdult</span>
                                       </p>



                                    }
                                    @if (item.OneDayChild != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                           子供･日帰り</span>
                                               @if (item.OriginalOneDayChild != 0)
                                               {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayChild</span>
                                               }
                                            <span class="price" style="color:#f03387;">@item.OneDayChild</span>
                                            </p>


                                    }
                                    @if (item.OneDayBaby != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                           幼児(ベイビー)・日帰り</span>
                                               @if (item.OriginalOneDayBaby != 0)
                                               {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayBaby</span>
                                               }
                                            <span class="price" style="color:#f03387;">@item.OneDayBaby</span>
                                          </p>

  

                                    }

            </div>
<!--<div class="ribbon" style="display:none">共有 @item.TravelNum 位旅客購買  </div>
 <a href="/Japan/TravelSchdule/Details/@item.Id">行程內容</a> -->
 
<a class="btn btn-blue" href="/Japan/TravelSchdule/SelectDate/@item.Id?Mobile=@Request["Mobile"]" style="">予約</a> 

            </div>
      
        </div>
      </li>

    }
   </ul>
</div>
</div>

<div class="clearfix" style="clear: both; margin: 0 0 60px 0 \9"></div>

<div class="container index-expert" style="display: none">
    <a href="/Japan/ExpertPlan">
        <h2 class="index-title">
            達人攻略
            <span>EXPERT</span>
        </h2>

    </a>
    <ul style="-webkit-padding-start: 0px; list-style-type: none;">
        <style>
            .image-circle {
                width: 150px !important;height: 150px !important;
            }
            @@media (max-width: 569px) {
                .wrap .list-horiz-image {
                    width: 100%;
                    height: 160px;
                    text-align: center;
                    position: relative;
                }
                .clear {
                    clear: both;
                }
                .wrap .list-horiz-content {
                    margin-left: 0;
                }

            }
        </style>
        @foreach (ExpertPlan plan in expertPlans.OrderByDescending(x => x.InitDate).Take(4))
        {
            <li class="list" style="float: left">
                <div class="list-horiz">
                    <div class="list-horiz-image">
                        @if (!string.IsNullOrEmpty(@plan.UpImageUrl))
                        {
                            <img class="image-circle" src="/upfiles/Images/s@(plan.UpImageUrl)"/>
                        }
                        else
                        {

                            <img style="" src="~/images/image-circle.jpg" class="image-circle"/>
                        }

                    </div>
                    <div class="list-horiz-content" style="">
                        <div class="title-tag bg-1">
                            景點
                        </div>
                        <span class="color-1" style=""> <a href="/ExpertPlan/Details/@plan.Id">  @plan.Subject </a></span>
                        <div class="list-horiz-text">
                            @plan.Memo
                        </div>

                    </div>
                </div>
            </li>
            <li class="clear"></li>
        }
    </ul>
</div>


@if (themeVideos.Any())
{
    <div class="container index-video" style="margin-top: 0">
        <a href="/Japan/video">
            <h2 class="index-title">
                ムービー
            </h2>

        </a>
        <div class="youtube-main">
            @{
                themeVideos = themeVideos.OrderByDescending(x => x.InitDate).Take(5);
            }

            <iframe width="100%" src="@themeVideos.FirstOrDefault().YoutubeUrl.Replace("watch?v=", "embed/")" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.youtube-sub li').eq(4).hide();
                $('.youtube-sub li').eq(5).hide();
            })
        </script>
        <div class="youtube-sub">
            <ul>
                @foreach (ThemeVideo video in themeVideos)
                {
                    <li>
                        <a href="#">

                            <img src="@video.UpImageUrl" alt="@video.Subject">
                            <input type="hidden" value="@video.YoutubeUrl.Replace("watch?v=", "embed/")"/>
                            <div class="youtube-sub-shadow">
                                <p>@video.Subject</p>
                            </div>
                        </a>
                    </li>
                }


            </ul>
        </div>
    </div>
}

@if (Request["Mobile"] != "true")
{
    <div class="item slidelogo" style="margin-left:-20px">
        <div class="container">
            <div class="filtering">
                @foreach (var item in aboutLinks.OrderBy(x=>x.ListNum))
                {
                    <a href="@item.URL">
                        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                        {
                            <img style="width:200px" src="~/upfiles/images/@(item.UpImageUrl)" />
                        }
                    </a>
                }
            </div>
        </div>
    </div>
}







