﻿@using Fun2twModels.Models
@{
    List<TravelProduct> travelproducts = ViewBag.travelproducts;
    ViewBag.Title = "瘋趣台灣－墾丁好行";
}
<style>
  .list-icon{
    padding: 10px;
    float: left;
    width: 33.33333%;
  }

  .ticket_bg {
    padding: 20px;
    text-align: center;
    background: url(/images/ticket-bg.png);
    background-size: cover;
    background-position: center center;   
  }
  .clear {
    clear: both;
  }
  
  @@media (max-width: 767px) {
    .list-icon {
      width: 100%;
    }
    
    
  }
</style>
<div class="l-banner"  style="background: url(/images/banner-location-bg.png)" >
  <img src="/images/banner-location.png">
</div>

<div class="ticket_bg">
  <div class="container route-planner" style="margin-top:0;">
    <div style="font-size: 24px;color:#000;padding-top: 20px;font-weight: 200;">E-TICKET </div>
    <div>行動票卷</div>
    <div style="color: #5ec5e8;padding: 20px;font-size:20px;"> 服務優勢</div>
    <p style="color:#000;font-weight: 200;padding:20px 0;">
      您可透過Internet網際網路或4G行動網路，選擇雲端行動票務服務，<br>
      訂購與下載QR CODE行動票券，以一票到底的旅遊模式，搭乘墾丁快線、墾丁街車等各式幹線，<br>
      並在公共運輸與接駁運輸間任意往來及上下車，增加整體旅遊交通運輸的銜接密度與便利性。<br>
    </p>
  </div>
  <div class="container route-planner" style="margin-top:0;">
  <div class="list-icon">
  <img src="/images/ticket01.png" alt="">

    <div style="color:#000;padding: 15px;">
      電子票券，響應環保
    </div>
    <div style="color:#000;font-weight: 200;">
      電子票券不僅使用便利，更可以共同為環境保護盡一份心力喔!
    </div>
  </div>
  <div class="list-icon">
  <img src="/images/ticket02.png" alt="">

    <div style="color:#000;padding: 15px;">
     多元票種整合好方便 
    </div>
    <div style="color:#000;font-weight: 200;">
      除了屏東客運的交通票券外，未來更將陸續整合住宿、遊憩活動票券，讓您一機在手輕鬆玩樂。

    </div>
  </div>
  <div class="list-icon">
  <img src="/images/ticket03.png" alt="">

    <div style="color:#000;padding: 15px;">
      一掃即通，輕鬆GO!
    </div>
    <div style="color:#000;font-weight: 200;">
      只要打開APP，簡單掃描QR CODE就能立即驗證，輕鬆通關無負擔。
    </div>
  </div>
  <div class="clear"></div>
  </div>
  
</div>
<div class="container index-travel">
    <h2 class="index-title">
      熱門行程套票
      <span>TICKETS</span>
    </h2>
    <ul class="card">
    @foreach (TravelProduct item in travelproducts)
                    {
      <li class="card">
        <div class="list-card">
            <div class="list-card-image">
                 <a href="/TravelSchdule/Details/@item.Id">
                @if (!string.IsNullOrEmpty(item.UpImageUrl))
                {
                    <img src="~/upfiles/images/@(item.UpImageUrl)"/>
                }
                else
                {
                    <img src="/images/travel1.jpg" alt="">
                }
                     </a>
            </div>
          <div class="list-card-content">
            <div class="list-card-text">
                <div>
                     <a href="/TravelSchdule/Details/@item.Id">
                    @item.Subject
                         </a>
                </div>
              @if (item.SinglePrice != 0)
                                    {
                                        <div style="color:#8f8f8f">
                                            單人房

                                            <span style="color: red">@item.SinglePrice</span>
                                        </div>



                                    }
                                    @if (item.DoublePrice != 0)
                                    {
                                        <div style="color:#8f8f8f">
                                            雙人房

                                            <span style="color: red">@item.DoublePrice</span>
                                        </div>



                                    }
                                    @if (item.WithoutBedPrice != 0)
                                    {
                                        <div style="color:#8f8f8f">
                                            兒童不佔床

                                            <span style="color: red">@item.WithoutBedPrice</span>
                                        </div>



                                    }
                                    @if (item.BabyPric != 0)
                                    {
                                        <div style="color:#8f8f8f">
                                            嬰兒(2歲以下)

                                            <span style="color: red">@item.BabyPric</span>
                                        </div>



                                    }
                                    @if (item.OneDayAdult != 0)
                                    {
                                        <div style="color:#8f8f8f">
                                            一日遊大人

                                            <span style="color: red">@item.OneDayAdult</span>
                                        </div>



                                    }
                                    @if (item.OneDayChild != 0)
                                    {
                                        <div style="color:#8f8f8f">
                                            一日遊小孩

                                            <span style="color: red">@item.OneDayChild</span>
                                        </div>



                                    }
                                    @if (item.OneDayBaby != 0)
                                    {
                                        <div style="color:#8f8f8f">
                                            一日遊嬰兒

                                            <span style="color: red">@item.OneDayBaby</span>
                                        </div>



                                    }
            </div>

 <!-- <a href="/TravelSchdule/Details/@item.Id">行程內容</a> -->
            <div class="button"> <a href="TravelSchdule/SelectDate/@item.Id" style="color:#fff">加入購物車</a> </div>
          </div>
        </div>
      </li>
       }
   </ul>
</div>

