/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2{
      font-size: 22px;
      line-height: 1.5;
      margin: 0;
      padding: 0;
    }
    label{
      font-size: 18px;
    }
    .panel{
      margin-bottom: 50px;
    }
    .m1{
      margin: 3em;
    }
  .logo{
    width: 260px;
    height: 98px;
    margin: 30px auto;
  }
  *{
    box-sizing: border-box;
  }
.wrap{
  width: 1024px;
  margin: 0 auto;
}

.header{
  background: url(../images/index-header.png);
  height: 611px;
}
.header.active{
  background: url(../images/header.png);
  height: 293px;
}
.start a{

}
.start a:hover{
  opacity: .7
}
.content{
  background: url(../images/bg.png);
}
.start{
  text-align: center;
}
.success,.fail,.game{
  display: none;
}
.success p{
  font-size:40px;
  text-align: center
}
.success .boldRed{
  color: red
}
.success h3{
  color:#fff;
  background: blue;
  padding: .3em 0;
  font-size:25px;
  text-align: center;
  margin: 20px 40px
}
.success ol{
  list-style:decimal ;
  padding: 0 80px 80px
}
.success li{
  margin:0 0 20px 0 ;
}
.center{
  text-align: center;
}
.m1{
  margin: 1px;
}
.game{
  padding: 10px 80px 30px;
}
.game h2{

}
.game li{
  margin: 0 0 30px 0
}
.game li span{
  padding: 0 0 0 10px;
  font-size: 30px;
}
.game li label{
  display: block;
}
.game h2{
  color: #14add7;
  font-size:46px;
  margin: 0 0 30px 0
}
.fail p {

  text-align: center;
  font-size:46px;
  margin: .5em
}
.fail .boldRed{
  font-size: 60px;
  padding: 0 10px;
  color: red;
}body{font-family:Microsoft JhengHei;}