﻿@{
    ViewBag.Title = "高墾線共營中心時刻表";
    Layout = null;
}
<title>
	高墾線共營中心時刻表
</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/css/switch_table.css">
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>
<script src="/js/switch_table.js"></script>

	<div class="timeTableBanner" style="background: #03a9f4;">
		<h1>高墾線共營中心班次時刻表</h1>
		<div style="">左營班次的時間顏色顯示為紫色</div>
		<div style="">無障礙班次的時間底色顯示為淺藍</div>
		<div style="">時刻表可以往右滑動看更多</div>
		<!-- <a id="timeTableWeekdayButton" class="timeTableButton">平日時刻表</a> -->
		<!-- <a id="timeTableHolidayButton" class="timeTableButton">假日時刻表</a> -->
	</div>
	<div id="timeTableWeekday">
	<!-- 平日時刻表 -->

		<h2 style="background:#6688f3;">9127【左營(高雄)-台88-大鵬灣】</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>左營(高雄)發車</th>
					</tr>
					<tr>
						<th>大鵬灣發車</th>
					</tr>
					
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 左營發車 -->
						<td style="background: #c7efff;">06:00</td>
						<td>06:30</td>
						<td>07:00</td>
						<td>07:30</td>
						<td>08:00</td>
						<td>08:30</td>
						<td style="color:#ab00ff">08:30</td>
						<td style="color:#ab00ff">09:10</td>
						<td>10:00</td>
						<td style="color:#ab00ff">10:15</td>
						<td>11:00</td>
						<td style="color:#ab00ff">11:15</td>
						<td>12:00</td>
						<td style="color:#ab00ff">12:25</td>
						<td>13:20</td>
						<td style="color:#ab00ff">13:45</td>
						<td>14:30</td>
						<td style="color:#ab00ff">14:45</td>
						<td>15:30</td>
						<td style="color:#ab00ff">15:45</td>
						<td>16:30</td>
						<td style="color:#ab00ff">16:45</td>
						<td>17:30</td>
						<td style="color:#ab00ff">17:45</td>
						<td>18:40</td>
						<td>19:20</td>
						<td>20:00</td>
					</tr>
					<tr>
					<!-- 大鵬灣發車 -->

						<td>06:30</td>
						<td>07:00</td>
						<td style="background: #c7efff;">07:30</td>
						<td>08:00</td>
						<td>08:30</td>
						<td>09:00</td>
						<td>09:30</td>
						<td>10:00</td>
						<td style="color:#ab00ff">10:30</td>
						<td style="color:#ab00ff">11:00</td>
						<td>11:30</td>
						<td style="color:#ab00ff">12:00</td>
						<td>12:30</td>
						<td style="color:#ab00ff">13:00</td>
						<td>13:30</td>
						<td style="color:#ab00ff">14:10</td>
						<td>14:50</td>
						<td style="color:#ab00ff">15:30</td>
						<td>16:00</td>
						<td style="color:#ab00ff">16:30</td>
						<td>17:00</td>
						<td style="color:#ab00ff">17:30</td>
						<td>18:00</td>
						<td style="color:#ab00ff">18:40</td>
						<td style="color:#ab00ff">19:30</td>
						<td>20:10</td>
						<td>21:30</td>
					</tr>
					
				</table>
			</div>

			<div class="clear"></div>
		</div>
		<h2 style="background:#339cfd;">9117A【高雄-台17線-枋寮】</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>高雄發車</th>
					</tr>
					<tr>
						<th>枋寮發車</th>
					</tr>
					
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 高雄發車 -->
						<td>05:40</td>
						<td>06:20</td>
						<td>06:40</td>
						<td>07:40</td>
						<td>10:20</td>
						<td>11:30</td>
						<td>13:30 </td>
						<td>14:40 </td>
						<td>15:55 </td>
						<td>17:00 </td>
						<td>17:30 </td>
						<td>18:30</td>
						<td>20:30 </td>
						
					</tr>
					<tr>
					<!-- 枋寮發車 -->

						<td>05:30</td>
						<td>06:20</td>
						<td>08:05 </td>
						<td>08:55 </td>
						<td>09:15</td>
						<td>10:05</td>
						<td>12:45</td>
						<td>13:05</td>
						<td>14:05</td>
						<td>15:55 </td>
						<td>17:05</td>
						<td>18:25</td>
						<td>21:00 </td>
						
					</tr>
					
				</table>
			</div>


			<div class="clear"></div>

		</div>

		<h2 style="background:#00caf6;">9117【高雄-台17線-墾丁】</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>高雄發車</th>
					</tr>
					<tr>
						<th>墾丁發車</th>
					</tr>
					
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 高雄發車 -->
						<td>04:15</td>
						<td>05:00</td>
						<td>06:00</td>
						<td>08:30</td>
						<td>09:00</td>
						<td>09:40</td>
						<td>11:00</td>
						<td>12:00</td>
						<td>13:00</td>
						<td style="background: #c7efff;">14:00</td>
						<td>15:20</td>
						<td>16:20</td>
						<td>17:15</td>
						<td>18:00</td>
						<td>19:30</td>
						<td>21:00</td>
						<td>22:30</td>
						
						
					</tr>
					<tr>
					<!-- 墾丁發車 -->

						<td>04:00</td>
						<td>04:55</td>
						<td>05:40</td>
						<td>06:00</td>
						<td>07:30</td>
						<td>09:50</td>
						<td>10:20</td>
						<td>12:20</td>
						<td>14:20</td>
						<td>15:20</td>
						<td>16:20</td>
						<td>17:00</td>
						<td>17:40</td>
						<td>18:10</td>
						<td style="background: #c7efff;">18:40</td>
						<td>21:20</td>
						<td>23:30</td>
						
					</tr>
					
				</table>
			</div>

			
			<div class="clear"></div>

		</div>
		<h2 style="background:#00a1ea;">9188【左營(高雄)-台88-鵝鑾鼻】</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>左營(高雄)發車</th>
					</tr>
					<tr>
						<th>鵝鑾鼻發車</th>
					</tr>
					
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 高雄發車 -->
						<td>06:00</td>
						<td>06:40</td>
						<td>07:20</td>
						<td>07:55 </td>
						<td>08:30</td>
						<td style="color:#ab00ff;">08:45</td>
						<td>09:30</td>
						<td style="color:#ab00ff;">09:45 </td>
						<td>10:30</td>
						<td style="color:#ab00ff;background: #c7efff;">10:45</td>
						<td>11:30</td>
						<td style="color:#ab00ff;">11:45 </td>
						<td>12:30</td>
						<td style="color:#ab00ff;">12:45 </td>
						<td>13:30</td>
						<td style="color:#ab00ff;">13:45</td>
						<td>14:30</td>
						<td style="color:#ab00ff;">14:45 </td>
						<td>15:30 </td>
						<td style="color:#ab00ff;">15:45</td>
						<td>16:30</td>
						<td style="color:#ab00ff;">16:45 </td>
						<td>17:30</td>
						<td style="color:#ab00ff;">17:45</td>
						<td>18:30 </td>
						<td style="color:#ab00ff;">18:45 </td>
						<td>19:30</td>
						<td style="color:#ab00ff;">19:45</td>
						<td>20:30 </td>
						<td style="color:#ab00ff;">20:45 </td>
						<td>21:30</td>
						<td style="color:#ab00ff;">21:45</td>
						
					</tr>
					<tr>
					<!-- 鵝鑾鼻發車 -->

						<td>05:40</td>
						<td style="color:#ab00ff;">06:10 </td>
						<td>06:40</td>
						<td style="color:#ab00ff;">07:20</td>
						<td>08:00</td>
						<td style="color:#ab00ff;">08:30</td>
						<td>09:00</td>
						<td style="color:#ab00ff;">09:30</td>
						<td>10:00</td>
						<td style="color:#ab00ff;">10:30</td>
						<td>11:00</td>
						<td style="color:#ab00ff;">11:30</td>
						<td>12:00</td>
						<td style="color:#ab00ff;">12:30</td>
						<td>13:00</td>
						<td style="color:#ab00ff;">13:30</td>
						<td>14:00</td>
						<td style="color:#ab00ff;">14:30</td>
						<td>15:00</td>
						<td style="color:#ab00ff;background: #c7efff;">15:30</td>
						<td>16:00</td>
						<td style="color:#ab00ff;">16:30</td>
						<td>17:00</td>
						<td style="color:#ab00ff;">17:30</td>
						<td style="color:#ab00ff;">18:00</td>
						<td>18:30</td>
						<td style="color:#ab00ff;">19:00</td>
						<td>19:30</td>
						<td>20:00</td>
						<td>20:30</td>
						<td>21:00</td>
						<td>21:30</td>
						
					</tr>
					
				</table>
			</div>

			
			<div class="clear"></div>

		</div>
		<h2 style="background:#1cb5fa;">臨918【小港機場-台88-潮州-墾丁】</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>小港機場發車</th>
					</tr>
					<tr>
						<th>墾丁發車</th>
					</tr>
					
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 小港機場發車 -->
						<td>10:10 </td>
						<td>11:10 </td>
						<td>12:50</td>
						<td> 13:50</td>
						<td>16:10 </td>
						<td>17:10</td>
						<td>18:50</td>
						<td>19:50 </td>
						
					
						
					</tr>
					<tr>
					<!-- 墾丁發車 -->

						<td>08:10</td>
						<td>09:50 </td>
						<td>10:50</td>
						<td>13:10</td>
						<td>14:10</td>
						<td>15:50</td>
						<td>16:50</td>
						<td>19:10</td>
						
					
					</tr>
					
				</table>
			</div>

			
			<div class="clear"></div>

		</div>
	</div>


