﻿@using Fun2twModels.Models
@model IEnumerable<Fun2twModels.Models.Navigation>

@{
    ViewBag.Title = "墾丁交通-瘋趣台灣-路線規劃-選擇景點";
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、車輛動態查詢、墾丁路線規劃，車上空位查詢，墾丁交通資訊一把抓- 立即預訂車票-" />
}
<script>
    jQuery(document).ready(function($) {
        $('.table tr').click(function(){
 var checkBoxes = $(this).find('input');
 checkBoxes.attr("checked", !checkBoxes.attr("checked"));
})
    });
</script>
<style>
    
    .table tr:hover{
background:#008DD8 !important;color:#fff;    }
</style>
<div class="container" style="display:none">
    @*@{
        List<Navigation> navigation = ViewBag;
    }*@
    
    @using (Html.BeginForm("SortLocation", "Navigation")){
         
          @Html.ValidationSummary(true)
          <div class="container">
              
          </div>
          <h2 class="l-title">
            <i class="fa fa-map-marker"></i> 路線規劃 
          </h2>
        <h3>請選擇要規劃路線的景點</h3>
    <table class="table table-striped" id="LocalTable">
        <tr>
            <th width="5%">選擇</th>
            <th width="30%">
                景點名稱
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>
        <tbody>
        @*注意這邊,要指定排序*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input  type="checkbox" name="location" value="@item.Id"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
            </tr>
        }
        </tbody>
    </table>

 
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="下一步" class="btn-button"/>
        </div>
    }
</div>



@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortMemo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortMemo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
