﻿@{
    ViewBag.Title = "墾丁快線時刻表";
    Layout = null;
}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/css/switch_table.css">
<title>墾丁快線時刻表</title>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>
<script src="/js/switch_table.js"></script>


	<div class="timeTableBanner" style="background-color: #00bcae;">
		<h1 style="color: #01756c;">9189 墾丁快線 時刻表</h1>
		<div style="color:white;">進大鵬灣班次時間顯示為藍色</div>
		<div style="color:white;">無障礙班次時間顯示為黃底紅字</div>
		<!-- <a id="timeTableWeekdayButton" class="timeTableButton">平日時刻表</a> -->
		<!-- <a id="timeTableHolidayButton" class="timeTableButton">假日時刻表</a> -->
	</div>
	<div id="timeTableWeekday">
	<!-- 平日時刻表 -->

		<h2 style="background: #18ffdd;color: #01756c;">去程班次</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>高鐵左營站</th>
					</tr>
					<tr>
						<th>大鵬灣</th>
					</tr>
					<tr>
						<th>枋寮</th>
					</tr>
					<tr>
						<th>車城</th>
					</tr>
					<tr>
						<th>南保力（海生館）</th>
					</tr>
					<tr>
						<th>恆春</th>
					</tr>
					<tr>
						<th>南灣</th>
					</tr>
					<tr>
						<th>墾丁</th>
					</tr>
					
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 高鐵左營站 -->
						<!-- 1 --><td>08:30</td>
						<!-- 2 --><td>08:45</td>
						<!-- 3 --><td>09:00</td>
						<!-- 4 --><td>09:15</td>
						<!-- 5 --><td style="color:#ff3d88;background: #fff9c9;">09:30</td>
						<!-- 6 --><td>09:45</td>
						<!-- 7 --><td>10:00</td>
						<!-- 8 --><td>10:30</td>
						<!-- 9 --><td>10:45</td>
						<!-- 10 --><td>11:00</td>
						<!-- 11 --><td>11:30</td>
						<!-- 12 --><td>12:00</td>
						<!-- 13 --><td style="color:#ff3d88;background: #fff9c9;">12:30</td>
						<!-- 14 --><td>13:00</td>
						<!-- 15 --><td>13:30</td>
						<!-- 16 --><td>14:00</td>
						<!-- 17 --><td>14:30</td>
						<!-- 18 --><td>14:45</td>
						<!-- 19 --><td>15:00</td>
						<!-- 20 --><td style="color:#ff3d88;background: #fff9c9;">15:30</td>
						<!-- 21 --><td>15:45</td>
						<!-- 22 --><td>16:00</td>
						<!-- 23 --><td>16:30</td>
						<!-- 24 --><td>16:45</td>
						<!-- 25 --><td>17:00</td>
						<!-- 26 --><td>17:30</td>
						<!-- 27 --><td>18:00</td>
						<!-- 28 --><td style="color:#ff3d88;background: #fff9c9;">18:30</td>
						<!-- 29 --><td>18:50</td>
						<!-- 30 --><td>19:10</td>
					</tr>
					<tr>
					<!-- 大鵬灣 -->

						<td>不停</td>
						<td>不停</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">10:20</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#2196f3;">11:20</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#2196f3;">12:20</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">13:20</td>
						<td>不停</td>
						<td style="color:#2196f3;">14:20</td>
						<td>不停</td>
						<td style="color:#2196f3;">15:20</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">16:20</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#2196f3;">17:20</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#2196f3;">18:20</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">19:20</td>
						<td>不停</td>
						<td>不停</td>
					</tr>
					<tr>
					<!-- 枋寮 -->

						<td>09:40</td>
						<td>09:55</td>
						<td>10:10</td>
						<td>10:25</td>
						<td style="color:#ff3d88;background: #fff9c9;">10:50</td>
						<td>10:55</td>
						<td>11:10</td>
						<td>11:50</td>
						<td>11:55</td>
						<td>12:10</td>
						<td>12:50</td>
						<td>13:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">13:50</td>
						<td>14:10</td>
						<td>14:50</td>
						<td>15:10</td>
						<td>15:50</td>
						<td>15:55</td>
						<td>16:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">16:50</td>
						<td>16:55</td>
						<td>17:10</td>
						<td>17:50</td>
						<td>17:55</td>
						<td>18:10</td>
						<td>18:50</td>
						<td>19:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">19:50</td>
						<td>20:00</td>
						<td>20:20</td>
					</tr>
					<tr>
					<!-- 車城 -->

						<td>10:10</td>
						<td>10:25</td>
						<td>10:40</td>
						<td>10:55</td>
						<td style="color:#ff3d88;background: #fff9c9;">11:20</td>
						<td>11:25</td>
						<td>11:40</td>
						<td>12:20</td>
						<td>12:25</td>
						<td>12:40</td>
						<td>13:20</td>
						<td>13:40</td>
						<td style="color:#ff3d88;background: #fff9c9;">14:20</td>
						<td>14:40</td>
						<td>15:20</td>
						<td>15:40</td>
						<td>16:20</td>
						<td>16:25</td>
						<td>16:40</td>
						<td style="color:#ff3d88;background: #fff9c9;">17:20</td>
						<td>17:25</td>
						<td>17:40</td>
						<td>18:20</td>
						<td>18:25</td>
						<td>18:40</td>
						<td>19:20</td>
						<td>19:40</td>
						<td style="color:#ff3d88;background: #fff9c9;">20:20</td>
						<td>20:30</td>
						<td>20:50</td>
					</tr>
					<tr>
					<!-- 南保力（海生館） -->

						<td>10:15</td>
						<td>10:30</td>
						<td>10:45</td>
						<td>11:00</td>
						<td style="color:#ff3d88;background: #fff9c9;">11:25</td>
						<td>11:30</td>
						<td>11:45</td>
						<td>12:25</td>
						<td>12:30</td>
						<td>12:45</td>
						<td>13:25</td>
						<td>13:45</td>
						<td style="color:#ff3d88;background: #fff9c9;">14:25</td>
						<td>14:45</td>
						<td>15:25</td>
						<td>15:45</td>
						<td>16:25</td>
						<td>16:30</td>
						<td>16:45</td>
						<td style="color:#ff3d88;background: #fff9c9;">17:25</td>
						<td>17:30</td>
						<td>17:45</td>
						<td>18:25</td>
						<td>18:30</td>
						<td>18:45</td>
						<td>19:25</td>
						<td>19:45</td>
						<td style="color:#ff3d88;background: #fff9c9;">20:25</td>
						<td>20:35</td>
						<td>20:55</td>
					</tr>
					<tr>
					<!-- 恆春  -->

						<td>10:25</td>
						<td>10:40</td>
						<td>10:55</td>
						<td>11:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">11:35</td>
						<td>11:40</td>
						<td>11:55</td>
						<td>12:35</td>
						<td>12:40</td>
						<td>12:55</td>
						<td>13:35</td>
						<td>13:55</td>
						<td style="color:#ff3d88;background: #fff9c9;">14:35</td>
						<td>14:55</td>
						<td>15:35</td>
						<td>15:55</td>
						<td>16:35</td>
						<td>16:40</td>
						<td>16:55</td>
						<td style="color:#ff3d88;background: #fff9c9;">17:35</td>
						<td>17:40</td>
						<td>17:55</td>
						<td>18:35</td>
						<td>18:40</td>
						<td>18:55</td>
						<td>19:35</td>
						<td>19:55</td>
						<td style="color:#ff3d88;background: #fff9c9;">20:35</td>
						<td>20:45</td>
						<td>21:05</td>
					</tr>
					<tr>
					<!-- 南灣 -->

						<td>10:35</td>
						<td>10:50</td>
						<td>11:05</td>
						<td>11:20</td>
						<td style="color:#ff3d88;background: #fff9c9;">11:45</td>
						<td>11:50</td>
						<td>12:05</td>
						<td>12:45</td>
						<td>12:50</td>
						<td>13:05</td>
						<td>13:45</td>
						<td>14:05</td>
						<td style="color:#ff3d88;background: #fff9c9;">14:45</td>
						<td>15:05</td>
						<td>15:45</td>
						<td>16:05</td>
						<td>16:45</td>
						<td>16:50</td>
						<td>17:05</td>
						<td style="color:#ff3d88;background: #fff9c9;">17:45</td>
						<td>17:50</td>
						<td>18:05</td>
						<td>18:45</td>
						<td>18:50</td>
						<td>19:05</td>
						<td>19:45</td>
						<td>20:05</td>
						<td style="color:#ff3d88;background: #fff9c9;">20:45</td>
						<td>20:55</td>
						<td>21:15</td>
					</tr>
					<tr>
					<!-- 墾丁 -->

						<td>10:40</td>
						<td>10:55</td>
						<td>11:10</td>
						<td>11:25</td>
						<td style="color:#ff3d88;background: #fff9c9;">11:50</td>
						<td>11:55</td>
						<td>12:10</td>
						<td>12:50</td>
						<td>12:55</td>
						<td>13:10</td>
						<td>13:50</td>
						<td>14:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">14:50</td>
						<td>15:10</td>
						<td>15:50</td>
						<td>16:10</td>
						<td>16:50</td>
						<td>16:55</td>
						<td>17:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">17:50</td>
						<td>17:55</td>
						<td>18:10</td>
						<td>18:50</td>
						<td>18:55</td>
						<td>19:10</td>
						<td>19:50</td>
						<td>20:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">20:50</td>
						<td>21:00</td>
						<td>21:20</td>
					</tr>
					
				</table>
			</div>

			<div class="clear"></div>
		</div>
		<h2 style="background: #18ffdd;color: #01756c;">返程班次</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>墾丁</th>
					</tr>
					<tr>
						<th>南灣</th>
					</tr>
					<tr>
						<th>恆春</th>
					</tr>
					<tr>
						<th>南保力（海生館）</th>
					</tr>
					<tr>
						<th>車城</th>
					</tr>
					<tr>
						<th>枋寮</th>
					</tr>
					<tr>
						<th>大鵬灣</th>
					</tr>
					<tr>
						<th>高鐵左營站</th>
					</tr>
					
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 墾丁 -->
						<td>08:00</td>
						<td>08:15</td>
						<td>08:30</td>
						<td>09:00</td>
						<td style="color:#ff3d88;background: #fff9c9;">09:30</td>
						<td>10:00</td>
						<td>10:30</td>
						<td>11:00</td>
						<td>11:30</td>
						<td>11:45</td>
						<td>12:00</td>
						<td style="color:#ff3d88;background: #fff9c9;">12:30</td>
						<td>12:45</td>
						<td>13:00</td>
						<td>13:30</td>
						<td>13:45</td>
						<td>14:00 </td>
						<td>*14:30</td>
						<td>15:00</td>
						<td style="color:#ff3d88;background: #fff9c9;">15:30</td>
						<td>16:00</td>
						<td>16:30</td>
						<td>17:00</td>
						<td>17:15</td>
						<td>17:30</td>
						<td>18:00</td>
						<td>18:15</td>
						<td style="color:#ff3d88;background: #fff9c9;">18:30</td>
						<td>18:50</td>
						<td>19:10</td>
					</tr>
					<tr>
					<!-- 南灣 -->

						<td>08:05</td>
						<td>08:20</td>
						<td>08:35</td>
						<td>09:05</td>
						<td style="color:#ff3d88;background: #fff9c9;">09:35 </td>
						<td>10:05</td>
						<td>10:35</td>
						<td>11:05</td>
						<td>11:35</td>
						<td>11:50</td>
						<td>12:05</td>
						<td style="color:#ff3d88;background: #fff9c9;">12:35</td>
						<td>12:50</td>
						<td>13:05</td>
						<td>13:35 </td>
						<td>13:50 </td>
						<td>14:05 </td>
						<td>14:35</td>
						<td>15:05 </td>
						<td style="color:#ff3d88;background: #fff9c9;">15:35 </td>
						<td>16:05</td>
						<td>16:35 </td>
						<td>17:05 </td>
						<td>17:20</td>
						<td>17:35 </td>
						<td>18:05 </td>
						<td>18:20 </td>
						<td style="color:#ff3d88;background: #fff9c9;">18:35 </td>
						<td>18:55 </td>
						<td>19:15 </td>
					</tr>
					<tr>
					<!-- 恆春 -->

						<td>08:15</td>
						<td>08:30 </td>
						<td>08:45</td>
						<td>09:15</td>
						<td style="color:#ff3d88;background: #fff9c9;">09:45</td>
						<td>10:15</td>
						<td>10:45 </td>
						<td>11:15 </td>
						<td>11:45 </td>
						<td>12:00 </td>
						<td>12:15 </td>
						<td style="color:#ff3d88;background: #fff9c9;">12:45</td>
						<td>13:00</td>
						<td>13:15</td>
						<td>13:45</td>
						<td>14:00</td>
						<td>14:15</td>
						<td>14:45</td>
						<td>15:15</td>
						<td style="color:#ff3d88;background: #fff9c9;">15:45</td>
						<td>16:15</td>
						<td>16:45</td>
						<td>17:15</td>
						<td>17:30</td>
						<td>17:45</td>
						<td>18:15</td>
						<td>18:30</td>
						<td style="color:#ff3d88;background: #fff9c9;">18:45</td>
						<td>19:05</td>
						<td>19:25</td>
					</tr>
					<tr>
					<!-- 南保力（海生館） -->

						<td>08:25</td>
						<td>08:40</td>
						<td>08:55</td>
						<td>09:25</td>
						<td style="color:#ff3d88;background: #fff9c9;">09:55</td>
						<td>10:25</td>
						<td>10:55</td>
						<td>11:25</td>
						<td>11:55</td>
						<td>12:10</td>
						<td>12:25</td>
						<td style="color:#ff3d88;background: #fff9c9;">12:55</td>
						<td>13:10</td>
						<td>13:25</td>
						<td>13:55</td>
						<td>14:10</td>
						<td>14:25</td>
						<td>14:55</td>
						<td>15:25</td>
						<td style="color:#ff3d88;background: #fff9c9;">15:55</td>
						<td>16:25</td>
						<td>16:55</td>
						<td>17:25</td>
						<td>17:40</td>
						<td>17:55</td>
						<td>18:25</td>
						<td>18:40</td>
						<td style="color:#ff3d88;background: #fff9c9;">18:55</td>
						<td>19:15</td>
						<td>19:35</td>
					</tr>
					<tr>
					<!-- 車城 -->

						<td>08:30</td>
						<td>08:45</td>
						<td>09:00</td>
						<td>09:30</td>
						<td style="color:#ff3d88;background: #fff9c9;">10:00</td>
						<td>10:30</td>
						<td>11:00</td>
						<td>11:30</td>
						<td>12:00</td>
						<td>12:15</td>
						<td>12:30</td>
						<td style="color:#ff3d88;background: #fff9c9;">13:00</td>
						<td>13:15</td>
						<td>13:30</td>
						<td>14:00</td>
						<td>14:15</td>
						<td>14:30</td>
						<td>15:00</td>
						<td>15:30</td>
						<td style="color:#ff3d88;background: #fff9c9;">16:00</td>
						<td>16:30</td>
						<td>17:00</td>
						<td>17:30</td>
						<td>17:45</td>
						<td>18:00</td>
						<td>18:30</td>
						<td>18:45</td>
						<td style="color:#ff3d88;background: #fff9c9;">19:00</td>
						<td>19:20</td>
						<td>19:40</td>
					</tr>
					<tr>
					<!-- 枋寮 -->

						<td>09:00</td>
						<td>09:15</td>
						<td>09:30</td>
						<td>10:00</td>
						<td style="color:#ff3d88;background: #fff9c9;">10:30</td>
						<td>11:00</td>
						<td>11:30</td>
						<td>12:00</td>
						<td>12:30</td>
						<td>12:45</td>
						<td>13:00</td>
						<td style="color:#ff3d88;background: #fff9c9;">13:30</td>
						<td>13:45</td>
						<td>14:00</td>
						<td>14:30</td>
						<td>14:45</td>
						<td>15:00</td>
						<td>15:30</td>
						<td>16:00</td>
						<td style="color:#ff3d88;background: #fff9c9;">16:30</td>
						<td>17:00</td>
						<td>17:30</td>
						<td>18:00</td>
						<td>18:15</td>
						<td>18:30</td>
						<td>19:00</td>
						<td>19:15</td>
						<td style="color:#ff3d88;background: #fff9c9;">19:30</td>
						<td>19:50</td>
						<td>20:10</td>
					</tr>
					<tr>
					<!-- 大鵬灣 -->

						<td>不停</td>
						<td>不停</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">11:00</td>
						<td>不停</td>
						<td style="color:#2196f3;">12:00</td>
						<td>不停</td>
						<td style="color:#2196f3;">13:00</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">14:00</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#2196f3;">15:00</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#2196f3;">16:00</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">17:00</td>
						<td>不停</td>
						<td style="color:#2196f3;">18:00</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#2196f3;">19:00</td>
						<td>不停</td>
						<td>不停</td>
						<td style="color:#ff3d88;background: #fff9c9;">20:00</td>
						<td>不停</td>
						<td>不停</td>
					</tr>
					<tr>
					<!-- 高鐵左營站 -->

						<td>10:10</td>
						<td>10:25</td>
						<td>10:40</td>
						<td>11:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">11:50</td>
						<td>12:10</td>
						<td>12:50</td>
						<td>13:10</td>
						<td>13:50</td>
						<td>13:55</td>
						<td>14:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">14:50</td>
						<td>14:55</td>
						<td>15:10</td>
						<td>15:50</td>
						<td>15:55</td>
						<td>16:10</td>
						<td>16:50</td>
						<td>17:10</td>
						<td style="color:#ff3d88;background: #fff9c9;">17:50</td>
						<td>18:10</td>
						<td>18:50</td>
						<td>19:10</td>
						<td>19:25</td>
						<td>19:50</td>
						<td>20:10</td>
						<td>20:25</td>
						<td style="color:#ff3d88;background: #fff9c9;">20:50</td>
						<td>21:00</td>
						<td>21:20</td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>

		</div>
	</div>
	<div id="timeTableHoliday">
	<!-- 假日時刻表 -->
		
	</div>

	
