﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.CustomerLocation>
@{
    ViewBag.Title = "墾丁交通-瘋趣台灣-我的路線規劃";
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、車輛動態查詢、墾丁路線規劃，車上空位查詢，墾丁交通資訊一把抓- 立即預訂車票-" />
}
<style>
    
   .table tr:active{
background:#008DD8 !important;color:#fff;    }
</style>




        <div class="error" >
            <div class="container err-container" style="display:none;height:800px" >
             <h2 class="l-title">
            <i class="fa fa-map-marker">資料錯誤</i>
          </h2>
                <p class="jq-content">@ViewBag.Message</p>
                
          
            </div>

        </div>
        
        <div class="container block-container l-white news-content">
        <h2 class="l-title">
            <i class="fa fa-map-marker"></i>我的路線規劃 
          </h2>

         
       
           
            <table class="table table-striped" id="LocalTable">
                <tr>
                    <th width="30%">
                       行程名稱名稱
                    </th>
                    <th>
                       路線規劃
                    </th>
               
                     <th>
                       
                    </th>
                </tr>
                <tbody>


              
                @*注意這邊,要指定排序*@
                   
                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                          
                          
                            @* @Html.DisplayFor(modelItem => item.Id)*@
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                          <a class="btn btn-success" href="/Navigation/MyLocaltionDetails/@item.Id">路線規劃</a> 
                        </td>
                        <td>
                                                        @using (Html.BeginForm("DeleteLocation", "Navigation"))
                            {
                                @Html.AntiForgeryToken()
                                
                                    <input type="submit" value="刪除" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;" class="btn btn-primary" />
                                

                                @*這邊也有改*@
                                @Html.Hidden("id", item.Id)
                            }
                        </td>
                       
                    </tr>
                   
                }
                </tbody>
            </table>
            
          
        </div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

  

    
}
