﻿@using Fun2twModels.Models
@model IEnumerable<Fun2twModels.Models.TravelPlan>

@{
    ViewBag.Title = "墾丁交通-瘋趣台灣-路線規劃-景點排序";
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、車輛動態查詢、墾丁路線規劃，車上空位查詢，墾丁交通資訊一把抓- 立即預訂車票-" />
}
<style>
    
   .table tr:active{
background:#008DD8 !important;color:#fff;    }
</style>

    @using (Html.BeginForm("Result", "Navigation"))
    {
        <script>
            $(document).ready(function() {
                $("#mode").val('DRIVING');
                $(".driving").click(function() {
                    // alert($(this).attr('data-val'));
                    $("#mode").val($(this).attr('data-val'));
                });
                $('.driving').click(function(event) {
                    /* Act on the event */
                    $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
                });
                if($('.jq-content').text() != ''){
                    $('.block-container').hide();
                    $('.error .err-container').show();
                }
            });
        </script>
        <div class="error" >
            <div class="container err-container" style="display:none;height:800px" >
             <h2 class="l-title">
            <i class="fa fa-map-marker">資料錯誤</i>
          </h2>
                <p class="jq-content">@ViewBag.Message</p>
                
            <div class="text-center">
               
            
                    <input type="button" value="回上一步" class="btn btn-primary" onclick="history.back()"/>
              

            </div>
            </div>

        </div>
        
        <div class="container block-container l-white news-content">
        <h2 class="l-title">
            <i class="fa fa-map-marker"></i>路線規劃 
          </h2>
            <h3>選擇交通工具：<div class="btn-group" role="group" >
              <button type="button" data-val="DRIVING" class="btn btn-default btn-primary driving"><i class="fa fa-car"></i>&nbsp;開車</button>
              <button type="button" data-val="WALKING" class="btn btn-default driving"><i class="fa fa-male"></i>&nbsp;步行</button>
              <button type="button" data-val="TRANSIT" class="btn btn-default driving"><i class="fa fa-subway"></i>&nbsp;大眾運輸</button>
            </div></h3>
            @* <select id="mode" name="mode">
                <option value="DRIVING">開車</option>
                <option value="WALKING">步行</option>
                <option value="BICYCLING">自行車</option>
                <option value="TRANSIT">大眾運輸</option>
            </select>*@
            
            
            <p>
                <span style="color: red"><i class="fa fa-exclamation-circle"></i>&nbsp;注意：選擇大眾運輸只會顯示起點到終點的路線規劃</span>
            </p>
           <input type="hidden" name="mode" id="mode" value="DRIVING"/>
        <h2 class="l-title">
            <i class="fa fa-map-marker"></i>拖曳排序規劃路線
          </h2>
           
            <table class="table table-striped" id="LocalTable">
                <tr>
                    <th width="30%">
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Street)
                    </th>
                   @* <th>
                        @Html.DisplayNameFor(model => model.Lon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lat)
                    </th>*@
                     
                </tr>
                <tbody>


                @if (Model.Count() == 0)
                {
                    <tr><td>沒有加入任何景點</td></tr>
                }

                @*注意這邊,要指定排序*@
                    @{
                        int i = 0;
                    }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            <input type="hidden" name="travel[@i].address" value="@item.Subject"/>
                            <input type="hidden" name="travel[@i].Lon" value="@item.Lon"/>
                            <input type="hidden" name="travel[@i].Lat" value="@item.Lat"/>
                             <input type="hidden" name="travel[@i].listNum" value="@i" class="position"/>
                            @* @Html.DisplayFor(modelItem => item.Id)*@
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                       @* <td>
                            @Html.DisplayFor(modelItem => item.Lon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lat)
                        </td>*@
                        
                    </tr>
                    i++;
                }
                </tbody>
            </table>
            
            <div class="text-center">
          
                @if (Model.Count() > 1)
                {
                    <input type="hidden" name="isSave" value="true"/>
                    <input type="submit" id="xSubmit" value="規劃路線" class="btn btn-primary"/>
                }
                else
                {
                    <input type="button" value="回上一步" class="btn btn-primary" onclick="history.back()"/>
                }

            </div>
        </div>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>

   
}
