﻿@using Fun2twModels.Models
@{

    ViewBag.Title = "瘋趣台灣－墾丁好行";
}



<link rel="stylesheet" href="~/css/traffic.css">

<style>
    .btn-orange-peel {
        background-color: #ffc54c;
        border-color: #ffb83f;
        background-color: #00bfd8;
        border-color: #00bfd8;
    }


    .page .text-bold, .page strong {
        font-weight: 300;
    }

    .swiper-center-caption {
        background: rgba(0,0,0,.3);
        padding: 50px 0;
    }

    .btn, .pagination-classic > li > a, .pagination-classic > li > span {
        font-family: Microsoft JhengHei,arial,sans-serif;
    }
    .float-card-inner h3 {
        color: white;

    }
    .float-card-inner .text-atlantis {
        color: white;
    }

    h3 {
        padding: 20px;
    }

    .box-offer img {
        height: 300px;
    }

    .float-card-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: inline-block;
        padding: 100px 50px;
        /*background: white;*/
    }

    @@media (max-width: 1199px) {
        .float-card {
            width: 100%;
            height: 100%;
            /*background: rgba(0,0,0,.6);*/
        }
        .reveal-lg-inline-block {
            display: none;
        }

        .float-card-inner {
            background: none;
            color: white;
        }
        
    }

    @@media (max-width: 1152px) {


        .float-card-inner {
            background: rgba(0,0,0,.8);
            background: none;
            padding: 0 20px 20px 20px;
        }
    }

    @@media (max-width: 1024px) {

        .float-card {
            width: 100%;
            height: 100%;
        }
        .page .section-90 {
            padding: 20px;
        }
    }

    @@media (max-width: 569px) {
        .swiper-container {
            height: 500px;
        }

        .center-block {
            
        }

        .box-offer img {
            height: auto;
        }

        .swiper-center-caption {
            background: rgba(0,0,0,.4);
            height: 100%;
        }

        .shell-wide {
            max-width: 100%;
            width: 100%;
            text-align: center;
            padding: 50px;
            position: absolute;
            z-index: 2;
            bottom: 0;
        }
    }
</style>


<div class="page text-center">

    <header class="page-head">


        <div data-height="" data-min-height="200px" data-slide-effect="fade" class="swiper-container swiper-slider context-dark swiper-container-horizontal swiper-container-fade">
            <div class="swiper-wrapper" style="transition-duration: 0ms;">
                <div data-slide-bg="/images/navigation/navigation1.jpg" class="swiper-slide swiper-slide-duplicate swiper-slide-prev" style="background-image: url(../images/navigation/navigation2.jpg); background-size: cover; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; opacity: 1;" data-swiper-slide-index="2"></div>

                <div class="swiper-center-caption">
                    <div class="shell-wide">
                        <div class="range range-xs-center">
                            <div class="cell-sm-11 cell-lg-12 cell-xl-12">
                                @* <div>
                                      <h5 class="reveal-inline-block font-default both-lines text-italic">瘋趣臺灣教你如何暢遊恆春半島！</h5>
                                    </div> *@
                                <div class="offset-top-10">
                                    <h1 class="text-bold">旅行恆春的交通瑣事，通通變成輕鬆事</h1>
                                </div>
                                <p class="h5 font-default offset-top-35 veil reveal-sm-block">
                                    買車票、查路線、找公車，智慧交通全數搞定
瘋趣台灣，實現輕鬆玩樂、優雅旅行的美好願景
                                </p>
                                <a href="http://ticket.fun2tw.com/" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">點我開始購票</a>
                               
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div> -->
                <!-- <div class="swiper-button-prev"><span class="icon icon-sm mdi mdi-arrow-left-bold"></span></div>
                <div class="swiper-button-next"><span class="icon icon-sm mdi mdi-arrow-right-bold"></span></div> -->
            </div>
        </div>

    </header>

<main class="page-content">

<div class="" style="margin-bottom: 50px;display: none;">
    <h2 class="l-h2">路線規劃教學</h2>
    <ul class="four_icon_step_list">
        <li>
            <div class="four_icon_step_list_bg">
                <img src="/img/four_icon_step_list1.png" alt="">
            </div>
            <div class="four_icon_step_list_text">
                <h2>Step.1</h2>
                <h5>加入清單</h5>
                <p>將景點介紹清單中喜愛的點加入清單即可喔！</p>
            </div>
        </li>
        <li>
            >>
        </li>
        <li>
            <div class="four_icon_step_list_bg">
                <img src="/img/four_icon_step_list2.png" alt="">
            </div>
            <div class="four_icon_step_list_text">
                <h2>Step.2</h2>
                <h5>排序</h5>
                <p>加入清單的景點可以隨意拖曳重新排序</p>
            </div>
        </li>
        <li>
            >>
        </li>
        <li>
            <div class="four_icon_step_list_bg">
                <img src="/img/four_icon_step_list3.png" alt="">
            </div>
            <div class="four_icon_step_list_text">
                <h2>Step.3</h2>
                <h5>選擇交通方式</h5>
                <p>可選擇搭乘大眾交通工具、字型開車或步行三種方式</p>
            </div>
        </li>
        <li>
            >>
        </li>
        <li>
            <div class="four_icon_step_list_bg">
                <img src="/img/four_icon_step_list4.png" alt="">
            </div>
            <div class="four_icon_step_list_text">
                <h2>Step.4</h2>
                <h5>規劃完成</h5>
                <p>只要按下按鈕，系統就會自動替您規劃出路線圖囉！</p>
            </div>
        </li>
        
    </ul>
    
</div>

    <section class="section-90 section-lg-0 " style="max-width: 1280px;
    margin: 0 auto;">
        <div class="range range-condensed">
            <div class="cell-lg-6">

                <div class="box-offer">
                    <div class="range range-sm-center range-condensed range-sm-middle">
                        <div class="cell-sm-5 cell-lg-6"><img src="/images/navigation/navigation4.jpeg" alt="" class="img-responsive center-block"></div>
                        <div class="cell-sm-6 cell-lg-6 section-lg-30 offset-top-18 offset-lg-top-0 section-svg">
                            <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block">
                                <defs>
                                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                        <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                        <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                    </linearGradient>
                                </defs>
                                <polyline points="0,0 60,0 29,29" fill="url(#grad1)"></polyline>
                            </svg>
                            <div>
                                <h3 class="reveal-inline-block text-bold">瘋趣臺灣 APP</h3>

                            </div>
                            <div>
                                <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
                                    想來恆春半島旅遊嗎？ 下載 APP 旅遊一把抓！
                                </h6>
                            </div>

                            <a href="https://play.google.com/store/apps/details?id=tw.com.madhatter.fun2tw&hl=en" target="_blank" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">
                                Android
                            </a>
                            <a href="https://itunes.apple.com/tw/app/feng-qu-tai-wan-ken-ding-hao/id1146785576?mt=8" target="_blank" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">
                                iOS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6 offset-top-66 offset-lg-top-0">

                <div class="box-offer">
                    <div class="range range-sm-center range-condensed range-sm-middle">
                        <div class="cell-sm-5 cell-lg-6"><img src="/images/navigation/navigation3.jpg" alt="" class="img-responsive center-block"></div>
                        <div class="cell-sm-6 cell-lg-6 section-lg-30 offset-top-18 offset-lg-top-0 section-svg">
                            <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block">
                                <defs>
                                    <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
                                        <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                        <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                    </linearGradient>
                                </defs>
                                <polyline points="0,0 60,0 29,29" fill="url(#grad2)"></polyline>
                            </svg>
                            <div>
                                <h3 class="reveal-inline-block text-bold">路線規劃</h3>

                            </div>
                            <div>
                                <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
                                    找好想玩的點了嗎？
                                    開始安排行程吧！
                                </h6>
                            </div><a href="/TravelPlan/overview" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">開始規劃</a>
                        </div>
                    </div>
                </div>
            </div>

            @* <div class="cell-lg-6 offset-top-66 offset-lg-top-0">

                                <div class="box-offer">
                                  <div class="range range-sm-center range-condensed range-sm-middle">
                                    <div class="cell-sm-5 cell-lg-6 cell-lg-push-1"><img src="/images/navigation/navigation4.jpeg" width="480" height="350" alt="" class="img-responsive center-block"></div>
                                    <div class="cell-sm-5 cell-lg-6 section-lg-30 offset-top-18 offset-lg-top-0 section-svg section-svg-inverse">
                                      <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block">
                                        <defs>
                                        <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
                                          <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                          <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                        </linearGradient>
                                        </defs>
                                      <polyline points="0,0 60,0 29,29" fill="url(#grad3)"></polyline>
                                    </svg>
                                    <div>
                                      <h3 class="reveal-inline-block text-bold">行動票券</h3>

                                    </div>
                                    <div>
                                      <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
                                        找不到車票嗎？
                這裡有一批好便宜的屏東客運票券！
                                      </h6>
                                      </div><a href="http://ticket.fun2tw.com/" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">線上買車票</a>
                                    </div>
                                  </div>
                                </div>
                              </div> *@

            <div class="cell-lg-12 offset-top-66 offset-lg-top-0">

                <div id="traffic" class="box-offer">
                    <div class="range range-sm-center range-condensed range-sm-middle" style="background-image: url(/images/navigation/navigation5.jpg);background-size: cover;">
                        @* <div class="cell-sm-5 cell-lg-3 cell-lg-push-1" style="z-index: 2;">
                              <img src="/images/navigation/navigation5.jpg" width="480" height="350" alt="" class="img-responsive center-block">
                            </div> *@
                        <div class="cell-sm-5 cell-lg-12 section-lg-30 offset-lg-top-0 section-svg section-svg-inverse" style="height: 500px;position: relative;background: #000;background: rgba(0,0,0,.6);">
                            <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block" style="z-index: 3;">
                                <defs>
                                    <linearGradient id="grad4" x1="0%" y1="0%" x2="100%" y2="0%">
                                        <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                        <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                                    </linearGradient>
                                </defs>
                                <polyline points="0,0 60,0 29,29" fill="#f4f4f4"></polyline>
                            </svg>

                            <div class="float-card">
                                <div class="float-card-inner">
                                    <div>
                                        <h3 class="reveal-inline-block text-bold">車輛動態</h3>

                                    </div>
                                    <div>
                                        <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
                                            已經抵達恆春半島了嗎？
                                            快看動態時刻表查詢時間吧！
                                        </h6>
                                    </div>
                                    <a target="_blank" href="/carmember/info9189A1" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往墾丁（不經大鵬灣）</a>
                                    <a target="_blank" href="/carmember/info9189A2" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往左營（不經大鵬灣）</a>
                                    <a target="_blank" href="/carmember/info918901" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往墾丁</a>
                                    <a target="_blank" href="/carmember/info918902" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往左營</a>
                                    <div align="center" style="padding-top: 20px;color:white;">車輛動態系統維護中，不便之處，敬請見諒。</div>

                                   
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .qa_area {
            padding: 100px 20px 0 20px;
            height: 400px;
            background-image: url(/img/qa.jpg);
            background-size: cover;
            max-width: 1280px;
            margin: 0 auto;
        }
        .fun2tw_timetable {
            padding: 20px;
            max-width: 1280px;
            margin: 0 auto;
        }
    </style>
    <div id="timeTable" class="fun2tw_timetable">
         <div>
            <h3 class="reveal-inline-block text-bold">班次時刻表</h3>
        </div>
        <div>
            <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
                已經準備好要出發了嗎？
                快來看班次時刻表安排行程吧！
            </h6>
        </div>
        <a target="_blank" href="/Navigation/Kentingstreetcarschedules" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">墾丁街車時刻表</a>
        <a target="_blank" href="/Navigation/Kentingexpressschedules" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">墾丁快線時刻表</a>
        <a target="_blank" href="/Navigation/GaoKenschedules" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">高墾線共營中心時刻表</a> 
       @*  <a target="_blank" href="/home/SunMoonLakeTimeTable" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">日月潭線時刻表</a>  *@

    </div>
    <div class="qa_area" >
        <h2 class="l-h2">Q & A</h2>
        <a href="/FAQ" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">常見問答</a>
    </div>
</main>
</div>