﻿@using Fun2twModels.Models
@{
   
    ViewBag.Title = "墾丁交通-瘋趣台灣-墾丁好行";
}

@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、車輛動態查詢、墾丁路線規劃，車上空位查詢，墾丁交通資訊一把抓- 立即預訂車票-" />
}

<link rel="stylesheet" href="~/css/traffic.css">

<style>
  svg.reveal-lg-inline-block {
    display: none;
  }
    
    .btn-orange-peel {
      background-color: #ffc54c;
      border-color: #ffb83f;
      background-color: #00bfd8;
      border-color: #00bfd8; 
    }
    

  .page .text-bold, .page strong {
    font-weight: 300;
  }
  .swiper-center-caption {
    background: rgba(0,0,0,.3);
    padding: 50px 0;
    height: 100%;

  }
  .btn, .pagination-classic > li > a, .pagination-classic > li > span {
    font-family: Microsoft JhengHei,arial,sans-serif;
  }
  h3 {
    padding: 20px;
  }
  .box-offer img {
    height: 300px;
  }
  
  .float-card-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 100px 50px;
    background: white;
  }
  @@media (max-width: 1199px) {
    .float-card {
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.6);


    }
    .float-card-inner {
      background: none;
      color: white;

    }
  }
  @@media (max-width: 1152px) {
    
    
    .float-card-inner{
      
      background: rgba(0,0,0,.8);
      background: none;
      padding: 0 20px 20px 20px;
    }

    
  }
  @@media (max-width: 1024px) {
    
    .float-card {
      width: 100%;
      height: 100%;
    }

  }
  @@media (max-width: 569px) {
    .swiper-container {
      height: 500px;
    }
    .center-block {
      padding-left: 10px;
      padding-right: 10px;
    }
    .page .section-90 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .box-offer img {
      height: auto;
    }
    .swiper-center-caption {
      background: rgba(0,0,0,.4);
      height: 100%;
    }
    
    .shell-wide {
      max-width: 100%;
      width: 100%;
      text-align: center;
      padding: 50px;
      position: absolute;
      z-index: 2;
      bottom: 0;
    }
    

  }
</style>

  
  <div class="page text-center">
    
    <header class="page-head">
      
    
    <div data-height="" data-min-height="200px" data-slide-effect="fade" class="swiper-container swiper-slider context-dark swiper-container-horizontal swiper-container-fade">
      <div class="swiper-wrapper" style="transition-duration: 0ms;"><div data-slide-bg="/images/navigation/navigation1.jpg" class="swiper-slide swiper-slide-duplicate swiper-slide-prev" style="background-image: url(../images/navigation/navigation2.jpg); background-size: cover; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; opacity: 1;" data-swiper-slide-index="2"></div>
      
      <div class="swiper-center-caption" >
        <div class="shell-wide">
          <div class="range range-xs-center">
            <div class="cell-sm-12 cell-lg-12 cell-xl-12">
              @* <div>
                <h5 class="reveal-inline-block font-default both-lines text-italic">瘋趣臺灣教你如何暢遊恆春半島！</h5>
              </div> *@
              <div class="offset-top-10">
                <h1 class="text-bold">旅行恆春的交通瑣事，通通變成輕鬆事</h1>
              </div>
              <p class="h5 font-default offset-top-35 veil reveal-sm-block">
                買車票、查路線、找公車，智慧交通全數搞定
瘋趣台灣，實現輕鬆玩樂、優雅旅行的美好願景
              </p>
             

            </div>
          </div>
          
        </div>
      </div>
              
              <!-- <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div> -->
              
              <!-- <div class="swiper-button-prev"><span class="icon icon-sm mdi mdi-arrow-left-bold"></span></div>
              <div class="swiper-button-next"><span class="icon icon-sm mdi mdi-arrow-right-bold"></span></div> -->
    </div>
          </header>
          
          <main class="page-content">
          
          <section class="section-90 section-lg-0">
            <div class="range range-condensed">
              <div class="cell-lg-6">
                
                <div class="box-offer">
                  <div class="range range-sm-center range-condensed range-sm-middle">
                    <div class="cell-sm-5 cell-lg-6"><img src="/images/navigation/navigation4.jpeg" width="480" height="350" alt="" class="img-responsive center-block"></div>
                    <div class="cell-sm-6 cell-lg-6 section-lg-30 offset-top-18 offset-lg-top-0 section-svg">
                      <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block">
                        <defs>
                        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                          <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                          <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                        </linearGradient>
                        </defs>
                      <polyline points="0,0 60,0 29,29" fill="url(#grad1)"></polyline>
                    </svg>
                    <div>
                      <h3 class="reveal-inline-block text-bold">瘋趣臺灣 APP</h3>
                      
                    </div>
                    <div>
                      <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
                        想來恆春半島旅遊嗎？ 下載 APP 旅遊一把抓！
                      </h6>
                      </div>
                       <a href="https://play.google.com/store/apps/details?id=tw.com.madhatter.fun2tw&hl=en" target="_blank" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">
                        Android
                      </a>
                        <a href="https://itunes.apple.com/tw/app/feng-qu-tai-wan-ken-ding-hao/id1146785576?mt=8"  target="_blank" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">
                        iOS
                        </a>

                      </div>
                  </div>
                </div>
              </div>
              <div class="cell-lg-6 offset-top-66 offset-lg-top-0">
                
                <div class="box-offer">
                  <div class="range range-sm-center range-condensed range-sm-middle">
                    <div class="cell-sm-5 cell-lg-6"><img src="/images/navigation/navigation3.jpg" width="480" height="350" alt="" class="img-responsive center-block"></div>
                    <div class="cell-sm-6 cell-lg-6 section-lg-30 offset-top-18 offset-lg-top-0 section-svg">
                      <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block">
                        <defs>
                        <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
                          <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                          <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                        </linearGradient>
                        </defs>
                      <polyline points="0,0 60,0 29,29" fill="url(#grad2)"></polyline>
                    </svg>
                    <div>
                      <h3 class="reveal-inline-block text-bold">路線規劃</h3>
                      
                    </div>
                    <div>
                      <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">找好想玩的點了嗎？ 
開始安排行程吧！</h6>
                      </div><a href="/Navigation/plan" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">開始規劃</a>
                    </div>
                  </div>
                </div>
              </div>

              @* <div class="cell-lg-6 offset-top-66 offset-lg-top-0">
                
                <div class="box-offer">
                  <div class="range range-sm-center range-condensed range-sm-middle">
                    <div class="cell-sm-5 cell-lg-6 cell-lg-push-1"><img src="/images/navigation/navigation4.jpeg" width="480" height="350" alt="" class="img-responsive center-block"></div>
                    <div class="cell-sm-5 cell-lg-6 section-lg-30 offset-top-18 offset-lg-top-0 section-svg section-svg-inverse">
                      <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block">
                        <defs>
                        <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
                          <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                          <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                        </linearGradient>
                        </defs>
                      <polyline points="0,0 60,0 29,29" fill="url(#grad3)"></polyline>
                    </svg>
                    <div>
                      <h3 class="reveal-inline-block text-bold">行動票券</h3>
                      
                    </div>
                    <div>
                      <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
                        找不到車票嗎？
這裡有一批好便宜的屏東客運票券！
                      </h6>
                      </div><a href="http://ticket.fun2tw.com/" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">線上買車票</a>
                    </div>
                  </div>
                </div>
              </div> *@

              <div class="cell-lg-12 offset-top-66 offset-lg-top-0">
                
                <div class="box-offer">
                  <div class="range range-sm-center range-condensed range-sm-middle" style="background-image: url(/images/navigation/navigation5.jpg);background-size: cover;">
                    @* <div class="cell-sm-5 cell-lg-3 cell-lg-push-1" style="z-index: 2;">
                      <img src="/images/navigation/navigation5.jpg" width="480" height="350" alt="" class="img-responsive center-block">
                    </div> *@
                    <div class="cell-sm-12 cell-lg-12 section-lg-30 offset-lg-top-0 section-svg section-svg-inverse" style="height: 500px;position: relative;">
                      <svg xmlns="https://www.w3.org/2000/svg" version="1.1" class="veil reveal-lg-inline-block" style="z-index: 3;">
                        <defs>
                        <linearGradient id="grad4" x1="0%" y1="0%" x2="100%" y2="0%">
                          <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                          <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                        </linearGradient>
                        </defs>
                      <polyline points="0,0 60,0 29,29" fill="#f4f4f4"></polyline>
                    </svg>

                    <div class="float-card">
                      <div class="float-card-inner">
                        <div>
                          <h3 id="traffic" class="reveal-inline-block text-bold" >車輛動態</h3>
                         
                        </div>
                        <div>
                          <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block" >
                            已經抵達恆春半島了嗎？
    快看動態時刻表查詢時間吧！
                          </h6>
                          </div>
                          <a href="/carmember/info9189A1" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往墾丁（不經大鵬灣）</a>
                          <a href="/carmember/info9189A2" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往左營（不經大鵬灣）</a>
                          <a href="/carmember/info918901" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往墾丁</a>
                          <a href="/carmember/info918902" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往左營</a>
                      </div>

                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>