﻿@{
    ViewBag.Title = "墾丁交通-瘋趣台灣-墾丁好行";
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、車輛動態查詢、墾丁路線規劃，車上空位查詢，墾丁交通資訊一把抓- 立即預訂車票-" />
}

<style>
  .path-tut-mobile {
    display: none;
  }
  
  .plannow {
    text-align: center;
    /*background: url(/images/plannow.png);*/
    background-color: rgba(255,255,255,.8);
    width: 100%;
    height: 209px;
    background-size: cover;
    background-position: center center;   
  }
  .content-wrapper.main-content {
    /*background-image: url(../images/navigation/navigation3.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
  @@media (max-width: 767px) {
    .path-tut-mobile {
      display: block;
    }
    
    .path-tut{
      display: none;
    }
    
  }

</style>



<div class="">
  <div class="container route-planner" style="margin-top:0;">
    @* <div style="font-size: 24px;color:#8791da;padding-top: 20px;font-weight: 200;">ROUTE PLANNER</div> *@
    <h2 class="l-h2">路線規劃</h2>
    @* <div style="color: #f3892f;padding: 20px;"> - 立刻規劃你的行程路線 -</div> *@
  </div>
  <div class="container banner">
    <img class="path-tut" src="/images/path-tut.png" alt="">
    <img class="path-tut-mobile" src="/images/path-tut-mobile.png" alt="">
  </div>
</div>
  
<div class="plannow">
  <div style="color: black;font-size: 30px;font-weight: 200;padding: 40px;">PLAN NOW</div>
  <a href="/TravelPlan/overview" class="button" style="background:#5e6bd1;padding:15px;">  立即規劃行程</a>
</div>