﻿@using Fun2twModels.Models
@model Fun2twModels.Models.CustomerLocation
@{
    ViewBag.Title = "墾丁交通-瘋趣台灣-路線規劃-儲存";
    List<TravelPlan> plans = ViewBag.travelplans;
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、車輛動態查詢、墾丁路線規劃，車上空位查詢，墾丁交通資訊一把抓- 立即預訂車票-" />
}
<style>
    
   .table tr:active{
background:#008DD8 !important;color:#fff;    }
</style>

    @using (Html.BeginForm("Save", "Navigation"))
    {
        <script>
            $(document).ready(function() {
                $("#mode").val('DRIVING');
                $(".driving").click(function() {
                    // alert($(this).attr('data-val'));
                    $("#mode").val($(this).attr('data-val'));
                });
                $('.driving').click(function(event) {
                    /* Act on the event */
                    $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
                });
                if($('.jq-content').text() != ''){
                    $('.block-container').hide();
                    $('.error .err-container').show();
                }
            });
        </script>
        <div class="error" >
            <div class="container err-container" style="display:none;height:800px" >
             <h2 class="l-title">
            <i class="fa fa-map-marker">資料錯誤</i>
          </h2>
                <p class="jq-content">@ViewBag.Message</p>
                
            <div class="text-center">
               
            
                    <input type="button" value="回上一步" class="btn btn-primary" onclick="history.back()"/>
              

            </div>
            </div>

        </div>
        
        <div class="container block-container l-white news-content">
        <h2 class="l-title">
            <i class="fa fa-map-marker"></i>主題名稱 
          </h2>
            <h3>請輸入主題名稱 ：<div class="btn-group" role="group" >
               @Html.TextBoxFor(model => model.Subject, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.Subject)
                @Html.HiddenFor(x=>x.CustomerId)
                @Html.HiddenFor(x=>x.DetailsIDs)
            </div></h3>
          
            
            
         
         
       
           
            <table class="table table-striped" id="LocalTable">
                <tr>
                    <th width="30%">
                       名稱
                    </th>
                    <th>
                       位置
                    </th>
                   @* <th>
                        @Html.DisplayNameFor(model => model.Lon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lat)
                    </th>*@
                     <th>
                       
                    </th>
                </tr>
                <tbody>


              
                @*注意這邊,要指定排序*@
                   
                @foreach (var item in plans)
                {
                    <tr>
                        <td>

                          
                          
                            @* @Html.DisplayFor(modelItem => item.Id)*@
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                       @* <td>
                            @Html.DisplayFor(modelItem => item.Lon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lat)
                        </td>*@
                       
                    </tr>
                   
                }
                </tbody>
            </table>
            
            <div class="text-center">
          
                <input type="submit" id="xSubmit" value="儲存" class="btn btn-primary"/>

            </div>
        </div>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

  

    
}
