﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ShopVideo
@{
    ViewBag.Title = @Model.Subject;
}

	

<div class="container l-white">
 <h2 class="l-titles l-titles-indent">
   @Model.Subject
  </h2>
    <div class="container" style="text-align: center">
        @Html.Raw(Model.YoutubeUrl)

    </div>
       @if (Request["Mobile"] != "true")
       {
           <div class="text-center m1">
               <input type="button" onclick="history.back();" class="btn btn-cyan" value="戻り">
           </div>
       }
<!-- <p>@Model.Memo</p> -->
</div>
	