﻿
@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.ShopVideo>
@{
    ViewBag.Title = "商人動画の紹介";
}

<div class="container jq-twoline l-white">
  <h2 class="l-h2">
    商人動画の紹介 
  </h2>
<div class="shopVideo">
    <div class="">
        <div class="">
         <ul class="l-card l-card-nogutter">
    @foreach (var item in Model) {
     <li class="col-md-3">
         <div class="l-card-main">
         <div class="l-card-image">
            <a href="/Japan/ShopVideo/Details/@item.Id">
             @if (!string.IsNullOrEmpty(item.ThumbnailUrl))
        {
            <img src="@item.ThumbnailUrl" />
        }
        else
        {
            <img src="~/upfiles/images/s@(item.UpImageUrl)" />
        }
       </a>
          </div>
          <div class="l-card-content">
              <h2>@item.Subject</h2>
          </div>
        </div>
        
          
    </li>
   
     
       
}
</ul>
        </div>
    </div>
</div>


<div class="l-pagination">
<div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
