﻿@using Fun2twModels.Models
<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title - 瘋趣台灣－墾丁好行</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="~/css/bootstrap.css">
  <link rel="stylesheet" href="~/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/css/nivo-slider.css">
  <link rel="stylesheet" href="~/css/all.css">


   <!--  <link href="../Content/layout.css"/ rel="stylesheet">
  <link href="../Content/regist.css"/ rel="stylesheet"> -->
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="../../Scripts/jquery-1.12.4.min.js"></script>
        <script src="../../Scripts/jquery.validate.min.js"></script>
        <script src="../../scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="../../scripts/bootstrap.min.js"></script>
        <script src="~/js/jquery.nivo.slider.js"></script>
        <script src="~/js/trunk8.js"></script>
        <style>
        @@media(max-width:1024px){
          .topmenu > ul > li
          {
            padding: 0 .3em;
          }
          .wrap{
          max-width:1906px;
        }
        }
        @@media(max-width:768px){

.wrap .interactive-content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}
        }
        .mobile-menu  li{
          width: 65%; 
          margin:   0 10px  15px 10px;
        }
        .mobile-menu li a{
          font-size: 24px !important;
          display: block
        }

        </style>
    <script src="../../js/all.js"></script>

        @{
            if (Request["Mobile"]=="true")
            {
                <style>
                    .header {
                        display: none;
                    }
                    .footer {
                        display: none;
                    }
                </style>
            }
           
        }
    </head>
    <body>
  
        <header>
           
        </header>
        <div id="body">
	<ul class="mobile-menu"></ul>
    <div class="wrap">
    <div class="header">
      <div class="control">
        <div class="container">
            <ul class="control-menu">
                @{
                    var navigationCount = 0;
                    if (Session["addressList"] != null)
                    {
                       var addressList = (List<Navigation>)Session["addressList"];
                        navigationCount = addressList.Count;
                    }

                   
                }
 <li><a href="/Navigation/SortLocation"><i class="fa fa-map-marker"></i>路線規劃清單(<span class="jq-num">@navigationCount</span>)</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                   
                    <li><a href="/Customer"><i class="fa fa-male"></i>會員登入</a></li>
                    <li><a href="/Customer/Register"><i class="fa fa-male"></i>註冊</a></li>
                }
                else
                {
                     <li><a href="/Navigation/MyLocaltion"><i class="fa fa-map-marker"></i>我的行程規劃</a></li>
                    <li><a href="/Customer/PortalOrder"><i class="fa fa-list-alt"></i>訂單查詢</a></li>
                    <li><a href="/Customer/UpdateMovie"><i class="fa fa-list-alt"></i>影音分享</a></li>
                    <li><i class="fa fa-male"></i><a href="/Customer/Update">修改個人資料</a></li>
                    <li><a href="/Customer/LogOff"><i class="fa fa-male"></i>登出</a></li>
                }

                <!-- <li><a href="#"><i class="fa fa-shopping-cart"></i>購物車</a></li>
                -->
            </ul>
        </div>
      </div>

<div class="offcanvas-header">
    <div class="offcanvas-icon">
      <div class="offcanvas-icon-line"></div>
      <div class="offcanvas-icon-line"></div>
      <div class="offcanvas-icon-line"></div>
    </div>
    <div class="offcanvas-logo">
      <img src="" alt="">
    </div>
  </div>
      <div class="logo-section">
      <div class="container">
         <a href="/" title="瘋趣台灣"> <div class="logo">瘋趣台灣</div></a>
          <div  class="topmenu navbar-collapse collapse">
              <ul class="nav navbar-nav ">
                 
                   <li><a class="location" href="/Navigation/overview"><i class="fa fa-bus"></i>智慧交通</a>
                     <ul class="dropdown-menu" >
                      <li><a href="/Navigation/plan ">路線規劃</a></li>
                      <li><a target="_blank" href="http://ticket.fun2tw.com/ ">車票訂購</a></li>
                      <li><a target="_blank" href="/FAQ">購票Q&A</a></li>
                    </ul>
                   </li>
                  <li>
                      <a href="/ExpertInfo" class="travel" ><i class="fa fa-child"></i>瘋趣攻略</a>
                      <ul class="dropdown-menu" >
                          <li><a href="/ExpertInfo/Plan">行程懶人包</a></li>
                          <li><a href="/TravelSchdule/index">熱門行程套票</a></li>
                          <li><a href="/TravelPlan/overview">旅遊景點推薦</a></li>
                          <li><a href="/ExpertPlan">達人樂遊攻略</a></li>
                         
                      </ul>
                  </li>
                  <li>
                    <a href="/ShopInfo/overview" class="travel" ><i class="fa fa-home"></i>食宿樂遊</a>
                  </li>
                   <li><a href="/Video" class="video"><i class="fa fa-youtube-play" aria-hidden="true"></i>影音平台</a>
                      <ul class="dropdown-menu">
                         <li><a href="/ThemeVideo">旅遊主題影片
</a></li>
                          <li><a href="/CustomerVideo">玩家分享</a></li>
                           <li><a href="/ShopVideo">店家影音介紹
</a></li>
                      </ul>
                   </li>
                  <li>
                      <a href="https://ec.fun2tw.com/" class="market" ><i class="fa fa-gift"></i>特產市集</a>
                  </li>

                  
                    <li><a href="/News" class="news"><i class="fa fa-newspaper-o" ></i>最新消息</a>
					 
					</li>
               
                  


                 <!--  <li ><a href="https://www.facebook.com/fun2tw/?skip_nax_wizard=true" target="_blank">粉絲團</a></li> -->
                  @*<li><a href="/Gmail">FB 註冊</a></li>*@
              </ul>
         
             
        
                 
        </div>
      </div>
        
         <!--  <div class="social">
            <ul>
              <li><a target="_blank" href="https://www.facebook.com/fun2tw/"><img src="~/images/icon-fb.png"  alt=""></a></li>
              <li><a href="#"><img src="~/images/icon-youtube.png" alt=""></a></li>
            </ul>
          </div> -->
          
      </div>
      
  </div>
    <div class="main">
      @RenderSection("featured", required: false)
      <section class="content-wrapper main-content clear-fix">
          @RenderBody()
      </section>
    </div>

        <div class="container contact">
            <div id="facebook" class="interactive" style="width: 30%;">
                <div class="interactive-title" style="border-bottom: 0">FOLLOWS ON<span class="maincolor">FACEBOOK</span>
</div>
                <div class="interactive-content" style="padding-top: 0">
                    <script>
                        (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.6&appId=1480894322172352";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page" data-href="https://www.facebook.com/fun2tw/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-width="300" data-height="300" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/fun2tw/"><a href="https://www.facebook.com/fun2tw/">瘋趣台灣</a></blockquote>
                        </div>
                    </div>
                    <div id="fb-root"></div>
                </div>

            </div>
            <div id="contacts" class="interactive">
                <div class="interactive-title">CONTACT</div>
                <div class="interactive-content">

                    <span class="maincolor"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mail：fun2taiwan@gmail.com</span><br>
                    <span class="maincolor"><i class="fa fa-phone" aria-hidden="true" style="font-size: 16px"></i> TEL：</span>886-8-722-1292<br>
                    <span class="maincolor"><i class="fa fa-fax" aria-hidden="true" style="font-size: 14px"></i> FAX：</span>886-8-721-5767<br>
                    <span class="maincolor"><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 18px"></i>
                    公司地址：<br></span>台灣900屏東市光復路104號 <br>
                    <span class="maincolor"><i class="fa fa-location-arrow" aria-hidden="true" style="font-size: 16px"></i>  服務據點：<br></span>
                    台灣900屏東市工業路4號

                </div>
            </div>
            <div id="sponsor" class="interactive">
                <div class="interactive-title">SPONSER</div>
                <div class="interactive-content center">
                	<a href="http://www.ptbus.com.tw/" alt="屏東客運" title="屏東客運">屏東客運</a>
                	<a href="https://www.ptbustour.com/" alt="屏東旅行社" title="屏東旅行社">屏東旅行社</a>
                	<a href="http://www.kt-bus.com/" alt="高墾線共營中心" title="高墾線共營中心">高墾線共營中心</a>
                	<a href="http://ticket.fun2tw.com/" alt="瘋趣台灣票券" title="瘋趣台灣票券">瘋趣台灣票券</a>
                </div>
                <style>
                  #sponsor a {
                    display: block;
                  }
                </style>
            </div>
            <div id="service" class="interactive" s>
                <div class="interactive-title">SERVICE</div>
                <div class="interactive-content">
                    <div class="service" style="width: 100%; text-center: center">
                        <a href="/Home/Helper">退換貨說明</a> <br>
                        <a href="/FAQ">常見問答</a> <br>
                        <a href="/ContactUS">聯絡我們</a> <br>
                        <a href="/Home/Policy">隱私權保護政策</a> <br>
                      
                    </div>

                </div>
            </div>
        </div>
        <div style="display: none">
         <iframe src="https://ec.fun2tw.com/Home/Exist"></iframe>
    </div>
<div class="footer">
  <div class="container">
    <p>
    屏東旅行社股份有限公司　<br>
    Copyright &copy; 2016 Ptbus. All rights reserved. (本網站所在地點為台灣)
    
 <br>
    代表人：楊聖民　交觀乙1199　　品保編號：屏0016 <br>
營業項目:國內團體旅遊、機票、國內訂房、自由行
    </p>
  </div>
</div>
    </div>
           
        </div>
        
        @RenderSection("scripts", required: false)
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79530719-1', 'auto');
        ga('send', 'pageview');

    </script>

    </body>

</html>
