﻿@using Fun2twModels.Models
<!DOCTYPE html>
<html lang="zh">
    <head>
        @* <title>@ViewBag.Title</title> *@
        <title>國內旅遊【瘋趣台灣-墾丁好行】屏東旅行社</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" />
        @* <meta name="theme-color" content="#00bfd8" /> *@
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        @RenderSection("description", required: false)
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @* <link rel="stylesheet" href="~/css/nivo-slider.css"> *@
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link class="changeCSS" rel="stylesheet" href="~/css/all.css?">
        <link rel="stylesheet" href="~/css/slick.css">
        <link rel="stylesheet" href="~/css/slick-theme.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        @* @Styles.Render("~/Content/css") *@
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
        <script src="/js/jquery.flexslider-min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/slick.min.js"></script>
        <script class="changeJS" src="~/js/all.js?"></script>

        @* <script src="~/js/jquery.nivo.slider.js"></script> *@
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/trunk8.js"></script>
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=200175623" type="text/javascript" charset="utf-8"></script>
        <style>
        .backHome {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        color: white;
        background: #00aff0;
        }
        @@media(max-width:1024px){
        .nav.container {
          width: 1000px;
        }
        .mobile-menu li a{
        line-height: 1.5;
        font-size: 20px;
        }
        .mobile-menu  li{
        text-align: center;
        }
        .mobile-menu  li li a{
        line-height: 1.2;
        }
        .wrap {
        overflow: hidden;
        }
        .dropdown-menu{
        width: 100%;
        text-align: center;
        }
        .topmenu > ul > li
        {
        padding: 0 .3em;
        }
        .wrap{
        max-width:1906px;
        }
        }
        @@media(max-width:768px){

        .wrap .interactive-content {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;
        }
        }

        .header-toolbar {
        /*float: left;*/
        /*display: inline-block;*/

        }

        </style>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5T6CTMD');</script>
        <!-- End Google Tag Manager -->
        <link rel="manifest" href="/manifest.json" />
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "ea343acf-7dc2-4759-8e9a-7262951f07cb",
      autoRegister: true,
      notifyButton: {
        enable: false,
      },
    });
  });
</script>
    </head>
    <body>

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T6CTMD"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

  @*  @if (Request["Mobile"] == "true") {
            <a href="###" class="backHome">回上一頁</a>
        }  *@



        <div id="body">
	<ul class="mobile-menu"></ul>
        <div class="wrap">
            @if (Request["Mobile"] != "true")
            {
    <div class="header">
        <div class="control">
            <div class="container">
                <div class="offcanvas-header">
                    <div class="offcanvas-icon">
                        <div class="offcanvas-icon-line"></div>
                        <div class="offcanvas-icon-line"></div>
                        <div class="offcanvas-icon-line"></div>
                    </div>
                    <div class="offcanvas-logo"></div>
                </div>
                <div class="logo-section">
                    <div class="container">

                        <div class="logo-center">
                            <a class="logo" href="/" title="瘋趣台灣">
                                瘋趣台灣
                            </a>
                        </div>

                    <div class="mobile-control">
                        <ul class="control-menu">
                            @{
                                var navigationCount = 0;
                                if (Session["addressList"] != null)
                                {
                                    var addressList = (List<Navigation>) Session["addressList"];
                                    navigationCount = addressList.Count;
                                }


                            }

                            @if (!User.Identity.IsAuthenticated)
                            {

                                <li><a href="/Customer"><i class="fa fa-user"></i>
                                    <div>會員登入</div>
                                </a></li>

                                <li><a href="/Navigation/SortLocation"><i class="fa fa-map-marker"></i>
                                    <span class="jq-num">@navigationCount</span>
                                    <div>路線規劃</div>
                                    </a>
                                </li>
<li><a href="/Customer/PortalOrder"><i class="fa fa-list-alt"></i>
                                <div>我的訂單</div>
                                </a></li>

                            }
                            else
                            {



                @* <li><a href="/shoppingcar/list"><i class="fa fa-shopping-cart"></i><span
                style="
                text-align: center;
                background: #ff78ad;
                color: white;
                border-radius: 15px;
                width: 20px;
                height: 20px;
                display: inline-block;"
                class="jq-num">@ShoppingCarCount</span></a></li> *@
                                <li><a href="/Navigation/SortLocation"><i class="fa fa-map-marker"></i>
                                    <span class="jq-num">@navigationCount</span>
                                    <div>路線規劃</div>
                                    </a>
                                </li>
<li><a href="/Customer/PortalOrder"><i class="fa fa-list-alt"></i>
                                <div>我的訂單</div>
                                </a></li>
                                
                                <li><a href="https://www.fun2tw.com/Customer/Update"><i class="fa fa-user"></i>
                                <div>會員資料</div>
                                </a></li>

                                <li><a href="/Customer/LogOff"><i class="fa fa-sign-out"></i>
                                <div>登出</div>
                                </a></li>

                            }
                            <li id="open_search" class="control_drop"><a href="###"><i class="fa fa-search"></i>
                                <div>站內搜尋</div>
                            </a>

                            </li>
                            <li id="open_language" class="control_drop"><a href="###"><i class="fa fa-globe"></i>
                            <div>Language</div>
                            </a>

                            </li>

                        </ul>

                        <ul class="language" style="
                        ">
                            <li><a href="/english/">English</a></li>
                            <li><a href="/japan/">日本語</a></li>
                            @* <li><i class="fa fa-times"></i></li> *@
                        </ul>

                        <div class="google_search">
                            <style>

                                .top-menu {
                                    clear: both;
                                }
                                .search {
                                    padding-top: 15px;
                                    width: 250px;
                                }

                                .gsc-control-cse {
                                    border: 0 !important;
                                    background: none !important;
                                    padding: 0 !important;
                                }
                                .gsc-input-box {
                                    height: 30px !important;
                                }
                                .gsc-search-box tr {
                                }
                                .gsc-search-box tr:nth-of-type(odd) {
                                    background: none !important;
                                }
                                .gsc-search-box .gsc-input {
                                    padding: 0 !important;
                                }
                                .gsib_a {
                                    padding: 0 !important;
                                }
                                .gsc-input {
                                    height: 30px !important;
                                    background: none !important;
                                    margin: 0 !important;
                                }
                                .gsc-search-button input {
                                    width: auto;
                                    margin: 5px 0 0 0 !important;
                                    height: 30px !important;
                                    background: #c3c3c3 !important;
                                    border: 0!important;

                                }
                                .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
                                    color: #9a9a9a;
                                }

                                .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
                                    color: #616161;
                                }
                                .gsc-search-button input:focus {
                                    outline: 0;
                                    border: 0;
                                    box-shadow: 0;
                                }
                                .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
                                    color: #0f8392;
                                }
                                .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
                                    color: #0f8392;
                                }
                                .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
                                    color: #FFC107;
                                }

                                .gsc-results .gsc-cursor-box .gsc-cursor-page {
                                    color: gray;
                                }

                                .gsib_b {
                                    display: none;
                                }

                                @@media (max-width: 1023px) {
                                    .gsc-search-box {
                                        width: 90%;
                                    }
                                    .gsc-results-wrapper-overlay {
                                        width: 100%;
                                        left: 0;
                                    }
                                }


                            </style>
                            <script>
                                (function() {
                                    var cx = '005016262049840722736:a-5jvpbl5ag';
                                    var gcse = document.createElement('script');
                                    gcse.type = 'text/javascript';
                                    gcse.async = true;
                                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(gcse, s);
                                })();
                            </script>
                            <gcse:search></gcse:search>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <style>
           .topmenu {
            position: relative;
           }
        </style>



        <div class="topmenu navbar-collapse">
            <div class="menu_arrow menu_arrow_left"><i class="fa fa-chevron-left"></i></div>
            <ul class="nav container">
                <li>
                  <a href="https://www.fun2tw.com/about">關於我們</a>
                </li>
                <li><a href="https://www.fun2tw.com/News" class="news">最新消息</a></li>
                <li><a class="location" href="https://www.fun2tw.com/Navigation/overview">墾丁快線</a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="https://ticket.fun2tw.com/m_Main.aspx ">線上預約</a></li>
                        <li><a href="https://www.fun2tw.com/Navigation/overview#timeTable">班次時刻表</a></li>
                        <li><a href="https://www.fun2tw.com/Navigation/overview#traffic">車輛動態</a></li>
                        <li><a href="https://www.fun2tw.com/FAQ?mobile=">常見問答</a></li>
                    </ul>
                </li>
                <li><a href="https://www.fun2tw.com/TravelSchdule/newindex">旅遊套票</a>
                  <ul class="dropdown-menu">
                      <li><a href="https://www.fun2tw.com/TravelSchdule/newindex">熱門行程套票</a></li>
                  </ul>

                </li>
                <li>
                    <a href="https://www.fun2tw.com/Packageticket/overview">票券專區</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://ec.fun2tw.com/home/tickets">特惠票券</a></li>
			                  <li><a href="https://www.fun2tw.com/Packageticket/index">交通套票</a></li>
                        <li><a href="https://www.fun2tw.com/coupon/">商家優惠券</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://ec.fun2tw.com/home/overview" class="market">伴手禮</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://ec.fun2tw.com/">台灣特產商城</a></li>
                        <li><a href="https://ec.fun2tw.com/home/ecpt/">瘋趣南島商城</a></li>
                        <li><a href="https://www.fun2tw.com/FAQ/Index/8?Mobile=">購物須知</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.fun2tw.com/ExpertInfo" class="travel">墾丁攻略</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.fun2tw.com/ExpertInfo/Plan">行程懶人包</a></li>
                        <li><a href="https://www.fun2tw.com/TravelPlan/overview">旅遊景點推薦</a></li>
                        <li><a href="https://www.fun2tw.com/ExpertPlan">達人樂遊攻略</a></li>
                        <li><a href="https://www.fun2tw.com/ShopInfo/overview">食宿情報資訊</a></li>
                    </ul>
                </li>
                <li><a href="https://www.fun2tw.com/Video" class="video">影音平台</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.fun2tw.com/ThemeVideo">旅遊主題影片</a></li>
                        <li><a href="https://www.fun2tw.com/CustomerVideo">玩家分享</a></li>
                        <li><a href="https://www.fun2tw.com/ShopVideo">店家影音介紹</a></li>
                        <li>
                            <a href="https://www.fun2tw.com/realtimevideo/">即時影音</a>
                        </li>
                    </ul>
                </li>

                <!-- <li ><a href="https://www.facebook.com/fun2tw/?skip_nax_wizard=true" target="_blank">粉絲團</a></li> -->
                @*<li><a href="/Gmail">FB 註冊</a></li>*@
            </ul>
           <div class="menu_arrow menu_arrow_right"> <i class="fa fa-chevron-right"></i></div>
        </div>
        </div>
            }



        <div class="main">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>




  @if (Request["Mobile"] != "true")
             {

              <div class="fat-footer">
                <div class="container">
                    <ul>
                        <li>
                            <div style="font-size: 20px;">屏東旅行社股份有限公司</div>
                            <div style="font-size: 14px;">
                                乙種旅行業 交觀乙 第1199號 <br>
                                代表人：郭子義  <br>
                                聯絡人：楊聖民 <br>
                                品保編號：屏0016號 <br>
                                營業項目：國內團體旅遊、機票、國內訂房、自由行<br>
                                電話：08-722-1299 <br>
                                傳真：08-723-7141 <br>
                                公司地址：台灣900屏東市光復路104號 <br>


                            </div>
                        </li>
                        <li>
                            <div style="font-size: 20px;">聯絡我們</div>
                            <div style="font-size: 14px;">
                                E-mail：fun2taiwan@gmail.com <br>
                               <!-- TEL：886-8-722-1292 <br> -->
                                FAX：886-8-721-5767 <br>
                                服務據點：台灣900屏東市工業路4號 <br>
                                客服專線：886-8-723-7131#253 <br> 
                                (工作時間：每週一至週五0800-1700，恕不提供電話預約服務) <br>
                            </div>
                        </li>
                        <li>
                            <div style="font-size: 20px;">相關連結</div>
                            <div style="font-size: 14px;">
                                <a href="http://www.ptbus.com.tw/" alt="屏東客運" title="屏東客運">屏東客運</a>
                                <br>
                                <a href="https://www.ptbustour.com/" alt="屏東旅行社" title="屏東旅行社">屏東旅行社</a>
                                <br>
                                <a href="http://www.kt-bus.com/" alt="高墾線共營中心" title="高墾線共營中心">高墾線共營中心</a>
                                <br>
                                <a href="https://www.facebook.com/fun2tw/?fref=ts" target="_blank">Facebook粉絲團</a>
                            </div>
                        </li>
                        <li>
                            <div style="font-size: 20px;">網站服務</div>
                            <div style="font-size: 14px;">
                                <a href="https://www.fun2tw.com/FAQ/Index/8?Mobile=">購物須知</a> <br>
                                <a href="/FAQ?mobile=@Request["mobile"]">常見問答</a> <br>
                                <a href="/ContactUS?mobile=@Request["mobile"]">聯絡我們</a> <br>
                                <a href="/Home/Policy?mobile=@Request["mobile"]">隱私權保護政策</a> <br>
				<a href="/Home/opendata?mobile=@Request["mobile"]">資料開放專區</a> <br>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>

                </div>
              </div>



                <div class="interactive-content" style="display: none;">

                    <span class="maincolor"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mail：fun2taiwan@gmail.com</span><br>
                    <span class="maincolor"><i class="fa fa-phone" aria-hidden="true" style="font-size: 16px"></i> TEL：</span>886-8-722-1292<br>
                    <span class="maincolor"><i class="fa fa-fax" aria-hidden="true" style="font-size: 14px"></i> FAX：</span>886-8-721-5767<br>
                    <span class="maincolor"><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 18px"></i>
                    </span>
                    <span class="maincolor"><i class="fa fa-location-arrow" aria-hidden="true" style="font-size: 16px"></i> </span>

                </div>

        <div style="display: none">
            <iframe src="https://ec.fun2tw.com/Home/Exist"></iframe>
        </div>

        <div class="footer">
            <div class="container">
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/tw/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/tw/88x31.png" /></a>
                    <br />
                    本著作由<a xmlns:cc="http://creativecommons.org/ns#" href="https://www.fun2tw.com/" property="cc:attributionName" rel="cc:attributionURL">
                    https://www.fun2tw.com</a>製作，以
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/tw/">創用CC 姓名標示-非商業性-相同方式分享 3.0 台灣 授權條款</a>
                    <br>
                    屏東旅行社股份有限公司 <br>
                    Copyright &copy; 2016 Ptbus. All rights reserved. (本網站所在地點為台灣)

                    <br>

                </p>
            </div>
        </div>
             }

        </div>

        </div>



        @RenderSection("scripts", required: false)
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79530719-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script>
        var mSec = 1800000;
        var visitState = $('.control-menu li:first-of-type a div').text();

        $(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                slideshowSpeed: 4000
                // directionNav: false
            });

            var appHomePage = "https://www.fun2tw.com/home/indexforapp";
            var pageHash = location.hash;
            $('.backHome').click(function(event) {
                if (pageHash === "#pageOne") {
                       location.href = appHomePage + "#pageOne";
                }
                if (pageHash === "#pageTwo") {
                       location.href = appHomePage + "#pageTwo";
                }
                if (pageHash === "#pageThree") {
                       location.href = appHomePage + "#pageThree";
                }
                if (pageHash === "#pageFour") {
                       location.href = appHomePage + "#pageFour";
                }
                if (pageHash === "#pageFive") {
                       location.href = appHomePage + "#pageFive";
                }
                if (pageHash === "") {
                       location.href = appHomePage;
                }
            });


            function logOut (){
              if (visitState != "會員登入") {
                location.href = "/Customer/LogOff";
              }
            }
            setTimeout(logOut, mSec);
        })
    </script>


    </body>

</html>
