﻿
@using Fun2twModels.Models
@using MvcPaging
@model List<Fun2twModels.Models.ThemeVideo>
@{
    ViewBag.Title = "4G影音平台";
    ThemeVideo topVideo = ViewBag.topVideo;
}
<style>
   
</style>
<div class="l-banner"  style="background: url(/images/banner-video-bg.png)" >
    <div class="container" style=" padding: 0;margin:0 AUTO; position: relative
">
        <iframe width="621px" height="341px" style="position: absolute;
            top: 32px;
            right: 10px;"  src="@topVideo.YoutubeUrl.Replace("watch?v=", "embed/")" frameborder="0" allowfullscreen></iframe>
    </div>

  <img src="/images/banner-video.png">
</div>
<div class="container l-white news-content">
    <h2 class="l-h2">
        <i class="fa fa-youtube-play" aria-hidden="true"></i> Video 
      </h2>


    <div class="">
        <div class="">
            <div class="">
                <ul class="l-card ">
    
                    @foreach (var item in Model)
                    {
                        <li class="col-md-3 col-xs-12">
                           
                        <div class="l-card-main">
                          <div class="l-card-image">
                            <a href="/ThemeVideo/Details/@item.Id" data-herf="@item.YoutubeUrl.Replace("watch?v=", "embed/")">
                                <img src="@item.UpImageUrl"/>

                                                          </a>
                          </div>
                          <div class="l-card-content">
                              <h2>@item.Subject</h2>
                           <!--  <a href="/ThemeVideo/Details/@item.Id" class="btn btn-cyan">瀏覽影片</a> -->
                          </div>
                        </div>
                        </li>
    


                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="list-none">
          <li class="col-md-6 col-xs-12 m0 p0 list-none"><a href="/ThemeVideo"><img src="/images/video-1.png" alt=""></a></li>
          <li class="col-md-6 col-xs-12 m0 p0"><a href="/CustomerVideo"><img src="/images/video-2.png" alt=""></a></li>
          <li class="col-md-6 col-xs-12 m0 p0"><a href="/RealTimeVideo"><img src="/images/video-3.png" alt=""></a></li>
          <li class="col-md-6 col-xs-12 m0 p0"><a href="/ShopVideo"><img src="/images/video-4.png" alt=""></a></li>
        </ul>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
