﻿@using Fun2twModels.Models
@model  PackageTicketOrder
@{
    ViewBag.Title = "填寫訂單資料";
    PackageTicket packageTicket = ViewBag.packageTicket;
    PackageTicketOrder packageTicketOrder = ViewBag.packageTicketOrder;
  
    
}
<style>
    table, th, td {
        border-style:
                    double;border-width: 1px;
        padding: 4px;
    }
</style>

<div class="container l-white news-content">
    <h2 class="l-titles">
       填寫訂單資料 <span> ORDER</span>
    </h2>
  @using (Html.BeginForm(null, null, FormMethod.Post))
  {
      <div>
       <input type="hidden" name="customerId" value="@ViewBag.CustomerId"/>
        <input type="hidden" name="price" value="@ViewBag.Price"/>
           
      <div class="text-center">總金額：<span style="color: red">@ViewBag.Total</span></div> 
      <h3> <div class="text-center"><span style="color: red">刷卡完成後請等待頁面顯示訂單訊息後再關閉，否則無法取得產品</span></div></h3>
            <h3 class="l-detail-title"><em>聯絡人資料</em></h3>
          <table class="table table-bordered" > 
              <tbody><tr>
                  <th width="100" class="l_2"> <span style="color: red">*</span> 中文姓名
                  </th>
                  <td class="l_2 gt2" >
                      @Html.TextBoxFor(model => model.OrderName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderName"), @class = "form-control",@autocomplete="off" })
                      @Html.ValidationMessageFor(model => model.OrderName)
                  </td>
                   
              </tr>
              <tr>    
                  <th  class="l_2">英文姓名
                  </th>
                  <td class="l_2 gt2" style="color: #000;">
                      @Html.TextBoxFor(model => model.OrderEnglishName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderEnglishName"), @class = "form-control",@autocomplete="off" })
                      @Html.ValidationMessageFor(model => model.OrderEnglishName)

                  </td>
              </tr>
              <tr>
                  <th class="l_4"> <span style="color: red">*</span> 聯絡電話
                  </th>
                  <td class="gt2">
                      @Html.TextBoxFor(model => model.OrderTelphone, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderTelphone"), @class = "form-control",@autocomplete="off" })
                      @Html.ValidationMessageFor(model => model.OrderTelphone)
                  </td>
                   
              </tr>
              <tr>
                  <th class="l_4">行動電話
                  </th>
                  <td class="gt2" style="color: #000;">
                      @Html.TextBoxFor(model => model.OrderMobile, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderMobile"), @class = "form-control",@autocomplete="off" })
                      @Html.ValidationMessageFor(model => model.OrderMobile)
                  </td> 

              </tr>
            
              <tr>    
                  <th class="l_4"> <span style="color: red">*</span> Email
                  </th>
                  <td class="gt2" style="color: #000;">
                      @Html.TextBoxFor(model => model.OrderEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderEmail"), @class = "form-control",@autocomplete="off" })
                      @Html.ValidationMessageFor(model => model.OrderEmail)
                  </td>

              </tr>
              <tr style="display: none" id="addAddress">
                  <th class="l_4">寄送代收轉付收據的地址
                  </th>
                  <td class="gt2" style="color: #000;">
                      @Html.TextBoxFor(model => model.Address, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("Address"), @class = "form-control",@autocomplete="off" })
                     <span style="color: red;display: none" id="addressMessage" >(勾選請寄送代收轉付收據此欄位為必填，請填寫正確以確保能收到)</span>

                   
                  </td> 

              </tr>
              
              <tr>
                  <th class="l_4">特別需求
                  </th>
                  <td class="gt2">
                      @Html.TextAreaFor(model => model.CustomerMemo, new { @style = "height: 150px;width: 100%", placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("CustomerMemo"), @class = "form-control",@autocomplete="off" })
                      @Html.ValidationMessageFor(model => model.CustomerMemo)

                  </td>
              </tr>

              </tbody></table>
         <input type="radio" name="checkaddress" value="請寄送代收轉付收據" id="Address" />請寄送代收轉付收據
        
          <input type="radio" name="checkaddress" value="不索取代收轉付收據(公司依法開立並保留)" id="Address" checked="checked"/>不索取代收轉付收據(公司依法開立並保留)
          
          <br />
	 <input type="checkbox" name="updatecustomer" />更新至會員資料
        </div>
          <h3 class="l-detail-title"><em>付款方式</em></h3>
        <div>

          
            @{
      int j = 0;
            }
            @foreach (var item in new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))
            {
                if (!string.IsNullOrEmpty(packageTicket.Paytypes))
                {
                    if (packageTicket.Paytypes.IndexOf(item.Text, StringComparison.Ordinal) > -1)
                    {
                        if (j == 0)
                        {
                            <input type="radio" name="PayType" value="@item.Text" id="@item.Text" checked="checked"/>
                            <label for="@item.Text">@item.Text</label>
                        }
                        else
                        {
                             <input type="radio" name="PayType" value="@item.Text" id="@item.Text"/>
                            <label for="@item.Text">@item.Text</label>
                        }
                        j++;

                    }

                }




            }


        </div>
       
        <p class="m1 text-center">
         <input type="submit" class="btn btn-primary" value="下一步" id="somemessage"/>
          </p>

    }
	
    </div>
 


@Scripts.Render("~/bundles/jqueryui")
<script src="/Scripts/ui.datepicker-zh-TW.js"></script>
@Styles.Render("~/Content/themes/base/css")
<script>
    $(document).ready(function() {
        $(".datepicker").datepicker({
            defaultDate: -7200
        });


    });

  $("input[name=checkaddress]:radio").change(function () {
        if ($('input:radio:checked[name="checkaddress"]').val() === "請寄送代收轉付收據") {
            $("#addAddress").show();
            $("#addressMessage").hide();
        } else {
            $("#Address").val("");
                $("#addAddress").hide();
        }
    });


    $("#somemessage").click(function () {
        if ($('input:radio:checked[name="checkaddress"]').val() === "請寄送代收轉付收據" && $("#Address").val() === "") {
            $("#addressMessage").show();
            $("#Address").focus();
           return false;
       }
        alert("刷卡完成後請等待頁面顯示訂單訊息後再關閉，否則無法取得產品");
    });
    


  
</script>


