﻿@using Fun2tw.Models
@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicket

@{
    ViewBag.Title = @Model.Subject;
    int i = 0;
}

<style>
	tr:nth-of-type {
		background: #CCC;

	}
    th {
        border: 0;
        padding: 15px;
    }
    td {
    	padding: 15px;
    }
    h2 em{
    		display: block;
    		padding: 15px;
			background: #f7f7f7;
			font-size: 24px;
			color: #00d1ec;
    }
    .event_title {
    	padding: 15px;
    	color: #ffbe00;
		font-size: 20px;
		font-weight: 600;
    }
    .event_content {
    	padding: 25px;

    }
    .event_content ul {
    	list-style-type: disc!important;
    }
    .event_content img {
    	/*display: none;*/
    }
</style>

<div class="container l-white news-content">
    <h2 class="l-titles l-titles-indent">
        @Model.Subject <span>熱門行程</span>
    </h2>
    <div style="background-color: red">
        <span style="color: white">@ViewBag.Message</span>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <div class="news-content">
            <div class="l-img">
                <div class="l-img-control">
                    <img src="/upfiles/images/@Model.UpImageUrl"/>
                    

                </div>
            </div>
   <div style="margin-bottom: 1em"></div>
            <h2>
                <em>行程特色</em>
            </h2>
            <div class="event_content">
                @Html.Raw(Model.FeatureArticle)
            </div>

            <h2 ><em>選擇數量</em></h2>

            <div class="event_content">
            <table class="table table-bordered" style="width: 320px">
                <thead>
                    <th>選擇數量</th>
                    <th>項目</th>
                    <th>價格</th>

                </thead>

                @if (Model.Price != 0 && Model.DiscountPrice == null)
                {
                    <td>
                        <select name="Price">
                            @for (int k = 0; k <= 4; k++)
                            {
                                <option>@k</option>
                            }

                        </select>
                    </td>
                
                    <td>
                        @Html.LabelFor(model => model.Price)
                    </td>
                    <td>
                        <span style="color: red">@Model.Price</span>
                    </td>



                }
                <tr>
                    @if (Model.DiscountPrice != null)
                    {
                        <td>
                            <select name="DiscountPrice">
                                @for (int k = 0; k <= 4; k++)
                                {
                                    <option>@k</option>
                                }

                            </select>
                        </td>
              
                        <td>
                            @Html.LabelFor(model => model.DiscountPrice)
                        </td>
                        <td>
                            <span style="color: red">@Model.DiscountPrice</span>
                        </td>


                    }

                </tr>
            </table>

            </div>



           
            @if (Model.TicketType != TicketType.不含車票) { 
            <div style="margin-bottom: 1em"></div>
            <h2>
                <em>車票種類</em>
            </h2>
            <div class="event_content">@Model.TicketType</div>
}


            <div style="margin-bottom: 1em"></div>

            <h2 ><em>活動介紹</em>
            </h2>

          <table style="border: none" width="1042">

                @foreach (ActionProduct actionProduct in Model.ActionProducts.OrderBy(x => x.InitDate))
                {

                    <ul>
                        <li>

                   			@* 活動名稱 *@
                            <div class="event_title">@actionProduct.Subject</div>

                           @* 活動內容 *@
                        
                            <div class="event_content">@Html.Raw(actionProduct.Article)</div>
                        



                    <input type="hidden" name="packageTicketOrderDetails[@i].Id" value="@actionProduct.Id" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].ActionName" value="@actionProduct.Subject" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].ActionArticle" value="@actionProduct.Article" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].ActionNameEn" value="@actionProduct.SubjectEn" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].ActionArticleEn" value="@actionProduct.ArticleEn" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].ActionNameJp" value="@actionProduct.SubjectJp" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].ActionArticleJp" value="@actionProduct.ArticleJp" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].BooleanType" value="@BooleanType.否" />
                    <input type="hidden" name="packageTicketOrderDetails[@i].SupplierId" value="@actionProduct.SupplierId" />





                    </li>

                    </ul>

                    i++;

                }
            </table>
           @*  <ul class="nav nav-tabs l-tab" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">詳細資訊</a></li>
            </ul> *@
            <h2 ><em>費用說明</em>
            </h2>
            
            <div class="event_content">@Html.Raw(Model.CastArticle)</div>

            <h2 ><em>注意事項</em>
            </h2>

            <div class="event_content">@Html.Raw(Model.NoteArticle)</div>



            <input type="hidden" name="PackageTicketIdCh" value="@Model.Subject"/>
            <input type="hidden" name="PackageTicketIdEn" value="@Model.EnSubject"/>
            <input type="hidden" name="PackageTicketIdJp" value="@Model.JpCastArticle"/>
            <input type="hidden" name="CarType" value=" @Model.TicketType"/>
         

        </div>
       
        <p class="m1 text-center">
            <input type="submit" class="btn btn-primary" value="我要訂購這個行程套票" />
        </p>

    }

</div>



@Scripts.Render("~/bundles/jqueryui")
<script src="/Scripts/ui.datepicker-zh-TW.js"></script>
@Styles.Render("~/Content/themes/base/css")
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            defaultDate: -7200
        });


    });
</script>
