﻿@using Fun2twModels.Models
@using MvcPaging
@model List<Fun2twModels.Models.PackageTicket>

@{
    ViewBag.Title = "交通套票";
}

<div class="container l-white">
    @using (Html.BeginForm())
    {
        <h2 class="l-h2">交通套票
        </h2>
    }
    <div class="">
        <div class="">
            <div class="">
                <ul class="list-ticket">
                    @foreach (var item in Model.Where(x=>x.Enable==BooleanType.是))
                    {
                        <li class="card">


                            <div class="list-ticket">
                                <div class="list-ticket-card-image" style="height: auto">
                                    <a href="/PackageTicket/Details/@item.Id">
                                        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                        {
                                            <img style="width: 100%;" src="~/upfiles/images/@(item.UpImageUrl)"/>
                                        }</a>
                                </div>


                                @if (item.DiscountPrice != null)
                                {
                                    <div class="list-ticket-card-content">
                                        <div class="list-ticket-card-text">

                                            <h2>@item.Subject</h2>

                                            <p>
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <span style="color: #8f8f8f">原價</span>

                                                <span style="text-decoration: line-through" >@item.Price</span>



                                            </p>
                                            <p>
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <span style="color: #8f8f8f">優惠價</span>

                                                <span style="color: red">@item.DiscountPrice</span>
                                            </p>

                                            <div align="center">
                                                <a class="btn btn-blue" href="/PackageTicket/Details/@item.Id">瞭解詳情</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (item.DiscountPrice == null)
                                {
                                    <div class="list-ticket-card-content">
                                        <div class="list-ticket-card-text">


                                            <h2>@item.Subject</h2>

                                            <p>
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color: #8f8f8f">原價</span>

                                            <span>@item.Price</span>
                                                
                                            <div align="center">
                                                <a class="btn btn-blue" href="/PackageTicket/Details/@item.Id">瞭解詳情</a>
                                            </div>
                                        </div>
                                    </div>
                                            
                                }








                            </div>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>


</div>
<style>
    .list-ticket-card-image {
        height: 150px;
    }

    @@media (max-width: 1024px) {
        .list-ticket .btn {
            position: relative;
            left: 0;
            bottom: 0;
        }
    }
</style>










