﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Customers
@{
    ViewBag.Title = "Order";
}
<style>
    table, th,td {
         border-style: 
         double;border-width: 1px;
        padding: 4px;
    }
</style>
<div class="container l-white news-content">
     <h2 class="l-titles">
       我的訂單 <span>ORDER</span>
    </h2>
    <h3>行程訂單</h3>
    <div>
        @if (Model.PackageTicketOrders.Count > 0)
        {
            <table CLASS="table table-bordered">
                <thead>
                <th>
                    訂購時間

                </th>
                <th>
                  套票名稱

                </th>
                <th>
                    金額
                </th>
                <th>
                    付款方式
                </th>
                <th>
                    訂單處理狀態
                </th>
                <th>
                    詳細資訊

                </th>

                </thead>
                <tbody>
                @foreach (var order in Model.PackageTicketOrders.Where(w => w.PayType == PayType.自動櫃員機ATM繳費 || (w.PayType == PayType.信用卡刷卡 && w.OrderStatus != PackageTicketOrderStatus.尚未付款)).OrderByDescending(x => x.ActityDate).Take(10))
                {
                    <tr>
                        <td>
                            @order.ActityDate
                        </td>
                        <td>
                            @order.PackageTicketIdCh
                        </td>
                        <td>
                            @order.Total
                        </td>
                        <td>
                            @order.PayType
                        </td>
                        <td>
                            @order.OrderStatus
                        </td>
                        <th>
                            <a href="/PackageTicket/PackageTicketOrderDetail/@order.Id">詳細資訊</a>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div>
                目前無任何訂單
            </div>
        }
        

    </div>
    



</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}