﻿@{
    ViewBag.Title = "OverView";
}
<style>
	.overview-block {
		width: 100%;
		height: 500px;
		padding: 20px;
	}
	.overview-block-content {
		position: relative;
		text-align: center;
		width: 100%;
		margin-right: 1%;
		height: 100%;
		float: left;
		overflow: hidden;
		background: #aecc47;

	}
	.overview-block-content a{
		display: block;
		width: 100%;
		height: 100%;
	}
	.overview-block-content-text {
		font-weight: 200;
		font-size: 4em;
		color: white;
		color: rgba(255,255,255,.8);
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);


	}
	.overview-block-content:nth-of-type(2) {
		background: #0389de;
	}
	.overview-block-content:nth-of-type(3) {
		background: #0267bc;
	}
	@@media (max-width: 1024px) {
		.overview-block-content {
			width: 100%;
			height: auto;
			padding: 20px;
		}
		.overview-block-content-text {
			font-size: 2em;
			position: relative;
			left: 0%;
			top: 0%;
			transform: translate(-0%, -0%);

		}
	}
</style>

<div class="container">
	<div class="overview-block">

		  <div class="overview-block-content">
            <a href="https://ec.fun2tw.com/home/tickets?mobile=@Request["mobile"]">
                <span class="overview-block-content-text">特惠票券</span>
            </a>
        </div>
        <div class="overview-block-content">
            <a href="https://www.fun2tw.com/Packageticket/index?mobile=@Request["mobile"]">
                <span class="overview-block-content-text">交通票券</span>
            </a>
        </div>
        <div class="overview-block-content">
            <a href="https://www.fun2tw.com/coupon?mobile=@Request["mobile"]">
                <span class="overview-block-content-text">商家優惠券</span>
            </a>
        </div>
		<div class="clear"></div>
	</div>
</div>
