﻿@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicketOrder
@{
    ViewBag.Title = "PackageTicketOrderDetail";
}

<style>
    table, th, td {
        border-style: double;
        border-width: 1px;
        padding: 4px;
    }
</style>
<div class="container l-white news-content">
    <h2 class="l-titles">
        訂單內容 <span>ORDER</span>
    </h2>
    <h3>行程訂單</h3>
    <div>
        訂購時間:@Model.ActityDate
    </div>
    <table  border="0" cellpadding="0" cellspacing="0" class="od1 table table-bordered" style="border: none;">
        <tr>
            <th class="l_4">訂單編號
            </th>
            <td class="gt2" colspan="3">
                @Model.Orderid
            </td>           
        </tr>
        <tr>
            <th class="l_4">訂單處理狀態
            </th>
            <td class="gt2">
                @Model.OrderStatus
            </td>
            <th class="l_4">付款方式
            </th>
            <td class="gt2" style="color: #000;">
                @Model.PayType
            </td>
        </tr>
        <tbody>
            <tr>
                <th width="130" class="l_2">套票名稱
                </th>
                <td colspan="3">
                    @Model.PackageTicketIdCh
                </td>

            </tr>
            <tr>
                <th width="130" class="l_2">中文姓名
                </th>
                <td class="l_2 gt2" width="180">
                    @Model.OrderName
                </td>
                <th width="130" class="l_2">英文姓名
                </th>
                <td class="l_2 gt2" style="color: #000;">
                    @Model.OrderEnglishName

                </td>
            </tr>
        <tr>
            <th class="l_4">聯絡電話
            </th>
            <td class="gt2">
                @Model.OrderTelphone
            </td>
            <th class="l_4">行動電話
            </th>
            <td class="gt2" style="color: #000;">
                @Model.OrderMobile
            </td>
        </tr>
      <tr>
                <th class="l_4">車票兌換碼
                </th>
                <td class="gt2">
                    @Model.CarCode
                </td>
                <th class="l_4">車票種類
                </th>
                <td class="gt2" style="color: #000;">
                    @Model.CarType
                </td>
            </tr>
            <tr>
                <th class="l_4">車票兌換與否
                </th>
                <td class="gt2">
                    @Model.CarUseStatus
                </td>
                <th class="l_4">Email
                </th>
                <td class="gt2" style="color: #000;">
                    @Model.OrderEmail
                </td>
            </tr>
            <tr>
                <th class="l_4">特別需求
                </th>
                <td class="gt2" colspan="3">
                    @Model.CustomerMemo

                </td>
            </tr>
            <tr>
                <th class="l_4">處理備註
                </th>
                <td class="gt2" colspan="3">
                    @Model.ProcesssMemo

                </td>
            </tr>
            @if (Model.PayType == PayType.自動櫃員機ATM繳費)
            {
                <tr>
                    <th class="l_4">匯款人姓名
                    </th>
                    <td class="gt2">
                        @Model.RemittanceName
                    </td>
                    <th class="l_4">匯款帳號後五碼
                    </th>
                    <td class="gt2" style="color: #000;">
                        @Model.RemittanceAccount
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <h3>訂單明細</h3>
    <table CLASS="table table-bordered">
        <thead>
            <th>活動名稱
            </th>
            <th>QR Code
            </th>
            <th>
               是否使用
            </th>
           <th>
              使用日期
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model.PackageTicketOrderDetail)
            {
                <tr>
                    <td>
                        @item.ActionName

                    </td>
                    <td>
                        <img src="/qrcode/@(item.ActionQRCode).png" style="width:80px;height:80px"/>
                    </td>
                    <td>
                        @item.TicketUseStatus

                    </td>
                      <td>
                       @if (item.UseDate == null)
                        {
                            <span></span>@item.UseDate
                        }
                        else
                        {
                            <span></span> @item.UseDate.GetValueOrDefault().ToString("yyyy/MM/dd")
                        }

                    </td>







                </tr>
                    
            }
        </tbody>
    </table>
  
    <div>總金額:<span style="color: red">@Model.Total</span></div>


     @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        if (Model.PayType == PayType.自動櫃員機ATM繳費 && string.IsNullOrEmpty(Model.RemittanceAccount) )
         {
             <div>
                 <span>請輸入匯款人姓名:</span>
                  @Html.TextBoxFor(model => model.RemittanceName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("RemittanceName"),@class="form-control" })

                 <span>請輸入匯款帳號後五碼:</span>
                  @Html.TextBoxFor(model => model.RemittanceAccount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("RemittanceAccount"),@class="form-control" })
                  <div class="m1">
              <input type="submit" class="btn btn-primary" value="送出"/>
                      
                  </div>
             </div>
            
        
         }

    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
