﻿@using Fun2twModels.Models
@model Fun2twModels.Models.LbsNews
@{
    ViewBag.Title = @Model.Subject;
}
<style>
	
	@@media(max-width:768px){
		.l-titles{

			line-height: 1.2;
			margin-bottom: 20px;
			margin-right: 10px;
			margin-left: 10px;
		}
	}
</style>
<div class="l-banner"  style="background: #AFBF53" >
  <img src="/images/banner-news.png">
</div>
<div class="container l-white">
  <h1 class="l-titles l-titles-indent">@Model.Subject <span>LBS</span></h1>
  <div class="news-content">
   @Html.Raw(Model.Article)
    
  </div>
  <div class="text-center m1">
    
  </div>
</div>
