﻿@using Fun2twModels.Models
@model Transaction

@{
    ViewBag.Title = "信用卡交易錯誤";
    if (!String.IsNullOrEmpty(Model.Key))
    {
        Layout = null;
    }

    TravelOrder travelorder = ViewBag.travelorder;
}

<h2 class="l-title">
    <i class="fa fa-bus"></i>信用卡付款發生錯誤
</h2>
<div>訂單編號: @Html.DisplayFor(model => model.TransactionOrderid)</div>
<div>授權回應碼: @Html.DisplayFor(model => model.Responsecode)</div>
<div>授權回應訊息: @ViewBag.Message</div>
<br />
@if (String.IsNullOrEmpty(Model.Key))
    {    
        
    <div>網路服務發生異常，請重新操作</div>     
    <br />
    <a href='@Url.Action("Contract", "TravelSchdule",  new { id = travelorder.SchduleId, selectDate = travelorder.ActityDate })'  target="_parent">回行程結帳頁面</a>  

    }else{
    
    <br />
    <a href="/" target="_parent">回首頁</a>
    <a href="GoCreditCard" target="_parent">回到付款頁面重新操作</a>
    }


