﻿@{
    ViewBag.Title = "墾丁市内バス時間表";
    Layout = null;
}
<title>墾丁市内バス時間表</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/css/switch_table.css">

<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>
<script src="/js/switch_table.js"></script>

<div style="padding: 10px;" align="center"><img src="/img/router-jp.png" alt=""></div>


<div class="timeTableBanner" style="background-color: #dbf6ff;">
	<h1 style="color:gray">墾丁市内バス時間表</h1>
	<a id="timeTableWeekdayButton" class="timeTableButton">平日時間表</a>
	<a id="timeTableHolidayButton" class="timeTableButton">休日時間表</a>
</div>
<div id="timeTableWeekday">
	<!-- 平日時刻表 -->

		<h2 style="background: #ffbd1d;color: white;">墾丁市内バス 101</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>墾丁(小湾)</th>
					</tr>
					<tr>
						<th>恆春</th>
					</tr>
					<tr>
						<th>保力</th>
					</tr>
					<tr>
						<th>海生館</th>
					</tr>
					<tr>
						<th>悠活</th>
					</tr>
					<tr>
						<th>悠活</th>
					</tr>
					<tr>
						<th>海生館</th>
					</tr>
					<tr>
						<th>保力</th>
					</tr>
					<tr>
						<th>恆春</th>
					</tr>
					<tr>
						<th>墾丁(小湾)</th>
					</tr>
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 墾丁（起） -->
						<td>08:30</td>
						<td>09:00</td>
						<td>09:30</td>
						<td>10:00</td>
						<td>10:30</td>
						<td>11:00</td>
						<td>11:30</td>
						<td>12:00</td>
						<td>12:00</td>
						<td>12:30</td>
						<td>13:00</td>
						<td>13:10</td>
						<td>13:30</td>
						<td>13:40</td>
						<td>14:00</td>
						<td>14:30</td>
						<td>15:00</td>
						<td>15:30</td>
						<td>15:30</td>
						<td>15:42</td>
						<td>15:57</td>
						<td>16:10</td>
						<td>16:40</td>
						<td>17:00</td>
						<td></td>
						<td>18:20</td>
						<td></td>
					</tr>
					<tr>
					<!-- 恆春（起） -->

						<td>08:45</td>
						<td>09:15</td>
						<td>09:45</td>
						<td>10:15</td>
						<td>10:45</td>
						<td>11:15</td>
						<td>11:45</td>
						<td>12:15</td>
						<td>12:15</td>
						<td>12:45</td>
						<td>13:15</td>
						<td>13:25</td>
						<td>13:45</td>
						<td>13:55</td>
						<td>14:15</td>
						<td>14:45</td>
						<td>15:15</td>
						<td>15:45</td>
						<td>15:45</td>
						<td>15:57</td>
						<td>16:12</td>
						<td>16:25</td>
						<td>16:55</td>
						<td>17:08</td>
						<td>17:45</td>
						<td>18:35</td>
						<td></td>
					</tr>
					<tr>
					<!-- 保力 -->

						<td>08:54</td>
						<td>09:24</td>
						<td>09:54</td>
						<td>10:24</td>
						<td>10:54</td>
						<td>11:24</td>
						<td>11:54</td>
						<td></td>
						<td>12:24</td>
						<td>12:54</td>
						<td>13:24</td>
						<td>13:34</td>
						<td>13:54</td>
						<td></td>
						<td>14:24</td>
						<td>14:54</td>
						<td>15:24</td>
						<td></td>
						<td>15:54</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>17:54</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 海生館（起） -->

						<td>08:57</td>
						<td>09:27</td>
						<td>09:57</td>
						<td>10:27</td>
						<td>10:57</td>
						<td>11:27</td>
						<td>11:57</td>
						<td></td>
						<td>12:27</td>
						<td>12:57</td>
						<td>13:27</td>
						<td>13:37</td>
						<td>13:57</td>
						<td></td>
						<td>14:27</td>
						<td>14:57</td>
						<td>15:27</td>
						<td></td>
						<td>15:57</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>17:57</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 悠活（起） -->

						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>12:05</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>16:05</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 悠活（返） -->

						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>12:20</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>16:05</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 海生館（返） -->

						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>09:30</td>
						<td></td>
						<td>10:00</td>
						<td>10:30</td>
						<td>11:00</td>
						<td>11:30</td>
						<td></td>
						<td>12:00</td>
						<td></td>
						<td>12:28</td>
						<td></td>
						<td>13:00</td>
						<td>13:30</td>
						<td></td>
						<td>14:00</td>
						<td>14:30</td>
						<td></td>
						<td>15:00</td>
						<td>15:15</td>
						<td>15:30</td>
						<td>16:13</td>
						<td></td>
						<td>18:15</td>
						
					</tr>
					<tr>
					<!-- 保力（返） -->

						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>09:33</td>
						<td></td>
						<td>10:03</td>
						<td>10:33</td>
						<td>11:03</td>
						<td>11:33</td>
						<td></td>
						<td>12:03</td>
						<td></td>
						<td>12:31</td>
						<td></td>
						<td>13:03</td>
						<td>13:33</td>
						<td></td>
						<td>14:03</td>
						<td>14:33</td>
						<td></td>
						<td>15:03</td>
						<td>15:18</td>
						<td>15:33</td>
						<td>16:16</td>
						<td></td>
						<td>18:18</td>
						
					</tr>
					<tr>
					<!-- 恆春（返） -->

						<td>07:45</td>
						<td>08:30</td>
						<td>09:10</td>
						<td>09:10</td>
						<td>09:42</td>
						<td>09:45</td>
						<td>10:12</td>
						<td>10:42</td>
						<td>11:12</td>
						<td>11:42</td>
						<td>11:45</td>
						<td>12:12</td>
						<td>12:15</td>
						<td>12:40</td>
						<td>12:45</td>
						<td>13:12</td>
						<td>13:42</td>
						<td>13:45</td>
						<td>14:12</td>
						<td>14:42</td>
						<td>14:45</td>
						<td>15:12</td>
						<td>15:27</td>
						<td>15:42</td>
						<td>16:25</td>
						<td>16:52</td>
						<td>18:27</td>
					</tr>
					<tr>
					<!-- 墾丁（返） -->

						<td>08:00</td>
						<td>08:45</td>
						<td>09:25</td>
						<td>09:25</td>
						<td></td>
						<td>10:00</td>
						<td>10:27</td>
						<td>10:57</td>
						<td>11:27</td>
						<td>11:57</td>
						<td>12:00</td>
						<td></td>
						<td>12:30</td>
						<td>12:55</td>
						<td>13:00</td>
						<td>13:27</td>
						<td>13:57</td>
						<td>14:00</td>
						<td>14:27</td>
						<td>14:57</td>
						<td>15:00</td>
						<td>15:27</td>
						<td>15:42</td>
						<td>15:57</td>
						<td>16:40</td>
						<td>17:00</td>
						<td></td>
					</tr>
				</table>
			</div>

			<div class="clear"></div>
		</div>
				<h2 style="background: #8bc34a;color: white;">墾丁市内バス 103</h2>
				<div class="timeTable">
					<div class="station">
						<table>
							<tr>
								<th>ノート</th>
							</tr>
							<tr>
								<th>恆春</th>
							</tr>
							<tr>
								<th>佳樂水</th>
							</tr>
							<tr>
								<th>佳樂水</th>
							</tr>
							<tr>
								<th>恆春</th>
							</tr>
							
						</table>
					</div>
					<div class="time">
						<table>
							<tr>
								<td>水曜日</td>
								<td>金曜日</td>
							</tr>
							<tr>
							<!-- 恆春 -->
								<td>12:25</td>
								<td>14:50</td>
							</tr>
							<tr>
							<!-- 佳樂水-->

								<td>12:50</td>
								<td>15:20</td>
								
								
							</tr>
							<tr>
							<!-- 佳樂水 -->
								<td>12:55</td>
								<td>15:20</td>
								
								
							</tr>
							<tr>
							<!-- 恆春-->
								<td>13:20</td>
								<td>15:50</td>
								
							</tr>
							
						</table>
					</div>
			<div class="clear"></div>
		</div>
		
</div>
<div id="timeTableHoliday">
	<!-- 假日時刻表 -->

		<h2 style="background: #ffbd1d;color: white;">墾丁市内バス 101(冬休み、夏休み、週末)</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>鵝鑾鼻</th>
					</tr>
					<tr>
						<th>墾丁(小湾)</th>
					</tr>
					<tr>
						<th>恆春</th>
					</tr>
					<tr>
						<th>保力</th>
					</tr>
					<tr>
						<th>海生館</th>
					</tr>
					<tr>
						<th>悠活</th>
					</tr>
					<tr>
						<th>悠活</th>
					</tr>
					<tr>
						<th>海生館</th>
					</tr>
					<tr>
						<th>保力</th>
					</tr>
					<tr>
						<th>恆春</th>
					</tr>
					<tr>
						<th>墾丁(小湾)</th>
					</tr>
					<tr>
						<th>鵝鑾鼻</th>
					</tr>
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 鵝鑾鼻（起） -->
						<td></td>
						<td>08:30</td>
						<td></td>
						<td>09:30</td>
						<td></td>
						<td>10:30</td>
						<td></td>
						<td>11:30</td>
						<td></td>
						<td>12:30</td>
						<td></td>
						<td>13:30</td>
						<td></td>
						<td>14:30</td>
						<td></td>
						<td>15:30</td>
						<td>15:30</td>
						<td></td>
						<td></td>
						<td>16:30</td>
						<td>16:30</td>
						<td></td>
						<td></td>
						<td>17:30</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 墾丁（起） -->
						<td></td>
						<td>08:35</td>
						<td>09:05</td>
						<td>09:35</td>
						<td>10:05</td>
						<td>10:35</td>
						<td>11:05</td>
						<td>11:35</td>
						<td>12:05</td>
						<td>12:35</td>
						<td>13:05</td>
						<td>13:35</td>
						<td>14:05</td>
						<td>14:35</td>
						<td>15:05</td>
						<td>15:35</td>
						<td>15:35</td>
						<td>16:05</td>
						<td>16:10</td>
						<td>16:35</td>
						<td>16:35</td>
						<td>16:45</td>
						<td>17:00</td>
						<td>17:35</td>
						<td>17:39</td>
						<td>18:09</td>
						<td>18:20</td>
					</tr>
					<tr>
					<!-- 恆春（起） -->

						<td>08:20</td>
						<td>08:55</td>
						<td>09:25</td>
						<td>09:55</td>
						<td>10:25</td>
						<td>10:55</td>
						<td>11:25</td>
						<td>11:55</td>
						<td>12:25</td>
						<td>12:55</td>
						<td>13:25</td>
						<td>13:55</td>
						<td>14:25</td>
						<td>14:55</td>
						<td>15:25</td>
						<td>15:55</td>
						<td>15:55</td>
						<td>16:25</td>
						<td>16:30</td>
						<td>16:55</td>
						<td>16:55</td>
						<td>17:05</td>
						<td>17:08</td>
						<td>17:55</td>
						<td>17:59</td>
						<td>18:29</td>
						<td>18:40</td>
					</tr>
					<tr>
					<!-- 保力 -->

						<td>08:29</td>
						<td>09:04</td>
						<td>09:34</td>
						<td>10:04</td>
						<td>10:34</td>
						<td>11:04</td>
						<td>11:34</td>
						<td>12:04</td>
						<td>12:34</td>
						<td>13:04</td>
						<td>13:34</td>
						<td>14:04</td>
						<td>14:34</td>
						<td>15:04</td>
						<td>15:34</td>
						<td></td>
						<td>16:04</td>
						<td>16:34</td>
						<td></td>
						<td></td>
						<td>17:04</td>
						<td>17:14</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 海生館（起） -->

						<td>08:32</td>
						<td>09:07</td>
						<td>09:37</td>
						<td>10:07</td>
						<td>10:37</td>
						<td>11:07</td>
						<td>11:37</td>
						<td>12:07</td>
						<td>12:37</td>
						<td>13:07</td>
						<td>13:37</td>
						<td>14:07</td>
						<td>14:37</td>
						<td>15:07</td>
						<td>15:37</td>
						<td></td>
						<td>16:07</td>
						<td>16:37</td>
						<td></td>
						<td></td>
						<td>17:07</td>
						<td>17:17</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 悠活（起） -->

						<td>08:40</td>
						<td>09:15</td>
						<td></td>
						<td>10:15</td>
						<td></td>
						<td>11:15</td>
						<td></td>
						<td>12:15</td>
						<td></td>
						<td>13:15</td>
						<td></td>
						<td>14:15</td>
						<td></td>
						<td>15:15</td>
						<td></td>
						<td></td>
						<td>16:15</td>
						<td></td>
						<td></td>
						<td></td>
						<td>17:15</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 悠活（返） -->

						<td></td>
						<td></td>
						<td></td>
						<td>08:50</td>
						<td></td>
						<td></td>
						<td>09:35</td>
						<td></td>
						<td>10:35</td>
						<td></td>
						<td>11:35</td>
						<td></td>
						<td>12:35</td>
						<td></td>
						<td>13:35</td>
						<td></td>
						<td>14:35</td>
						<td></td>
						<td></td>
						<td>15:35</td>
						<td></td>
						<td>16:35</td>
						<td></td>
						<td></td>
						<td></td>
						<td>18:00</td>
						<td></td>
					</tr>
					<tr>
					<!-- 海生館（返） -->

						<td></td>
						<td></td>
						<td></td>
						<td>08:58</td>
						<td></td>
						<td></td>
						<td>09:43</td>
						<td>10:05</td>
						<td>10:43</td>
						<td>11:05</td>
						<td>11:43</td>
						<td>12:05</td>
						<td>12:43</td>
						<td>13:05</td>
						<td>13:43</td>
						<td>14:05</td>
						<td>14:43</td>
						<td>15:05</td>
						<td></td>
						<td>15:43</td>
						<td>16:05</td>
						<td>16:43</td>
						<td></td>
						<td>17:05</td>
						<td>17:35</td>
						<td>18:08</td>
						<td></td>
						
					</tr>
					<tr>
					<!-- 保力（返） -->

						<td></td>
						<td></td>
						<td></td>
						<td>09:03</td>
						<td></td>
						<td></td>
						<td>09:48</td>
						<td>10:10</td>
						<td>10:48</td>
						<td>11:10</td>
						<td>11:48</td>
						<td>12:10</td>
						<td>12:48</td>
						<td>13:10</td>
						<td>13:48</td>
						<td>14:10</td>
						<td>14:48</td>
						<td>15:10</td>
						<td></td>
						<td>15:48</td>
						<td>16:10</td>
						<td>16:48</td>
						<td></td>
						<td>17:10</td>
						<td>17:40</td>
						<td>18:13</td>
						<td></td>
						
					</tr>
					<tr>
					<!-- 恆春（返） -->

						<td>07:45</td>
						<td>08:40</td>
						<td>08:50</td>
						<td>09:12</td>
						<td>09:10</td>
						<td>09:35</td>
						<td>09:57</td>
						<td>10:19</td>
						<td>10:57</td>
						<td>11:19</td>
						<td>11:57</td>
						<td>12:19</td>
						<td>12:57</td>
						<td>13:19</td>
						<td>13:57</td>
						<td>14:19</td>
						<td>14:57</td>
						<td>15:19</td>
						<td>15:30</td>
						<td>15:57</td>
						<td>16:19</td>
						<td>16:57</td>
						<td>16:52</td>
						<td>17:19</td>
						<td>17:49</td>
						<td>18:22</td>
						<td></td>
					</tr>
					<tr>
					<!-- 墾丁（返） -->

						<td>08:05</td>
						<td>09:00</td>
						<td>09:10</td>
						<td>09:32</td>
						<td>09:30</td>
						<td>09:55</td>
						<td>10:17</td>
						<td>10:39</td>
						<td>11:17</td>
						<td>11:39</td>
						<td>12:17</td>
						<td>12:39</td>
						<td>13:17</td>
						<td>13:39</td>
						<td>14:17</td>
						<td>14:39</td>
						<td>15:17</td>
						<td>15:39</td>
						<td>15:50</td>
						<td>16:17</td>
						<td>16:39</td>
						<td>17:17</td>
						<td>17:00</td>
						<td>17:39</td>
						<td>18:09</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 鵝鑾鼻（返） -->
						<td>08:10</td>
						<td></td>
						<td>09:15</td>
						<td>09:42</td>
						<td></td>
						<td></td>
						<td>10:27</td>
						<td></td>
						<td>11:27</td>
						<td></td>
						<td>12:27</td>
						<td></td>
						<td>13:27</td>
						<td></td>
						<td>14:27</td>
						<td></td>
						<td>15:27</td>
						<td></td>
						<td>15:55</td>
						<td>16:27</td>
						<td></td>
						<td>17:27</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>

			<div class="clear"></div>
		</div>

			<h2 style="background: #8bc34a;color: white;">墾丁市内バス 103</h2>
			<div class="timeTable">
				<div class="station">
					<table>
						<tr>
							<th>恆春</th>
						</tr>
						<tr>
							<th>佳樂水</th>
						</tr>
						<tr>
							<th>佳樂水</th>
						</tr>
						<tr>
							<th>恆春</th>
						</tr>
						
					</table>
				</div>
				<div class="time">
					<table>
						<tr>
							<td>09:30</td>
							<td>13:30</td>
							<td>15:30</td>
						</tr>
						<tr>
							<td>09:55</td>
							<td>13:55</td>
							<td>15:55</td>
						</tr>
						<tr>
							<td>10:00</td>
							<td>14:00</td>
							<td>16:00</td>
						</tr>
						<tr>
							<td>10:25</td>
							<td>14:25</td>
							<td>16:25</td>
						</tr>
					</table>
				</div>
		<div class="clear"></div>
	</div>
		
</div>
	


	<h2 style="background: #49c4f7;color: white;">墾丁市内バス 102</h2>
	<div class="timeTable">
		<div class="station">
			<table>
				<tr>
					<th>恆春</th>
				</tr>
				<tr>
					<th>墾丁(小湾)</th>
				</tr>
				<tr>
					<th>墾丁(小湾)</th>
				</tr>
				<tr>
					<th>恆春</th>
				</tr>
				
			</table>
		</div>
		<div class="time">
			<table>
				<tr>
				<!-- 恆春 -->

					<td>09:00</td>
					<td>09:30</td>
					<td>10:00</td>
					<td>10:30</td>
					<td>11:00</td>
					<td>11:30</td>
					<td>12:00</td>
					<td>12:30</td>
					<td>13:00</td>
					<td>13:30</td>
					<td>14:00</td>
					<td>14:30</td>
					<td>15:00</td>
					<td>15:30</td>
					<td>16:00</td>
					<td>16:40</td>
					<td>17:40</td>
					
				</tr>
				<tr>
				<!-- 墾丁-->

					<td>09:40</td>
					<td>10:10</td>
					<td>10:40</td>
					<td>11:10</td>
					<td>11:40</td>
					<td>12:10</td>
					<td>12:40</td>
					<td>13:10</td>
					<td>13:40</td>
					<td>14:10</td>
					<td>14:40</td>
					<td>15:10</td>
					<td>15:40</td>
					<td>16:10</td>
					<td>16:40</td>
					<td>17:20</td>
					<td>18:20</td>
					
				</tr>
				<tr>
				<!-- 墾丁 -->
					<td>09:30</td>
					<td>10:00</td>
					<td>10:30</td>
					<td>11:00</td>
					<td>11:30</td>
					<td>12:00</td>
					<td>12:30</td>
					<td>13:00</td>
					<td>13:30</td>
					<td>14:00</td>
					<td>14:30</td>
					<td>15:00</td>
					<td>15:30</td>
					<td>16:00</td>
					<td>16:50</td>
					<td>17:30</td>
					
				</tr>
				<tr>
				<!-- 恆春-->

					<td>10:10</td>
					<td>10:40</td>
					<td>11:10</td>
					<td>11:40</td>
					<td>12:10</td>
					<td>12:40</td>
					<td>13:10</td>
					<td>13:40</td>
					<td>14:10</td>
					<td>14:40</td>
					<td>15:10</td>
					<td>15:40</td>
					<td>16:10</td>
					<td>16:40</td>
					<td>17:30</td>
					<td>18:10</td>
					
				</tr>
				
			</table>
		</div>

		<div class="clear"></div>
	</div>

	<h2 style="background: #ffef61;color: #009dff;">墾丁市内バス 201
	<br>
	 @* <span style="color:#ff768e;">DRTS:前一天預約  TEL:08-8891464 (時刻顯示為紅色）</span>  *@
	</h2>
	<div class="timeTable">
		<div class="station">
			<table>
				
				<tr>
					<th>恆春</th>
				</tr>
				@* <tr>
					<th>海生館</th>
				</tr> *@
				<tr>
					<th>海生館転送ステーション</th>
				</tr>
				<tr>
					<th>車城</th>
				</tr>
				<tr>
					<th>四重溪</th>
				</tr>
				<tr>
					<th>四重溪</th>
				</tr>
				<tr>
					<th>車城</th>
				</tr>
				<tr>
					<th>海生館転送ステーション</th>
				</tr>
				@* <tr>
					<th>海生館</th>
				</tr> *@
				<tr>
					<th>恆春</th>
				</tr>
				
				
			</table>
		</div>
		<div class="time">
			<table>
				<tr>
				<!-- 恆春 -->

					<td>09:45</td>
					<td >12:30</td>
					<td>14:00</td>
					<td>16:00</td>
					<td>17:30</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					
				</tr>
				<!-- 海生館-->

					@* 
				<tr>

					<td>10:00</td>
					<td >11:00</td>
					<td>12:00</td>
					<td></td>
					<td>12:40</td>
					<td >13:00</td>
					<td>13:10</td>
					<td>13:40</td>
					<td >14:00</td>
					<td>14:10</td>
					<td>14:40</td>
					<td>15:10</td>
					<td>15:30</td>
					<td>16:10</td>
					<td >16:30</td>
					<td>17:30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td> 

				</tr>

					*@
					
				<tr>
				<!-- 海生館轉乘站 -->

					<td>9:55</td>
					<td >12:40</td>
					<td>14:10</td>
					<td>16:10</td>
					<td>17:40</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					
					
				</tr>
				<tr>
				<!-- 車城-->

					<td>9:58</td>
					<td >12:43</td>
					<td>14:13</td>
					<td>16:13</td>
					<td>17:43</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

					
					
				</tr>

				<tr>
				<!-- 四重溪-->

					<td>10:05</td>
					<td >12:50</td>
					<td>14:20</td>
					<td>16:20</td>
					<td>17:50</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

					
					
				</tr>

				<tr>
				<!-- 四重溪-->

					<td>10:10</td>
					<td >13:00</td>
					<td>14:30</td>
					<td>16:30</td>
					<td>18:00</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

					
					
				</tr>

				<tr>
				<!-- 車城-->
					<td>10:17</td>
					<td >13:07</td>
					<td>14:37</td>
					<td>16:37</td>
					<td>18:07</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<tr>
				<!-- 海生館轉乘站-->
					<td>10:20</td>
					<td >13:10</td>
					<td>14:40</td>
					<td>16:40</td>
					<td>18:10</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<!-- 海生館-->

				@* <tr>
					<td>10:48</td>
					<td >11:48</td>
					<td>12:48</td>
					<td>12:28</td>
					<td>12:58</td>
					<td >13:38</td>
					<td>13:28</td>
					<td>13:58</td>
					<td >14:38</td>
					<td>14:28</td>
					<td>14:58</td>
					<td>15:18</td>
					<td>16:08</td>
					<td>16:18</td>
					<td >17:08</td>
					<td>16:40</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr> *@

				<tr>
				<!-- 恆春-->
					<td>10:30</td>
					<td >13:20</td>
					<td>14:50</td>
					<td>16:50</td>
					<td>18:20</td>
					<td ></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				
			</table>
		</div>

		<div class="clear"></div>
	</div>

	

