﻿@using Fun2twModels.Models
@{
   
    ViewBag.Title = "瘋趣台灣－墾丁好行";
}

<div class="l-banner" style="background: url(/images/banner-location-bg.png)">
  <img src="/images/banner-location.png">
</div>

<div class="container l-white  locations">
  <h3 class="l-h2"><i class="fa fa-bus" aria-hidden="true"></i> 交通経路</h3>
   <h1>ファントゥタイワンで恒春半島完全攻略！</h1>
    <div class="locations-map">
      <div class="locations-setp locations-setp-1">
        <h2>恒春半島へ観光しましょうか？</h2>
        <p>情報満載の攻略アプリはここで！</p>
        <!-- <p><a href="https://play.google.com/store/apps/details?id=tw.com.madhatter.fun2tw"><img src="/images/icon-google.png" width="100" alt=""></a></p> -->
        <p><a class="btn btn-primary" href="https://www.fun2tw.com/fun2tw.apk">ダウンロード </a></p>
      </div>
      <div class="locations-setp locations-setp-2">
       <h2>ルートプランナー</h2>
        <p>行きたい観光スポットを選んで、カスタムロードマップを得る。</p>
        <p><a href="http://www.fun2tw.com/Navigation/plan" class="btn btn-primary">スタート</a></p>
      </div>
      <div class="locations-setp locations-setp-3">
        <h2>電子チケット</h2>
        <p>便利でお得なバス電子チケット！今はすぐ予約しましょう！</p>
</p>
        <p><a href="http://ticket.fun2tw.com/" target="_blank" class="btn btn-primary">チケット購入</a></p>
      </div>
      <div class="locations-setp locations-setp-4">
        <h2>即時バス情報</h2>
        <p>簡単に屏東バスの車両時刻を把握します。</p>
        
        <p><a onclick="alert('建置中')" class="btn btn-primary" href="#">チェック</a></p>
      </div>
      <div class="locations-setp locations-setp-5">
        <h2>予約乗車サービス</h2>
        <p>アプリでバスを予約して、スマートバス一度体験してみてください。</p>
        <p><a onclick="alert('建置中')" class="btn btn-primary" href="#">発車を待つ</a></p>

      </div>
    </div>
 
  </div>
   
