﻿@using Fun2twModels.Models
@model IEnumerable<Fun2twModels.Models.Navigation>

@{
    ViewBag.Title = "路線規劃-景點排序";
}
<style>
    
   .table tr:active{
background:#008DD8 !important;color:#fff;    }
</style>

    @using (Html.BeginForm("Result", "Navigation"))
    {
        <script>
            $(document).ready(function() {
                $("#mode").val('DRIVING');
                $(".driving").click(function() {
                    // alert($(this).attr('data-val'));
                    $("#mode").val($(this).attr('data-val'));
                });
                $('.driving').click(function(event) {
                    /* Act on the event */
                    $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
                });
                //if($('.jq-content').text() != ''){
                    //$('.block-container').hide();
                //    $('.error .err-container').show();
                //}
            });
        </script>
        @*<div class="error" >
            <div class="container err-container" style="display:none;height:800px" >
             <h2 class="l-title">
            <i class="fa fa-map-marker">資料錯誤</i>
          </h2>
                <p class="jq-content">@ViewBag.Message</p>
                
            <div class="text-center">
               
            
                    <input type="button" value="回上一步" class="btn btn-primary" onclick="history.back()"/>
              

            </div>
            </div>

        </div>*@
        
        <div class="container l-white news-content" align="center">
            <h2 class="l-title">旅ルートの計画</h2>
             
            <h3>交通手段を選びます：</h3>
            <div class="btn-group" role="group" >
              <button type="button" data-val="DRIVING" class="btn btn-default btn-primary driving"><i class="fa fa-car"></i>&nbsp;車</button>
              <button type="button" data-val="WALKING" class="btn btn-default driving"><i class="fa fa-male"></i>&nbsp;徒歩</button>
              <button type="button" data-val="TRANSIT" class="btn btn-default driving"><i class="fa fa-subway"></i>&nbsp;公共交通機関</button>
            </div>
            
            
            <p>
                <span style="color: red"><i class="fa fa-exclamation-circle"></i>&nbsp;
                注意:公共交通機関を選んで場合、出発地から到着地までの経路のみを表示します</span>
            </p>
           <input type="hidden" name="mode" id="mode" value="DRIVING"/>
        <h2 class="l-title">旅ルートの手順を定める</h2>
            <p style="color: red">二つ以上のスポットを選択してください。</p>
            <table class="table table-striped" id="LocalTable">
                <tr>
                    <th width="30%">
                        タイト
                    </th>
                    <th>
                        住所（スポット）
                    </th>
                   @* <th>
                        @Html.DisplayNameFor(model => model.Lon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lat)
                    </th>*@
                     <th>
                       
                    </th>
                </tr>
                <tbody>


                @if (Model.Count() == 0)
                {
                    <tr><td>スポットを選択していません。</td></tr>
                }

                @*注意這邊,要指定排序*@
                    @{
                        int i = 0;
                    }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                             <input type="hidden" name="travel[@i].id" value="@item.Id"/>
                            <input type="hidden" name="travel[@i].address" value="@item.Subject"/>
                            <input type="hidden" name="travel[@i].Lon" value="@item.Lon"/>
                            <input type="hidden" name="travel[@i].Lat" value="@item.Lat"/>
                             <input type="hidden" name="travel[@i].listNum" value="@i" class="position"/>
                            @* @Html.DisplayFor(modelItem => item.Id)*@
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                       @* <td>
                            @Html.DisplayFor(modelItem => item.Lon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lat)
                        </td>*@
                        <td>
                           @Html.ActionLink("キャンセル", "Remove", new { Subject=item.Subject, Mobile=@Request["Mobile"] })
                        </td>
                    </tr>
                    i++;
                }
                </tbody>
            </table>
            
            <div class="text-center">
          
                @if (Model.Count() > 1 && Model.Count() <= 10)
                {
                    <input type="submit" id="xSubmit" value="旅ルートの計画" class="btn btn-primary"/>
                }
                else
                {
                    <input type="button" value="戻る" class="btn btn-primary" onclick="history.back()"/>
                }

            </div>
        </div>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("tbody").tableDnD({
                onDragClass: "showDragHandle",
                onDrop: function (table, row) {
                    var rows = table.rows;
                    for (var i = 0; i < rows.length; i++) {
                        $(rows[i]).find(".position").val(i + 1);}
                  
                }
            });
        });
    </script>
}