﻿<%@ Page Language="C#" AutoEventWireup="true"  %>
<%@ Import Namespace="System.Globalization" %>
<%@ Import Namespace="System.Net" %>
<%@ Import Namespace="System.Security.Policy" %>
<%@ Import Namespace="System.Web.Script.Serialization" %>
<%@ Import Namespace="Fun2tw.Models" %>
<%@ Import Namespace="Newtonsoft.Json.Linq" %>
<%
        string code = Request["code"];
     if (Request["error"] != null)
     {
         Response.Redirect("/home/index");
     }
	string state =Request["state"];
	
         WebClient wc = new WebClient();
         wc.Encoding = Encoding.UTF8;
         string reply = wc.DownloadString("https://graph.facebook.com/v2.5/oauth/access_token?client_id=1006382576125514&redirect_uri=http://www.fun2tw.com/FB.aspx&client_secret=c2bb87a3ab7e960084f549ae6d5bee7d&code=" + code);
         reply = reply.Replace("{\"access_token\":\"", "");
         string[] str2 = reply.Split(',');
         string k = str2[0].Replace("\"", "");
         reply = wc.DownloadString("https://graph.facebook.com/me?fields=id,name,email&access_token=" + k);
          JObject jObject = JObject.Parse(reply);
         string id = (string)jObject["id"];
         string name = (string)jObject["name"]+"forfblogin";
         string email = (string)jObject["email"];
     %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
        <script src="/Scripts/jquery-1.12.4.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
         $("form").submit();   
        });
</script>
</head>
<body>

     <form action="/Customer/Index"  method="POST">
         <input type="hidden" name="treeValid" id="treeValid" value="<%=id%>"/>
          <input type="hidden" name="customerName" id="customerName" value="<%=name%>"/>
          <input type="hidden" name="customerEmail" id="customerEmail" value="<%=email%>"/>
           <input type="hidden" value="<%=state%>" name="ReturnUrl"/>
	
</form>
</body>
</html>
