﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<%@ Import Namespace="System.Net" %>
<%@ Import Namespace="System.Security.Policy" %>
<%@ Import Namespace="System.Web.Script.Serialization" %>
<%
  if (Request["error"] != null)
     {
         Response.Redirect("/home/index");
     }
    string code = Request["code"];
    string state = Request["state"];
    WebClient wc = new WebClient();
    wc.Encoding = Encoding.UTF8;
    NameValueCollection nc = new NameValueCollection();
    nc["code"] = code;
    nc["client_id"] = "690020895963-av5vs1orqqe51s3fpqdbbdd9v4jggfgo.apps.googleusercontent.com";
    nc["client_secret"] = "SipLFNeqeQgpd3DZJMsiAANl";
    nc["redirect_uri"] = "http://www.fun2tw.com/G.aspx";
    nc["grant_type"] = "authorization_code";
    byte[] bResult = wc.UploadValues("https://www.googleapis.com/oauth2/v4/token", nc);
    string resultXML = Encoding.UTF8.GetString(bResult);
    resultXML = resultXML.Replace("\"", "");
    resultXML = resultXML.Replace("access_token", "");
    resultXML = resultXML.Replace(":", "");
    resultXML = resultXML.Replace("{", "");
    string[] strs = resultXML.Split(',');
    resultXML = strs[0].Trim();
    resultXML = wc.DownloadString("https://www.googleapis.com/oauth2/v1/userinfo?access_token=" + resultXML);
    resultXML = resultXML.Replace("\"", "");
    resultXML = resultXML.Replace("{", "");
    resultXML = resultXML.Replace(":", "");
    resultXML = resultXML.Replace("id", "");
    resultXML = resultXML.Replace("email", "");
    resultXML = resultXML.Replace("name", "");
    string[] str = resultXML.Split(',');
    string id = str[0].Trim();
    string email = str[1].Trim();
    string name = str[3].Trim()+"forgooglelogin";
%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="/Scripts/jquery-1.12.4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("form").submit();
        });
    </script>
</head>
<body>
    <form action="/Customer/Index" method="POST">
        <input type="hidden" name="treeValid" id="treeValid" value="<%=id%>" />
        <input type="hidden" name="customerName" id="customerName" value="<%=name%>" />
        <input type="hidden" name="customerEmail" id="customerEmail" value="<%=email%>" />
        <input type="hidden" value="<%=state%>" name="ReturnUrl" />
        
    </form>
</body>
</html>
