﻿@using Fun2twModels.Models
@model Fun2twModels.Models.VoteVideo
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>瘋趣台灣影音票選活動</title>
    
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: sans-serif;
            margin: 0;
            background: url(/img/video_bg.png) no-repeat;
            position: relative;
        }

        h1 {
            font-size: 24px;
            font-family: arial;
            background: #37d1e6;
            color: white;
            font-weight: 500;
            text-align: center;
        }

        h2, h3, h4, b {
            color: #313131;
            font-weight: 500;
        }

        h2 {
            color: #37d1e6;
            text-align: center;
        }

        p {
            color: gray;
            padding-left: 20px;
            line-height: 1.5em;
        }
        span.field-validation-error {
            color: red;
        }

        .leftmenu {
            width: 25%;
            text-align: center;
            font-size: 18px;
            line-height: 2em;
        }

        ul {
            -webkit-padding-start: 0px;
            list-style-type: none;
        }

        .menu {
            margin-top: 60px;
        }

            .menu a {
                text-decoration: none;
                color: black;
            }

                .menu a:hover {
                    color: gray;
                }

        .event_detail {
            margin-top: 40px;
            padding: 10px 40px;
            overflow: scroll;
            left: 25%;
            position: absolute;
            z-index: 2;
            width: 50%;
            height: 100%;
            background: white;
            filter: alpha(opacity=70);
            background: rgba(255,255,255,.7);
        }

        .leftmenu {
            float: left;
        }

        .clear {
            clear: both;
        }

        .organizer {
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 40px;
            padding: 20px;
            /*margin-left: 50%;*/
            font-size: 16px;
            line-height: 1.8em;
        }

        .organizer_list {
        }

        .logo_png {
            margin-top: 50px;
            width: 100%;
            max-width: 350px;
        }

        .organizer_logo {
            width: 80px;
            opacity: .5;
        }

        .valign img {
            vertical-align: middle;
        }

        .valign {
            color: gray;
            /*color: white;*/
            font-size: 14px;
        }

        .organizer_list li {
            margin-bottom: 20px;
        }

        input[type=submit] {
            display: inline-block;
            margin-top: 30px;
            padding: 10px;
            color: white;
            background: gray;
            text-decoration: none;
            border: 0;
        }

        .label_group, .input_group {
            float: left;
        }

            .label_group label {
                color: gray;
            }

            .input_group input {
                height: 20px;
                border: 1px solid #37d1e6;
            }

                .input_group input:focus {
                    outline: 2px solid #37d1e6;
                }

        .label_group {
            /*text-align: right;*/
            width: 260px;
        }

        .event_detail .organizer_list {
            display: none;
        }
        .logo_right {
            display: none; 
        }
        .btn {
            padding: 10px;
            display: inline-block;
            text-decoration: none;
            color: white;
            background: gray;
            margin: 0 20px 20px 0;
        }
        @@media (max-width: 1439px) {
            .organizer {
                display: none;
            }

            .event_detail {
                margin-top: 0;
                position: relative;
                z-index: 0;
                left: 0;
                width: 75%;
                height: 1000px;
            }

                .event_detail .organizer_list {
                    display: block;
                }
        }
        @@media (max-width: 767px) {
            .event_detail {
                padding: 10px;
            }
            .logo_left {
                display: none;
            }
            .logo_right {
                text-align: center;
                display: block;
            }
            h1 {
                display: none;
            }
            
        }
    </style>
</head>
<body>
    <div class="leftmenu">
        <div class="logo_left">
            <img class="logo_png" src="/img/video_logo.png" alt="" title="">
        </div>
        <ul class="menu">
            <a id="info_btn1" class="info_btn" href="###">
                <li>活動主旨</li>
            </a>
            <a id="info_btn2" class="info_btn" href="###">
                <li>比賽辦法</li>
            </a>
            <a id="info_btn3" class="info_btn" href="###">
                <li>作品規格</li>
            </a>
            <a id="info_btn4" class="info_btn" href="###">
                <li>評選辦法</li>
            </a>
            <a id="info_btn5" class="info_btn" href="###">
                <li>活動獎項</li>
            </a>
            <a id="info_btn6" class="info_btn" href="###" >
                <li>下載專區</li>
            </a>
            <a id="update_btn" href="#">
                <li>作品繳件</li>
            </a>
            
            <a id="vote_btn" href="###"><li>票選頁面</li></a>
        </ul>
    </div>
    <div class="event_detail">
        <div id="info_page">
            <div class="logo_right">
                <img class="logo_png" src="/img/video_logo.png" alt="" title="">
            </div>
            <h1>2016 恆春半島 4G 智慧旅遊
                <br>
                影片徵選活動辦法</h1>
            <h2 id="detail01">活動主旨</h2>
            <p>恆春半島保留許多傳統人文風情，時代更迭與推移下也在此注入了許多新活力與新氣象；在現在智慧科技普及人手一機的年代，影像分享與擴散的能量足以撼動人心。邀請您透過鏡頭來分享恆春半島的故事與美麗，用您的角度詮釋專注獨特的恆春景緻。</p>
            <h2>辦理單位</h2>
            <p>
                •	主辦單位：屏東汽車客運股份有限公司
                <br>
                •	協辦單位：屏東旅行社
                <br>
                •	指導單位：經濟部工業局
            </p>
            <h2 id="detail02">比賽辦法</h2>
            <h3>報名資格 </h3>
            <p>不限國籍之愛好攝影人士均歡迎參加，每人投稿參賽作品以乙件為限，未滿20歲之參賽者須經法定代理人簽名同意並簽署著作權讓與聲明書。 </p>
            <h3>徵選主題 </h3>
            <p>配合「恆春半島４Ｇ智慧旅遊」創新服務計畫，徵選內容以能展現恆春半島美景、人文生態、特色產業、觀光旅遊運輸為主。</p>
            <br>
            <h3>活動時程 </h3>
            <p>
                •	報名與收件時間：即日起至105年12月18日23:59止。<br>
                •	網路票選階段：105年12月19日～12月31日23:59止。<br>
                •	得獎名單公佈：106年 01 月。<br>
                ※主辦單位保留調整權利，如有變更請依照活動網站最新公告資料為主。<br>
            </p>
            <h3>作品繳件方式</h3>
            <p>參賽影片請於報名時限內以將影片上傳至Youtube，於線上報名區填寫影片連結及資訊，並將紙本報名資料郵寄到屏東客運即完成報名。<br>
收件地址：900屏東市工業路4號<br>
收件人：瘋趣台灣影片活動小組收</p>

            <h2 id="detail03">作品規格</h2>
            <h3>影片名稱與內容</h3>
            <p>參賽作品名稱限10字內（含數字、符號等），內容不得以性別、種族、階級、語言、思想、宗教、黨派等為理由而出現歧視情節。</p>
            <h3>影片長度</h3>
            <p>作品長度以1分鐘為限（超過將不列入評選）。</p>
            <h3>影片語言</h3>
            <p>語言表達以國語為主，可搭配其他語言並輔以正體中文字幕。若僅以音樂、動畫、默劇或其他方式表達，請確認可清楚表達影片意涵。</p>
            <h3>影片介紹</h3>
            <p>參賽者需提供影片拍攝構想簡要說明（至少100字，不得超過600字），以闡述投稿影片內容、創意、發想等。此文字說明將由主辦單位上傳影片時，貼附於活動指定網站。</p>
            <h3>原始影片格式</h3>
            <p>影片像素至少為HD（720P） 1280（W）×720（H）Pixel Progressive以上，MKV、MP4、MOV、MPG、TS、AVI等格式不拘，但壓縮比建議以視覺清楚、無馬賽克延遲為原則。彩色或黑白影片不拘。聲音、音樂至少二聲道立體聲（Stereo）以上。</p>

            <h3>影像、音樂著作授權</h3>
            <p>所有影像及配樂需為原創作品或其他合法取得授權之影音，或選用「創用CC」授權音樂。若有涉及相關法律責任，悉由參賽團隊自行負擔法律責任，與主辦單位無關。影像拍攝之器材不拘，平板電腦、手機、相機、攝影機、電腦動畫等皆可。</p>
            <h3>指定置入素材</h3>
            <p>
                參賽影片中需含主辦單位-屏東客運企業形象(如車輛/網站/場站等)，同時需至專屬活動網頁下載屏東客運ＬＯＧＯ，並於參賽影片片尾註明「經濟部工業局4G智慧寬頻應用城市補助計畫」字樣。
            </p>
            <h2 id="detail04">評選辦法</h2>
            <h3>評分標準</h3>

            <b>•主題劇情40% </b>
            <p>參賽影片內容與本活動徵選主題契合程度，包括劇情結構畫面編排、劇情內容創意巧思、視覺意象傳達等。 </p>
            <b>•拍攝技術30% </b>
            <p>包括運鏡角度、拍攝手法。 </p>
            <b>•創意呈現30% </b>
            <p>包括原創性、剪輯手法、效果製作、音樂及音效適切性。</p>
            <h3>評選程序</h3>
            <p>截止收件後，開始進行參賽作品之評選，評審流程分為初選及決選兩階段。 </p>
            <b>•	初審（資格審查）</b>
            <p>由屏東汽車客運股份有限公司組成初審小組，不符合影片主題、長度、影音格式等參賽規定的作品，將取消參賽資格。</p>
            <b>•	決選 </b>
            <p>
                通過初審作品皆集中至專屬網頁作品區供社會大眾觀賞，並開放公眾投票(每人每日以乙票為限)。
                <br>
                活動結束將頒發獎項予得票數前3名及佳作10名。
                <br>
                最終票選結果將公布於瘋趣台灣網站(https://www.fun2tw.com)，並以電子郵件及電話方式通知得獎者。請得獎者（或代理人）親至本公司領取獎項，經通知未領獎者視同放棄資格不予遞補。
                <br>
            </p>

            <h2 id="detail05">活動獎項</h2>

            <h3>獎項說明</h3>
            <b>第一名</b>
            <p>亞曼達會館─拉巴特皇家Villa 住宿一晚(市價24,000元)</p>
            <b>第二名</b>
            <p>凱撒飯店─景觀家庭房 住宿一晚(市價12,000元) </p>
            <b>第三名</b>
            <p>福華飯店─「峇里島風」Villa 住宿一晚(市價8,400元) </p>
            <b>佳作</b>
            <p>屏東客運造型16G USB*10 (市價399元)</p>


            <p>
                註：依據中華民國所得稅法及各類扣繳率標準相關規定，凡獎價值超過新臺幣價值超過新臺幣 2萬元（含），中獎者為華民國境內居住之個人，依法課徵所得稅按給付全額扣取10%，非本國人則扣取 20% ，獲獎者並簽具領據一份，稅額將直接從獎金中扣繳 。凡得獎價值在新臺幣 5千元（含）以上時，需另繳納二代健保費用。本活動將由主辦單位開立所得稅扣繳憑給中獎者。得獎人若不願意配合，則視為自動棄權。
            </p>

            <h3>所有權聲明</h3>
            <p>
                參賽影片需為未經公開商業利用或發表之原創作品，得獎者同意將得獎作品無償授權主辦單位宣傳與非營利使用。作品經查屬抄襲或侵權者，主辦單位有權取消參賽資格並追回獎品。參賽作品若有牴觸任何有關著作權之法令，一切法律責任由參賽者承擔，主辦單位概不負責。
            </p>

            <h2 id="detail06">下載專區</h2>
            <a class="btn" href="/img/video_join.pdf" target="_blank">報名表格下載</a>
            <a class="btn" href="/img/IDB.zip">經濟部工業局LOGO下載</a>
            <a class="btn" href="/img/PTlogo.png" target="_blank">屏東客運LOGO下載</a>


            <ul class="organizer_list">
                <li>主辦單位
                    <br>
                    <img class="organizer_logo" src="/img/PT_logo.png" alt="">
                    <span class="valign">屏東汽車客運股份有限公司</span>

                </li>

                <li>協辦單位
                    <br>
                    <img class="organizer_logo" src="/img/PT_travel_logo.png" alt="">
                    <span class="valign">屏東旅行社</span>

                </li>

                <li>指導單位
                    <br>
                    <img class="organizer_logo" src="/img/idb_logo.png" alt="">
                    <span class="valign">經濟部工業局</span>

                </li>

                <li>計畫名稱
                    <br>

                    <span class="valign">4G智慧寬頻應用城市補助計畫
                        <br>
                        墾丁好行－恆春半島4G智慧旅遊創新服務計畫</span>

                </li>

            </ul>
        </div>

        <div id="update_page">
            <h3>請填寫以下資料</h3>
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @ViewBag.Message
                <table>
                    <tr>
                        <td class="label_group">
                            <label for="name">參賽者姓名：</label>
                        </td>
                        <td class="input_group">
                            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Name"),@class="form-control" })
            @Html.ValidationMessageFor(model => model.Name)

                        </td>
                    </tr>
                    <tr>
                        <td class="label_group">
                            <label for="phone">參賽者電話：</label>
                        </td>
                        <td class="input_group">
                            @Html.TextBoxFor(model => model.Tel,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Tel"),@class="form-control" })
            @Html.ValidationMessageFor(model => model.Tel)
                        </td>

                    </tr>
                    <tr>
                        <td class="label_group">
                            <label for="address">參賽者住址：</label></td>
                        <td class="input_group">
                            @Html.TextBoxFor(model => model.Address,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Address"),@class="form-control" })
            @Html.ValidationMessageFor(model => model.Address)
       
                        </td>

                    </tr>
                    <tr>
                        <td class="label_group">
                            <label for="video-name">參賽影片名稱：</label></td>
                        <td class="input_group">
                            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Subject"),@class="form-control" })
            @Html.ValidationMessageFor(model => model.Subject)
                        </td>

                    </tr>
                    <tr>

                        <td class="label_group">
                            <label for="youtube-url">參賽影片 youtube 連結網址：</label></td>
                        <td class="input_group">
                            @Html.TextBoxFor(model => model.YoutubeUrl,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("YoutubeUrl"),@class="form-control" })
                            @Html.ValidationMessageFor(model => model.YoutubeUrl)

                        </td>

                    </tr>

                </table>

                <div align="center">
                    <input type="submit" value="送出"/>
                </div>
            }


        </div>
        <style>
            #vote_page li {
                width: 48%;
                margin: 30px 1%;
                float: left;
            }
            @media (max-width: 768px){
                #vote_page li {
                width: 95%;
                margin: 30px auto;
                float: none;
            }

            }
            #vote_page  h2{
                font-size: 20px;
            }
            #vote_page p{
                color:red;
            }
        </style>

        <div id="vote_page">
            <ul>
                <li class="vote1">
                    <h2>第一組：擁抱海的半島。傾聽浪潮</h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/_X0Qdqj7wtA" frameborder="0" allowfullscreen></iframe>
                    <p>目前票數：<em></em></p>
                </li>
                <li class="vote2">
                    <h2>第二組：陽光海洋的日常</h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/1JFLY1kIeGo" frameborder="0" allowfullscreen></iframe>
                    <p>目前票數：<em></em></p>
                </li>
                <li class="vote3">
                    <h2>第三組：晴空恆春    </h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/MW7y4K7r7Tk" frameborder="0" allowfullscreen></iframe>
                    <p>目前票數：<em></em></p>
                </li>
                <li class="vote4">
                    <h2>第四組：國境之南 情人的眼淚</h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/y5ud0zYitvk" frameborder="0" allowfullscreen></iframe>
                    <p>目前票數：<em></em></p>
                </li>
                <li class="vote5">
                    <h2>第五組：美麗臺灣，魅力恆春半島</h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/JTTKYBL_jJQ" frameborder="0" allowfullscreen></iframe>
                    <p>目前票數：<em></em></p>
                </li>
                <li class="vote6">
                    <h2>第六組：觀光恆春</h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/R5tLjYl7n6Y" frameborder="0" allowfullscreen></iframe>
                    <p>目前票數：<em></em></p>
                </li>
                <li class="vote7">
                    <h2>第七組：國境以男</h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/EZdWTA7Uyc0" frameborder="0" allowfullscreen></iframe>
                    <p>目前票數：<em></em></p>
                </li>
            </ul>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeXkYU2h1dZt45vNjowrBK3_zpXcq3mBMoZngFXDrZ4PdfEfw/viewform?embedded=true" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
        </div>
        
    </div>

    <div class="organizer">
        <ul class="organizer_list">
            <li>主辦單位
                <br>
                <img class="organizer_logo" src="/img/PT_logo.png" alt="">
                <span class="valign">屏東汽車客運股份有限公司</span>

            </li>

            <li>協辦單位
                <br>
                <img class="organizer_logo" src="/img/PT_travel_logo.png" alt="">
                <span class="valign">屏東旅行社</span>

            </li>

            <li>指導單位
                <br>
                <img class="organizer_logo" src="/img/idb_logo.png" alt="">
                <span class="valign">經濟部工業局</span>

            </li>

            <li>計畫名稱
                <br>

                <span class="valign">4G智慧寬頻應用城市補助計畫
                    <br>
                    墾丁好行－恆春半島4G智慧旅遊創新服務計畫</span>

            </li>

        </ul>
    </div>
    <div class="clear"></div>
    <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
        
    </script>
    <script src="./Scripts/jquery.validate.min.js"></script>
    <script src="./Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#info_btn1").click(function (event) {
                $(".event_detail").scrollTo('#detail01', 500);
            });
            $("#info_btn2").click(function (event) {
                $(".event_detail").scrollTo('#detail02', 500);
            });
            $("#info_btn3").click(function (event) {
                $(".event_detail").scrollTo('#detail03', 500);
            });
            $("#info_btn4").click(function (event) {
                $(".event_detail").scrollTo('#detail04', 500);
            });
            $("#info_btn5").click(function (event) {
                $(".event_detail").scrollTo('#detail05', 500);
            });
            $("#info_btn6").click(function (event) {
                $(".event_detail").scrollTo('#detail06', 500);
            });

            $("#update_page,#vote_page").hide();
            $("#update_btn").click(function (event) {
                $("#update_page").show(500);
                $("#update_page").siblings().hide(500);
            });
            $("#vote_btn").click(function (event) {
                $("#vote_page").show();
                $("#vote_page").siblings().hide();
            });
            $(".info_btn").click(function (event) {
                $("#info_page").show();
                $("#info_page").siblings().hide();
            });
        });
    </script>
    <script>
            $(function(){
    var shPath = 'https://spreadsheets.google.com/feeds/list/',
    shKey = '1SBtzLRg-f7hOQC0R2U1L2Ji-LI5-KE8ZheN7rsw9R90',
    shCallback = '/public/values?alt=json-in-script&callback=?',
    shList = 'onhxvt3'
    var dataset = [0,0,0,0,0,0,0]
    $.getJSON( shPath + shKey + '/' + shList + shCallback)
    .done(function (data) {  //如果成功
      
        var entry = data.feed.entry //只取feed entry的部分
        for(i=0;entry.length>i;i++){
           var str = entry[i]['gsx$票選您喜歡的影片吧'].$t.slice(0,3)
           if(str=="第一組"){
             dataset[0]+=1;
           }
          if(str=="第二組"){
             dataset[1]+=1;
          }
          if(str=="第三組"){
             dataset[2]+=1;
          }
          if(str=="第四組"){
             dataset[3]+=1;
          }
          if(str=="第五組"){
             dataset[4]+=1;
          }
          if(str=="第六組"){
             dataset[5]+=1;
          }
          if(str=="第七組"){
             dataset[6]+=1;
          }
        }
        $('.vote1 em').text(dataset[0]);
      $('.vote2 em').text(dataset[1]);
            $('.vote3 em').text(dataset[2]);
            $('.vote4 em').text(dataset[3]);
            $('.vote5 em').text(dataset[4]);
            $('.vote6 em').text(dataset[5]);
            $('.vote7 em').text(dataset[6]);
       
        
        
    })
    
});
        </script>
</body>
</html>
