﻿<%@ Page Language="C#" AutoEventWireup="true"  %>
<%@ Import Namespace="System.Net" %>
<%@ Import Namespace="System.Web.Script.Serialization" %>
<%@ Import Namespace="Newtonsoft.Json.Linq" %>
<%@ Import Namespace="System.IO" %>
<%
    string code = Request["Code"];
	if (Request["error"] != null)
     {
         Response.Redirect("/home/index");
     }

    //取得Json資料
 
    WebClient wc = new WebClient();
  
    wc.Encoding = Encoding.UTF8;

    NameValueCollection nc = new NameValueCollection();
    nc["client_id"] = "200175623";
    nc["client_secret"] = "425ac2e9c4b020c35361d2de1a06c733";
    nc["grant_type"] = "authorization_code";
    nc["code"] = code;
    nc["redirect_uri"] = "http://www.fun2tw.com/weibo.aspx";
    
    byte[] bResult = wc.UploadValues("https://api.weibo.com/oauth2/access_token", nc);
    string resultXML = Encoding.UTF8.GetString(bResult);
	JObject jObject = JObject.Parse(resultXML);
	 string uidstr = (string)jObject["uid"];
            string access_tokenstr =(string)jObject["access_token"];
			
		      string reply = wc.DownloadString("https://api.weibo.com/2/users/show.json?access_token="+access_tokenstr+"&uid="+uidstr);
		  
		  jObject = JObject.Parse(reply);
		  

 string infostr = (string)jObject["name"];
string getinfostr="uid="+uidstr+"name="+infostr;
string email="WBUser";


     %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="/Scripts/jquery-1.12.4.min.js"></script>

    <script type="text/javascript">
   $(document).ready(function () {
         $("form").submit();   
        });
</script>
</head>
<body>
     <form action="/Customer/Index"  method="POST">
         <input type="hidden" name="treeValid" id="treeValid" value="<%=uidstr %>"/>
          <input type="hidden" name="customerName" id="customerName" value="<%= infostr %>"/>
          <input type="hidden" name="customerEmail" id="customerEmail" value="<%=email %>"/>
           <input type="hidden" value="<%= Request["ReturnUrl"] %>" name="ReturnUrl"/>
    </form>
</body>
</html>
