﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>瘋趣台灣影音票選活動</title>
	<style>
		* {
			box-sizing: border-box;
		}
		body {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-family: sans-serif;
			margin: 0;
			background: url(../img/video_bg.png) no-repeat;
			position: relative;
		}
		h1 {
			font-size: 24px;
			font-family: arial;
			background: #67d1df;
			color: white;
			font-weight: 500;
			text-align: center;
		}
		h2,h3,h4,b {
			color: #313131;
			font-weight: 500;
		}
		h2 {
			color: #67d1df;
			text-align: center;

		}
		p {
			color: gray;
			padding-left: 20px;
			line-height: 1.5em;
		}
		.leftmenu {
			width: 25%;
			text-align: center;
			font-size: 18px;
			line-height: 2em;
		}
		ul {
			-webkit-padding-start: 0px;
			list-style-type: none;
			
		}
		.menu {
			margin-top: 60px;
		}
		.menu a {
			text-decoration: none;
			color: black;
		}
		.menu a:hover {
			color: gray;
		}
		.event_detail {
			margin-top: 40px;
			padding: 10px 40px;
			overflow: scroll;
			left: 25%;
			position: absolute;
			z-index: 2;
			width: 50%;
			height: 100%;
			background: white;
			filter:alpha(opacity=70);
			background: rgba(255,255,255,.7);
		}
		.leftmenu {
			float: left;
		}
		.clear {
			clear: both;
		}
		.organizer {
			position: absolute;
			z-index: 2;
			/*bottom: 0;*/
			top: 0;
			right: 40px;
			padding: 20px;
			/*margin-left: 50%;*/
			font-size: 16px;
			line-height: 1.8em;
		}
		.organizer_list {
		}
		.logo_png {
			margin-top: 50px;
			width: 100%;
			max-width: 350px;
		}
		.organizer_logo{
			width: 80px;
			opacity: .5;
		}
		.valign img{
			vertical-align: middle;
		}
		.valign {
			color: gray;
			/*color: white;*/
			font-size: 14px;
		}
		.organizer_list li {
			margin-bottom: 20px;
		}
		
		.send_btn {
			display: inline-block;
			margin-top: 30px;
			padding: 10px;
			color: white;
			background: gray;
			text-decoration: none;
		}
		.label_group,.input_group {
			float: left;
		}
		.label_group label {
			color: gray;
		}
		
		.input_group input {
			height: 20px;
			border: 1px solid #67d1df;
		}
		.input_group input:focus {
			outline: 2px solid #67d1df;
		}
		.label_group {
			/*text-align: right;*/
			width: 260px;
		}
		.event_detail .organizer_list {
			display: none;
		}
		@@media (max-width: 1439px) {
			.organizer {
				display: none;

			}
			.event_detail {
				margin-top: 0;
				position: relative;
				z-index: 0;
				left: 0;
				width: 75%;
				height: 1000px;
			}
			.event_detail .organizer_list {
				display: block;
			}

			
		}
	</style>
</head>
<body>
	<div class="leftmenu">
		<div class="logo"><img class="logo_png" src="../img/video_logo.png" alt="" title=""></div>
		
	</div>
	<div class="event_detail">
		<h1>影片繳件成功</h1>
		<h2>您的影片已投稿成功，請點擊以下連結回到活動頁面。</h2>
		<div style="text-align: center">
		<a href="/VoteVideo" class="send_btn">回到活動頁面</a>
		</div>
	</div>
	
	<div class="organizer">
		<ul class="organizer_list">
			<li>主辦單位 <br>
				<img class="organizer_logo" src="../img/PT_logo.png" alt="">
				<span class="valign">屏東汽車客運股份有限公司</span>
				
			</li>
			
			<li>協辦單位 <br>
				<img class="organizer_logo" src="../img/PT_travel_logo.png" alt="">
				<span class="valign">屏東旅行社</span>
				
			</li>
			
			<li>指導單位 <br>
				<img class="organizer_logo" src="../img/idb_logo.png" alt="">
				<span class="valign">經濟部工業局</span>
				
			</li>
			
			<li>計畫名稱 <br>
				
				<span class="valign">4G智慧寬頻應用城市補助計畫 <br>
				墾丁好行－恆春半島4G智慧旅遊創新服務計畫</span>
				
			</li>
			
		</ul>
	</div>
	<div class="clear"></div>
	<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="js/jquery.scrollTo.min.js"></script>
  <script>

      $(document).ready(function () {
          $("#info_btn1").click(function (event) {
              $(".event_detail").scrollTo('#detail01', 500);
          });
          $("#info_btn2").click(function (event) {
              $(".event_detail").scrollTo('#detail02', 500);
          });
          $("#info_btn3").click(function (event) {
              $(".event_detail").scrollTo('#detail03', 500);
          });
          $("#info_btn4").click(function (event) {
              $(".event_detail").scrollTo('#detail04', 500);
          });
          $("#info_btn5").click(function (event) {
              $(".event_detail").scrollTo('#detail05', 500);
          });

          $("#update_page,#vote_page").hide();
          $("#update_btn").click(function (event) {
              $("#update_page").show(500);
              $("#update_page").siblings().hide(500);
          });
          $("#vote_btn").click(function (event) {
              $("#vote_page").show();
              $("#vote_page").siblings().hide();
          });
          $(".info_btn").click(function (event) {
              $("#info_page").show();
              $("#info_page").siblings().hide();
          });
      });
  </script>
</body>
</html>