﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script   src="/GameCss/js/jquery-1.12.4.min.js"   ></script>
  <script src="/GameCss/js/all.js"></script>
  <link rel="stylesheet" href="/GameCss/css/bootstrap.min.css">
  <link rel="stylesheet" href="/GameCss/css/all.css">
</head>
<body>
  <div class="wrap">
    <div class="header">
      
    </div>
    <div class="content">
      <div class="start">
        <a href="#"><img src="/GameCss/images/btn.png" alt=""></a>
      </div>
      <div class="main" style="position: relative;">
        <div class="jq-video" STYLE="position: absolute;
    right: 100px;
    top: 120px;display:none">
          <iframe width="360" height="215" src="https://www.youtube.com/embed/h4S9uYiZODg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="game">
          <h2 class="question"></h2>
          <ul class="choise">
            <li><label for="quest_1" >
            
            <input name="quest" id="quest_1" type="radio"   value="A" /><span></span></label></li>
            <li><label for="quest_2"><input name="quest" id="quest_2" type="radio"   value="B" /><span></span></label></li>
            <li><label for="quest_3"><input name="quest" id="quest_3" type="radio"   value="C" /><span></span></label></li>
          </ul>
          <div class="next center m1">
            <a href="#">
              <img src="/GameCss/images/btn-next.png" alt="下一道">
            </a>
          </div>
        </div>
        <div class="success" >
                  <div class="center m1">
                    <img src="/GameCss/images/over.png" alt="">
                  </div>
            <p>恭喜您獲得<span class="boldRed">台灣觀巴－墾丁旅遊線５０元折價券！</span></p>
             <p>Coupon Code:<span class="boldRed">@ViewBag.coupon</span></p>
            <div class="center m1">
                <a href="/GameCss/images/cupon.png" target="_blank"></a><img width="620" src="/GameCss/images/cupon.png" alt="">
            </div>

                  <h3>使用說明</h3>
        <ol>
        <li>完成遊戲後可得台灣觀巴50元coupon code。</li>

        <li>參加屏東旅行社「台灣觀巴」行程可折價50元，僅限一人使用。</li>

        <li>線上預約：請連上「<a href="http://www.fun2tw.com/TravelSchdule/index" target="_blank">瘋趣墾丁</a>」</li>

        <li>觀巴行程：「恆春半島全島旅遊線-半潛艇」、「恆春半島全島旅遊線-海生館」、「墾丁海陸體驗線」、「恆春半島西海岸線-半潛艇」、「恆春半島西海岸線-海生館」、「恆春半島東海岸線」、「古城溫泉巡禮」</li>

        <li>結帳時輸入coupon code，可享50元優惠，限量1000組，使用期限至105年12月31日</li>

        <li>此折價券限3歲以上者適用，未滿3歲者須付保險費100元，不可以50元折價券折抵。</li>
        </ol>
        <div class="center m1">
            <a href="#" class="fails"><img src="/GameCss/images/btn-again.png" alt=""></a>
            
          </div>
                </div>
        <div class="fail">
          <div class="center m1">
            <img src="/GameCss/images/over.png" alt="">
          </div>
          <p>共答對<span class="boldRed">4</span>題</p>
          <div class="center m1">
            <a href="#" class="fails"><img src="/GameCss/images/btn-again.png" alt=""></a>
            
          </div>
        </div>
        
      </div>
    </div>
    <div class="footer">
      <img src="/GameCss/images/footer.png" alt="">
    </div>
  </div>
</body>
</html>
