﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>
        <span>Your Coupon Code:</span><span style="color: red">@ViewBag.coupon</span>
    </div>
</body>
</html>
