﻿@using MvcPaging
@using Fun2tw.Helpers
@using Fun2twModels.Models
@model MvcPaging.IPagedList<Fun2twModels.Models.ExpertPlan>
@{
    ViewBag.Title = "達人旅遊攻略";
    List<ExpertInfo> expertInfos = ViewBag.ExpertInfo;
}



@* 新版 *@

<link rel="stylesheet" href="css/expert.css">
<div class="container">
    <section id="sidebar">
        <!-- Intro -->
        <section id="intro">
            <header>
                <h2>達人攻略</h2>
                <p></p>
            </header>
        </section>

        <!-- Posts List -->
        <section>
            <ul class="posts">
                @foreach (var item in expertInfos)
                {
                    <li>
                        <article>
                            <header>
                                <h3><a href="/ExpertInfo/Details/@item.Id">@item.Subject</a></h3>
                                <p>@item.Memo</p>

                                <!-- <time class="published" datetime="2015-10-20">October 20, 2015</time> -->
                            </header>
                            <a href="/ExpertInfo/Details/@item.Id" class="image">

                                @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                {
                                    <img src="/upfiles/images/@item.UpImageUrl"/>
                                }</a>
                        </article>
                    </li>
                }
            </ul>
        </section>

    </section>
    <div id="main">
        <!-- Post -->
        @foreach (var item in Model)
        {
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="/ExpertPlan/Details/@item.Id">@item.Subject</a></h2>
                        <p></p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-11-01">@(String.Format("{0:MMMM d, yyyy}", @item.InitDate))</time>
                        <a href="###" class="author"><span class="name">@(item.ExpertInfo==null? "":item.ExpertInfo.Subject)</span><img src="/upfiles/images/@(item.ExpertInfo==null? "":item.ExpertInfo.UpImageUrl)" alt=""></a>
                    </div>
                </header>
                <a href="/ExpertPlan/Details/@item.Id" class="image featured">
                    <img src="/upfiles/images/@item.UpImageUrl" alt=""></a>
                <p>@item.Memo</p>
                <footer>
                    <ul class="actions">
                        <li><a href="/ExpertPlan/Details/@item.Id" class="button big">繼續閱讀</a></li>
                    </ul>
                    <!-- <ul class="stats">
        <li><a href="#">General</a></li>
        <li><a href="#" class="icon fa-heart">28</a></li>
        <li><a href="#" class="icon fa-comment">128</a></li>
      </ul> -->
                </footer>
            </article>
        }
        <div class="l-pagination">
            <div class="pagination ">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            </div>

            <!-- <ul class="actions pagination">
    <li><a href="" class="disabled button big previous">上一頁</a></li>
    <li><a href="#" class="button big next">下一頁</a></li>
  </ul> -->
        </div>

        <div class="clear"></div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
