﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ShopInfo
@{
    ViewBag.Title = @Model.Subject;
}

@{
    String navigation = "路線規劃";
    var addressList = (List<Navigation>)Session["addressList"];
    if (addressList != null && addressList.Count > 0)
    {
        navigation += "(" + addressList.Count.ToString() + ")";
    }
}
<div class="l-banner" style="background: url(/images/banner-food-bg.png)">
  <img src="/images/banner-food.png">
</div>
<div class="container l-white" itemscope itemtype="http://schema.org/LocalBusiness">
   <h1 class="l-titles l-titles-indent">
   <a href="/ShopInfo">娯楽</a> > 
     @Model.Subject 
     <!-- <span id="notadd">此景點目前不支援路線規劃</span>
       <a class="btn btn-primary" style="cursor: pointer;" id="add" onclick="addLocation('@Model.Subject', '@Model.Address', '@Model.Lon', '@Model.Lat');">加入路線規劃清單</a> <a href="/Navigation/SortLocation?Mobile=@Request["Mobile"]" class="btn btn-cyan">路線規劃</a>-->

        <input type="button" onclick="history.back();" class="btn btn-success" value="戻り">  </h1>
    <div class="news-content">
         
        <!-- <h3 class="l-detail-title"><em>商家簡介</em></h3>
        <h2 itemprop="name">@Model.Subject </h2> -->
        <div style="margin-bottom: 10px">
            @Html.Raw(Model.IntroArticle)
            <h3 class="l-detail-title"><em>消費者情報</em>
            </h3>
            @Html.Raw(Model.InfoArticle)


        </div>
        <h3 class="l-detail-title"><em>写真</em>
        </h3>
        @foreach (var img in Model.Pictures)
        {
            <a href="~/upfiles/images/@img.UpImageUrl" target="_blank">
                <img itemprop="image" src="~/upfiles/images/@(img.UpImageUrl)" width="200"/>
            </a>

        }
        <h3 class="l-detail-title"><em>営業時間</em>
        </h3>
        <span itemprop="openingHours">@Model.OpenTime</span>

        <h3 class="l-detail-title"><em>法定休日</em>
        </h3>
        @Model.Holiday

        <h3 class="l-detail-title"><em>住所</em>
        </h3>
        <span itemprop="address">@Model.Address</span>

        <h3 class="l-detail-title"><em>フォン</em>
        </h3>
        <span itemprop="telephone">@Model.Tel</span>

        @if (Model.Parking != null)
        {
            <h3 class="l-detail-title"><em>駐車場</em>
            </h3>
            @Model.Parking.Replace(",", " ").Trim()
        }

        @if (Model.Facility != null)
        {
            <h3 class="l-detail-title"><em>フレンドリー設備</em>
            </h3>
            @Model.Facility.Replace(",", " ").Trim()
        }

        @if (Model.Language != null)
        {
            <h3 class="l-detail-title"><em>言語</em>
            </h3>
            @Model.Language.Replace(",", " ").Trim()
        }



        @if (Model.Payment != null)
        {
            <h3 class="l-detail-title"><em>消費</em>
            </h3>
            @Model.Payment.Replace(",", " ").Trim()
        }
           @if (Request["Mobile"] != "true")
           {
               <div class="text-center m1">
                   <input type="button" onclick="history.back();" class="btn btn-cyan" value="戻り">
               </div>
           }
    </div></div>

        
        <script>
            function addLocation(subject, address, lon, lat) {
                //alert("add  " + addressId + address);
                $.post('@Url.Content("~/Navigation/AddLocation")', { Subject: subject, Address: address, Lon: lon, Lat: lat })
            .done(function (data) {
                //alert(data);
                if (data === 'duplicate') {
                    alert('加入失敗!\n' + subject + ' 已經在規劃清單中。');
                } else if (data === 'over') {
                    alert('加入失敗!\n' + '路線規劃規劃最多選10個地點。');
                } else {
                    //alert($('#navigation').text());
                    $('#navigation').text('路線規劃' + '(' + data + ')');
                    $('.jq-num').text(data);
                    alert(subject + ' 加入成功!');
                }
            });

    }
</script>

<script>

    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var waypts = [];
        waypts.push({
            address: '@Model.Subject',
            lat: '@Model.Lat',
            lng: '@Model.Lon'
        });
        displayRoute('屏東火車站', '台東火車站', directionsService, waypts, '@Model.Id');
    }

    function displayRoute(origin, destination, service, waypoints) {
        var waypts = [];
        var checkboxArray = waypoints;
        for (var i = 0; i < checkboxArray.length; i++) {
            if (checkboxArray[i].lat.length > 0 && checkboxArray[i].lng.length > 0) {
                waypts.push({
                    location: new google.maps.LatLng(checkboxArray[i].lat, checkboxArray[i].lng),
                    stopover: true
                });
            } else {
                //alert(checkboxArray[i].address);
                waypts.push({
                    location: checkboxArray[i].address,
                    stopover: true
                });
            }
        }

        service.route({
            origin: origin,
            destination: destination,
            //waypoints: [{ location: waypoint }],
            waypoints: waypts,
            travelMode: google.maps.TravelMode.DRIVING,
            avoidTolls: true
        }, function (response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                //alert("OK");
                $('#add').show();
                $('#notadd').hide();
            } else {
                //alert("error");
                $('#add').hide();
                $('#notadd').show();
            }
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHNgGDd59BQqpVBV6Hza24iIgfZTEwjZA&signed_in=true&callback=initMap&region=TW" async defer></script>



