﻿@using Fun2twModels.Models
@model System.Linq.IQueryable<Fun2twModels.Models.DigitalSignage>

@{
    ViewBag.Title = "數位看板";
    Layout = null;
}

<head>
  <meta charset="UTF-8">
    <title>@ViewBag.Title </title>

<style>
    /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    img{
     
    }
  </style>
  <script language="JavaScript">

      function myrefresh() {
          window.location.reload();
      }
      setTimeout('myrefresh()', 180000);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<style type="text/css">
  a img {
    border: none;
  }
  #abgne_fade_pic {
    position: relative;

  }
  #abgne_fade_pic img{
    width: 100%;
  }
  #abgne_fade_pic a.ad {
    position: absolute; /* 讓圖片疊在一起 */
    width: 100%;
    left: 0;
  }
  #abgne_fade_pic .control {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #abgne_fade_pic .control a {
    display: inline-block;
    padding: 3px;
    margin: 0 3px;
    width: 16px;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
  }
  #abgne_fade_pic .control a.on {
    font-weight: bold;
    color: #f00;
  }
  .control{
    display: none
  }
</style>
<script type="text/javascript">
    $(function () {
        var $block = $('#abgne_fade_pic'),
          $ad = $block.find('.ad'),
          showIndex = 0,      // 預設要先顯示那一張
          fadeOutSpeed = 2000,  // 淡出的速度
          fadeInSpeed = 3000,   // 淡入的速度
          defaultZ = 10,      // 預設的 z-index
          isHover = false,
          timer, speed = 2000;  // 計時器及輪播切換的速度

        // 先把其它圖片的變成透明
        $ad.css({
            opacity: 0,
            zIndex: defaultZ - 1
        }).eq(showIndex).css({
            opacity: 1,
            zIndex: defaultZ
        });

        // 組出右下的按鈕
        var str = '';
        for (var i = 0; i < $ad.length; i++) {
            str += '<a href="#">' + (i + 1) + '</a>';
        }
        var $controlA = $('#abgne_fade_pic').append($('<div class="control">' + str + '</div>').css('zIndex', defaultZ + 1)).find('.control a');

        // 當按鈕被點選時
        // 若要變成滑鼠滑入來切換時, 可以把 click 換成 mouseover
        $controlA.click(function () {
            // 取得目前點擊的號碼
            showIndex = $(this).text() * 1 - 1;

            // 顯示相對應的區域並把其它區域變成透明
            $ad.eq(showIndex).stop().fadeTo(fadeInSpeed, 1, function () {
                if (!isHover) {
                    // 啟動計時器
                    timer = setTimeout(autoClick, speed + fadeInSpeed);
                }
            }).css('zIndex', defaultZ).siblings('a').stop().fadeTo(fadeOutSpeed, 0).css('zIndex', defaultZ - 1);
            // 讓 a 加上 .on
            $(this).addClass('on').siblings().removeClass('on');

            return false;
        }).focus(function () {
            $(this).blur();
        }).eq(showIndex).addClass('on');

        $block.hover(function () {
            isHover = true;
            // 停止計時器
            clearTimeout(timer);
        }, function () {
            isHover = false;
            // 啟動計時器
            timer = setTimeout(autoClick, speed);
        })

        // 自動點擊下一個
        function autoClick() {
            if (isHover) return;
            showIndex = (showIndex + 1) % $controlA.length;
            $controlA.eq(showIndex).click();
        }

        // 啟動計時器
        timer = setTimeout(autoClick, speed);
    });
</script>
<body style="text-align:center">
  <div>
    客運動態資訊
  </div>
  <iframe height="845" scrolling="no" width="100%" src="http://210.200.141.94/ptbus/LoginLink.aspx?par1=kd&par2=fu06w96&par3=PTbus&par4=ZH_TW&par5=480&par6=BUSSHAREINFODISPLAY&par7=&par8=0&par9=" frameborder="0"></iframe>
  <div id="abgne_fade_pic">
        @foreach (var item in Model.OrderBy(x => x.ListNum))
        {
            if (!string.IsNullOrEmpty(item.UpImageUrl))
            {
                <a href="#" class="ad"><img src="~/upfiles/images/@(item.UpImageUrl)"/></a>
            }
        }
  </div>
