﻿
@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.ShopVideo>
@{
    ViewBag.Title = "商家影音介紹";
}

<div class="container jq-twoline l-white">
  <h2 class="l-h2">
    商家影音介紹 
  </h2>
<div class="shopVideo">
    <div class="">
        <div class="">
         <ul class="l-card l-card-nogutter">
    @foreach (var item in Model) {
     <li class="col-md-4 col-sm-6 col-xs-12">
         <div class="l-card-main">
         <div class="l-card-image">
            <a href="/ShopVideo/Details/@item.Id?mobile=@Request["mobile"]">
             @if (!string.IsNullOrEmpty(item.ThumbnailUrl))
        {
            <img src="@item.ThumbnailUrl" />
        }
        else
        {
            <img src="~/upfiles/images/s@(item.UpImageUrl)" />
        }
       </a>
          </div>
          <div class="l-card-content">
              <h2>@item.Subject</h2>
          </div>
        </div>
        
          
    </li>
   
     
       
}
</ul>
        </div>
    </div>
</div>
<style>
 
.pagination a,.pagination span {
  border: 0;
  color: #bbbbbb;
}

.pagination a:hover,
.pagination a:focus,
.pagination span:hover,
.pagination span:focus,
.pagination .current {
  color: white;
  background: #68d1df;
}
@@media (max-width: 768px) {
  .l-card-image img {
    height: auto!important;
  }
}
</style>

<div class="l-pagination">
<div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
