﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelPlan
@{
    ViewBag.Title = @Model.Subject;
}

@{
    List<TravelPlan> travelPlans = (List<TravelPlan>)Session["history"];
    String navigation = "ナビゲーション";
    var addressList = (List<Navigation>)Session["addressList"];
    if (addressList != null && addressList.Count > 0)
    {
        navigation += "(" + addressList.Count.ToString() + ")";
    }
}

<div class="container l-white">
    <h2 class="l-titles" style="margin-bottom: 0;"><a href="/Japan/TravelPlan/overview">観光ガイド</a>
        @*> <a href="/Japan/TravelPlan/index/@ViewBag.townID">@Model.Town</a> *@
        > @Model.Subject
         <a class="btn btn-primary" style="cursor: pointer;" id="add" onclick="addLocation('@Model.Subject', '@Model.Street','@Model.Lon','@Model.Lat');">旅ルートの計画追加</a> 
    @Html.ActionLink(@navigation, "SortLocation", "Navigation", null, new { id = @"navigation",@class="btn btn-cyan" }) 

    <input type="button" onclick="history.back();" class="btn btn-success" value="戻り"> 


        </h2>
    <div class="flexslider">
       
        <ul id="slider" class="slides theme-default">
             @foreach (var img in Model.TravelPlanImages)
        {
            <li>
            <img src="~/upfiles/@img.Folder@img.FileName"/>
            </li>
        }
        
        </ul>
</div>
        
       <!--  <ul class="nav nav-tabs l-tab" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">景點介紹</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">其他資訊</a></li>
        </ul> -->
       
        <div class="tab-content news-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                @* <h1 class="l-titles">&nbsp;&nbsp;@Model.Subject <span id="notadd">此景點目前不支援路線規劃</span></h1> *@

   

                <div style="display: none">

                    @if (Model.TravelPlanImages.Count > 0)
                    {
                        <img src="~/upfiles/@Model.TravelPlanImages.FirstOrDefault().Folder@Model.TravelPlanImages.FirstOrDefault().FileName"/>
                    }
                </div>
                
                <div style="margin-bottom: 10px">
                    @Html.Raw(Model.Article)



                    @Model.Special

                    @if (!string.IsNullOrEmpty(@Model.TipsInfo))
                    {
                        <h3 class="l-detail-title"><em>交通情報</em>
                        </h3>
                        @Model.TrivalInfo
                    }


                    @if (!string.IsNullOrEmpty(@Model.TipsInfo))
                    {
                        <h3 class="l-detail-title"><em>勧める</em>
                        </h3>
                        @Html.Raw(Model.TipsInfo)
                    }



                    @if (!string.IsNullOrEmpty(@Model.Town))
                    {
                        <h3 class="l-detail-title"><em>場所</em>
                        </h3>
                        @Model.Town
                    }

                    @if (!string.IsNullOrEmpty(@Model.Tel))
                    {
                        <h3 class="l-detail-title"><em>フォン</em>
                        </h3>
                        @Model.Tel
                    }


                    @if (!string.IsNullOrEmpty(@Model.Fax))
                    {
                        <h3 class="l-detail-title"><em>FAX番号</em>
                        </h3>
                        @Model.Fax
                    }

                    @if (!string.IsNullOrEmpty(@Model.WebSite))
                    {
                        <h3 class="l-detail-title"><em>サイト</em>
                        </h3>
                        @Model.WebSite
                    }

                    @if (!string.IsNullOrEmpty(@Model.Email))
                    {
                        <h3 class="l-detail-title"><em>E-mail</em>
                        </h3>
                        @Model.Email
                    }

                    @if (!string.IsNullOrEmpty(@Model.Street))
                    {
                        <h3 class="l-detail-title"><em>住所</em>
                        </h3>
                        @Model.Street
                    }

                    @if (!string.IsNullOrEmpty(@Model.ServiceTime))
                    {
                        <h3 class="l-detail-title"><em>営業時間</em>
                        </h3>
                        @Model.ServiceTime
                    }

                    @if (!string.IsNullOrEmpty(@Model.ConsumerMode))
                    {
                        <h3 class="l-detail-title"><em>消費</em>
                        </h3>
                        @Model.ConsumerMode
                    }
                     <h3 class="l-detail-title"><em>履歴レコードの観光名所を閲覧</em></h3>
                    @if (travelPlans.Count > 0)
                    {
                        foreach (var item in travelPlans)
                        {
                            <p>
                                <a href="/Japan/TravelPlan/Details/@item.Id">@item.Subject</a>
                            </p>
                            
                        }

                    }
                    else
                    {
                        <span>記録なし</span>
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
               


            </div>
             <iframe title="警勤區查詢服務" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src='http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=@(Model.Subject)&z=16&output=embed&t='></iframe>
        </div>

        <div>
            
           
        </div>
    </div>
    
   @if (Request["Mobile"] != "true")
   {
       <div class="text-center m1">
           <input type="button" onclick="history.back();" class="btn btn-cyan" value="戻り">
       </div>
   }



</div>
<script>
    function addLocation(subject, address,lon,lat) {
        //alert("add  " + addressId + address);
        $.post('@Url.Content("~/Navigation/AddLocation")', { Subject: subject, Address:address,Lon:lon,Lat:lat })
            .done(function (data) {
                //alert(data);
                if (data === 'duplicate') {
                    alert('送信失敗!\n' + subject + ' 既にリストの中に。');
                } else if (data === 'over') {
                    alert('送信失敗!\n' + 'Google Mapの観光スポットナビゲーションは１０個までです。');
                } else {
                    //alert($('#navigation').text());
                    $('#navigation').text('ナビゲーション' + '(' + data + ')');
                    $('.jq-num').text(data);
                    alert(subject + ' 送信成功!');
                }
            });

    }
</script>

<script>

    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var waypts = [];
        waypts.push({
            address: '@Model.Subject',
             lat: '@Model.Lat',
             lng: '@Model.Lon'
         });
         displayRoute('屏東火車站', '台東火車站', directionsService, waypts, '@Model.Id');
     }

     function displayRoute(origin, destination, service, waypoints) {
         var waypts = [];
         var checkboxArray = waypoints;
         for (var i = 0; i < checkboxArray.length; i++) {
             if (checkboxArray[i].lat.length > 0 && checkboxArray[i].lng.length > 0) {
                 waypts.push({
                     location: new google.maps.LatLng(checkboxArray[i].lat, checkboxArray[i].lng),
                     stopover: true
                 });
             } else {
                 //alert(checkboxArray[i].address);
                 waypts.push({
                     location: checkboxArray[i].address,
                     stopover: true
                 });
             }
         }

         service.route({
             origin: origin,
             destination: destination,
             //waypoints: [{ location: waypoint }],
             waypoints: waypts,
             travelMode: google.maps.TravelMode.DRIVING,
             avoidTolls: true
         }, function (response, status) {
             if (status === google.maps.DirectionsStatus.OK) {
                 //alert("OK");
                 $('#add').show();
                 $('#notadd').hide();
             } else {
                 //alert("error");
                 $('#add').hide();
                 $('#notadd').show();
             }
         });
     }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHNgGDd59BQqpVBV6Hza24iIgfZTEwjZA&signed_in=true&callback=initMap&region=TW" async defer></script>

