﻿@using MvcPaging
@using Fun2tw.Helpers
@model IPagedList<Fun2twModels.Models.TravelPlan>
@{
    ViewBag.Title = "旅遊景點介紹";
}
<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>
<div class="container l-white ">


   @using (Html.BeginForm("index", "TravelPlan", new { page = 1 }))
   {
 <h2 class="l-titles l-titles-indent">
     <a href="/Japan/TravelPlan/overview">景點導覽</a> 
     @*> @ViewBag.URLCategory <span style="line-height:1">POPULAR ATTRACTION</span>*@ 
     
 </h2>
<div class="l-titles-form form-inline" >
       景點查詢： @Html.TextBox("SearchBySubject",null,null,new{@class="form-control"})
       <input type="submit" class="btn btn-primary" value="検索"/>

     </div>
    

    
}
<div class="">
    <div class="">
        <div class="">
            <ul class="l-card  l-card-nogutter">
    @foreach (var item in Model) {
         <li class="col-md-3 col-xs-12">
         
          


           <div class="l-card-main">
               <div class="l-card-image">
                    <a href="/Japan/TravelPlan/Details/@item.Id">
               @if (item.TravelPlanImages.Count>0)
                {
                    if (item.TravelPlanImages.FirstOrDefault().Folder == "images/")
                    {
                        <img style="height: 150px !important;" src="~/upfiles/@(item.TravelPlanImages.FirstOrDefault().Folder)s@(item.TravelPlanImages.FirstOrDefault().FileName)"/>
                    }
                    else
                    {
                         <img style="height:150px !important; " src="~/upfiles/@item.TravelPlanImages.FirstOrDefault().Folder@item.TravelPlanImages.FirstOrDefault().FileName" />
                    }
                   
                }
                   </a>
               </div>
               <div class="l-card-content">
              <h2>@item.Subject</h2>
              </div>
           </div>
        </li>
    
}
</ul>
        </div>
    </div>
</div>



<div class="l-pagination">
<div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

</div>

