﻿@using Fun2twModels.Models

@{
    ViewBag.Title = "景點介紹";
    List<TravelPlanCatalogTag> travelPlanCatalogTags = ViewBag.ClassId;
}
  <script>
    $(document).ready(function(){
      $('.panel-body span i').eq(0).addClass('fa-location-arrow');
      $('.panel-body span i').eq(1).addClass('fa-home');
      $('.panel-body span i').eq(2).addClass('fa-shopping-bag');
      $('.panel-body span i').eq(3).addClass('fa-cutlery');
      $('.panel-body span i').eq(4).addClass('fa-globe');
     
     
    })
  </script>


<div class="container l-white">
 <h2 class="l-h2" style="border:0;background: none;line-height: 1.5em;"> 人気観光スポット </h2>
    <div class="news-content" style="">
     

      <div class="">
            @using (Html.BeginForm("Search", "TravelPlan"))
            {
                <div class="">
               @foreach (var category in travelPlanCatalogTags.Where(x => x.ParentId == null))
               {

                   <span class="Category">
        <i class="fa" aria-hidden="true"></i> @category.SubjectJapan：
      </span>
                   string itemName = "Category";
                   if (category.Subject == "エリアを選ぶ")
                   {
                       itemName = "Town";
                   }

                   foreach (var item in category.ChildCategory)
                    {
                
                         <label class="checkbox-inline">
                           
                                <input type="checkbox" id="inlineCheckbox@(item.Id)" name="@(itemName)" value="@item.Subject">
                                      @item.SubjectJapan

                         </label>
                     }
                  

              <br>
               }



   
              <div class="m1">
                  <input type="submit" class="btn btn-primary " value="検索">
              </div>
          </div>
            }
          
      </div>
    </div>
    
    @* <div class="map-svg" style="text-align: center">

        <img src="/images/mad-edit.png" alt="" usemap="#Map"/>
        <map name="Map" id="Map">
            <area alt="" title="" href="/Japan/TravelPlan/index/6" shape="poly" coords="273,91,587,299,534,182,809,338,493,350,344,345,302,428,375,88,423,188,282,99,309,85,353,126,366,139,307,310,289,439"/>
            <area alt="" title="" href="/Japan/TravelPlan/index/4" shape="poly" coords="394,88,432,178,633,107,1074,198,1080,85,800,220,852,89,988,89,869,274,470,86,518,40,658,55,774,106,841,150,901,103,859,313"/>
            <area alt="" title="" href="/Japan/TravelPlan/index/5" shape="poly" coords="285,471,410,392,593,415,601,361,484,784,591,575,850,600,1041,795,438,787,383,825,565,575,329,696,308,810,378,821,415,878,673,867,269,876,346,806,376,789,441,719,509,640,350,610,282,641,319,683,366,683,617,368,641,394,690,402,569,357,288,639,382,653,371,719,303,745,421,594,549,449,563,420,252,559,268,599,292,620,327,581,390,524,427,492,285,537"/>
            <area alt="" title="" href="/Japan/TravelPlan/index/3" shape="poly" coords="1078,213,956,205,924,308,730,388,601,549,957,580"/>
            
        </map>
    </div> *@
    <div class="clear"></div>
    <style>
        span.Category {
          padding: 10px 0;
          font-size: 20px;
        }
        .checkbox-inline {
          color: gray;
        }
        .news-content{
          float: left;
          width: 100%;
        }
        .map-svg {
          padding: 2em;
          float: left;
          width: 80%;
        }
        .clear {
          clear: both;
        }
        @@media (max-width: 768px) {
            .news-content,.map-svg {
                float: none;
                width: 100%;
            }
            .checkbox-inline {
              display: inline-block;
            }
            .l-card {
                display: block !important;
            }
            .map-svg {
                display: none;
            }
        }
        area:focus { border: none }img.map, map area {
                                       outline: none;
                                   }
    </style>

    <ul class="l-card  l-card-nogutter" style="display: none">
        
      
        <li class="col-md-6 col-xs-12"><a href="/TravelPlan/index/6"><img src="/images/pingtung-7.png"></a></li>
        <li class="col-md-6 col-xs-12"><a href="/TravelPlan/index/5"><img src="/images/pingtung-8.png"></a></li>
        <li class="col-md-6 col-xs-12"><a href="/TravelPlan/index/3"><img src="/images/pingtung-9.png"></a></li>
        <li class="col-md-6 col-xs-12"><a href="/TravelPlan/index/4"><img src="/images/pingtung-10.png"></a></li>
    </ul>
</div>
<!--  <a href="/TravelPlan/index/7">生態之旅</a>
        <a href="/TravelPlan/index/8">親水之旅</a>
        <a href="/TravelPlan/index/9">休閒遊憩之旅</a>
        <a href="/TravelPlan/index/10">古蹟文化之旅</a>
        <a href="/TravelPlan/index/11">景觀之旅</a>
        <a href="/TravelPlan/index/12">溫泉其他之旅</a>
 -->


   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}