/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img{
  max-width: 100%;
  height: auto;
}
*{
  box-sizing: border-box;
}
body{
  padding-top: 2em;
}
.wrap{
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 900px;
  /*background: url(/images/girl2016/bottom-girl.jpg) no-repeat bottom;*/
}
.wrap-inner{
  max-width: 1500px;
  margin: 0 auto;
}
.logo{
  float: left;
  margin-bottom: 52px;
}
.logo-inner{
   display: inline-block;
    height: 100%;
    vertical-align: top;
}
.logo-inner img{
  float: left;
  margin-right: 1em;
}
.woman{
  float: right;
  width: 47%;
  margin: 0 1.5%; 
}
.woman{
  font-size: 28px;
  color: #616263;
  text-align: right;
}
@media(max-width: 768px){
  .woman{
    font-size: 20px;
  }
}
.login{
  width: 47%;
  margin: 0 1.5%; 
  float: left;
}
@media(max-width: 1023px){
  .wrap{
    /*margin-bottom: 600px;*/
     background: url(/images/girl2016/bottom-girl.jpg) no-repeat right bottom;
  }
  .logo{
    float: none;
    text-align: center;
  }
  .login,.woman{
    float: none;
    width: 100%;
    margin: 0 auto;
    width: 98%;
    text-align: center;
    margin-bottom: 1em;
  }
}
@media(max-width: 768px){
  .logo img{
    width: 48%;
    margin: 0 1%;
  }
}
.btn{
  display: block;
  width: 100%;
  height: 57px;
  font-size: 30px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
   padding: 10px 0;
   cursor: pointer;
}
.btn:hover{
  opacity: 0.9;
}
.facebookin {
         
          background: #334F8E;
          color: white;
          border: 0;
          border-radius: 5px;
        }
        .facebookin:focus {
            outline: white;
        }
        .googlein:focus {
            outline: white;
        }
        .googlein {

          background: #D44032;
          color: white;
          border: 0;
          border-radius: 5px; 
        }
                #body {
                }
        img#login_image {
          width: 100px; 
        }
        .fb_logout {
          font-size:  1em;
          padding: 10px 0;

          width: 80%;
          background: #1A60A2;
          color: white;
          border: 0;
          


        }
        .btn-none{
          background: #E0E1E2;
          color: #9D9E9F;
        }
        .gp_logout {
          font-size:  1em;
          padding: 10px 0;

          width: 80%;
          background: #d73d32;
          color: white;
          border: 0;
          border-radius: 5px;


        }
        .title {
          color: #60babb;

        }
                #email {
                    display: none;
                }
                .prompt {
                    color: red;
                    font-size: 1.2em;
                }
