﻿@{
    ViewBag.Title = "title";

    String key = HttpUtility.HtmlEncode("/e7eFc3R3D77YB2mbUYdqjxMqdu8GIqMjR0hb9Ik/oo7ezV38dCzoA==");
}

@*<h2>title</h2>

<body onload="document.HPP.submit()">
    <form name="HPP" method="post" target="HPPFrame" action="https://nccnet-ectest.nccc.com.tw/merchant/HPPRequest">
        <div>
            <iframe name="HPPFrame" id="mainFrame" height="600" width="800" frameborder="0" application="yes">

            </iframe>
        </div>
        <input type="hidden" name ="KEY" value="@key" />  
        <input type="text" value="/e7eFc3R3D77YB2mbUYdqjxMqdu8GIqMjR0hb9Ik/oo7ezV38dCzoA==" /> 
        <div>/e7eFc3R3D77YB2mbUYdqjxMqdu8GIqMjR0hb9Ik/oo7ezV38dCzoA==</div>
    </form>
</body>*@
@{
    ViewBag.Title = "信用卡付款";
  
}


<div class="container l-white l-white news-content">
    <h2 class="l-title">
        <i class="fa fa-bus"></i>信用卡付款
    </h2>
    <div>訂單編號： 11111</div>
   
    <div>交易金額： 566</div>
    <div>
        親愛的顧客您好，我們已經收到您的訂購資訊！@ViewBag.Message 請至<a href="/Customer/Order" target="_parent">我的訂單</a>查詢。
    </div>
    <br/>
    <br/>
    <div class="text-center">
    <a href="/" target="_parent" class="btn btn-primary">回首頁</a>
    </div>
</div>