﻿@using System.Globalization
@model Fun2twModels.Models.Transaction

@{
    ViewBag.Title = "信用卡付款";
    //Layout = null;
}


<div class="container l-white l-white news-content">
    <h2 class="l-title">
        <i class="fa fa-bus"></i>クレジットカード決済

    </h2>
    <div>受注番号：
 @Model.TransactionOrderid</div>
   
    <div>承認番号：
 @Model.Transamt</div>
    <div>
        ご注文完了です。ご利用ありがとうございます。@ViewBag.Message
          @if (Request["Mobile"] != "true")
          {
              <div>
                   <a href="/Customer/Order" target="_parent">マイリスト</a>
              </div>
              
          }
       
    </div>
    <br/>
    <br/>
    <div class="text-center">
    <a href="/" target="_parent" class="btn btn-primary">ホームへ戻る</a>
    </div>
</div>



