﻿@using Fun2twModels.Models
@model Transaction

@{
    ViewBag.Title = "信用卡交易錯誤";
    if (!String.IsNullOrEmpty(Model.Key))
    {
        Layout = null;
    }

    TravelOrder travelorder = ViewBag.travelorder;
}

<h2 class="l-title">
    <i class="fa fa-bus"></i>エラーが発生して、クレジットカード決済できませんでした。
</h2>
<div>受注番号： @Html.DisplayFor(model => model.TransactionOrderid)</div>
<div>承認番号： @Html.DisplayFor(model => model.Responsecode)</div>
<div>承認メッセージ： @ViewBag.Message</div>
<br />
@if (String.IsNullOrEmpty(Model.Key))
    {    
        
    <div>インターネット接続に問題があるため、もう一度やり直してください。</div>     
    <br />
    <a href='@Url.Action("Contract", "TravelSchdule",  new { id = travelorder.SchduleId, selectDate = travelorder.ActityDate })'  target="_parent">回行程結帳頁面</a>  

    }else{
    
    <br />
    <a href="/" target="_parent">ホームへ戻る</a>
    <a href="GoCreditCard" target="_parent">お支払い画面へ戻って、もう一度やり直してください</a>
    }


