﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.ThemeVideo>
@{
    ViewBag.Title = "OPEN DATA ";
}
<style>
    .table tr:active {
        background: #008DD8 !important;
        color: #fff;
    }
</style>




<div class="error">
    <div class="container err-container" style="display: none; height: 800px">
        <h2 class="l-title">
            <i class="fa fa-map-marker">資料錯誤</i>
        </h2>
        <p class="jq-content">@ViewBag.Message</p>


    </div>

</div>

<div class="container block-container">
    <h2 class="l-title">
        <i class="fa fa-map-marker"></i>資料開放專區 
    </h2>



    <h2>樂遊4.0 開放資料
    </h2>
    <table class="table table-striped">
        <tr>
            <th width="40%">項目名稱
            </th>
            <th width="10%">格式
            </th>
            <th width="10%">下載
            </th>
            <th width="10%">更新時間
            </th>
             <th width="20%">更新頻率
            </th>
        </tr>
        <tbody>

          
            <tr>
                <td>旅遊主題行程導覽

                </td>
                <td>JSON
                </td>
                <td>
                    <a href="https://www.fun2tw.com/TravelSchdule/ThemeJson" target="_blank">下載</a>
                </td>
                <td>2016/07/26
                </td>
                 <td>隨網站即時更新
                </td>
            </tr>
            <tr>
                <td>旅遊主題影音

                </td>
                <td>JSON
                </td>
                <td>
                    <a href="https://www.fun2tw.com/ThemeVideo/getjson" target="_blank">下載</a>
                </td>
                <td>2016/06/19
                </td>
                <td>隨網站即時更新
                </td>
            </tr>
            <tr>
                <td>旅遊景點介紹

                </td>
                <td>JSON
                </td>
                <td>
                    <a href="https://www.fun2tw.com/TravelPlan/json" target="_blank">下載</a>
                </td>
                <td>2016/07/21
                </td>
                <td>隨網站即時更新
                </td>
            </tr>
            <tr>
                <td>熱門行程

                </td>
                <td>JSON
                </td>
                <td>
                    <a href="https://www.fun2tw.com/TravelSchdule/ListByThemeJson" target="_blank">下載</a>
                </td>
                <td>2016/06/27
                </td>
                <td>隨網站即時更新
                </td>
            </tr>
            <tr>
                <td>旅遊達人

                </td>
                <td>JSON
                </td>
                <td>
                    <a href="https://www.fun2tw.com/ExpertPlan/json" target="_blank">下載</a>
                </td>
                <td>2016/06/22
                </td>
                <td>隨網站即時更新
                </td>
            </tr>
         
            <tr>
                <td>行程懶人包

                </td>
                <td>JSON
                </td>
                <td>
                    <a href="https://www.fun2tw.com/ExpertInfo/Json" target="_blank">下載</a>
                </td>
                <td>2016/07/11
                </td>
                <td>隨網站即時更新
                </td>
            </tr>

        </tbody>
    </table>

    <h2>社群網路輿情探勘數據分析
    </h2>
    <table class="table table-striped">
        <tr>
            <th width="40%">項目名稱
            </th>
            <th width="10%">格式
            </th>
            <th width="10%">下載
            </th>
            <th width="10%">更新時間
            </th>
            <th width="20%">更新頻率
            </th>
        </tr>
        <tbody>

        <tr>
            <td>上半年度關鍵詞情緒統計表</td>
            <td>CSV</td>
            <td><a href="http://210.200.141.107/201601/2016_kw_op_stat.csv" target="_blank">下載</a>
            </td>
            <td>2016/08/01
            </td>
            <td>半年
            </td>
        </tr>

        <tr>
            <td>上半年度來源網站文章數量統計 </td>
            <td>CSV</td>
            <td><a href="http://210.200.141.107/201601/2016_site_article_count.csv" target="_blank">下載</a></td>
            <td>2016/08/01
            </td>
            <td>半年
            </td>
        </tr>

        <tr>
            <td>上半年度關鍵詞出現次數統計表</td>
            <td>CSV</td>
            <td><a href="http://210.200.141.107/201601/2016_kw_stat.csv" target="_blank">下載</a></td>
            <td>2016/08/01
            </td>
            <td>半年
            </td>
        </tr>

        </tbody>
    </table>
    <h2>影視音內容描述(Metadata)
    </h2>
    <table class="table table-striped">
        <tr>
            <th width="40%">項目名稱
            </th>
            <th width="10%">格式
            </th>
            <th width="10%">下載
            </th>
            <th width="10%">更新時間
            </th>

        </tr>
        <tbody>

          @foreach (var item in Model.Take(10))
          {
  <tr>
                <td>@item.Subject

                </td>
                <td>XML
                </td>
                <td>
                    <a href="https://www.fun2tw.com/ThemeVideo/GetXML/@item.Id" target="_blank">下載</a>
                </td>
                <td>  @Html.DisplayFor(modelItem => item.InitDate)
                </td>
                
            </tr>
          }
            


        </tbody>
    </table>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")




}
