@model Fun2tw.Models.PreRegisterView
@{
    ViewBag.Title = "會員申請";
}
<meta name="google-signin-client_id" content="690020895963-av5vs1orqqe51s3fpqdbbdd9v4jggfgo.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-aligned trailer" }))
    {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
	<style>
				
	</style>

    
        <div class="wrap">
	
		<form action="">
			<div>
			<span id="status"></span>
				帳號請輸入手機號碼或E-mail,密碼不得小於6個字元。
				<h2>@ViewBag.Message</h2>
				<label for="">帳號</label>
				<input type="text" data-val="true" data-val-required="必填欄位" id="Account" name="Account" placeholder="請輸入帳號" >
				<span class="field-validation-valid" data-valmsg-for="Account" data-valmsg-replace="true"></span>
				<br>
				<label for="">密碼</label>
				<input type="password" data-val="true" data-val-required="必填欄位" id="Password" name="Password" data-val-length="長度介於6到12之間" data-val-length-min="6" data-val-length-max="12" placeholder="請輸入密碼">
				<span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
				<br>
				<div class="g-signin2" data-onsuccess="onSignIn" ></div>
				<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<input type="button" value="logOut" id="btnOut" onclick="logOut()" >
				<input type="submit" value="送出"><br><input type="reset" value="重設">
			</div>
		</form>
	
	</div>
	<script>
	function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
	
	
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
	console.log(JSON.stringify(response));
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1006382576125514',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/zh_TW/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'email'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me',{fields: 'email,name,gender'}, function (response) {
				console.log(response);
                console.log('Successful login for: ' + response.email);
                document.getElementById('status').innerHTML =
                  'Thanks for logging in, ' + response.name + '!' +
                'Email:' + response.email;
            });
    }
</script>
	

	
}
