﻿@model Fun2tw.Models.PreRegisterView
@{
    Layout = "~/Views/Shared/_Charmingmall.cshtml";
    ViewBag.Title = "會員申請";
}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<script>
 
  function apiRegister(id,name, email, imageurl,source){
        $.post("/Home/GmailRegister", {Id:id, Name: name, Email: email, ImageUrl: imageurl,Poster:'@Request["p"]',Source:source })
      .done(function (data) {
                 alert(data);
            }); 
  } 
 
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1006382576125514',
            xfbml: true,
            status: true,
            cookie: true,
            oauth: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            console.log(response.authResponse.accessToken);
            getData();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }
   
   
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function getData() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', { fields: 'id, name, email, gender,  first_name, last_name, picture' }, function (response) {
            if (response.email == undefined) {
                alert('您的 FB 信箱尚未驗證，還請先行至 FB 驗證，或使用 Google 註冊')
                return false;
            }
            console.log('Successful login for: ' + response.email);
            // alert('信箱登入成功: ' + response.email);
            console.dir(response);
            //document.getElementById('status').innerHTML =
            //   'Thanks for logging in, ' + response.name + "  " + response.id + "  " + response.email + "  " + response.gender + "  " + response.first_name + "  " + response.last_name + "  " + response.picture.data.url;
      //Register
            apiRegister(response.id,response.name, response.email, response.picture.data.url,"FB");
      document.getElementById('name').innerText = response.name;
      document.getElementById('email').innerText = response.email;
      document.getElementById("login_image").src = response.picture.data.url;
        });

        $("#status").fadeIn(500);
        $(".login").fadeOut(800);
        $(".fb_logout").fadeIn(800);
    } 

    function fbLogIn() {
        FB.login(function (response) {
            if (response.authResponse) {
                statusChangeCallback(response);
            }
        }, {
            scope: "public_profile,email"
        });
    }

    function fbLogOut() {
        FB.logout(function(response) {
            // Person is now logged out
            //document.getElementById('status').innerHTML = "Successful logout";
        });

        $("#status").fadeOut(800);
        $(".login").fadeIn(800);
        $(".fb_logout").fadeOut(800);

    }

   
    function googleSignOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
            //document.getElementById('status').innerText = "Successful Google logout";
        });

        $("#status").fadeOut(800);
        $(".login").fadeIn(800);
        $(".gp_logout").fadeOut(800);
    }
  
  
        var googleUser = {};
        var startApp = function () {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '690020895963-av5vs1orqqe51s3fpqdbbdd9v4jggfgo.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    scope: 'profile'
                });
                attachSignin(document.getElementById('customBtn'));              
            });
        }

        function attachSignin(element) {
            //console.log(element.id);
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    var profile = auth2.currentUser.get().getBasicProfile();
                    
                    //document.getElementById('status').innerText = "Signed in: " + '  ID: ' + profile.getId() + '  Full Name: ' + profile.getName() + '  Image URL: ' + profile.getImageUrl() + '  Email: ' + profile.getEmail();
                    apiRegister(profile.getId(),profile.getName(), profile.getEmail(), profile.getImageUrl(),"Gmail");
          document.getElementById('name').innerText = profile.getName();
          document.getElementById('email').innerText = profile.getEmail();
          document.getElementById("login_image").src = profile.getImageUrl();
           $("#status").fadeIn(500);
            $(".login").fadeOut(800);
              $(".gp_logout").fadeIn(800);
                }, function (error) {
                    alert(JSON.stringify(error, undefined, 2));
                });

           

        }    
</script> 
<script>
  $(document).ready(function() {
    $(".fb_logout").hide();
    $(".gp_logout").hide();
    $("#status").hide();
  });
</script>
  
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-aligned trailer" }))
    {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
   
  
    <form action="">
      
      
      <style> 
        .facebookin {
          padding: 10px 0;
          width: 80%; 
          font-size:  1em;
          background: #1A60A2;
          color: white;
          border: 0;
          border-radius: 5px;
        }
        .facebookin:focus {
            outline: white;
        }
        .googlein:focus {
            outline: white;
        }
        .googlein {
          padding: 10px 0;

          width: 80%;
          font-size:  1em;
          background: #d73d32;
          color: white;
          border: 0;
          border-radius: 5px; 
        }
                #body {
                }
        img#login_image {
          width: 100px; 
        }
        .fb_logout {
          font-size:  1em;
          padding: 10px 0;

          width: 80%;
          background: #1A60A2;
          color: white;
          border: 0;
          border-radius: 5px;


        }
        .gp_logout {
          font-size:  1em;
          padding: 10px 0;

          width: 80%;
          background: #d73d32;
          color: white;
          border: 0;
          border-radius: 5px;


        }
        .title {
          color: #60babb;

        }
                #email {
                    display: none;
                }
                .prompt {
                   
                }
                #status{
                    float: left;
                }
                @@media (max-width:1023px){
                    #status{
                        float: none;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
                
      </style>
              <link rel="stylesheet" href="/content/girl2016.css">
      <div class="wrap">
              <div class="wrap-inner">
                <div class="logo">
                  <div class="logo-inner">
                    <img src="images/girl2016/logo1.jpg" width="321" alt="">
                    <img src="images/girl2016/logo2.jpg" width="281" alt="">
                  </div>
                  
                </div>
                <div class="woman">
                  <img src="images/girl2016/img-woman.jpg" width="733" alt="">
                  <p>
                    俏美魔購物中心代言人 楊謹華
                  </p>
                </div>

                
                  <div class="login" style="text-align: center; display: block;">
                  <input class="btn facebookin" id="Button2" type="button" value="使用 Facebook 加入會員" onclick="fbLogIn();">
                  <br>
                  <input class="btn googlein" id="customBtn" type="button" value="使用 Google 加入會員">
                      <br>
                           <a class="btn btn-none" href="/Charmingmall/register?p=@Request["p"]">未有以上帳號 加入會員</a>
                  </div>
                  
                  <div id="status" style="text-align: center; display: none;">
                      <p>
                      <style>#login_image { width: 50px !important;height: 50px !important; }</style>
                      <img id="login_image" /> <br><br>
                              <span class="title">name :</span> <span id="name"></span>  <br>  <br> 
                                      
                              <span id="email" class="title">email:</span> <span id="email"></span>
                      <p class="prompt" style="margin:0.5em 0">註冊成功，您已經是會員了!</p>
                    
                      <p style="margin:0.5em 0">喜歡我們請按讚加入粉絲團，隨時接收最新資訊！</p>
                       <br>
                      
                      <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=1480894322172352";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));</script>
                      <div class="fb-like" style="margin-bottom:1em" data-href="https://www.facebook.com/charmingmalltw" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                      <div id="fb-root"></div>
                    </p>
                    <div class="logout" style="text-align:center">
                      <script>startApp();</script>
                      <input class="fb_logout" id="Button1" type="button" value="登出" onclick="fbLogOut();" style="display: none;">
                        <br>  
                      <input class="gp_logout" type="button" onclick="googleSignOut();" value="登出" style="display: none;">    

                    
                    </div>
                  </div>  
                  <img class="bottomImg" src="/images/girl2016/bottom-girl.jpg" alt="">  
                  
                  
                  
                  
              </div>
              
              </div>


        <br>  
      
    </form>
  


}

