﻿@{
    Layout = "~/Views/Shared/_Charmingmall.cshtml";
    ViewBag.Title = "會員申請成功";
}
<link rel="stylesheet" href="/content/girl2016.css">
<div class="wrap" style="max-width:375px">
  <p class="prompt" style="margin:0.5em 0">註冊成功，您已經是會員了!</p>
                     
                       <p style="margin:0.5em 0">喜歡我們請按讚加入粉絲團，隨時接收最新資訊！</p>
                        <br>
                       
                       <script>(function(d, s, id) {
                         var js, fjs = d.getElementsByTagName(s)[0];
                         if (d.getElementById(id)) return;
                         js = d.createElement(s); js.id = id;
                         js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=1480894322172352";
                         fjs.parentNode.insertBefore(js, fjs);
                       }(document, 'script', 'facebook-jssdk'));</script>
                       <div class="fb-like" style="margin-bottom:1em" data-href="https://www.facebook.com/charmingmalltw" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                       <div id="fb-root"></div>
                     </p>

<a class="btn facebookin" style="text-align:center" href="/Charmingmall?p=@Request["p"]">回申請頁</a>
</div>

