﻿@model Fun2twModels.Models.Customers
@{
    Layout = "~/Views/Shared/_Charmingmall.cshtml";
    ViewBag.Title = "會員申請";
}
<style>
    .sections{
        max-width: 380px;
        margin: 0 auto;
    }
    .editor-field{
        margin-bottom: 1em;
    }
    .fors{
        margin-bottom: 20px;
    }
</style>
<div class="sections">
    <h2 class="l-titles l-titles-indent ">會員註冊 <span>REGISTER</span>
    </h2>
    <div class="news-content">

        <span id="status"></span>
       
                <h2>@ViewBag.Message</h2>
        <div class="col-md-6">
             @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-aligned trailer" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @ViewBag.Message
    

            <div class="editor-label ">
                <label>Account ID ( 請輸入E-mail)</label>
            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(model => model.Account, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.Account)


            </div>

            @*<div class="editor-label ">
               <label>密碼 (密碼不得小於6個字元) </label>

            </div>
            <div class="editor-field form-group">
                @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Password)


            </div>*@
                  <div class="editor-label ">
                @Html.LabelFor(model => model.Name)

            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Name)


            </div>
            <div class="editor-label fors">
                @Html.LabelFor(model => model.Gender)


                @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.GenderType))).Take(2))
                @Html.ValidationMessageFor(model => model.Gender)


            </div>
                 @*
              <div class="editor-label ">
                @Html.LabelFor(model => model.Email)

            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Email)


            </div>*@
             <div class="editor-label ">
                @Html.LabelFor(model => model.Telphone)

            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(model => model.Telphone, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Telphone)


            </div>  
             <div style="display:none" class="editor-label ">
                @Html.LabelFor(model => model.Address)

            </div>
            <div style="display:none" class="editor-field form-group">
                @Html.TextBoxFor(model => model.Address, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Address)
            </div>  
           
            <input type="hidden" value="@Request["p"]" name="Poster"/>
                 


            <div class="m1"></div>

            <p class="text-center m1">
                <input type="submit" class="btn btn-primary" value="註冊" />
            </p>

        }
        </div>
      
    </div>
</div>
    

