﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ThemeVideo
@{
    ViewBag.Title = @Model.Subject;
}
<div class="container l-white">
 <h2 class="l-titles l-titles-indent">
   @Model.Subject
  </h2>

    <iframe style="width: 100%; height: 480px" src="@Model.YoutubeUrl.Replace("watch?v=", "embed/")" frameborder="0" allowfullscreen></iframe>
       @if (Request["Mobile"] != "true")
       {
           <div class="text-center m1">
               <input type="button" onclick="history.back();" class="btn btn-cyan" value="戻り">
           </div>
       }
<!-- <p>@Model.Memo</p> -->
</div>
	



