﻿@using System.Globalization
@model Fun2twModels.Models.Transaction

@{
    ViewBag.Title = "信用卡付款";
    //Layout = null;
}


<div class="container l-white l-white news-content">
    <h2 class="l-title">
        <i class="fa fa-bus"></i>信用卡付款
    </h2>
    <div>訂單編號： @Model.TransactionOrderid</div>
   
    <div>交易金額： @Model.Transamt</div>
    <div>
        親愛的顧客您好，我們已經收到您的訂購資訊！@ViewBag.Message
          @if (Request["Mobile"] != "true")
          {
              <div>
                   請至<a href="/Customer/Order" target="_parent">我的訂單</a>查詢。
              </div>
              
          }
       
    </div>
    <br/>
    <br/>
    <div class="text-center">
    <a href="/" target="_parent" class="btn btn-primary">回首頁</a>
    </div>
</div>



