﻿@using Fun2twModels.Models
@model Fun2twModels.Models.FAQCategory
@{
    ViewBag.Title = "常見問答";
    List<FAQCategory> faqCategories = ViewBag.FaqCategoryes;
}

<div class="container">

<div class="col-lg-3 col-xs-12 l-list-menu l-white p1 mr1">
    <h2 class="l-list-menu-title">
      よくあるご質問カテゴリー
    </h2>
    <ul class="l-list-menu-content">
     @foreach (var item in faqCategories.Where(x => x.SubjectJapan != null))
    {
    <li>
        <a href="/Japan/FAQ/Index/@item.Id?Mobile=@Request["Mobile"]">@item.SubjectJapan</a>
        
    </li>
    }
    </ul>
  </div>
  <div class="l-list-content col-lg-8 col-xs-12 l-white p1">
    <ul class="l-list-content-main jq-slideToggle">
                    @foreach (var item in Model.Faq.Where(w=>w.Language == Language.日文).OrderBy(x=>x.ListNum))
                   {
                       <li>
       <h3><a class="fa" href="">@item.Subject</a></h3>
       <div class="jq-slideToggle-contnet">@Html.Raw(item.Article)</div>
     </li>



                   }
      </ul>
  </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}