﻿

@{
    ViewBag.Title = "會員中心";
}


<style>
    .member_list i {
        margin-right: 10px;
        color: #44d2e4;
    }
    .member_list {
        -webkit-padding-start: 0px;
        font-size: 20px;
        list-style-type: none;

    }
    .member_list li a {
        padding: 20px;
        display: block;
        color: gray;

    }
</style>
 @if (Request["Mobile"] == "true") {
            <div style="text-align: center;background: #42bfe6;padding: 10px;">
            <a style="color: white;" href="/home/indexforapp?Mobile=true" >回首頁</a>
            </div>
        } 

<div class="container" style="text-align: center;">
    <h2>會員中心</h2>

    <ul class="member_list">
    	
        <li>
        	<a href="/Customer/Update?mobile=@Request["Mobile"]">
        		<i class="fa fa-male"></i>修改個人資料
        	</a>
        </li>
        <li  style="display:none">
    		<a href="/Navigation/MyLocaltion">
    			<i class="fa fa-map-marker"></i>我的行程規劃
    		</a>
    	</li>
@if (Request["Mobile"] != "true") {
        <li>
            <a href="/Navigation/SortLocation?mobile=@Request["Mobile"]">
                <i class="fa fa-map-marker"></i>路線規劃清單
            </a>
        </li>}
        <li>
        	<a href="/Customer/PortalOrder?mobile=@Request["Mobile"]">
        		<i class="fa fa-list-alt"></i>訂單查詢
        	</a>
        </li>
@if (Request["Mobile"] != "true") {
        <li>
        	<a href="/Customer/UpdateMovie?mobile=@Request["Mobile"]">
        		<i class="fa fa-list-alt"></i>影音分享
        	</a>
        </li>
        }
    </ul>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
