﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ExpertPlan
@{
    ViewBag.Title = @Model.Subject;
}
  <style>
    img{
      height: auto !important;
    }
  </style>
<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>
<div class="container l-white">
    <h2 class="l-titles l-titles-indent">
        @Model.Subject <span>HOT</span></h2>
	<div class="news-content">
    @Html.Raw(Model.Article)
    @if (Model.ExpertInfo!=null)
    {
      <!--   <h2 class="l-titles ">
            達人簡介<span>@Model.ExpertInfo.Subject</span>
        </h2>
        
        <img src="/upfiles/images/@Model.ExpertInfo.UpImageUrl"/>
 -->
   
    }
           @if (Request["Mobile"] != "true")
           {
               <div class="text-center m1">
                   <input type="button" onclick="history.back();" class="btn btn-cyan" value="回列表">
               </div>
           }
</div>


