﻿
@using MvcPaging
@using Fun2tw.Helpers
@using Fun2twModels.Models
@model MvcPaging.IPagedList<Fun2twModels.Models.ExpertPlan>
@{
    ViewBag.Title = "達人旅遊攻略";
    List<ExpertInfo> expertInfos = ViewBag.ExpertInfo;
}
<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>
<div class="container l-white">
    

<h2 class="l-h2">
<i class="fa fa-map-marker" aria-hidden="true"></i>  達人樂遊攻略 </h2>
<div class="">
    <div class="">
        <div class="">
            <ul class="l-card  l-card-nogutter">
    @foreach (var item in Model) {
     <li class="col-md-4 col-xs-12">
        

        <!--     
         @if (item.ExpertInfo != null)
         {
             <img style="height:150px" src="/upfiles/images/@item.ExpertInfo.UpImageUrl"/>
             <h2>@item.ExpertInfo.Subject</h2>
            <p  class="jq-three"> @item.Memo</p>
             <a href="/ExpertInfo/Details/@item.ExpertInfo.Id">閱讀更多</a>
         } -->
        <div class="l-card-main">
            <div class="l-card-image">
                  <a href="/ExpertPlan/Details/@item.Id">

             <img style="height:293px!important;" src="/upfiles/images/@item.UpImageUrl"/>
                </a>
            </div>
            <div class="l-card-content">
           <h2 style="font-weight:bold">@item.Subject</h2>
          <div class="jq-three" style="height:72px;overflow:hidden;text-align: left;"> @item.Memo</div>
           </div>
        </div>
    </li>
   
     
       
}
</ul>
        </div>
    </div>
</div>


<div class="l-pagination">
    <div class="pagination ">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>

    <h2  class="l-h2">
    <i class="fa fa-map-marker" aria-hidden="true"></i> 達人攻略 
  </h2>
    <ul   class="l-card  l-card-hor news-content">
        @foreach (var item in expertInfos)
        {
            <li class="col-md-3 col-xs-12">

             <div class="l-card-main">
          <div class="l-card-image">
             <a href="/ExpertInfo/Details/@item.Id">
               @if (!string.IsNullOrEmpty(item.UpImageUrl))
                {
                     <img style="width:100%;" src="/upfiles/images/@item.UpImageUrl"/>
                }</a>
          </div>
          <div class="l-card-content">
              <h2>@item.Subject</h2>
              <p class="jq-three"> @item.Memo</p>
              
          </div>
        </div>
        
         
        </li>
        }
        </ul>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
