﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelPlan
@{
    ViewBag.Title = @Model.Subject;
}

@{
    List<TravelPlan> travelPlans = (List<TravelPlan>)Session["history"];
    String navigation = "路線規劃";
    var addressList = (List<Navigation>)Session["addressList"];
    if (addressList != null && addressList.Count > 0)
    {
        navigation += "(" + addressList.Count.ToString() + ")";
    }
}

<div class="container l-white">
    <h2 class="l-titles" style="margin-bottom: 0;"><a href="/TravelPlan/overview">景點導覽</a> > <a href="/TravelPlan/index/@ViewBag.townID">@Model.Town</a>   > @Model.Subject
    <a class="btn btn-primary" style="cursor: pointer;" id="add" onclick="addLocation('@Model.Subject', '@Model.Street','@Model.Lon','@Model.Lat');">加入路線規劃清單</a> 
    <a href="/Navigation/SortLocation?Mobile=@Request["Mobile"]" class="btn btn-cyan" id="navigation">路線規劃</a>
    <input type="button" onclick="history.back();" class="btn btn-success" value="回上頁"> 

    </h2>
        <div class="flexslider">
            <ul id="slider" class="slides">
             @foreach (var img in Model.TravelPlanImages)
        {
            <li>
                <img src="~/upfiles/@img.Folder@img.FileName"/>
            </li>
        }
        </ul>
        
        </div>
       <!--  <ul class="nav nav-tabs l-tab" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">景點介紹</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">其他資訊</a></li>
        </ul> -->
        <style>
            .htmlEditor img {
                    max-width: 600px;
                    margin-bottom: 20px;
                }
            @@media(max-width:768px){
                .btn{
                    width: 100%;
                    margin: .5em 0;
                }

            }
        </style>
        <div class="tab-content news-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                 @* <h1 class="l-titles">&nbsp;&nbsp;@Model.Subject <span id="notadd">此景點目前不支援路線規劃</span></h1> *@
                 
                <div style="display: none">

                    @if (Model.TravelPlanImages.Count > 0)
                    {
                        <img src="~/upfiles/@Model.TravelPlanImages.FirstOrDefault().Folder@Model.TravelPlanImages.FirstOrDefault().FileName"/>
                    }
                </div>
                
                <div class="htmlEditor" style="margin-bottom: 10px">
                    @Html.Raw(Model.Article)

                    @Model.Special

                    @if (!string.IsNullOrEmpty(@Model.TipsInfo))
                    {
                        <h3 class="l-detail-title"><em>交通資訊</em>
                        </h3>
                        @Model.TrivalInfo
                    }


                    @if (!string.IsNullOrEmpty(@Model.TipsInfo))
                    {
                        <h3 class="l-detail-title"><em>小叮嚀</em>
                        </h3>
                        @Html.Raw(Model.TipsInfo)
                    }



                    @if (!string.IsNullOrEmpty(@Model.Town))
                    {
                        <h3 class="l-detail-title"><em>地理位置</em>
                        </h3>
                        @Model.Town
                    }

                    @if (!string.IsNullOrEmpty(@Model.Tel))
                    {
                        <h3 class="l-detail-title"><em>電話</em>
                        </h3>
                        @Model.Tel
                    }


                    @if (!string.IsNullOrEmpty(@Model.Fax))
                    {
                        <h3 class="l-detail-title"><em>傳真</em>
                        </h3>
                        @Model.Fax
                    }

                    @if (!string.IsNullOrEmpty(@Model.WebSite))
                    {
                        <h3 class="l-detail-title"><em>網址</em>
                        </h3>
                        @Model.WebSite
                    }

                    @if (!string.IsNullOrEmpty(@Model.Email))
                    {
                        <h3 class="l-detail-title"><em>E-mail</em>
                        </h3>
                        @Model.Email
                    }

                    @if (!string.IsNullOrEmpty(@Model.Street))
                    {
                        <h3 class="l-detail-title"><em>地址</em>
                        </h3>
                        @Model.Street
                    }

                    @if (!string.IsNullOrEmpty(@Model.ServiceTime))
                    {
                        <h3 class="l-detail-title"><em>開放時間</em>
                        </h3>
                        @Model.ServiceTime
                    }

                    @if (!string.IsNullOrEmpty(@Model.ConsumerMode))
                    {
                        <h3 class="l-detail-title"><em>消費方式</em>
                        </h3>
                        @Model.ConsumerMode
                    }
                     <h3 class="l-detail-title"><em>歷史瀏覽景點記錄</em></h3>
                    @if (travelPlans.Count > 0)
                    {
                        foreach (var item in travelPlans)
                        {
                            <p>
                                <a href="/TravelPlan/Details/@item.Id">@item.Subject</a>
                            </p>
                            
                        }

                    }
                    else
                    {
                        <span>目前無紀錄</span>
                    }
                </div>
            </div>

            @if (Request["Mobile"] != "true")
            {
                <div class="text-center">
                    <input type="button" onclick="history.back();" class="btn btn-cyan" value="回列表">
                </div>
            }

           
            @*  <iframe title="警勤區查詢服務" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src='http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=@(Model.Subject)&z=16&output=embed&t='></iframe> *@
        </div>

    
       


</div>


<script>
    
    $(".htmlEditor img").css("width","100%");
    $(".htmlEditor img").css("height","auto");

     function addLocation(subject, address,lon,lat) {
        //alert("add  " + addressId + address);
        $.post('@Url.Content("~/Navigation/AddLocation")', { Subject: subject, Address:address,Lon:lon,Lat:lat })
            .done(function (data) {
                //alert(data);
                if (data === 'duplicate') {
                    alert('加入失敗!\n' + subject + ' 已經在規劃清單中。');
                } else if (data === 'over') {
                    alert('加入失敗!\n' + '路線規劃規劃最多選10個地點。');
                } else {
                    //alert($('#navigation').text());
                    $('#navigation').text('路線規劃' + '(' + data + ')');
                    $('.jq-num').text(data);
                    alert(subject + ' 加入成功!');
                }
            });

    }

    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var waypts = [];
        waypts.push({
            address: '@Model.Subject',
             lat: '@Model.Lat',
             lng: '@Model.Lon'
         });
         displayRoute('屏東火車站', '台東火車站', directionsService, waypts, '@Model.Id');
     }

     function displayRoute(origin, destination, service, waypoints) {
         var waypts = [];
         var checkboxArray = waypoints;
         for (var i = 0; i < checkboxArray.length; i++) {
             if (checkboxArray[i].lat.length > 0 && checkboxArray[i].lng.length > 0) {
                 waypts.push({
                     location: new google.maps.LatLng(checkboxArray[i].lat, checkboxArray[i].lng),
                     stopover: true
                 });
             } else {
                 //alert(checkboxArray[i].address);
                 waypts.push({
                     location: checkboxArray[i].address,
                     stopover: true
                 });
             }
         }

         service.route({
             origin: origin,
             destination: destination,
             //waypoints: [{ location: waypoint }],
             waypoints: waypts,
             travelMode: google.maps.TravelMode.DRIVING,
             avoidTolls: true
         }, function (response, status) {
             if (status === google.maps.DirectionsStatus.OK) {
                 //alert("OK");
                 $('#add').show();
                 $('#notadd').hide();
             } else {
                 //alert("error");
                 $('#add').hide();
                 $('#notadd').show();
             }
         });
     }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHNgGDd59BQqpVBV6Hza24iIgfZTEwjZA&signed_in=true&callback=initMap&region=TW" async defer></script>

