﻿@using MvcPaging
@using Fun2tw.Helpers
@using Fun2twModels.Models
@model IPagedList<Fun2twModels.Models.TravelPlan>
@{
    ViewBag.Title = "旅遊景點介紹";
    List<TravelPlanCatalogTag> travelPlanCatalogTags = ViewBag.ClassId;
    string[] selectClassId = ViewBag.selectClassId ?? new string[] { "" };
    string[] selectTown = ViewBag.selectTown ?? new string[] { "" };
}

<div class="container l-white ">


  <div class="news-content" style="padding-top:0;">
    <div class="">
          @using (Html.BeginForm())
          {
              <div class="">
             @foreach (var category in travelPlanCatalogTags.Where(x => x.ParentId == null))
             {
                <hr>
                 <span class="Category">
      <i class="fa" aria-hidden="true"></i> @category.Subject：
    </span>
                 string itemName = "Category";
                 if (category.Subject == "所在區域")
                 {
                     itemName = "Town";
                 }

                 foreach (var item in category.ChildCategory)
                  {
                    
                       <label class="checkbox-inline">
                         
                               @if (selectClassId.Contains(item.Subject) || selectTown.Contains(item.Subject) )
                                {
                                    <input type="checkbox" id="inlineCheckbox@(item.Id)" name="@(itemName)" value="@item.Subject" checked="checked">
                                    @item.Subject
                                }
                                else
                                {
                                    <input type="checkbox" id="inlineCheckbox@(item.Id)" name="@(itemName)" value="@item.Subject">
                                    @item.Subject
                                }
                           
                         
                         

                       </label>
                   }
                

            <br>
             }



 
            <div class=" ">
                <input type="submit" class="btn btn-primary " value="搜尋">
            </div>
        </div>
          }
        
    </div>
  </div>
 
<div class="wrap-card">
    <div class="">
        <div class="">
            <ul class="l-card">
    @foreach (var item in Model) {
         <li class="col-md-6 col-xs-12">
         
          


           <div class="l-card-main">
               <div class="l-card-image">
                    <a href="/TravelPlan/Details/@item.Id?mobile=@Request["mobile"]">
               @if (item.TravelPlanImages.Count>0)
                {
                    if (item.TravelPlanImages.FirstOrDefault().Folder == "images/")
                    {
                        <img src="~/upfiles/@(item.TravelPlanImages.FirstOrDefault().Folder)s@(item.TravelPlanImages.FirstOrDefault().FileName)"/>
                    }
                    else
                    {
                         <img src="~/upfiles/@item.TravelPlanImages.FirstOrDefault().Folder@item.TravelPlanImages.FirstOrDefault().FileName" />
                    }
                   
                }
                   </a>
               </div>
               <div class="l-card-content">
              <h2>@item.Subject</h2>
              </div>
           </div>
        </li>
    
}
</ul>
        </div>
    </div>

    <div class="l-pagination">
    <div class="pagination">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
    </div>
</div>

<style>
.l-card-main {
  overflow: hidden;
  position: relative;
  margin: 10px;
  background: #000;
}
.l-card h2 {
  padding: 10px;
}
.l-card-image {
  border-radius: 0; 

}
.l-card-content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,.6);
  color: white;
  border-radius: 0; 
  padding: 0;
}
.pagination a,.pagination span {
  border: 0;
  color: #bbbbbb;
}

.pagination a:hover,
.pagination a:focus,
.pagination span:hover,
.pagination span:focus,
.pagination .current {
  color: white;
  background: #68d1df;
}

        span.Category {
          font-size: 20px;
          display: block;
        }
        .checkbox-inline {
          color: gray;
          display: block;
        }
        .news-content{
          float: left;
          width: 30%;
        }
        .wrap-card {
          padding: 35px 0;
          float: left;
          width: 70%;
        }
        .clear {
          clear: both;
        }
        @@media (max-width: 768px) {
            .news-content,.wrap-card {
                float: none;
                width: 100%;
            }
            .checkbox-inline {
              display: inline-block;
            }
            .l-card-image img {
              width: 100%;
            }
            .l-card-main {
            height: auto;
            }

           
        }
        
    </style>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

</div>

