﻿@{
    ViewBag.Title = "ForgetPassword";
}

<div class="container l-white">
    <div class="news-content">
        <h2 class="l-titles l-titles-indent">
            暗証番号を忘れ <span>Forget</span>
        </h2>
        <div class="col-md-6 col-xs-6">
        <div class="validform">
        		<form action="	" class="form form-aligned trailer" method="post" novalidate="novalidate">
        			<span id="status"></span>
        			アカウントは携帯電話の番号あるいはE-mailを入力してください
        			<h2>@ViewBag.Message</h2>
                
        			<label for="">アカウント</label>
        			<input class="form-control" type="text" data-val="true" data-val-required="必填欄位" id="Account" name="account" placeholder="アカウント">
        			<span class="field-validation-valid" data-valmsg-for="account" data-valmsg-replace="true"></span>
        			<div class="m1">
        			   
        			    <input type="submit" class="btn btn-primary" value="送信">
        			   
        			</div>
                    @if (ViewBag.ResetPassword == true)
                    {
                        <div>密碼已重設，請至電子信箱收取您的新密碼</div>
                    }
                    else if (ViewBag.ResetPassword == false)
                    {
                        <div>找不到符合的帳號，請確認輸入的帳號是否有誤</div>
                    }
        		</form>
           
        </div>
       
        </div>
        
    </div>
</div>