﻿@{
    ViewBag.Title = "PortalOrder";
}

<div class="container l-white">
	<h2 class="l-titles">注文書を選んでください</h2>
	<div class="m1 text-center">
		<a  href="https://www.fun2tw.com/Customer/Order" target="_blank" class="btn btn-primary m1 btn-lg">モデルコースの注文書</a>
		<!--<a   href="https://ec.fun2tw.com/Customers/Order" target="_blank" class="btn btn-success m1 btn-lg">お土産の注文書</a>-->
		<a   href="https://ticket.fun2tw.com/TicketHistory.aspx" class="btn btn-danger m1 btn-lg" target="_blank">電子チケットの注文書</a>
	</div>
</div>

