﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelOrder
@{
    ViewBag.Title = "訂單內容";

}
<style>
    table, th, td {
        border-style: double;
        border-width: 1px;
        padding: 4px;
    }
</style>
<div class="container l-white news-content">
    <h2 class="l-titles">
        詳細
    </h2>
    <h3>ツアーオーダー</h3>
    <div>
        購入時間:@Model.InitDate
    </div>
    <table  border="0" cellpadding="0" cellspacing="0" class="od1 table table-bordered" style="border: none;">
        <tr>
            <th class="l_4">ご注文番号
            </th>
            <td class="gt2" colspan="3">
                @Model.Orderid
            </td>           
        </tr>
        @*<tr>
            <th class="l_4">オーダー状況
            </th>
            <td class="gt2">
                @Model.OrderStatus
            </td>
            <th class="l_4">支払い方法
            </th>
            <td class="gt2" style="color: #000;">
                @Model.PayType
            </td>
        </tr>*@
        <tbody>
            <tr>
                <th width="130" class="l_2">ツアー名
                </th>
                <td colspan="3">
                    @Model.Product.JpSubject
                </td>

            </tr>
            <tr>
                <th width="130" class="l_2">出発日
                </th>
                <td colspan="3">
                    @Model.ActityDate.ToString("yyyy/MM/dd")
                </td>

            </tr>
            <tr>
                <th width="130" class="l_2">お名前
                </th>
                <td class="l_2 gt2" width="180">
                    @Model.OrderName
                </td>
                <th width="130" class="l_2">ローマ字
                </th>
                <td class="l_2 gt2" style="color: #000;">
                    @Model.OrderEnglishName

                </td>
            </tr>
            <tr>
                <th class="l_4">電話番号
                </th>
                <td class="gt2">
                    @Model.OrderTelphone
                </td>
                <th class="l_4">携帯番号
                </th>
                <td class="gt2" style="color: #000;">
                    @Model.OrderMobile
                </td>
            </tr>
            <tr>
                <th class="l_4">ファックス
                </th>
                <td class="gt2">
                    @Model.FAX
                </td>
                <th class="l_4">Email
                </th>
                <td class="gt2" style="color: #000;">
                    @Model.OrderEmail
                </td>
            </tr>
            <tr>
                <th class="l_4"><span style="color: red">*</span> 住所
                </th>
                <td class="gt2" colspan="3">
                    @Model.OrderAddress
                </td>
            </tr>
            <tr>
                <th class="l_4">乗車場所
                </th>
                <td class="gt2" colspan="3">
                    @Model.CarArea
                </td>
            </tr>
            <tr>
                <th class="l_4">スペシャルリクエスト
                </th>
                <td class="gt2" colspan="3">
                    @Model.CustomerMemo

                </td>
            </tr>
            <tr>
                <th class="l_4">ご記入欄
                </th>
                <td class="gt2" colspan="3">
                    @Model.ProcesssMemo

                </td>
            </tr>
            @if (Model.PayType == PayType.自動櫃員機ATM繳費)
            {
                <tr>
                    <th class="l_4">匯款人姓名
                    </th>
                    <td class="gt2">
                        @Model.RemittanceName
                    </td>
                    <th class="l_4">匯款帳號後五碼
                    </th>
                    <td class="gt2" style="color: #000;">
                        @Model.RemittanceAccount
                    </td>
                </tr>
            }

        </tbody>
    </table>
   

    <h3>ご注文明細</h3>
    <table CLASS="table table-bordered">
        <thead>
            <th>アイテム
            </th>
            <th>価格
            </th>
            <th>
                <span style="color: red">*</span>  お名前（漢字）
            </th>
            <th>お名前（ローマ字.パスポートと一致）
            </th>
            <th>
                <span style="color: red">*</span>ID番号
            </th>
            <th>
                <span style="color: red">*</span>生年月日
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetailses)
            {
                <tr>
                    <td>
                        @item.Subject

                    </td>
                    <td>
                        <span style="color: red">@item.Price</span>


                    </td>
                    <td>
                        @item.Name

                    </td>
                    <td>
                        @item.LastName @item.FirstName
                    </td>
                    <td>
                        @item.PassID
                    </td>
                    <td>
                        @item.Birthday
                    </td>
                </tr>
                    
            }
        </tbody>
    </table>
    @if (!string.IsNullOrEmpty(Model.Coupon)){
         <div>Coupon Code:<span>@Model.Coupon</span></div> 
    }    
    <div>総金額:<span style="color: red">@Model.Total</span></div>


     @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        if (Model.PayType == PayType.自動櫃員機ATM繳費 && string.IsNullOrEmpty(Model.RemittanceAccount) )
         {
             <div>
                 <span>請輸入匯款人姓名:</span>
                  @Html.TextBoxFor(model => model.RemittanceName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("RemittanceName"),@class="form-control" })

                 <span>請輸入匯款帳號後五碼:</span>
                  @Html.TextBoxFor(model => model.RemittanceAccount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("RemittanceAccount"),@class="form-control" })
                  <div class="m1">
              <input type="submit" class="btn btn-primary" value="送出"/>
                      
                  </div>
             </div>
            
        
         }

    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
