﻿@using Fun2twModels.Models
@model Fun2tw.Models.RegisterView
@{
    ViewBag.Title = "修改個人資料";

}
<style>
    input {
        margin: 10px 0;
        width: 300px;
    }
    @@media (max-width: 569px) {
      input {
        width: 100%;
      }
      
    }
</style>
<div class="container l-white news-content">
  <h2 class="l-titles ">
       個人情報設定 <span>PROFILE</span>
    </h2>
      <span id="status"></span>
               
				<h2>@ViewBag.Message</h2>
    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <div class="col-md-6">  
        <div class="editor-label">
           <!--名稱:-->

        </div>
        <div class="editor-field">
           <span>@Model.GetCustomers().Name</span>
            @Html.HiddenFor(model => model.Account)    
            
        </div>

        @if (Model.GetCustomers().Password != "FBGmail")
        {
             <div class="editor-label">
            パスワード

        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Opassword)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.PasswordSalt)
            @Html.HiddenFor(model => model.Id)


            <br>
            (暗証番号を変更しない場合空欄のままにしておいて下さい)

        </div>
        }
       
          <div class="editor-label">
            @Html.LabelFor(model => model.GetCustomers().Email)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Email)

        </div>

         <div class="editor-label">
            フォン

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Telphone)

        </div>

        

                <div class="editor-label">
           モバイル

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Mobile)

        </div>
         <div class="editor-label">
            住所

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Address)

        </div>







        <div class="m1"></div>
     <div class="g-recaptcha" data-sitekey="6Lf5cCITAAAAAGHeQaUlq5UrJVF1jeTFA0LEOArn"></div>

        <p class="">
            <input type="submit" class="btn btn-primary" value="修正する" />
        </p>
</div>
}
    </div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @Scripts.Render("~/bundles/jqueryval")


    
}

