﻿
@{
    ViewBag.Title = "修改個人資料成功";
  
}
<div class="container">
      <h2 class="l-title">
        <i class="fa fa-youtube-play"></i>成功を変更
    </h2>
    <div>
        
    </div>
    <a href="/Home">戻り</a>



</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
