﻿@using Fun2twModels.Models
@using MvcPaging
@model List<Fun2twModels.Models.ThemeVideo>
@{
    ViewBag.Title = "墾丁影音─瘋趣台灣─墾丁好行";
    ThemeVideo topVideo = ViewBag.topVideo;
    List<ShopVideo> shopVideos = ViewBag.shopVideos;
    List<CustomerVideo> customerVideos = ViewBag.customerVideos;
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社網羅恆春
半島獨家旅遊資訊，從眾所皆知的熱門打卡
景點到在地人的私房秘境，高畫質旅遊主題
影片，享受更優質的旅遊體驗！" />
}
<link rel="stylesheet" href="~/css/video-page.css">
<style>
    .l-title {
        border-bottom: 0;
        text-align: center; 
    }
    .banner_img {
        text-align: center;
        background: #000;
    }
    .banner_img img {
        height: 150px!important;
    }
    .post-thumbnail {
        background: #000;
    }
    .cherry-banner_link {
        padding-top: 25%;
    }
    .cherry-banner_link:hover {
        background: rgba(0,0,0,.7);
    }
    @@media (max-width: 767px) {
        
        .cherry-posts-list.style_1 .cherry-posts-item , .cherry-posts-list.style_2 .cherry-posts-item, .cherry-banner.style_1{
            margin-bottom: 0;
        }
       
        .post-thumbnail img ,.banner_img img {
            width: 100%;
            height: auto!important;
        }
        .cherry-banner_link {
            padding-top: 0%;
        }
        .cherry-banner.style_1 .cherry-banner_wrap a.cherry-banner_link .inner {
            display: inline-block;
            vertical-align: middle;
        }
        .cherry-posts-list.style_2 .cherry-posts-item .inner h4,
        .cherry-posts-list.style_1 .cherry-posts-item .inner h4,
        .cherry-banner_link
         {
            font-size: 20px;
        }
    }
    
</style>

<script>
    // 取得權限
    // Notification.requestPermission();

    // var n = new Notification('NEWS',{
    //     icon: '',
    //     body: '瘋趣台灣影音現正熱映中',
    //     tag: '',
    //     requireInteraction: true
    // })
</script>

<div class="container">

    <h1 class="l-title">店家影音</h1>

    <div class="row">
        <div class="container">
            <div class="row row-edge">
                @foreach (var item in shopVideos)
                {
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="cherry-banner style_1 ">
                            <div class="cherry-banner_wrap">
                                <div class="banner_img">
                                    @if (!string.IsNullOrEmpty(item.ThumbnailUrl))
                                    {
                                        <img src="/upfiles/images/@item.ThumbnailUrl" alt="@item.Subject">
                                    }
                                    else
                                    {
                                        <img src="/upfiles/images/@item.UpImageUrl" alt="@item.Subject">
                                    }
                                </div>
                                <a href="/ShopVideo/Details/@item.Id" class="cherry-banner_link">
                                    <div class="inner">
                                        
                                        @item.Subject
                                        
                                    </div>
                                    <div class="auxiliary"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    

    <h1 class="l-title">旅遊主題影片</h1>


    <div class="row  ">
        <div class="container">
            <div class="row row-edge">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div id="cherry-posts-list-2" class="cherry-posts-list row style_2 ">
                        <div class="cherry-posts-item col-xs-12 col-sm-12 col-md-12 col-lg-12 post-item item-0 odd">
                            <div class="inner cherry-clearfix">
                                <div class="inner_box">
                                    <figure class="post-thumbnail">
                                        <a href="/ThemeVideo/Details/@topVideo.Id">
                                            <img width="558" height="312" src="@topVideo.UpImageUrl" class="attachment-image-size-3 wp-post-image" alt="@topVideo.Subject"></a>
                                    </figure>
                                    <div class="caption">
                                        <div class="indent">
                                            <h4 class="post-title"><a href="/ThemeVideo/Details/@topVideo.Id">@topVideo.Subject</a></h4>

                                        </div>
                                        <div class="auxiliary"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cherry-xs-clear cherry-sm-clear cherry-md-clear cherry-lg-clear"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div id="cherry-posts-list-3" class="cherry-posts-list row style_1 ">
                        @foreach (var item in Model)
                        {

                            <div class="cherry-posts-item col-xs-12 col-sm-6 col-md-6 col-lg-6 post-item item-0 odd">
                                <div class="inner cherry-clearfix">
                                    <div class="inner_box">
                                        <figure class="post-thumbnail">
                                            <a href="/ThemeVideo/Details/@item.Id" class="post-thumbnail_link">
                                                <img width="258" height="141" src="@item.UpImageUrl" class="attachment-image-size-2 wp-post-image" alt="@item.Subject"></a>
                                        </figure>
                                        <div class="caption">
                                            <div class="indent">
                                                <h4 class="post-title"><a href="/ThemeVideo/Details/@item.Id">@item.Subject</a></h4>

                                            </div>
                                            <div class="auxiliary"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="cherry-xs-clear cherry-sm-clear cherry-md-clear cherry-lg-clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <h1 class="l-title">玩家影音</h1>

    <div class="row lines ">
        <div class="cherry-box  ">
            <div class="inner" style="">
                <div class="container">
                    <div class="row row-edge">

                        @foreach (var item in customerVideos)
                        {

                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="cherry-banner style_1 ">
                                    <div class="cherry-banner_wrap">
                                        <div class="banner_img">
                                            
                                                <img src="@item.UpImageUrl" alt="@item.Subject">
                                           
                                        </div>
                                        <a href="/CustomerVideo/Details/@item.Id" class="cherry-banner_link">
                                            <div class="inner">
                                                
                                                @item.Subject
                                                
                                            </div>
                                            <div class="auxiliary"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="l-title">即時影音</h1>
    <center style="padding:15px;"><a class="btn btn-primary" href="https://www.fun2tw.com/realtimevideo/">前往頁面</a></center>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
