﻿
@{
    ViewBag.Title = "半島市集退換貨說明";
  
}
<div class="container l-white">
      <h2 class="l-titles l-titles-indent">
        半島市集退換貨說明 <span>MARKET</span>
    </h2>
    <div class="news-content">
        <p style="text-decoration: underline;">取消訂單</p>
        若您的訂單尚未付款，可致電哪購購物商城客服部與我們聯繫，我們會幫您取消該筆訂單，若訂單已付款則無法取消。<br/>
        <br/>
        <ul>
          <li>
            <h3>Step 1：聯絡客服 </h3>
            <p>我們將直接為您取消訂單</p>
          </li>
          <li>
            <h3>Step 2：確認取消 </h3>
            <p>您可至『會員中心』登入後，查詢該筆訂單狀態是否呈現以取消或是單項商品的取消</p>
          </li>
        </ul>
        <p style="text-decoration: underline;">退、換貨</p>
        商品退換貨原則，商品退換貨服務僅限下列狀況可提供退換，並且需在收到商品七日內與客服中心聯繫。<br/>
        #如因退貨造成訂單純商品金額購物未達2000元免運費標準，仍將於退貨退款時加計原訂單之100元物流費<br>
        #但以下情況無法退換貨<br/>

        <br/>
        <br/>
        1. 海外消費者於本公司網站購買之商品，非商品本身之瑕疵而退換貨者，需自行負擔運費。<br/>
        2. 收到商品超過七日後，才辦理退換貨。<br/>
        3. 出貨明細表、發票、產品相關配件等不齊全。<br/>
        4. 未向本公司聯繫與說明，且經過本公司認可的退換貨原因，而自行將商品寄回者。<br/>
        退換貨若您收到瑕疵品或非自己訂購之商品時，必須於收到商品七日內與哪購電子商城客服部聯繫，
        客服人員會與您溝通相關換貨事宜


        <ul>
          <li>
            <h3>Step 1：聯絡客服 </h3>
            <p>我們將與您溝通退換貨事宜</p>
          </li>
          <li>
            <h3>Step 2：貨品寄回 </h3>
            <p>請附上下列相關文件：退換貨商品、發票、退貨說明</p>
          </li>
          <li>
            <h3>Step 3：等待七個工作日 </h3>
            <p>確認完成退款</p>
          </li>
        </ul>
        <br/>
        客服部聯繫方式<br/>
        電話：04-2558-4091#12<br/>
        電子信箱：crazyway51@gmail.com<br/>
        <br/>
        退換貨應注意事項<br/>
        請您將『退貨商品、發票』重新包裝好，並於盒外載明退貨原因，哪購購物商城將聯絡貨運公司到您的府上收送，收件資訊如下所示：<br>
        地址：泰安服務區 台中市后里區月眉里雲頭路3-3號 <br>
        電話：0970-060-887 <br>
        其他說明 <br>
        1. 若因不可抗力因素而無法按時送達商品，將通知客戶延遲收貨時間，擇日另行送達，敬請見諒。<br/>
        2. 因訂購人所提供的資料不完整而無法即時聯繫，或因個人因素無法收件等導致損失，恕不接受退換貨及退貨款。<br/>
        3. 本網站保留接受訂單與否之權利。<br/>
        <br/>
    </div>
          @if (Request["Mobile"] != "true")
          {
              <div class="text-center m1">
                  <a class="btn btn-cyan" href="/Home">回首頁</a>
              </div>
          }



</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
