﻿@using Fun2twModels.Models
@{
    ViewBag.Title = "墾丁旅遊─瘋趣台灣─墾丁好行";
    List<TravelTheme> travelThemes = ViewBag.travelThemes;
    IQueryable<TravelProduct> travelproducts = ViewBag.travelproducts;
    IQueryable<ThemeVideo> themeVideos = ViewBag.ThemeVideos;
    List<News> newses = ViewBag.News;
    IQueryable<AboutLink> aboutLinks = ViewBag.AboutLinks;
    IQueryable<ExpertPlan> expertPlans = ViewBag.expertPlans;
    IQueryable<HomeBanner> homeBanners = ViewBag.HomeBanners;
    IQueryable<HomeAdBanner> homeAdBanners = ViewBag.homeAdBanners;
    List<PackageTicket> packageTickets = ViewBag.packageTicket;
    AdForHome adForHome = ViewBag.adForHome;
    if (Request["Mobile"] == "true")
    {
        travelThemes = travelThemes.Take(1).ToList();
    }
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、墾丁旅遊特惠套票、在地特產市集訂購|不容錯過的精采‧即刻體驗" />
}
<style>
    .adblock {
        padding: 10px;
        background: #eeeeee;
        color: #00bfd8;
    }

    .text {
        text-align: center;
    }

    .text, .link {
        float: left;
        width: 50%;
    }

    .link {
        text-align: right;
    }

    .link a {
        border-radius: 30px;
        display: inline-block;
        padding: 2px 5px;
        background: white;
        color: #00bfd8;
    }
</style>
@* <script>
    $(window).load(function () {
        $('#slider').nivoSlider({

            directionNav: true,
            manualAdvance: true
        });
    });

</script> *@
<script>
    $(function () {
        $('ul.tab li:eq(0)').addClass('active');
        $('.tab_content:eq(1)').hide();
        $('ul.tab li').click(function (e) {
            e.preventDefault();
            $(this).addClass('active').siblings('li').removeClass('active');
            $($(this).find('a').attr('href')).show().siblings('.tab_content').hide();
        })

        $('.media_container_list li:eq(0)').addClass('active');
        $('.multi_content:eq(0)').show().siblings().hide();
        $('.multi_content2:eq(0)').show().siblings().hide();
        $('.select_list').click(function (e) {
            e.preventDefault();
            $(this).addClass('active').siblings('li').removeClass('active');
            $($(this).find('a').attr('href')).show().siblings('.multi_content').hide();
            $($(this).find('a').attr('href')).show().siblings('.multi_content2').hide();
        })
        $('.category-tab li:eq(0)').addClass('active');
        $('.category-tab-content:eq(0)').show().siblings().hide();
        $('.category-tab li').click(function (e) {
            e.preventDefault();
            $(this).addClass('active').siblings('li').removeClass('active');
            $($(this).find('a').attr('href')).show().siblings('.category-tab-content').hide();
        })

        $('.popup_background').click(function (event) {
            $(this).css('display', 'none');
        });
        $('.closepop').click(function (event) {
            $('.popup_background').css('display', 'none');
        });

    })
</script>
@if (Request["Mobile"] != "true")
{ 

    <div class="flexslider">
        <ul id="slider"  class="slides theme-default container">
            @foreach (var item in homeBanners.Where(w => w.Language == Language.中文).OrderBy(x => x.ListNum))
            {
                <li>
                    <a href="@item.URL" title="@item.Subject">
                        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                        {
                            <img src="~/upfiles/images/@(item.UpImageUrl)" />
                        }
                        else
                        {
                            <img src="~/images/index-banner-1.png" alt="">
                        }
                    </a>
                </li>


            }
            <!-- <a href="#"><img src="images/fun2tw-02.png" alt=""></a>  -->
        </ul>
    </div>
}
@foreach (var item in newses.OrderByDescending(x => x.InitDate).Take(3))
{
   
    <div class="home-news-list container">
        <ul class="news-list">
            <li>
                <div class="date all-centering">
                    <div>
                        <h3>@item.InitDate.GetValueOrDefault().Year</h3>
                        <h2>@item.InitDate.GetValueOrDefault().Month<span>.@item.InitDate.GetValueOrDefault().Day</span></h2>
                    </div>
                </div>
                <div class="content">
                    <a href="/News/Details/@item.Id?mobile=@Request["mobile"]">
                        <span>@item.Catalog.Subject</span>
                        <h3>@item.Subject</h3>
                        <div class="more"><a href="/News/Details/@item.Id?mobile=@Request["mobile"]">&#060;more&#062;</a></div>

                        
                    </a>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
}


<div class="container">
@{
    var i = 1;
}
@if (Request["Mobile"] != "true")
{
   
    <ul class="category-tab">

        @foreach (var item in travelThemes)
        {
            <li>
                <a href="#category-tab@(i)">@item.Subject</a>
            </li>
            i++;
        }

    </ul>
}


<div class="tab-content-wrap">
@{
    i = 1;
}
@foreach (var item in travelThemes)
{
    if (item.Subject.Contains("交通套票"))
    {
        <div id="category-tab@(i)" class="category-tab-content">
            @foreach (var items in packageTickets)
            {

                <div class="category-tab-card">
                    <div class="category-tab-card-image">
                        <a href="/PackageTicket/Details/@items.Id?Mobile=@Request["Mobile"]">
                            @if (!string.IsNullOrEmpty(items.UpImageUrl))
                            {
                                <img src="~/upfiles/images/@(items.UpImageUrl)" />
                            }
                            else
                            {
                                <img src="images/travel1.jpg" alt="">
                            }
                        </a>
                    </div>
                    <div class="category-tab-card-title">
                        @items.Subject
                    </div>
                    @if (items.DiscountPrice.HasValue && items.DiscountPrice > 0)
                    {


                        <p>
                            <span style="color: #898989">原價$</span>
                            <span style="text-decoration: line-through; font-size: 20px;">@items.Price</span>

                        </p>
                        <p>
                            <span style="color: #8f8f8f">優惠價$</span>
                            <span style="font-size: 20px; color: #f03387;">@items.DiscountPrice</span>
                        </p>


                    }
                    else
                    {
                        <p>
                            <span style="color: #8f8f8f">原價$</span>
                            <span style="font-size: 20px; color: #f03387;">@items.Price</span>
                        </p>
                    }
                </div>

            }
        </div>

    }
    else
    {
        <div id="category-tab@(i)" class="category-tab-content">
            @foreach (var product in item.TravelProducts.Where(x => x.Enable == BooleanType.是 && x.UpImageUrl != null && x.TicketsPrice.HasValue))
            {
                <div class="category-tab-card">
                    <div class="category-tab-card-image">
                        <a href="/TravelSchdule/Details/@product.Id?Mobile=@Request["Mobile"]">
                            @if (!string.IsNullOrEmpty(product.UpImageUrl))
                            {
                                <img src="~/upfiles/images/s@(product.UpImageUrl)"/>
                            }
                            else
                            {
                                <img src="images/travel1.jpg" alt="">
                            }
                        </a>
                    </div>
                    <div class="category-tab-card-title">
                        @product.Subject
                    </div>
                    <div class="category-tab-card-price">
                        <span style="color: #898989">優惠價NT$</span>
                          
                             
                          
                        <span style="font-size: 20px; color: #f03387;">
                                @product.TicketsPrice<span style="font-size: 14px; color: black;">元起</span>

                            </span>
                    </div>

                </div>
            }


            <div class="clear"></div>
        </div>
    @*20180226之前舊的格式↓*@
        @*<div id="category-tab@(i)" class="category-tab-content">
            @foreach (var product in item.TravelProducts.Where(x => x.Enable == BooleanType.是 && x.UpImageUrl != null))
            {
                <div class="category-tab-card">
                    <div class="category-tab-card-image">
                        <a href="/TravelSchdule/Details/@product.Id?Mobile=@Request["Mobile"]">
                            @if (!string.IsNullOrEmpty(product.UpImageUrl))
                            {
                                <img src="~/upfiles/images/s@(product.UpImageUrl)" />
                            }
                            else
                            {
                                <img src="images/travel1.jpg" alt="">
                            }
                        </a>
                    </div>
                    <div class="category-tab-card-title">
                        @product.Subject
                    </div>
                    @if (product.SinglePrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">單人房$</span>
                            @if (product.OriginalSinglePrice != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalSinglePrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">
                                @product.SinglePrice

                            </span>
                        </div>




                    }
                    @if (product.DoublePrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">雙人房$</span>
                            @if (product.OriginalDoublePrice != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalDoublePrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.DoublePrice</span>
                        </div>


                    }

                    @if (product.FourPrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">四人房$</span>
                            @if (product.OriginalFourPrice.Value != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalFourPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.FourPrice</span>
                        </div>
                    }

                    @if (product.SixPrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">六人房$</span>
                            @if (product.OriginalSixPrice.Value != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalSixPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.SixPrice</span>
                        </div>





                    }

                    @if (product.EightPrice != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">八人房$</span>
                            @if (product.OriginalEightPrice.Value != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalEightPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.EightPrice</span>
                        </div>




                    }


                    @if (product.WithoutBedPrice != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">兒童不佔床$</span>
                            @if (product.OriginalWithoutBedPrice != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalWithoutBedPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.WithoutBedPrice</span>
                        </div>

                    }
                    @if (product.BabyPric != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">嬰兒(2歲以下)$</span>
                            @if (product.OriginalBabyPric != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalBabyPric</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.BabyPric</span>
                        </div>





                    }
                    @if (product.OneDayAdult != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">一日遊大人$</span>
                            @if (product.OriginalOneDayAdult != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalOneDayAdult</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.OneDayAdult</span>
                        </div>





                    }
                    @if (product.OneDayChild != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">一日遊小孩$</span>
                            @if (product.OriginalOneDayChild != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalOneDayChild</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.OneDayChild</span>
                        </div>



                    }
                    @if (product.OneDayBaby != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">一日遊嬰兒$</span>
                            @if (product.OriginalOneDayBaby != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalOneDayBaby</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.OneDayBaby</span>
                        </div>





                    }

                </div>
            }


            <div class="clear"></div>
        </div>*@
            i++;
    }
}
</div>

<div class="home-middle-banner" style="display: none">
    <div class="container">
        <h2>墾丁線上快現預約</h2>
        <p>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>
        <a class="btn btn-primary" href="">BOOK NOW</a>
    </div>
</div>

<div class="container">
    <ul class="home-expertinfo">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>




</div>
@if (Request["Mobile"] != "true")
{
    <div class="item slidelogo" style="margin-left:-20px">
        <div class="container">
            <div class="filtering">
                @foreach (var item in aboutLinks.OrderBy(x => x.ListNum))
                {
                    <a href="@item.URL">
                        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                        {
                            <img style="width:200px" src="~/upfiles/images/@(item.UpImageUrl)" />
                        }
                    </a>
                }
            </div>
        </div>
    </div>







    @*<div class="container index-travel" >
            <a href="#">
                <h2 class="index-title">熱門行程套票熱門行程套票

                    <span>TICKETS</span>
                </h2>
            </a>
            <ul class="list-ticket">


                <li>
                    <div class="list-ticket-card">

                        <div class="list-ticket-card-image">
                            <img src="images/travel1.jpg" alt="">
                            <div class="list-ticket-card-price">
                                <span>$</span>
                                <span style="font-size: 35px;">999</span>
                            </div>
                        </div>
                        <div class="list-ticket-card-content">
                            <div class="list-ticket-card-text">
                                <h2><a href="#">東台灣一日遊(墾花線)</a></h2>

                                <p>
                                    <i class="fa fa-bus" aria-hidden="true"></i><span style="color: #8f8f8f">一日遊大人</span><span class="price" style="color: #f03387;">$1400</span>
                                </p>
                                <p>
                                    <i class="fa fa-bus" aria-hidden="true"></i><span style="color: #8f8f8f">一日遊大人</span><span class="price" style="color: #f03387;">$1400</span>
                                </p>
                                <p>
                                    <i class="fa fa-bus" aria-hidden="true"></i><span style="color: #8f8f8f">一日遊大人</span><span class="price" style="color: #f03387;">$1400</span>
                             <span style="color: #8f8f8f"></span>
                                </p>

                            </div>
                            <div class="ribbon">
                                OO天OO時OO分

                            </div>
                        </div>
                    </div>
                </li>




            </ul>
        </div>*@




<!--
    <div class="container " style="margin-top: 100px">
        <div class="tab-btn">
            <ul class="tab">
                <li class="media_category"><a href="#video">影音</a></li>
                <li class="media_category"><a href="#photo">相簿</a></li> 
            </ul>
        </div>
        <div id="video" class="tab_content media_container">
            <div class="media_container_inner">

                <ul class="media_container_detail">
                    @{
                var j = 1;
                    }
                    @foreach (var item in themeVideos.OrderByDescending(x => x.InitDate).Take(7))
                    {
                        <li id="video@(j)" class="multi_content detail_list">
                            <div class="iframe-rwd">
                                <iframe width="100%" src="@item.YoutubeUrl.Replace("watch?v=", "embed/")" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </li>
                        j++;
                    }


                </ul>
                <ul class="media_container_list">
                    @{
                    j = 1;
                    }
                    @foreach (var item in themeVideos.OrderByDescending(x => x.InitDate).Take(7))
                    {
                        <li class="select_list"><a href="#video@(j)">@item.Subject</a></li>
                        j++;
                    }


                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div id="photo" class="tab_content media_container">
                <div class="media_container_inner">
                    <ul class="media_container_detail">
                        @{
                    j = 1;
                        }
                        @foreach (var item in homeAdBanners.Take(7))
                        {
                            <li id="photo@(j)" class="multi_content2 detail_list">
                                <div class="detail_title">@item.Subject</div>
                                <div class="detail_image">
                                    @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                    {
                                        <img src="~/upfiles/images/@(item.UpImageUrl)"/>
                                    }
                                </div>
                            </li>
                                    j++;
                        }


                    </ul>
                    <ul class="media_container_list">
                        @{
                        j = 1;
                        }
                        @foreach (var item in homeAdBanners.Take(7))
                        {
                            <li class="select_list"><a href="#photo@(j)">@item.Subject</a></li>
                            j++;
                        }


                    </ul>
                    <div class="clear"></div>
                </div>
            </div> 
    </div>
-->
}



<div class="popup_background" style="display: none">
    <div class="popup_content animated bounceInUp">
        <a href="###" class="closepop">關閉視窗</a>
        @if (adForHome != null)
        {
            <a href="@adForHome.UpImageLink" class="banner">
                <img src="~/upfiles/images/@adForHome.UpImageUrl">
            </a>
        }

    </div>
</div>


<!-- <div class="container index-travel">
    <h2 class="index-h2"><em>Link</em></h2>
    <h3 class="index-h3">相關連結</h3>
    <ul class="l-grid l-grid-fixedImg">

        @foreach (AboutLink link in aboutLinks.OrderBy(x => x.ListNum))
        {  <li class="col-lg-3">
               <a href="@link.URL" target="_blank">
                   <img src="/upfiles/Images/@link.UpImageUrl"/>
               </a></li>
        }
    </ul>
</div> -->
