@model Fun2tw.Models.PreRegisterView
@{
    ViewBag.Title = "會員申請";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-aligned trailer" }))
    {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message


    
        <h2 class="trailer">
            備註：帳號請輸入手機號碼或E-mail,密碼不得小於6個字元。
        </h2>
    <fieldset class="trailer">
        <div class="form-control-group">
            <label for="Account">帳號</label>
            <input type="text" data-val="true" data-val-required="必填欄位" id="Account" name="Account" placeholder="請輸入帳號" data-val-length="長度須介於6到12之間" data-val-length-min="6" data-val-length-max="12">
            

            <span class="field-validation-valid" data-valmsg-for="Account" data-valmsg-replace="true"></span>
           
             
        </div>
        <div style="margin-left: 50px">
           
        </div>
        <div class="form-control-group">
            <label for="Password">密碼</label>
            <input type="password" data-val="true" data-val-required="必填欄位" id="Password" name="Password" data-val-length="長度須介於6到12之間" data-val-length-min="6" data-val-length-max="12" placeholder="請輸入密碼">
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>

      
        <div id="newMessageDIV" style="display:none"></div>   
    </fieldset>
    <div class="row center m-center">
        <input type="submit" class="btn btn-large" value="送出">
        <input type="reset" class="btn btn-large" value="重設">
    </div>
}
