﻿@{
    ViewBag.Title = "日月潭線時刻表";
    Layout = null;
}
<title>日月潭線時刻表</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="js/switch_table.js"></script>

<style>
	html,body {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: sans-serif;
	}
	h1,h2 {
		display: block;
		margin: 0;
	}
	h1 {
		padding: 20px;

	}
	h2 {
		text-align: center;
		padding: 10px;
		font-size: 18px;
		background: #ffe178;
		color: #a25203;
	}
	table {

	}
	.timeTableBanner {
		padding: 10px;
		text-align: center;
		color: white;
		/*background-image: url(sunmoon.jpg);*/
		background-color: #ffb700;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.timeTable .station {
		float: left;
		width: 40%;
	}
	.timeTable .time {
		float: left;
		width: 60%;
		overflow: scroll;
	}
	.clear {
		clear: both;
	}
	.timeTableButton {
		display: inline-block;
		cursor: pointer;
		padding: 10px;
		border-radius: 30px;
		/*border: 1px solid white;*/
		color: white; 
		background: #00bfd8;
	}
	.timeTable .station table {
		width: 100%;
	}
	.timeTable td,th{
		height: 30px;
		padding: 0 15px;
	}
	.timeTable th {
		text-align: left;
		/*color:  #009dc9;*/
		font-weight: bolder;
	}
	.timeTable td {
		color: gray;
	}
	
	.timeTable .station tr:nth-of-type(even) {
		background: #fff9dc;
	}
	.timeTable .time tr:nth-of-type(even) {
		background: #fff9dc;
	}
	.timeTableButton.active {
		background: white;
		color: #00bfd8;
	}
	@@media (max-width: 413px) {
		.timeTable .station {
			float: left;
			width: 50%;
		}
		.timeTable .time {
			float: left;
			width: 50%;
			overflow: scroll;
		}
		
	}
	@@media (max-width: 374px) {
		.timeTable .station {
			float: left;
			width: 60%;
		}
		.timeTable .time {
			float: left;
			width: 40%;
			overflow: scroll;
		}
		
	}
</style>

<div class="timeTableBanner">
		<h1>台灣好行日月潭線</h1>
		<h4>時刻表左右滑動能看更多班次</h4>
		<a id="timeTableWeekdayButton" class="timeTableButton">平日時刻表</a>
		<a id="timeTableHolidayButton" class="timeTableButton">假日時刻表</a>
	</div>
	<div id="timeTableWeekday">
	<!-- 平日時刻表 -->

		<h2>平日去程：台中 往 日月潭站</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>台中干城站</th>
					</tr>
					<tr>
						<th>台中火車站</th>
					</tr>
					<tr>
						<th>高鐵台中站</th>
					</tr>
					<tr>
						<th>埔里遊客中心</th>
					</tr>
					<tr>
						<th>埔里轉運站</th>
					</tr>
					<tr>
						<th>暨南大學</th>
					</tr>
					<tr>
						<th>九族文化村</th>
					</tr>
					<tr>
						<th>日月潭(水社)</th>
					</tr>
					<tr>
						<th>向山行政中心</th>
					</tr>
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 台中干城站 -->
						<td>07:45</td>
						<td>08:20</td>
						<td>08:45</td>
						<td>09:20</td>
						<td>09:45</td>
						<td>10:20</td>
						<td>10:45</td>
						<td>11:20</td>
						<td>11:45</td>
						<td>12:20</td>
						<td>12:45</td>
						<td>13:20</td>
						<td>13:45</td>
						<td>14:20</td>
						<td>14:45</td>
						<td>15:10</td>
						<td>15:45</td>
						<td>16:20</td>
						<td>16:45</td>
						<td>17:45</td>
						<td>18:45</td>
						<td>19:45</td>
					</tr>
					<tr>
					<!-- 台中火車站 -->

						<td>07:48</td>
						<td>08:23</td>
						<td>08:48</td>
						<td>09:23</td>
						<td>09:48</td>
						<td>10:23</td>
						<td>10:48</td>
						<td>11:23</td>
						<td>11:48</td>
						<td>12:23</td>
						<td>12:48</td>
						<td>13:23</td>
						<td>13:48</td>
						<td>14:23</td>
						<td>14:48</td>
						<td>15:10</td>
						<td>15:48</td>
						<td>16:23</td>
						<td>16:48</td>
						<td>17:48</td>
						<td>18:48</td>
						<td>19:48</td>
					</tr>
					<tr>
					<!-- 高鐵台中站 -->

						<td>08:10</td>
						<td>08:45</td>
						<td>09:10</td>
						<td>09:45</td>
						<td>10:10</td>
						<td>10:45</td>
						<td>11:10</td>
						<td>11:45</td>
						<td>12:10</td>
						<td>12:45</td>
						<td>13:10</td>
						<td>13:45</td>
						<td>14:10</td>
						<td>14:45</td>
						<td>15:10</td>
						<td>15:45</td>
						<td>16:10</td>
						<td>16:45</td>
						<td>17:10</td>
						<td>18:10</td>
						<td>19:10</td>
						<td>20:10</td>
					</tr>
					<tr>
					<!-- 埔里遊客中心 -->

						<td>08:47</td>
						<td>09:22</td>
						<td>09:47</td>
						<td>10:22</td>
						<td>10:47</td>
						<td>11:22</td>
						<td>11:47</td>
						<td>12:22</td>
						<td>12:47</td>
						<td>13:22</td>
						<td>13:47</td>
						<td>14:22</td>
						<td>14:47</td>
						<td>15:22</td>
						<td>15:47</td>
						<td>16:22</td>
						<td>16:47</td>
						<td>17:22</td>
						<td>17:47</td>
						<td>18:47</td>
						<td>19:47</td>
						<td>20:47</td>
					</tr>
					<tr>
					<!-- 埔里轉運站 -->

						<td>09:00</td>
						<td></td>
						<td>10:00</td>
						<td></td>
						<td>11:00</td>
						<td></td>
						<td>12:00</td>
						<td></td>
						<td>13:00</td>
						<td></td>
						<td>14:00</td>
						<td></td>
						<td>15:00</td>
						<td></td>
						<td>16:00</td>
						<td></td>
						<td>17:00</td>
						<td></td>
						<td>18:00</td>
						<td>19:00</td>
						<td>20:00</td>
						<td>21:00</td>
					</tr>
					<tr>
					<!-- 暨南大學 -->

						<td></td>
						<td>09:30</td>
						<td></td>
						<td>10:30</td>
						<td></td>
						<td>11:30</td>
						<td></td>
						<td>12:30</td>
						<td></td>
						<td>13:30</td>
						<td></td>
						<td>14:30</td>
						<td></td>
						<td>15:30</td>
						<td></td>
						<td>16:30</td>
						<td></td>
						<td>17:30</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 九族文化村 -->

						<td>09:25</td>
						<td></td>
						<td>10:25</td>
						<td></td>
						<td>11:25</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>17:25</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 日月潭(水社) -->

						<td>09:40</td>
						<td>10:05</td>
						<td>10:40</td>
						<td>11:25</td>
						<td>11:40</td>
						<td>12:05</td>
						<td>12:30</td>
						<td>13:05</td>
						<td>13:30</td>
						<td>14:05</td>
						<td>14:30</td>
						<td>15:05</td>
						<td>15:30</td>
						<td>16:05</td>
						<td>16:30</td>
						<td>17:05</td>
						<td>17:40</td>
						<td>18:05</td>
						<td>18:30</td>
						<td>19:30</td>
						<td>20:30</td>
						<td>21:30</td>
					</tr>
					<tr>
					<!-- 向山行政中心 -->

						<td></td>
						<td>10:15</td>
						<td></td>
						<td>11:35</td>
						<td></td>
						<td></td>
						<td></td>
						<td>13:15</td>
						<td></td>
						<td>14:15</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>

			<div class="clear"></div>
		</div>
		<h2>平日返程：日月潭站 往 台中</h2>
		<div class="timeTable">
			<div class="station">
				<table>
					<tr>
						<th>向山行政中心</th>
					</tr>
					<tr>
						<th>日月潭(水社)</th>
					</tr>
					<tr>
						<th>九族文化村</th>
					</tr>
					<tr>
						<th>暨南大學</th>
					</tr>
					<tr>
						<th>埔里轉運站</th>
					</tr>
					<tr>
						<th>高鐵台中站</th>
					</tr>
					<tr>
						<th>台中火車站</th>
					</tr>
					<tr>
						<th>台中干城站</th>
					</tr>
				</table>
			</div>
			<div class="time">
				<table>
					<tr>
					<!-- 向山行政中心 -->
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>11:30</td>
						<td></td>
						<td></td>
						<td></td>
						<td>13:30</td>
						<td></td>
						<td></td>
						<td></td>
						<td>15:30</td>
						<td></td>
						<td>16:30</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 日月潭(水社) -->

						<td>07:25</td>
						<td>08:25</td>
						<td>09:10</td>
						<td>09:40</td>
						<td>10:25</td>
						<td>10:40</td>
						<td>11:25</td>
						<td>11:40</td>
						<td>12:25</td>
						<td>12:40</td>
						<td>13:25</td>
						<td>13:40</td>
						<td>14:25</td>
						<td>14:40</td>
						<td>15:10</td>
						<td>15:40</td>
						<td>16:10</td>
						<td>16:40</td>
						<td>17:10</td>
						<td>17:40</td>
						<td>18:25</td>
						<td>19:25</td>
					</tr>
					<tr>
					<!-- 九族文化村 -->

						<td></td>
						<td></td>
						<td>09:25</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>15:25</td>
						<td></td>
						<td>16:25</td>
						<td></td>
						<td>17:25</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 暨南大學 -->

						<td></td>
						<td></td>
						<td></td>
						<td>10:00</td>
						<td></td>
						<td>11:00</td>
						<td></td>
						<td>12:00</td>
						<td></td>
						<td>13:00</td>
						<td></td>
						<td>14:00</td>
						<td></td>
						<td>15:00</td>
						<td></td>
						<td>16:05</td>
						<td></td>
						<td>17:05</td>
						<td></td>
						<td>18:05</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					<!-- 埔里轉運站 -->

						<td>08:00</td>
						<td>09:00</td>
						<td>10:00</td>
						<td></td>
						<td>11:00</td>
						<td></td>
						<td>12:00</td>
						<td></td>
						<td>13:00</td>
						<td></td>
						<td>14:00</td>
						<td></td>
						<td>15:00</td>
						<td></td>
						<td>16:00</td>
						<td></td>
						<td>17:00</td>
						<td></td>
						<td>18:00</td>
						<td></td>
						<td>19:00</td>
						<td>20:00</td>
					</tr>
					<tr>
					<!-- 高鐵台中站 -->

						<td>08:50</td>
						<td>09:50</td>
						<td>10:50</td>
						<td>11:00</td>
						<td>11:50</td>
						<td>12:00</td>
						<td>12:50</td>
						<td>13:00</td>
						<td>13:50</td>
						<td>14:00</td>
						<td>14:50</td>
						<td>15:00</td>
						<td>15:50</td>
						<td>16:00</td>
						<td>16:50</td>
						<td>17:05</td>
						<td>17:50</td>
						<td>18:05</td>
						<td>18:50</td>
						<td>19:05</td>
						<td>19:50</td>
						<td>20:50</td>
					</tr>
					<tr>
					<!-- 台中火車站 -->

						<td>09:07</td>
						<td>10:07</td>
						<td>11:07</td>
						<td>11:17</td>
						<td>12:07</td>
						<td>12:17</td>
						<td>13:07</td>
						<td>13:17</td>
						<td>14:07</td>
						<td>14:30</td>
						<td>15:07</td>
						<td>15:17</td>
						<td>16:07</td>
						<td>16:17</td>
						<td>17:07</td>
						<td>17:22</td>
						<td>18:07</td>
						<td>18:22</td>
						<td>19:07</td>
						<td>19:22</td>
						<td>20:07</td>
						<td>21:07</td>
					</tr>
					<tr>
					<!-- 台中干城站 -->

						<td>09:10</td>
						<td>10:10</td>
						<td>11:10</td>
						<td>11:20</td>
						<td>12:10</td>
						<td>12:20</td>
						<td>13:10</td>
						<td>13:20</td>
						<td>14:10</td>
						<td>14:30</td>
						<td>15:10</td>
						<td>15:20</td>
						<td>16:10</td>
						<td>16:20</td>
						<td>17:10</td>
						<td>17:25</td>
						<td>18:10</td>
						<td>18:25</td>
						<td>19:10</td>
						<td>19:25</td>
						<td>20:10</td>
						<td>21:10</td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>

		</div>
	</div>
	<div id="timeTableHoliday">
	<!-- 假日時刻表 -->

	<h2>假日去程：台中 往 日月潭站</h2>
	<div class="timeTable">
		<div class="station">
			<table>
				<tr>
					<th>台中干城站</th>
				</tr>
				<tr>
					<th>台中火車站</th>
				</tr>
				<tr>
					<th>高鐵台中站</th>
				</tr>
				<tr>
					<th>埔里遊客中心</th>
				</tr>
				<tr>
					<th>埔里轉運站</th>
				</tr>
				<tr>
					<th>暨南大學</th>
				</tr>
				<tr>
					<th>九族文化村</th>
				</tr>
				<tr>
					<th>日月潭(水社)</th>
				</tr>
				<tr>
					<th>向山行政中心</th>
				</tr>
			</table>
		</div>
		<div class="time">
			<table>
				<tr>
				<!-- 台中干城站 -->
					<td>07:45</td>
					<td>08:00</td>
					<td>08:20</td>
					<td>08:45</td>
					<td>09:00</td>
					<td>09:20</td>
					<td>09:45</td>
					<td>10:20</td>
					<td>10:45</td>
					<td>11:20</td>
					<td>11:45</td>
					<td>12:20</td>
					<td>12:45</td>
					<td>13:20</td>
					<td>13:45</td>
					<td>14:20</td>
					<td>14:45</td>
					<td>15:10</td>
					<td>15:45</td>
					<td>16:20</td>
					<td>16:45</td>
					<td>17:45</td>
					<td>18:45</td>
					<td>19:45</td>
				
				</tr>
				<tr>
				<!-- 台中火車站 -->

					<td>07:48</td>
					<td>08:03</td>
					<td>08:23</td>
					<td>08:48</td>
					<td>09:03</td>
					<td>09:23</td>
					<td>09:48</td>
					<td>10:23</td>
					<td>10:48</td>
					<td>11:23</td>
					<td>11:48</td>
					<td>12:23</td>
					<td>12:48</td>
					<td>13:23</td>
					<td>13:48</td>
					<td>14:23</td>
					<td>14:48</td>
					<td>15:10</td>
					<td>15:48</td>
					<td>16:23</td>
					<td>16:48</td>
					<td>17:48</td>
					<td>18:48</td>
					<td>19:48</td>
				</tr>
				<tr>
				<!-- 高鐵台中站 -->

					<td>08:10</td>
					<td>08:25</td>
					<td>08:45</td>
					<td>09:10</td>
					<td>09:25</td>
					<td>09:45</td>
					<td>10:10</td>
					<td>10:45</td>
					<td>11:10</td>
					<td>11:45</td>
					<td>12:10</td>
					<td>12:45</td>
					<td>13:10</td>
					<td>13:45</td>
					<td>14:10</td>
					<td>14:45</td>
					<td>15:10</td>
					<td>15:45</td>
					<td>16:10</td>
					<td>16:45</td>
					<td>17:10</td>
					<td>18:10</td>
					<td>19:10</td>
					<td>20:10</td>
				</tr>
				<tr>
				<!-- 埔里遊客中心 -->

					<td>08:47</td>
					<td>09:02</td>
					<td>09:22</td>
					<td>09:47</td>
					<td>10:02</td>
					<td>10:22</td>
					<td>10:47</td>
					<td>11:22</td>
					<td>11:47</td>
					<td>12:22</td>
					<td>12:47</td>
					<td>13:22</td>
					<td>13:47</td>
					<td>14:22</td>
					<td>14:47</td>
					<td>15:22</td>
					<td>15:47</td>
					<td>16:22</td>
					<td>16:47</td>
					<td>17:22</td>
					<td>17:47</td>
					<td>18:47</td>
					<td>19:47</td>
					<td>20:47</td>
				</tr>
				<tr>
				<!-- 埔里轉運站 -->

					<td>09:00</td>
					<td></td>
					<td></td>
					<td>10:00</td>
					<td></td>
					<td></td>
					<td>11:00</td>
					<td></td>
					<td>12:00</td>
					<td></td>
					<td>13:00</td>
					<td></td>
					<td>14:00</td>
					<td></td>
					<td>15:00</td>
					<td></td>
					<td>16:00</td>
					<td></td>
					<td>17:00</td>
					<td></td>
					<td>18:00</td>
					<td>19:00</td>
					<td>20:00</td>
					<td>21:00</td>
				</tr>
				<tr>
				<!-- 暨南大學 -->

					<td></td>
					<td>09:10</td>
					<td>09:30</td>
					<td></td>
					<td>10:10</td>
					<td>10:30</td>
					<td></td>
					<td>11:30</td>
					<td></td>
					<td>12:30</td>
					<td></td>
					<td>13:30</td>
					<td></td>
					<td>14:30</td>
					<td></td>
					<td>15:30</td>
					<td></td>
					<td>16:30</td>
					<td></td>
					<td>17:30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				<!-- 九族文化村 -->

					<td>09:25</td>
					<td></td>
					<td></td>
					<td>10:25</td>
					<td>10:45</td>
					<td>11:05</td>
					<td>11:25</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>17:25</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				<!-- 日月潭(水社) -->

					<td>09:40</td>
					<td>09:55</td>
					<td>10:05</td>
					<td>10:40</td>
					<td>11:05</td>
					<td>11:25</td>
					<td>11:40</td>
					<td>12:05</td>
					<td>12:30</td>
					<td>13:05</td>
					<td>13:30</td>
					<td>14:05</td>
					<td>14:30</td>
					<td>15:05</td>
					<td>15:30</td>
					<td>16:05</td>
					<td>16:30</td>
					<td>17:05</td>
					<td>17:40</td>
					<td>18:05</td>
					<td>18:30</td>
					<td>19:30</td>
					<td>20:30</td>
					<td>21:30</td>
				</tr>
				<tr>
				<!-- 向山行政中心 -->

					<td></td>
					<td></td>
					<td>10:15</td>
					<td></td>
					<td></td>
					<td>11:35</td>
					<td></td>
					<td></td>
					<td></td>
					<td>13:15</td>
					<td></td>
					<td>14:15</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<h2>假日返程：日月潭站 往 台中</h2>
	<div class="timeTable">
		<div class="station">
			<table>
				<tr>
					<th>向山行政中心</th>
				</tr>
				<tr>
					<th>日月潭(水社)</th>
				</tr>
				<tr>
					<th>九族文化村</th>
				</tr>
				<tr>
					<th>暨南大學</th>
				</tr>
				<tr>
					<th>埔里轉運站</th>
				</tr>
				<tr>
					<th>高鐵台中站</th>
				</tr>
				<tr>
					<th>台中火車站</th>
				</tr>
				<tr>
					<th>台中干城站</th>
				</tr>
			</table>
		</div>
		<div class="time">
			<table>
				<tr>
				<!-- 向山行政中心 -->
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>11:30</td>
					<td></td>
					<td></td>
					<td></td>
					<td>13:30</td>
					<td></td>
					<td></td>
					<td></td>
					<td>15:30</td>
					<td></td>
					<td>16:30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				<!-- 日月潭(水社) -->

					<td>07:25</td>
					<td>08:25</td>
					<td>08:40</td>
					<td>09:10</td>
					<td>09:40</td>
					<td>10:25</td>
					<td>10:40</td>
					<td>11:25</td>
					<td>11:40</td>
					<td>12:25</td>
					<td>12:40</td>
					<td>13:25</td>
					<td>13:40</td>
					<td>14:25</td>
					<td>14:40</td>
					<td>15:10</td>
					<td>15:40</td>
					<td>16:10</td>
					<td>16:40</td>
					<td>17:10</td>
					<td>17:40</td>
					<td>18:25</td>
					<td>18:40</td>
					<td>19:25</td>
				</tr>
				<tr>
				<!-- 九族文化村 -->

					<td></td>
					<td></td>
					<td></td>
					<td>09:25</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>15:25</td>
					<td>15:55</td>
					<td>16:25</td>
					<td>16:55</td>
					<td>17:25</td>
					<td>17:55</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				<!-- 暨南大學 -->

					<td></td>
					<td></td>
					<td>09:00</td>
					<td></td>
					<td>10:00</td>
					<td></td>
					<td>11:00</td>
					<td></td>
					<td>12:00</td>
					<td></td>
					<td>13:00</td>
					<td></td>
					<td>14:00</td>
					<td></td>
					<td>15:00</td>
					<td></td>
					<td>16:05</td>
					<td></td>
					<td>17:05</td>
					<td></td>
					<td>18:05</td>
					<td></td>
					<td>19:00</td>
					<td></td>
				</tr>
				<tr>
				<!-- 埔里轉運站 -->

					<td>08:00</td>
					<td>09:00</td>
					<td></td>
					<td>10:00</td>
					<td></td>
					<td>11:00</td>
					<td></td>
					<td>12:00</td>
					<td></td>
					<td>13:00</td>
					<td></td>
					<td>14:00</td>
					<td></td>
					<td>15:00</td>
					<td></td>
					<td>16:00</td>
					<td></td>
					<td>17:00</td>
					<td></td>
					<td>18:00</td>
					<td></td>
					<td>19:00</td>
					<td></td>
					<td>20:00</td>
				</tr>
				<tr>
				<!-- 高鐵台中站 -->

					<td>08:50</td>
					<td>09:50</td>
					<td>10:00</td>
					<td>10:50</td>
					<td>11:00</td>
					<td>11:50</td>
					<td>12:00</td>
					<td>12:50</td>
					<td>13:00</td>
					<td>13:50</td>
					<td>14:00</td>
					<td>14:50</td>
					<td>15:00</td>
					<td>15:50</td>
					<td>16:00</td>
					<td>16:50</td>
					<td>17:05</td>
					<td>17:50</td>
					<td>18:05</td>
					<td>18:50</td>
					<td>19:05</td>
					<td>19:50</td>
					<td>20:00</td>
					<td>20:50</td>
				</tr>
				<tr>
				<!-- 台中火車站 -->

					<td>09:07</td>
					<td>10:07</td>
					<td>10:17</td>
					<td>11:07</td>
					<td>11:17</td>
					<td>12:07</td>
					<td>12:17</td>
					<td>13:07</td>
					<td>13:17</td>
					<td>14:07</td>
					<td>14:30</td>
					<td>15:07</td>
					<td>15:17</td>
					<td>16:07</td>
					<td>16:17</td>
					<td>17:07</td>
					<td>17:22</td>
					<td>18:07</td>
					<td>18:22</td>
					<td>19:07</td>
					<td>19:22</td>
					<td>20:07</td>
					<td>20:17</td>
					<td>21:07</td>
				</tr>
				<tr>
				<!-- 台中干城站 -->

					<td>09:10</td>
					<td>10:10</td>
					<td>10:20</td>
					<td>11:10</td>
					<td>11:20</td>
					<td>12:10</td>
					<td>12:20</td>
					<td>13:10</td>
					<td>13:20</td>
					<td>14:10</td>
					<td>14:30</td>
					<td>15:10</td>
					<td>15:20</td>
					<td>16:10</td>
					<td>16:20</td>
					<td>17:10</td>
					<td>17:25</td>
					<td>18:10</td>
					<td>18:25</td>
					<td>19:10</td>
					<td>19:25</td>
					<td>20:10</td>
					<td>20:20</td>
					<td>21:10</td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>

	</div>
		
	</div>

	<script>
		$(function(){
			$('#timeTableHoliday').hide();
			$('#timeTableWeekdayButton').click(function(event) {
				$(this).siblings().removeClass('active');
				$(this).addClass('active');
				$('#timeTableWeekday').fadeIn();
				$('#timeTableHoliday').hide();
			});
			$('#timeTableHolidayButton').click(function(event) {
				$(this).siblings().removeClass('active');
				$(this).addClass('active');
				$('#timeTableWeekday').hide();
				$('#timeTableHoliday').fadeIn();
			});
		})
	</script>