﻿
@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.RealTimeVideo>
@{
    ViewBag.Title = "即時影音";
}
<style>
    h1 {
        margin: 0;
        padding: 10px;
    }
    .video-banner {
        padding: 50px 0;
        background: #fcf1f1; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fcf1f1, #e2faff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fcf1f1, #e2faff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fcf1f1, #e2faff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fcf1f1, #e2faff); /* Standard syntax (must be last) */
    }
    .video-banner .container {
        margin-bottom: 5px;
    }
    .video-banner-title {
        width: 50%;
        padding: 10px;
    }
    .video-banner-title h1 {
        color: #009dd8;
        text-align: center;
    }
    .video-banner-title:nth-of-type(even) {
        /*text-align: left;*/
    }
    .video-banner-img,.video-banner-iframe {
        width: 50%;
    }
    .video-banner-img,.video-banner-title ,.video-banner-iframe {
        float: left;
    }
    .video-banner-iframe {
        position: relative;
        padding-bottom: 25%;
        height: 0;
        padding-top: 25px;
    }
    .video-banner-iframe iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #mobile-title {
            display: none;
    }
    .video-banner-img {
        position: relative;
    }
    .video-banner-img div {
        width: 100%;
        padding: 10px;
        position: absolute;
        z-index: 5;
        text-align: center;
        bottom: 0;
        background: rgba(255,255,255,.8);
        color: red;
    }

    @@media (max-width: 767px) {
        .video-banner-iframe {
            width: 100%;
            padding-bottom: 55%;

        }
        .video-banner-title {
            width: 100%;
            text-align: left;
        }
        .video-banner-title h1 {
            padding: 10px 0;
        }
        .video-banner-img {
            width: 100%;
        }
        #desktop-title {
            display: none;
        }
        #mobile-title {
            display: block;
        }

    }
</style>

<div class="video-banner">
    <div class="container" style="display:none">
        <div class="video-banner-title">
            <h1>2017墾丁南灣珊瑚礁即時影像</h1>
            <span>已獲得墾丁國家公園管理處、台灣海洋科技研究中心授權同步直播</span>
        </div>
        <div class="video-banner-iframe">
            <iframe src="https://www.youtube.com/embed/qFNrRhwvLLQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
    </div>

    <div class="container" style="display:none">
        <div id="mobile-title" class="video-banner-title">
            <h1>關山夕照餘暉</h1>
            <span>關山是墾丁遊客在下午落日時分必去觀賞的地方，同時也是美國CNN認證世界12大日落美景之一，沒有辦法直接看到落日的朋友可以透過影像從另一個角

度欣賞關山夕照之美。<br>最佳觀賞時間：17:15-18:45(依各季節落日時間不同而有調整) <br>
影像來源：貝拉司漫民宿
</span>
        </div>
        <div class="video-banner-img">
            <a target="_blank" href="https://www.fun2tw.com/realtimevideo/ShowmountainImage">
              <div>影像維護中，將儘速開放</div> 

            <img id="imgView1" src="https://www.fun2tw.com/Images/Mountain/220.132.28.108.jpg" alt="220.132.28.108" width="100%"  />
            </a>
        </div>
        <div id="desktop-title" class="video-banner-title">
            <h1>關山夕照餘暉</h1>
            <span>關山是墾丁遊客在下午落日時分必去觀賞的地方，同時也是美國CNN認證世界12大日落美景之一，沒有辦法直接看到落日的朋友可以透過影像從另一個角

度欣賞關山夕照之美。 <br>最佳觀賞時間：17:15-18:45(依各季節落日時間不同而有調整)<br>
影像來源：貝拉司漫民宿
</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container" style="display:none">
        <div class="video-banner-title">
            <h1>恆春古城 - 南門</h1>
            <span>恆春南門位於南門圓環中間目前屏東客運恆春站也座落在這個地點，附近還有恆春老街、海角七號拍攝場景，夜晚在天后宮還有恆春夜市，請大家一同來

欣賞這百年歷史的古蹟吧。<br>
影像來源：屏東客運</span>
        </div>
        <div class="video-banner-img">
             <div>影像維護中，將儘速開放</div>

@*<a target="_blank" href="https://www.fun2tw.com/realtimevideo/ShowImage">*@
            <img id="imgView2" src="https://www.fun2tw.com/Images/South/220.134.166.31.jpg" alt="220.134.166.31" width="100%" />
            </a>
        </div>
        <div class="clear"></div>
    </div>

        <div class="container">
            <div id="mobile-title" class="video-banner-title">
                <h1>墾丁大街</h1>
                <span>墾丁大街是通往鵝鑾鼻的主要道路，兩旁充斥著各種特色商家，一到夜晚便成為墾丁夜市，人潮來自世界各地，是遊客到墾丁絕對不能錯過的地方。
                    <br>
影像來源：墾丁國家公園管理處

    </span>
            </div>
            <div class="video-banner-img">
                <a target="_blank" href="http://ipcamlive.com/player/player.php?alias=5784a51232986&autoplay=1"><img id="" src="/img/realtime/ks.png"

width="100%"  /></a>
            </div>
            <div id="desktop-title" class="video-banner-title">
                <h1>墾丁大街</h1>
                <span>墾丁大街是通往鵝鑾鼻的主要道路，兩旁充斥著各種特色商家，一到夜晚便成為墾丁夜市，人潮來自世界各地，是遊客到墾丁絕對不能錯過的地方。
                    <br>
影像來源：墾丁國家公園管理處

    </span>
            </div>
            <div class="clear"></div>
        </div>



</div>

@*<h2 class="l-h2">
    即時影音
</h2>*@

@*<div class="container jq-twoline l-white news-content">

    <div class="">
        <div class="">
            <div class="">*@


                @*<ul class="l-card ">
                        @foreach (var item in Model) {

                        <li class="col-md-4 col-sm-6 col-xs-12">
                            <div class="l-card-main">
                              <div class="l-card-image">
                                <a href="/RealTimeVideo/Details/@item.Id">
                                <img src="@item.UpImageUrl"/>
                        </a>
                              </div>
                              <div class="l-card-content">
                                  <h2>@item.Subject</h2>
                              </div>
                            </div>
                        </li>


                    }
                    </ul>*@



@*                <ul class="news jq-news">
                    @foreach (var item in Model)
                    {
                        <li>

                            <a target="_blank" href="@item.YoutubeUrl">

                                @item.Subject
                            </a>

                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>*@
    <style>
        .l-card-main {
            position: relative;
            border-radius: 0 !important;
        }

        .l-card-image {
            border-radius: 0;
        }

            .l-card-image img {
                width: 100% !important;
            }

        .l-card-content {
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 100%;
            background: rgba(255, 255, 255,.8);
            color: black;
            border-radius: 0 !important;
            border-bottom: 5px solid #00bfd8;
        }

        .pagination a, .pagination span {
            border: 0;
            color: #bbbbbb;
        }

            .pagination a:hover,
            .pagination a:focus,
            .pagination span:hover,
            .pagination span:focus,
            .pagination .current {
                color: white;
                background: #68d1df;
            }
    </style>

    @*<div class="l-pagination">
        <div class="pagination">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
        </div>
    </div>
</div>*@

<script>
    var ch = 0;
    $(document).ready(function () {
        setInterval("showImg()", 12);
    });
    function showImg() {

        var d = new Date();
        var curr_sec = d.getSeconds();
        //var SourceServer = $(".imgView").attr('alt');
        $("#imgView1").attr("src", 'https://www.fun2tw.com/Images/Mountain/220.132.28.108.jpg?sec=' + curr_sec);
        $("#imgView2").attr("src", 'https://www.fun2tw.com/Images/South/220.134.166.31.jpg?sec=' + curr_sec);

    }
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
