﻿
@{
    ViewBag.Title = "南門";

}


<center><img id="imgView" src="https://www.fun2tw.com/Images/South/220.134.166.31.jpg" width="50%" /></center>


@Scripts.Render("~/bundles/jquery")
<script>
    var ch = 0;
    $(document).ready(function () {
        setInterval("showImg()", 12);

    });


    function showImg() {

        var d = new Date();
        var curr_sec = d.getSeconds();
        $("#imgView").attr("src", 'https://www.fun2tw.com/Images/South/220.134.166.31.jpg?sec=' + curr_sec);
      
    }
</script>