﻿
@{
    ViewBag.Title = "關山夕照餘暉";
}


<center><img id="imgView" src="https://www.fun2tw.com/Images/Mountain/220.132.28.108.jpg" width="50%" /></center>


@Scripts.Render("~/bundles/jquery")
<script>
    var ch = 0;
    $(document).ready(function () {
        setInterval("showImg()", 12);

    });


    function showImg() {

        var d = new Date();
        var curr_sec = d.getSeconds();
        $("#imgView").attr("src", 'https://www.fun2tw.com/Images/Mountain/220.132.28.108.jpg?sec=' + curr_sec);

    }
</script>