﻿@using Fun2twModels.Models
<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>@ViewBag.Title - Fun2TW Travel Website</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" />
        <meta name="theme-color" content="#00bfd8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        @RenderSection("description", required: false)
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/nivo-slider.css">
        <link rel="stylesheet" href="~/css/all.css?20170330">
        <link rel="stylesheet" href="~/css/slick.css">
        <link rel="stylesheet" href="~/css/slick-theme.css">
        @* <link href="../Content/layout.css"/ rel="stylesheet"> *@
        @* <link href="../Content/regist.css"/ rel="stylesheet">  *@
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=200175623" type="text/javascript" charset="utf-8"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
        <script src="~/Scripts/slick.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="/js/jquery.flexslider-min.js"></script>
        <script src="~/js/jquery.nivo.slider.js"></script>
        <script src="~/js/trunk8.js"></script>
        <script src="~/js/all.js?20170207"></script>
        <style>
            @@media(max-width:1024px){
              .mobile-menu li a{
                line-height: 1.5;
              font-size: 20px;
              display: block;
            }
              .mobile-menu  li{
                text-align: center;
            }
            .mobile-menu  li li a{
              line-height: 1.2;
            }
              .wrap {
                overflow: hidden;
              }
              .dropdown-menu{
                width: 100%;
                text-align: center;
                display: block;
              }
              .topmenu > ul > li
              {
                padding: 0 .3em;
              }
              .wrap{
              max-width:1906px;
            }
            }
            @@media (max-width: 1023px) {
            
            .topmenu > ul > li {
              width: auto;
            }
            .navbar-collapse.collapse {
              height: 43px!important;
            }
            }
            @@media(max-width:768px){

            .wrap .interactive-content {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 10px;
            }
            }
            @@media (max-width: 413px) {
            	.nav {
            		width: 450px!important;
            	}
            	
            }
        </style>
    </head>
    <body>
        <div id="body">
            <ul class="mobile-menu"></ul>
            <div class="wrap">
            @if (Request["Mobile"] != "true"){
                <div class="header">
                    <div class="control">
                        <div class="container">
                            <div class="offcanvas-header">
                                <div class="offcanvas-icon">
                                    <div class="offcanvas-icon-line"></div>
                                    <div class="offcanvas-icon-line"></div>
                                    <div class="offcanvas-icon-line"></div>
                                </div>
                                <div class="offcanvas-logo"></div>
                            </div>
                            <div class="logo-section">
                                <div class="container">
                                    <a class="header-toolbar" href="/Japan/" title="Fun2TW logo">
                                        <div class="logo">Fun2TW</div>
                                    </a>
                                    <ul class="control-menu">
                                    @{
                                        var navigationCount = 0;
                                        if (Session["addressList"] != null){
                                            var addressList = (List<Navigation>) Session["addressList"];
                                            navigationCount = addressList.Count;
                                        }


                                    }

                                    @if (!User.Identity.IsAuthenticated){
                                        <li><a href="/Japan/Customer"><i class="fa fa-user"></i><div>サインイン</div></a></li>
                                        <li>
                                            <a href="/Japan/Navigation/SortLocation">
                                                <i class="fa fa-map-marker"></i>
                                                <span
                                                style="
                                                background: #ff7bbb;
                                                color: white;
                                                display: inline-block;
                                                width: 20px;
                                                height: 20px;
                                                border-radius: 15px;
                                                text-align: center;"
                                                class="jq-num">@navigationCount</span>
                                                <div>ナビゲーション</div>
                                            </a>
                                        </li>
                                        <li><a href="/Japan/Customer/Order"><i class="fa fa-list-alt"></i>
                                        <div>注文履歴</div></a></li>
                                    }
                                    else{

                                        <li>
                                            <a href="/Japan/Navigation/SortLocation">
                                                <i class="fa fa-map-marker"></i>
                                                <span
                                                style="
                                                background: #ff7bbb;
                                                color: white;
                                                display: inline-block;
                                                width: 20px;
                                                height: 20px;
                                                border-radius: 15px;
                                                text-align: center;"
                                                class="jq-num">@navigationCount</span>
                                                <div>ナビゲーション</div>
                                            </a>
                                        </li>
 <li><a href="/Japan/Customer/Order"><i class="fa fa-list-alt"></i>
                                        <div>注文履歴</div></a></li>
                                        @* <li><a href="/shoppingcar/list"><i class="fa fa-shopping-cart"></i><span
                                        style="
                                        text-align: center;
                                        background: #ff78ad;
                                        color: white;
                                        border-radius: 15px;
                                        width: 20px;
                                        height: 20px;
                                        display: inline-block;"
                                        class="jq-num">@ShoppingCarCount</span></a>
                                        </li> *@

                                        
                                        <li><a href="/japan/Customer/Update?mobile="><i class="fa fa-user"></i>
                                        <div>会員情報</div></a></li>

                                        <li><a href="/Japan/Customer/LogOff"><i class="fa fa-sign-out"></i>
                                        <div>ログアウト</div></a></li>

                                    }
                                        <li id="open_search" class="control_drop"><a href="###"><i class="fa fa-search"></i>
                                        <div>検索</div></a></li>
                                        <li id="open_language" class="control_drop"><a href="###"><i class="fa fa-globe"></i>
                                        <div>言語</div></a></li>

                                    </ul>

                                    <ul class="language">
                                        <li><a href="/english/">English</a></li>
                                        <li><a href="/home/">中文</a></li>
                                    </ul>
                                    <div class="google_search">
                                        <style>
                                            .top-menu {
                                                clear: both;
                                            }
                                            .search {
                                                padding-top: 15px;
                                                width: 250px;
                                            }

                                            .gsc-control-cse {
                                                border: 0 !important;
                                                background: none !important;
                                                padding: 0 !important;
                                            }
                                            .gsc-input-box {
                                                height: 30px !important;
                                            }
                                            .gsc-search-box tr {
                                            }
                                            .gsc-search-box tr:nth-of-type(odd) {
                                                background: none !important;
                                            }
                                            .gsc-search-box .gsc-input {
                                                padding: 0 !important;
                                            }
                                            .gsib_a {
                                                padding: 0 !important;
                                            }
                                            .gsc-input {
                                                height: 30px !important;
                                                background: none !important;
                                                margin: 0 !important;
                                            }
                                            .gsc-search-button input {
                                                width: auto;
                                                margin: 5px 0 0 0 !important;
                                                height: 30px !important;
                                                background: #c3c3c3 !important;
                                                border: 0!important;

                                            }
                                            .gsc-search-button input:focus {
                                                outline: 0;
                                                border: 0;
                                                box-shadow: 0;
                                            }

                                            .gsib_b {
                                                display: none;
                                            }
                                            @@media (max-width: 1023px) {
                                                .gsc-results-wrapper-overlay {
                                                    width: 100%;
                                                    left: 0;
                                                }
                                            }
                                        </style>
                                        <script>
                                            (function() {
                                                var cx = '005016262049840722736:a-5jvpbl5ag';
                                                var gcse = document.createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                            })();
                                        </script>
                                        <gcse:search></gcse:search>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topmenu navbar-collapse collapse">
                        <ul class="nav container">
                            <li><a href="/Japan/News" class="news">ニュース</a></li>
                           @*  <li>
                            <a class="location" target="_blank" href="http://ticket.fun2tw.com/ ">交通経路</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Japan/Navigation/plan">旅ルートの計画</a></li>
                                    <li><a target="_blank" href="http://ticket.fun2tw.com/ ">きっぷ．チケット</a></li>
                                    <li><a href="/Japan/Navigation/overview#traffic">車輛動態</a></li>
                                </ul>
                            </li> *@
                            @* <li><a href="https://www.fun2tw.com/PackageTicket">旅遊套票</a></li> *@
                            @* <li><a href="/Japan/ShopInfo/overview" class="travel">食宿情報</a></li> *@
                            @* <li><a href="https://ec.fun2tw.com/" class="market">伴手禮市集</a></li> *@
                            <li>
                                <a href="https://www.fun2tw.com/japan/home/travel" class="travel">旅行ガイド</a>
                                <ul class="dropdown-menu">
                                    @* <li><a href="/Japan/ExpertInfo/Plan">行程懶人包</a></li> *@
                                    <li><a href="/Japan/TravelSchdule/index">旅行ガイド</a></li>
                                    <li><a href="/Japan/TravelPlan/overview">おすすめ観光スポット</a></li>
                                    @* <li><a href="/Japan/ExpertPlan">達人樂遊攻略</a></li> *@

                                </ul>
                            </li>
                            @* <li><a href="/Japan/ShopVideo" class="video">ムービー</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Japan/ThemeVideo">観光スポットの紹介</a></li>
                                    <li><a href="/Japan/CustomerVideo">玩家分享</a></li>
                                    <li><a href="/Japan/ShopVideo">おすすめ店の紹介</a></li>
                                    <li>
                                        <a href="/Japan/realtimevideo/">即時影音</a>
                                    </li>
                                </ul>
                            </li> *@
                            @* <li><a href="https://www.facebook.com/fun2tw/?skip_nax_wizard=true" target="_blank">粉絲團</a></li> *@
                            @*<li><a href="/Gmail">FB 註冊</a></li>*@
                            
                            <li>
                                <a href="https://www.fun2tw.com/japan/home/kenting" class="travel">墾丁</a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" href="http://ticket.fun2tw.com/m_Main.aspx">予約</a></li> 
                                    <li><a href="https://www.fun2tw.com/Japan/FAQ?mobile=">Q&A</a></li>
                                    <li><a href="https://www.fun2tw.com/japan/Navigation/timetable">時間表</a></li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            }
                <div class="main">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            @if (Request["Mobile"] != "true"){
                <div class="fat-footer">
                    <div class="container">
                        <ul>
                            <li>
                                <h2>屏東旅行株式会社</h2>
                                <p>
                                    @* 代表人：楊聖民 交觀乙1199 <br> *@
                                    @* 品保編號：屏0016 <br> *@
                                    営業項目:国内グループ旅行、航空券、ホテル予約、個人旅行<br>
                                    所在地：台湾900屏東市光復路104番 <br>
                                </p>
                            </li>
                            <li>
                                <h2>お問い合わせ</h2>
                                <p>
                                    E-mail：fun2taiwan@gmail.com <br>
                                    TEL：886-8-722-1292 <br>
                                    FAX：886-8-721-5767 <br>
                                     営業店舗：台湾900屏東市工業路4番 <br>
                                </p>
                            </li>
                            <li style="display:none">
                                <h2>スポンサー</h2>
                                <p>

                                    <a href="http://www.ptbus.com.tw/" alt="屏東客運" title="屏東客運">Pingtung Bus Service Co., Ltd.
                                    </a>
                                    <br>
                                    <a href="https://www.ptbustour.com/" alt="屏東旅行社" title="屏東旅行社">Pingtung Travel Service Co., Ltd.
                                    </a>
                                    <br>
                                    @* <a href="http://www.kt-bus.com/" alt="高墾線共營中心" title="高墾線共營中心">高墾線共營中心</a>
                                    <br> *@
                                    <a href="http://ticket.fun2tw.com/" alt="瘋趣台灣票券" title="瘋趣台灣票券">Book Bus Ticket</a>
                                    <br>
                                    <a href="https://www.facebook.com/fun2tw/?fref=ts" target="_blank">Fun2TW Facebook Fans Club</a>
                                </p>
                            </li>
                            <li>
                                <h2>お客様へ</h2>
                                <p>
                                   @*  <a href="/Japan/Home/Helper?mobile=@Request["mobile"]">退換貨說明</a> <br> *@
                                    <a href="/Japan/FAQ?mobile=@Request["mobile"]">よくあるご質問</a> <br>
                                    <a href="/Japan/ContactUS?mobile=@Request["mobile"]">お問い合わせ</a> <br>
                                    <a style="display:none" href="/Japan/Home/Policy?mobile=@Request["mobile"]">プライバシー</a> <br>
                                </p>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="footer">
                    <div class="container">
                        <p>
                            屏東旅行株式会社 <br>
                            このウェブサイト上の文書・写真などの著作権はPtbus株式会社に帰属しています(当ウェブサイトの所在地は台湾にある)
                            <br>
                        </p>
                    </div>
                </div>
            }
            </div>
            @RenderSection("scripts", required: false)
            <script>
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-79530719-1', 'auto');
                ga('send', 'pageview');

            </script>
            <script>
                    $(function(){
                        $('.flexslider').flexslider({
                            animation: "slide",
                            slideshowSpeed: 4000
                            // directionNav: false
                        });
                    })
                </script>

        </div>

    </body>

</html>
