﻿@using Fun2twModels.Models
@model Customers
@{
    ViewBag.Title = "我的路線規劃";
}
<style>
    
   .table tr:active{
background:#008DD8 !important;color:#fff;    }
</style>




        <div class="error" >
            <div class="container err-container" style="display:none;height:800px" >
             <h2 class="l-title">
            <i class="fa fa-map-marker">資料錯誤</i>
          </h2>
                <p class="jq-content">@ViewBag.Message</p>
                
          
            </div>

        </div>
        
        <div class="container block-container l-white news-content">
        <div class="btn-group m1" role="group" aria-label="...">
      <a href="/Customer/UpdateMovie"  class="btn btn-default">上傳影音</a>
      <a href="/CustomerVideo/myvideo"  class="btn btn-primary">影音列表</a>
      
    </div>
        <h2 class="l-title">
            <i class="fa fa-map-marker"></i>我的影音分享 
          </h2>

         
       
           
            <table class="table table-striped" id="LocalTable">
                <tr>
                    <th width="30%">
                       上傳影音
                    </th>
                    <th>
                       日期
                    </th>

                    <th>
                        是否通過審核
                    </th>
                    <th>
                        
                    </th>
                </tr>
                <tbody>


              
                @*注意這邊,要指定排序*@
                   
                @foreach (var item in Model.CustomerVideos)
                {
                    <tr>
                        <td>

                          
                          
                            @* @Html.DisplayFor(modelItem => item.Id)*@
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InitDate)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Enable)
                        </td>
                        <td>
                                                        @using (Html.BeginForm("DeleteVideo", "CustomerVideo"))
                            {
                                @Html.AntiForgeryToken()
                                
                                    <input type="submit" value="刪除" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;" class="btn btn-primary" />
                                

                                @*這邊也有改*@
                                @Html.Hidden("id", item.Id)
                            }
                        </td>
                       
                    </tr>
                   
                }
                </tbody>
            </table>
            
          
        </div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

  

    
}
