﻿
@{
    ViewBag.Title = "聯絡我們";
  
}
<div class="l-banner"  style="background: url(/images/banner-help-bg.png)" >
  <img src="/images/banner-help.png">
</div>
<div class="container L-WHITE">
      <h2 class="l-title">
        <i class="fa fa-youtube-play"></i>お問い合わせ
    </h2>
    <div>
        あなたのフィードバックが送信された、ありがとうございました。
    </div>




</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
