﻿@using MvcPaging
@using Fun2tw.Helpers
@using Fun2twModels.Models
@model MvcPaging.IPagedList<Fun2twModels.Models.ShopInfo>
@{
    ViewBag.Title = "墾丁食宿─瘋趣台灣─墾丁好行";
    List<ShopInfoCategory> shopInfoCategories = ViewBag.ClassId;
    string[] selectClassId = ViewBag.selectClassId ?? new string[]{""};
    string[] selectTown = ViewBag.selectTown ?? new string[] { "" };
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社與墾丁優
質商家合作，提供最新優惠住宿情報、遊憩
資訊、在地特色餐廳、恆春精選商店，合法業
者安全有保障，快來發現墾丁的美麗‧魅力。" />
}

<div class="container l-white" style="padding: 20px 0;">
    <!--<h2 class="l-titles l-titles-indent" style="background: none;border:0;">
    食宿樂遊 <span>STORE</span>
  </h2>
  
  <div class="btn-group m1 PULL-RIGHT" role="group" aria-label="...">
    <a CLASS="btn btn-default" href="/ShopInfo/Index">全部</a> <a CLASS="btn btn-default" href="/ShopInfo/Index/1">商家</a> <a CLASS="btn btn-default" href="/ShopInfo/Index/2">住宿</a> 
    <a CLASS="btn btn-default" href="/ShopInfo/Index/3">遊憩</a>  <a CLASS="btn btn-default" href="/ShopInfo/Index/4">餐飲</a>  <a CLASS="btn btn-default" href="/ShopInfo/Index/5">票劵</a>

  </div> -->
  <script>
    $(document).ready(function(){
      $('.panel-body span i').eq(0).addClass('fa-location-arrow');
      $('.panel-body span i').eq(1).addClass('fa-home');
      $('.panel-body span i').eq(2).addClass('fa-shopping-bag');
      $('.panel-body span i').eq(3).addClass('fa-cutlery');
      $('.panel-body span i').eq(4).addClass('fa-globe');
     
     
    })
  </script>
  <div class="news-content" style="padding-top:0;">
    <div class=" ">
          @using (Html.BeginForm())
          {
              <div class="">
             @foreach (ShopInfoCategory category in shopInfoCategories.Where(x => x.ParentId == null))
             {

                 <span class="Category">
      <i class="fa" aria-hidden="true"></i> @category.Subject：
    </span><br>
                 string itemName = "Category";
                 if (category.Subject == "所在區域")
                 {
                     itemName = "Town";
                 }

                 foreach (var item in category.ChildCategory)
                  {
                    
                       <label class="checkbox-inline">
                         
                               @if (selectClassId.Contains(item.Subject) || selectTown.Contains(item.Subject) )
                                {
                                    <input type="checkbox" id="inlineCheckbox@(item.Id)" name="@itemName" value="@item.Subject" checked="checked">
                                    @item.Subject
                                }
                                else
                                {
                                    <input type="checkbox" id="inlineCheckbox@(item.Id)" name="@itemName" value="@item.Subject">
                                    @item.Subject
                                }
                           
                         
                         

                       </label>
                   }
                

            <br>
             }



 
            <div class="">
                <input type="submit" class="btn btn-primary " value="搜尋">
            </div>
        </div>
          }
        
    </div>
  </div>
 
<div class="grid-view">
    <div class="col-lg-12">
        <div class="x">
            <ul class="l-card l-white">
    @foreach (var item in Model) {
        <li class="col-md-3 col-sm-6 col-xs-12">
            @if(item.Pictures.Count > 0){
           <a href="/ShopInfo/Details/@item.Id?mobile=@Request["mobile"]">
              <div class="l-card-main">
                  <div class="l-card-image">
                       <img style="width:100%;" src="/upfiles/images/@(item.Pictures.OrderBy(x=>x.ListNum).FirstOrDefault().UpImageUrl)"/>  
                     
                  </div>
                  <div class="l-card-content">
                 <h2>@item.Subject</h2>
                 </div>
              </div>
              </a>

            }
       

        </li>
   
     
       
}
</ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<style>
  .l-card-main {
  overflow: hidden;
  position: relative;
  border-radius: 0; 
}
.l-card-image img {
}
.l-card-image {
  border-radius: 0; 
  border: #c9c9c9 1px solid;

}
.l-card h2 {
  padding: 10px;
}
.l-card-content {
  position: absolute;
  display: none;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  color: white;
  border-radius: 0; 
  padding: 40% 0 0 0;
}
.pagination a,.pagination span {
  border: 0;
  color: #bbbbbb;
}

.l-card-main:hover .l-card-content {
  display: block;
}

.pagination a:hover,
.pagination a:focus,
.pagination span:hover,
.pagination span:focus,
.pagination .current {
  color: white;
  background: #68d1df;
}
.clear {
  clear: both;
}
.grid-view {
  float: left;
  width: 80%;
}
.news-content {
  float: left;
  width: 20%;
}
.Category {
  color: #67d1df;
  font-size: 20px;
  padding: 10px 0;
}
.checkbox-inline {
  display: block;
  color: gray;
}
@@media (max-width: 1000px) {
  .checkbox-inline {
    display: inline-block;
  }
  .grid-view {
    width: 100%;
    }
  .news-content {
    width: 100%;
  }
@@media (max-width: 569px) {
   .news-content, .grid-view {
      float: none;
    }
  
  .l-card-main {
    height: auto;
  }

  
}
</style>


<div class="l-pagination">
<div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}