﻿
@using Fun2twModels.Models
@model List<ShopInfoCategory>
@{
    ViewBag.Title = "墾丁食宿─瘋趣台灣─食宿樂遊";
    List<ShopInfo> shopInfos1 = ViewBag.shopinfos1;
    List<ShopInfo> shopInfos2 = ViewBag.shopinfos2;
    List<ShopInfo> shopInfos3 = ViewBag.shopinfos3;
    List<ShopInfo> shopInfos4 = ViewBag.shopinfos4;

}
@section description
{
    <meta name="description" content="Description：屏東客運‧屏東旅行社與墾丁優
質商家合作，提供最新優惠住宿情報、遊憩
資訊、在地特色餐廳、恆春精選商店，合法業
者安全有保障，快來發現墾丁的美麗‧魅力。" />
}

<div class="container l-white">
    <h1 class="l-h2" style="border:0;background: none;">
     食宿樂遊 
  </h1>
  
  <!-- <div class="btn-group m1 PULL-RIGHT" role="group" aria-label="...">
    <a CLASS="btn btn-default" href="/ShopInfo/Index">全部</a> <a CLASS="btn btn-default" href="/ShopInfo/Index/1">商家</a> <a CLASS="btn btn-default" href="/ShopInfo/Index/2">住宿</a> 
    <a CLASS="btn btn-default" href="/ShopInfo/Index/3">遊憩</a>  <a CLASS="btn btn-default" href="/ShopInfo/Index/4">餐飲</a>  <a CLASS="btn btn-default" href="/ShopInfo/Index/5">票劵</a>

  </div> -->
  <script>
    $(document).ready(function(){
      $('.panel-body span i').eq(0).addClass('fa-location-arrow');
      $('.panel-body span i').eq(1).addClass('fa-home');
      $('.panel-body span i').eq(2).addClass('fa-shopping-bag');
      $('.panel-body span i').eq(3).addClass('fa-cutlery');
      $('.panel-body span i').eq(4).addClass('fa-globe');
     
     
    })
  </script>
  <div class="news-content" style="padding-top:0;">
    <div class="">
          @using (Html.BeginForm("Index","Shopinfo"))
          {
              <div class="">
             @foreach (ShopInfoCategory category in Model.Where(x => x.ParentId == null))
             {

                 <span class="Category">
      <i class="fa" aria-hidden="true"></i> @category.Subject：
    </span>

                 string itemName = "Category";
                 if (category.Subject == "所在區域")
                 {
                     itemName = "Town";
                 }
                  foreach (var item in category.ChildCategory)
                   {

                       <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox@(item.Id)" name="@itemName" value="@item.Subject">
                                    @item.Subject

                       </label>
                   }

                

            <br>
             }



 
            <div class="" style="margin-top: 20px;">
                <input type="submit" class="btn btn-primary" value="搜尋">
            </div>
        </div>
          }
        
    </div>
  </div>
 
<div class="grid-view">
    <div class="col-lg-12">
        <div class="x">
            <h2 class="l-titles" style="background: none;border:0;">住宿情報</h2>
            <ul class="l-card l-white">
                @foreach (var item in shopInfos1)
                {
                    <li class="col-md-3 col-sm-6 col-xs-12">
                        @if (item.Pictures.Count > 0)
                        {
                          <a href="/ShopInfo/Details/@item.Id">
                          
                            <div class="l-card-main">
                                <div class="l-card-image">
                                        <img style="width: 100%; " src="/upfiles/images/@(item.Pictures.OrderBy(x=>x.ListNum).FirstOrDefault().UpImageUrl)"/>
                                </div>
                                <div class="l-card-content">
                                    <h2 >@item.Subject</h2>
                                </div>
                            </div>
                            </a>

                        }


                    </li>



                }
            </ul>
             <h2 class="l-titles" style="background: none;border:0;">樂遊天地</h2>
            <ul class="l-card l-white">
                @foreach (var item in shopInfos2)
                {
                    <li class="col-md-3 col-sm-6 col-xs-12">
                        @if (item.Pictures.Count > 0)
                        {
                                    <a href="/ShopInfo/Details/@item.Id">
                          
                            <div class="l-card-main">
                                <div class="l-card-image">
                                        <img style="width: 100%; " src="/upfiles/images/@(item.Pictures.OrderBy(x=>x.ListNum).FirstOrDefault().UpImageUrl)"/>
                                </div>
                                <div class="l-card-content">
                                    <h2 >@item.Subject</h2>
                                </div>
                            </div>
                            </a>

                        }


                    </li>



                }
            </ul>
             <h2 class="l-titles" style="background: none;border:0;">特色餐廳</h2>
            <ul class="l-card l-white">
                @foreach (var item in shopInfos3)
                {
                    <li class="col-md-3 col-sm-6 col-xs-12">
                        @if (item.Pictures.Count > 0)
                        {
                                    <a href="/ShopInfo/Details/@item.Id">

                            <div class="l-card-main">
                                <div class="l-card-image">
                                        <img style="width: 100%; " src="/upfiles/images/@(item.Pictures.OrderBy(x=>x.ListNum).FirstOrDefault().UpImageUrl)"/>
                                </div>
                                <div class="l-card-content">
                                    <h2 >@item.Subject</h2>
                                </div>
                            </div>
                            </a>

                        }


                    </li>



                }
            </ul>
             <h2 class="l-titles" style="background: none;border:0;">在地特產</h2>
            <ul class="l-card l-white">
                @foreach (var item in shopInfos4)
                {
                    <li class="col-md-3 col-sm-6 col-xs-12">
                        @if (item.Pictures.Count > 0)
                        {
                        <a href="/ShopInfo/Details/@item.Id">
                            
                            <div class="l-card-main">
                                <div class="l-card-image">
                                        <img style="width: 100%; " src="/upfiles/images/@(item.Pictures.OrderBy(x=>x.ListNum).FirstOrDefault().UpImageUrl)"/>
                                </div>
                                <div class="l-card-content">
                                    <h2 >@item.Subject</h2>
                                </div>
                            </div>
                        </a>

                        }


                    </li>



                }
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<style>
  .l-card-main {
  position: relative;
}
.l-card-image {

  border-radius: 0; 

}
.l-card-image img {
}
.l-card-content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  color: white;
  border-radius: 0; 
  padding: 40% 0 0 0;
  display: none;
}
.pagination a,.pagination span {
  border: 0;
  color: #bbbbbb;
}
.l-card-main:hover .l-card-content {
  display: block;
}
.pagination a:hover,
.pagination a:focus,
.pagination span:hover,
.pagination span:focus,
.pagination .current {
  color: white;
  background: #68d1df;
}
.news-content {
  width: 20%;
  float: left;
  line-height: 1.5em;
}
.grid-view {
  width: 80%;
  float: left;
}
.clear {
  clear: both;
}
span.Category {
    color: #67d1df;
    padding: 10px 0;
    font-size: 20px;
    display: block;
}
.checkbox-inline {
  color:gray;
}
.checkbox-group {
  padding-left: 100px;
}
@@media (max-width: 1000px) {
  .news-content {
    width: 100%;
    
  }
  .grid-view {
    width: 100%;
  }
}
@@media (max-width: 768px) {
  .news-content, .grid-view {
    float: none;
  }
    .l-card-image img {
      height: auto;
    }
}
.l-card-content h2 {
  height: auto!important;
}
</style>


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
