﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Customers
@{
    ViewBag.Title = "我的訂單";

}
<style>
    table, th,td {
         border-style: 
         double;border-width: 1px;
        padding: 4px;
    }
</style>
<div class="container l-white news-content">
     <h2 class="l-titles">
       Order
    </h2>
    @* <h3>行程訂單</h3> *@
    <div>
        @if (Model.TravelOrders.Count > 0)
        {
            <table CLASS="table table-bordered">
                <thead>
                <th>
                    Oder Time
                </th>
                <th>
                    Tour Name
                </th>
                <th>
                    Price
                </th>
                @*<th>
                    付款方式
                </th>
                <th>
                    訂單處理狀態
                </th>*@
                <th>
                    Detail
                </th>

                </thead>
                <tbody>
                @foreach (var order in Model.TravelOrders.Where(w => w.PayType == PayType.自動櫃員機ATM繳費 || (w.PayType == PayType.信用卡刷卡 && w.OrderStatus != TravelOrderStatus.尚未付款)).OrderByDescending(x => x.InitDate).Take(10))
                {
                    <tr>
                        <td>
                            @order.InitDate
                        </td>
                        <td>
                            @order.Product.Subject
                        </td>
                        <td>
                            @order.Total
                        </td>
                      @*  <td>
                            @order.PayType
                        </td>
                        <td>
                            @order.OrderStatus
                        </td>*@
                        <th>
                            <a href="/English/Customer/TravelOrderDetail/@order.Id">Detail</a>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div>
                There are no order yet
            </div>
        }
        

    </div>
    



</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

