﻿@using Fun2twModels.Models
@model Fun2tw.Models.RegisterView
@{
    ViewBag.Title = "會員註冊";

}

@*<script>
    $(document).ready(function () {
        location.href="RegisterSuccess";
    });
</script>*@
     
<style>
    .news-content {
        text-align: center;
    }
    .form-control,.g-recaptcha {
        display: inline-block!important;
        width: 300px;
    }
    @@media (max-width: 767px) {
        .form-control {
            width: 100%;
        }
        
    }
</style>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<script>

    function apiRegister(id, name, email, imageurl) {
        $.post("/Home/GmailRegister", { Id: id, Name: name, Email: email, ImageUrl: imageurl, Poster: '@Request["p"]' })
			.done(function (data) {
                if (data != 'Success') {
                    alert(data);
                } else {
                    window.href = 'https://www.fun2tw.com/';
                }
			   
			});
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1006382576125514',
            xfbml: true,
            status: true,
            cookie: true,
            oauth: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            console.log(response.authResponse.accessToken);
            getData();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }


    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function getData() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', { fields: 'id, name, email, gender,  first_name, last_name, picture' }, function (response) {
            if (response.email == undefined) {
                alert('Facebook has not verified your email yet, please get Facebook verification, or use Google account sign in')
                return false;
            }
            console.log('Successful login for: ' + response.email);
            // alert('信箱登入成功: ' + response.email);
            console.dir(response);
            //document.getElementById('status').innerHTML =
            //   'Thanks for logging in, ' + response.name + "  " + response.id + "  " + response.email + "  " + response.gender + "  " + response.first_name + "  " + response.last_name + "  " + response.picture.data.url;
            //Register
            apiRegister(response.id, response.name, response.email, response.picture.data.url);
            document.getElementById('name').innerText = response.name;
            document.getElementById('email').innerText = response.email;
            document.getElementById("login_image").src = response.picture.data.url;
        });
    }

    function fbLogIn() {
        FB.login(function (response) {
            if (response.authResponse) {
                statusChangeCallback(response);
            }
        }, {
            scope: "public_profile,email"
        });
    }


    var googleUser = {};
    var startApp = function () {
        gapi.load('auth2', function () {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '690020895963-av5vs1orqqe51s3fpqdbbdd9v4jggfgo.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                // Request scopes in addition to 'profile' and 'email'
                scope: 'profile'
            });
            attachSignin(document.getElementById('customBtn'));
        });
    }

    function attachSignin(element) {
        //console.log(element.id);
        auth2.attachClickHandler(element, {},
            function (googleUser) {
                var profile = auth2.currentUser.get().getBasicProfile();
                //document.getElementById('status').innerText = "Signed in: " + '  ID: ' + profile.getId() + '  Full Name: ' + profile.getName() + '  Image URL: ' + profile.getImageUrl() + '  Email: ' + profile.getEmail();
                apiRegister(profile.getId(), profile.getName(), profile.getEmail(), profile.getImageUrl());
                document.getElementById('name').innerText = profile.getName();
                document.getElementById('email').innerText = profile.getEmail();
                document.getElementById("login_image").src = profile.getImageUrl();
            }, function (error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }
</script>


<div class="container l-white news-content">
<h2 style="display: none;"  class="l-titles l-titles-indent">Community website <span>REGISTER</span></h2>
  <div style="display: none;" class="login" style="text-align: center;margin: 0 0 30px 0">
    <input class="facebookin" type="button" value="Sign in with Facebook account" onclick="fbLogIn();" />
    <br>
    <br>
    <input class="googlein" id="customBtn" type="button" value="Sign in with your google account" />

      <br>
      (If you use iPhone or iPad,Please use Safari browser to open this site.)
      <br/>
    </div> 


    <h2 class="l-titles l-titles-indent">REGISTER
    </h2>
    <div class="news-content">

        <span id="status"></span>
        Please enter the mobile phone number or E-mail in Account number. 
Password must be at least six characters.
                <h2>@ViewBag.Message</h2>
        <div class="">
             @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-aligned trailer" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @ViewBag.Message
  

            <div class="editor-label ">
                <label for="Account">Account</label>

            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(model => model.Account, new { @class="form-control",@maxlength="50", @onchange="this.value=this.value.replace(/[^A-z@0-9.]/g,'')"  ,@autocomplete="off"})
                @Html.ValidationMessageFor(model => model.Account)


            </div>

            <div class="editor-label ">
               <label for="Password">Password</label>

            </div>
            <div class="editor-field form-group">
                @Html.PasswordFor(model => model.Password, new { @class="form-control",@maxlength="15", @onchange="this.value=this.value.replace(/[^A-z0-9]/g,'')" })
                @Html.ValidationMessageFor(model => model.Password)


            </div>


            <div class="m1"></div>

            <div class="g-recaptcha" data-sitekey="6Lf5cCITAAAAAGHeQaUlq5UrJVF1jeTFA0LEOArn"></div>
            <p class="">
                <input type="submit" class="btn btn-primary" value="Sign Up" />
            </p>

        }
        </div>
      
    </div>

</div>



@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-aligned trailer" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
   
    <div class="wrap">
        <style>
            .facebookin {
                padding: 10px 0;
                width: 80%;
                font-size: 1em;
                background: #1A60A2;
                color: white;
                border: 0;
                border-radius: 5px;
            }

                .facebookin:focus {
                    outline: white;
                }

            .googlein:focus {
                outline: white;
            }

            .googlein {
                padding: 10px 0;
                width: 80%;
                font-size: 1em;
                background: #d73d32;
                color: white;
                border: 0;
                border-radius: 5px;
            }

            #body {
            }

            img#login_image {
                width: 100px;
            }          

            .title {
                color: #60babb;
            }

            #email {
                display: none;
            }

            .prompt {
                color: red;
                font-size: 1.2em;
            }
        </style>
        <br>
      
    </div>    
			
			

    <script>startApp();</script>  
}


@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @Scripts.Render("~/bundles/jqueryval")
}
