﻿@using Fun2twModels.Models
@model Fun2twModels.Models.CustomerVideo
@{
    ViewBag.Title = "上傳影片";
  
}
<div class="container news-content l-white">
<div class="btn-group m1" role="group" aria-label="...">
  <a href="/Customer/UpdateMovie"  class="btn btn-primary">上傳影音</a>
  <a href="/CustomerVideo/MyVideo"  class="btn btn-default">影音列表</a>
  
</div>
  <h2 class="l-titles">
   影音分享 <span>VIDEO</span>
</h2>
<div class="col-md-12 col-xs-12">
<div class="col-md-5 col-xs-5">
    <h3 class="text-center">請下載瘋趣臺灣 APP 上傳影音 </h3>
    <div class="text-center">
        <a class="btn btn-primary">Android APP下載</a> <br>
        <img src="~/images/160931165208.png" alt="">
    </div>
</div>
<div class="col-md-7 col-xs-7">
    <img src="~/images/photo20161031.jpg" alt="">
</div>
   
</div>
    <div style="display: none">
    <div class="btn-group m1" role="group" aria-label="...">
      <a href="/Customer/UpdateMovie"  class="btn btn-primary">上傳影音</a>
      <a href="/CustomerVideo/MyVideo"  class="btn btn-default">影音列表</a>
      
    </div>
      <h2 class="l-titles">
       影音分享 <span>VIDEO</span>
    </h2>
    <div class="col-md-8 col-xs-12">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
  <span style="color: red"> @ViewBag.Message</span> 
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("Subject"),@class="form-control" })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("Memo") ,@class="form-control"})
            @Html.ValidationMessageFor(model => model.Memo)
       
            
        </div>

       
        <div class="editor-label">
            上傳影片(請注意，請上傳影片格式為MP4格式，且檔案大小不可以大於20MB)

        </div>
        <div class="editor-label">
            上傳之影片內容請勿侵犯其他使用者的版權或隱私權。<br/>
            並不得有下列情形：<br/>一、違背公共秩序或善良風俗。<br/>二、妨害兒童、青少年、孕婦身心健康。<br/>三、虛偽、誇張、捏造事實或易生誤解之內容。
        </div>
        <div class="editor-field">
          
       <input type="file" name="upImageUrls" />
            
        </div>

        <input name="Views" value="0" type="hidden"/>

        <p class="text-center m1">
            <input type="submit" class="btn btn-cyan" value="上傳影片" />
        </p>
    </fieldset>
}

    </div>


</div>

</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
