﻿
@using Fun2twModels.Models
@using MvcPaging
@model List<Fun2twModels.Models.ThemeVideo>
@{
    ViewBag.Title = "即時影像";
    ThemeVideo topVideo = ViewBag.topVideo;
}
<div class="container l-white">

    <h2 class="l-titles l-titles-indent">
  即時影像 <span>HOT</span>
  </h2>

  
    <p style="text-indent:1em">
        目前任何即時影像活動進行中!
    </p>

    

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
