﻿
@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelProduct>

@{
    ViewBag.Title = "熱門行程";
}

<div class="container l-white">
       @using (Html.BeginForm())
{
<h2 class="l-h2">
 Package Tour
   
  </h2>

    
}
<div class="text-center form-inline" style="display:none">
      @Html.DropDownList("SearchByThemeId", (IEnumerable<SelectListItem>)ViewBag.ThemeId, "請選擇",new{@class="form-control form-inline"})  <input type="submit" class="btn btn-primary" value="Search" />
    </div>
<div class="">
    <div class="">
        <div class="">
            <ul class="list-ticket">
    @foreach (var item in Model) {
        <li class="card">
      

           <div class="list-ticket">
               <div class="list-ticket-card-image" style="height:auto">
                      <a href="/English/TravelSchdule/Details/@item.Id">
                 @if (!string.IsNullOrEmpty(item.UpImageUrl))
                  {
                      <img style="" src="~/upfiles/images/@(item.UpImageUrl)" />
                  }</a>
               </div>
                   
               <div class="list-ticket-card-content">
               <div class="list-ticket-card-text">
              <h2>@item.EnSubject</h2>
              @if (item.SinglePrice != 0)
                                    {
                                        <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color: #8f8f8f">Single room</span>
                                             @if (item.OriginalSinglePrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalSinglePrice</span>
                                            }

                                           <span class="price" style="color:#f03387;">@item.SinglePrice</span>
                                       </p>



                                    }
                                    @if (item.DoublePrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            Double room</span>
                                              @if (item.OriginalDoublePrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalDoublePrice</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.DoublePrice</span>
                                        </p>



                                    }

                    @if (item.FourPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            Quad room</span>
                                              @if (item.OriginalFourPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalFourPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.FourPrice</span>
                                        </p>



                                    }

                @if (item.SixPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            6 people room</span>
                                              @if (item.OriginalSixPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalSixPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.SixPrice</span>
                                        </p>



                                    }

                  @if (item.EightPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            8 people room</span>
                                              @if (item.OriginalEightPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalEightPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.EightPrice</span>
                                        </p>



                                    }
                   @if (item.WithoutBedPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            Child shares room with adults</span>
                                              @if (item.OriginalWithoutBedPrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalWithoutBedPrice</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.WithoutBedPrice</span>
                                        </p>



                                    }
                                    @if (item.BabyPric != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            Baby(under the age of 2)</span>
                                               @if (item.OriginalBabyPric != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalBabyPric</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.BabyPric</span>
                                        </p>



                                    }
                                    @if (item.OneDayAdult != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            Adults/day</span>
                                              @if (item.OriginalOneDayAdult != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayAdult</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayAdult</span>
                                       </p>



                                    }
                                    @if (item.OneDayChild != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            Children/day</span>
                                               @if (item.OriginalOneDayChild != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayChild</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayChild</span>
                                            </p>


                                    }
                                    @if (item.OneDayBaby != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            Baby/day</span>
                                               @if (item.OriginalOneDayBaby != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayBaby</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayBaby</span>
                                          </p>

              

                                    }

                 <a class="btn btn-blue" href="/English/TravelSchdule/Details/@item.Id">More</a>
               </div>
              </div>
           </div>
        </li>
    
}
</ul>
        </div>
    </div>
</div>
<style>
  .list-ticket-card-image{
    height: 150px;
  }
</style>


<div class="l-pagination">
<div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

</div>

