﻿@using System.Globalization
@model Fun2twModels.Models.Transaction

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
@if (Model != null)
{ 
    <div>Order No.: @Model.Orderid</div>
    <div>Credit Card No.: @Model.Pan</div>
    <div>STATUS: @Model.Transcode</div>
    <div>Tx Type: @Model.Transmode</div>
    <div>Total: @Model.Transamt</div>
   
    DateTime parsed;

    if (DateTime.TryParseExact(Model.Transdate + Model.Transtime, "yyyyMMddHHmmss", CultureInfo.InvariantCulture, DateTimeStyles.None, out parsed))
    {
        <div>Trading Time: @parsed.ToString("yyyy-MM-dd HH:mm:ss")</div>
    }
    
    <div>Authorization code: @Model.Approvecode</div>
    <div>Authorization Message: @Model.Pan</div>
}


<div>@ViewBag.Message</div>
