﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.TravelOldPlan>  
@{
    ViewBag.Title = "推薦行程";
  
}
<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>
<div class="container l-white market">
      <h2 class="l-h2">
        <i class="fa fa-suitcase" aria-hidden="true"></i> 行程懶人包 
         
    </h2>
    <div class="text-center">
    <!-- <img src="/images/playnews_01.jpg" alt=""> -->
        
    </div>
    <div class="news-content" style="font-size: 15px;color: #888888;">
        <p >
            旅遊行程的規劃，牽涉到諸多因素，舉凡遊客的人數、年齡、體能、興趣、經濟能力、交通工具，一直到旅遊夥伴間的關係、度假目的、生活節奏、甚至於飲食習慣等等不同的變數，都影響到旅遊的品質，因此在行程的安排上自然不得不事先加以考慮、評估。
        </p>
        <p>譬如說:一對騎乘機車、經濟能力不甚充裕的學生情侶，和一個駕駛自用車、經濟能力中上、攜帶一雙學童子女出遊的四口之家，以及三、四部汽車、以事業有成的中老年夫妻檔為主的回教家族，同樣是二天一夜的遊程，可能安排出來的行程就完全不一樣了。</p>
        <p>因此，這裡的行程建議，只能盡量以「一般大眾」的情況作為假設前提，譬如說：自備交通工具、經濟能力中等、三至六人，家人或親友、十六歲到六十歲、葷素不拘、無肢體障礙、由高雄出發等等通常條件。相信這樣的假設，雖不能滿足所有旅遊人口的個別需求，但應該有最大公約數的參考價值。</p>
    </div>
    
    <script>
        $(document).ready(function(){
           
            $('.jq-link').click(function(e){
                e.preventDefault();
                var str = $(this).attr('href');
                $('.jq-travel-iframe').attr('src',str);
            })
           
        })
    </script>
    <div class="col-md-3 col-xs-12">
        <ul class="market-menu list-none">
        <li><a href="#">一日遊</a>
            <ul>
              @foreach (var item in Model.Where(x=>x.DayType==TravelPlanDay.一日遊))
                {
                    <li><a class="jq-link"  href="/ExpertInfo/Plandetails/@item.Id"> @item.Subject</a></li>
                    <input type="hidden" value="@item.Id"/>
                }
            </ul>
        </li>
        <li><a href="#">二日遊</a>
            <ul>
                  @foreach (var item in Model.Where(x=>x.DayType==TravelPlanDay.二日遊))
                {
                    <li><a class="jq-link"  href="/ExpertInfo/Plandetails/@item.Id"> @item.Subject</a></li>
                    <input type="hidden" value="@item.Id"/>
                }
            </ul>
        </li>
        </ul>     
    </div>
    <div class="col-md-9 col-xs-12 l-white">
    

        <iframe class="jq-travel-iframe" src="/map.html" width="100%" height="1000px" frameborder="0"></iframe>
    </div>





</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

