﻿@using Fun2twModels.Models
@model Fun2twModels.Models.PushMessage
@{
    ViewBag.Title = @Model.Subject;
}
<style>
	
	@@media(max-width:768px){
		.l-titles{

			line-height: 1.2;
			margin-bottom: 20px;
			margin-right: 10px;
			margin-left: 10px;
		}
	}
</style>
<div class="l-banner"  style="background: #AFBF53" >
  <img src="/images/banner-news.png">
</div>
<div class="container l-white">
  <h1 class="l-titles l-titles-indent">@Model.Subject <span>LBS</span></h1>
    <div class="news-content">
        @if (string.IsNullOrEmpty(Model.YoutubeUrl))
        {
            @Html.Raw(Model.Article)
        }
        else
        {
            <iframe style="width: 100%; height: 480px" src="@Model.YoutubeUrl.Replace("watch?v=", "embed/")" frameborder="0" allowfullscreen></iframe>

        }

    </div>
       @if (Request["Mobile"] != "true")
       {
           <div class="text-center m1">
               <input type="button" onclick="history.back();" class="btn btn-cyan" value="回列表">
           </div>
       }
</div>
