﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ContactUS
@{
    ViewBag.Title = "聯絡我們";

}
<style>
  textarea {
    height: 250px!important;
  }
</style>
<div class="container contact">

    <div class="row">
        <div class="col-md-5 col-md-offset-4 l-white p1">
            <h2 style="text-align: center;" class="l-titles" >聯絡我們 <span>Contact US</span></h2>
    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   <span style="color: red">@ViewBag.Message</span> 
    <div class="news-content">
      
                <div class="editor-label form-group">
           姓　　名
           @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)

        </div>
        <div class="editor-field">
            
       
            
        </div>

        <div class="editor-label form-group">
            性　　別
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.GenderType))))
            @Html.ValidationMessageFor(model => model.Gender)
    
        </div>
       <div class="editor-label form-group">
        E-Mail：@Html.TextBoxFor(model => model.Email)
               @Html.ValidationMessageFor(model => model.Email)

       </div>

        <div class="editor-label form-group">
            聯絡電話
            @Html.TextBoxFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)

        </div>
       
        <div class="editor-label form-group">
            主　　旨
            @Html.TextBoxFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)

        </div>
     

        <div class="editor-label form-group">
          內　　容
        </div>
          <div class="editor-field">
            
       @Html.TextAreaFor(model => model.Article, new { @class= "form-control full" })
            @Html.ValidationMessageFor(model => model.Article)
            
        </div>
        <div class="form-group">
              <div class="g-recaptcha" data-sitekey="6Lf5cCITAAAAAGHeQaUlq5UrJVF1jeTFA0LEOArn"></div>
        </div>
                 <div class="form-group">
                     <p class="text-center">
            <input type="submit" class="btn btn-primary" value="送出" />
        </p>
</div>
    </div>

}



</div>
</div>
</div>
<script>
  $(".form-group input").addClass('form-control');
</script>
@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @Scripts.Render("~/bundles/jqueryval")


    
}