﻿@{
    ViewBag.Title = "關於我們";
}

    <link href="css/agency.css" rel="stylesheet">
    <style>
        .fat-footer {
            margin-top: 0;
        }
        
    </style>

<div class="about">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">瘋趣台灣</div>
                <div class="intro-heading">屏東客運X屏東旅行社</div>
                <p>屏東旅行社為屏東汽車客運之關係企業，於1998年成立，結合高屏最新、最龐大車隊，提供優質旅遊服務，歷來為屏東縣政府各項活動之辦理單位，亦為公私立機關與學校團體旅遊活動之績優合作廠商。近年自由行旅遊市場趨勢，屏東旅行社提供南部豐富的自由行旅遊商品如墾丁快線、機場快線、台灣觀巴、墾丁街車、花蓮墾丁線、豪華遊艇..等，讓旅客全面性旅遊恆春半島，享受每一趟旅程。</p>
            </div>
        </div>
    </header>

    <!-- 經營理念 -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">經營理念</h2>
                    <h3 class="section-subheading text-muted">屏東旅行社是屏東當地的優質旅行社，對於家鄉有滿滿的愛和使命感。希望您能認識我們，並與我們一起認識美麗屏東。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">安心</h4>
                    <p class="text-muted">以安全為核心的服務要求，讓旅客感到放心和安心。</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">順利</h4>
                    <p class="text-muted">深切了解旅客需要，妥善安排各景點時間，保證旅程圓滿而順利。</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">舒適</h4>
                    <p class="text-muted">保證旅客感到舒適、愜意和愉快。</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">溫馨</h4>
                    <p class="text-muted">以實際站在旅客角度，提供貼心感動的服務。</p>
                </div>
            </div>
        </div>
    </section>

    <!-- LOGO設計理念 -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                    <h2 class="section-heading">LOGO設計理念</h2>
                    <center><img class="img-responsive" src="img/PTGROUP2.png"></center>
                    <h3 class="section-subheading text-muted">Logo主要以P、T二個大寫字母為主體，是為「Ping Tung 」之縮寫，PT字樣以錐形之帶狀做切割，產生漸層及速度的感覺。配合group代表公司為屏東客運、白鴿交通、屏東旅行社所共同組成的集團。</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- 歷年獲獎紀錄 -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">歷年獲獎紀錄</h2>
                    <h3 class="section-subheading text-muted">屏東旅行社是您旅行屏東的第一首選</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/102medals.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">台灣觀巴滿意度評比第2名</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/103medals.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">台灣觀巴滿意度評比第2名</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/104medals.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">台灣觀巴滿意度評比第1名</h4>
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/105medals.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">台灣觀巴滿意度評比第1名</h4>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/105medals2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">榮獲觀光局頒發優良觀光旅遊業</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- 屏東汽車客運集團 -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">屏東汽車客運集團</h2>
                    <h3 class="section-subheading text-muted">踏實深耕屏東，以最道地的眼光帶您綜覽屏東。</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>屏東汽車客運</h4>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>屏東旅行社</h4>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>白鴿交通</h4>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">透過旅遊探索地方文化特色，創造感動心旅行；用最貼心的溫度，為您提供高水準的專業服務各式服務。提供多元選擇，讓每一位賓客都能心滿意足。</p>
                </div>
            </div>
        </div>
    </section>

</div>