﻿@using Fun2twModels.Models
@model Fun2twModels.Models.FAQCategory
@{
    ViewBag.Title = "常見問答";
    List<FAQCategory> faqCategories = ViewBag.FaqCategoryes;
}

<style>
  .l-list-menu-content li {
    border-bottom: 0!important; 
  }
  .l-list-menu-content li a {
    color: black!important;
  }
  .l-list-content-main h3 {
    padding: 10px;
  }
  .l-list-content-main h3 a {
    line-height: 1.3;
    font-weight: bold;
    color: #00bfd8!important;
  }
  .l-list-content-main h3 a:before {
  }
  .l-list-menu-content a:hover {
    background: #ededed!important;
  }
  .jq-slideToggle-contnet {
    line-height: 2;
    padding: 20px;
  }
 
</style>

<div class="container">

<div class="col-lg-3 col-xs-12 l-list-menu l-white p1 mr1">
    <h2 class="l-list-menu-title">
      常見問答類別
    </h2>
    <ul class="l-list-menu-content">
     @foreach (var item in faqCategories)
    {
    <li>
        <a href="/FAQ/Index/@item.Id?Mobile=@Request["Mobile"]">@item.Subject</a>
        
    </li>
    }
    </ul>
  </div>
  <div class="l-list-content col-lg-8 col-xs-12 l-white p1">
    <ul class="l-list-content-main jq-slideToggle">
                    @foreach (var item in Model.Faq.Where(w=>w.Language == Language.中文).OrderBy(x=>x.ListNum))
                   {
                       <li>
       <h3><a class="fa" href="">@item.Subject</a></h3>
       <div class="jq-slideToggle-contnet">@Html.Raw(item.Article)</div>
     </li>



                   }
      </ul>
  </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}