﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ExpertInfo
@{
    ViewBag.Title = "墾丁推薦行程瘋趣台灣";
}
@section description
{
    <meta name="description" content="Description：屏東旅行社規劃最優質推薦的墾丁
旅遊行程，激殺優惠價格、專業導覽人員、安全旅
遊保障，最輕鬆便利的達人推薦旅遊，都在瘋趣
台灣-墾丁好行| 限時熱賣中|" />
}
  <script>
    $(document).ready(function(){
      $('.panel-body span i').eq(0).addClass('fa-location-arrow');
      $('.panel-body span i').eq(1).addClass('fa-home');
      $('.panel-body span i').eq(2).addClass('fa-shopping-bag');
      $('.panel-body span i').eq(3).addClass('fa-cutlery');
      $('.panel-body span i').eq(4).addClass('fa-globe');
     
     
    })
  </script>
<div class="container l-white">
<h1 class="l-titles l-titles-indent">@Model.Subject <span>旅遊達人</span></h1>

    <div class="news-content">
            @Html.Raw(Model.Article)
           
    </div>
     @if (Model.ExpertPlans.Count>0)
            {
                <h1 class="l-titles l-titles-indent">相關文章 <span>達人分享</span></h1>
             
                        <ul class="l-card  l-card-nogutter">
                @foreach (var item in Model.ExpertPlans) {
                 <li class="col-md-4 col-xs-12">
                  <div class="l-card-main">
            <div class="l-card-image">
                    <a href="/ExpertPlan/Details/@item.Id">
                        <img style="height:100px" src="/upfiles/images/@item.UpImageUrl"/>
                   </a>
                   </div>
                    <div class="l-card-content">
                 <h2>@item.Subject</h2>
                      </div>
                </li>
               
                 
                   
            }
            </ul>
        
        }
<div class="text-center m1">
        <input type="button" onclick="history.back();" class="btn btn-cyan" value="回列表">
    </div>
    </div>
    
