﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.ExpertInfo>  
@{
    ViewBag.Title = "墾丁推薦行程─瘋趣台灣─墾丁好行";
    List<TravelPlan> travelPlans = ViewBag.travelPlan;
}
@section description
{
    <meta name="description" content="Description：屏東旅行社規劃最優質推薦的墾丁
旅遊行程，激殺優惠價格、專業導覽人員、安全旅
遊保障，最輕鬆便利的達人推薦旅遊，都在瘋趣
台灣-墾丁好行| 限時熱賣中|" />
}
<!--<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>

<div class="container l-white news-content"></div>
<div class="text-center m1">
  <img src="/images/map_03.jpg" alt="">
</div> -->
  
  <style>
    .expertInfo img {
      width: 100%;
      display: block;

    }
    .mobile {
      display: none;
    }
    @@media (max-width: 569px) {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }

#htmlcontent_top{
/*  max-width:1280px;
  margin: 0 auto;*/
}
#htmlcontent_top ul {
    margin: 0;
}

#htmlcontent_top ul li {
    width: 100%;
    padding: 0 0 10px;
}

#htmlcontent_top ul li a.item-link {
    display: block;
    overflow: hidden;
}

@@media only screen and (min-width: 1200px) {
    #htmlcontent_top ul li a.item-link:hover .item-html h2:after {
        width:300px;
    }

    #htmlcontent_top ul li a.item-link:hover .item-html button {
        color: #2b292d;
        background: #fff;
    }
}

#htmlcontent_top ul li>div {
    background: #4bbfe2;
    position: relative;
    display: block;
    overflow: hidden;
}

#htmlcontent_top ul li img {
    max-width: 100%;
    height: auto;
}

#htmlcontent_top ul li .imgBox {
    width: 50%;
    float: left;
    padding-right: 5px;
    background: #fff;
    position: relative;
}

#htmlcontent_top ul li .imgBox:after {
    content: " ";
    position: absolute;
    right: -5px;
    top: 0;
    width: 5px;
    height: 100%;
    background: #fff;
    display: block;
}

#htmlcontent_top ul li .item-html {
    width: 50%;
    float: right;
    color: #fff;
    padding: 11.7% 3% 1% 2.5%;
}

#htmlcontent_top ul li .item-html h2 {
    font: 100 100px/1em "Lato","Ubuntu",sans-serif;
    margin: 13px 0 40px -13px;
    padding: 0 0 30px;
    position: relative;
    letter-spacing: -0.05em;
}

#htmlcontent_top ul li .item-html h2:after {
    content: " ";
    position: absolute;
    left: 14px;
    bottom: 0;
    height: 4px;
    width: 70px;
    background: #fff;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#htmlcontent_top ul li .item-html p {
    padding: 0 35% 0 0;
    margin-bottom: 27px;
}

#htmlcontent_top ul li .item-html button {
    border: none;
    background: none;
    padding: 14px 20px 15px;
    min-width: 171px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
}

#htmlcontent_top ul li.htmlcontent-item-2>div,#htmlcontent_top ul li.htmlcontent-item-4>div {
    background: #ff5857;
}

#htmlcontent_top ul li.htmlcontent-item-2 .imgBox,#htmlcontent_top ul li.htmlcontent-item-4 .imgBox {
    float: right;
    padding-left: 5px;
    padding-right: 0;
}

#htmlcontent_top ul li.htmlcontent-item-2 .imgBox:after,#htmlcontent_top ul li.htmlcontent-item-4 .imgBox:after {
    left: -5px;
    right: auto;
}

#htmlcontent_top ul li.htmlcontent-item-2 .item-html,#htmlcontent_top ul li.htmlcontent-item-4 .item-html {
    float: left;
    text-align: right;
    padding: 11.5% 2.5% 1% 3%;
}

#htmlcontent_top ul li.htmlcontent-item-2 .item-html h2,#htmlcontent_top ul li.htmlcontent-item-4 .item-html h2 {
    margin: 13px 0 40px;
}

#htmlcontent_top ul li.htmlcontent-item-2 .item-html h2:after,#htmlcontent_top ul li.htmlcontent-item-4 .item-html h2:after {
    right: 1px;
    left: auto;
}

#htmlcontent_top ul li.htmlcontent-item-2 .item-html p,#htmlcontent_top ul li.htmlcontent-item-4 .item-html p {
    padding: 0 0 0 35%;
}

#htmlcontent_top ul li.htmlcontent-item-3>div {
    background: #735b8d;
}

#htmlcontent_top ul li.htmlcontent-item-4>div {
    background: #f9ba67;
}

/*@@media (min-width: 1200px) and (max-width: 1600px) {
    #htmlcontent_top ul li .item-html {
        padding:5% 3% 1% 2.5%;
    }

    #htmlcontent_top ul li .item-html p {
        padding-right: 8%;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html,#htmlcontent_top ul li.htmlcontent-item-4 .item-html {
        padding: 5% 2.5% 1% 3%;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html p,#htmlcontent_top ul li.htmlcontent-item-4 .item-html p {
        padding-left: 8%;
    }
}*/

@@media (min-width: 992px) and (max-width: 1600px) {
    #htmlcontent_top ul li .item-html {
        padding:5% 3% 1% 2.5%;
    }

    #htmlcontent_top ul li .item-html p {
        padding-right: 0;
    }

    #htmlcontent_top ul li .item-html h2 {
        font: 100 48px/1em "Lato","Ubuntu",sans-serif;
        margin: 25px 0 20px -6px;
        padding: 0;
    }

    #htmlcontent_top ul li .item-html h2:after {
        display: none;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html,#htmlcontent_top ul li.htmlcontent-item-4 .item-html {
        padding: 5% 2.5% 1% 3%;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html p,#htmlcontent_top ul li.htmlcontent-item-4 .item-html p {
        padding-left: 0;
    }
}

@@media (min-width: 768px) and (max-width: 991px) {
    #htmlcontent_top ul li .item-html {
        padding:5% 3% 1% 2.5%;
    }

    #htmlcontent_top ul li .item-html p {
        display: none;
    }

    #htmlcontent_top ul li .item-html h2 {
        font: 100 48px/1em "Lato","Ubuntu",sans-serif;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html,#htmlcontent_top ul li.htmlcontent-item-4 .item-html {
        padding: 5% 2.5% 1% 3%;
    }
}

@@media (min-width: 480px) and (max-width: 767px) {
    #htmlcontent_top ul li .item-html {
        padding:5% 3% 1% 5.5%;
    }

    #htmlcontent_top ul li .item-html p {
        display: none;
    }

    #htmlcontent_top ul li .item-html h2 {
        font: 100 40px/1em "Lato","Ubuntu",sans-serif;
        margin: 25px 0 20px -6px;
        padding: 0;
    }

    #htmlcontent_top ul li .item-html h2:after {
        display: none;
    }

    #htmlcontent_top ul li .item-html button {
        font-size: 12px;
        padding: 6px 20px 7px;
        min-width: 0;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html,#htmlcontent_top ul li.htmlcontent-item-4 .item-html {
        padding: 5% 5.5% 1% 3%;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html h2,#htmlcontent_top ul li.htmlcontent-item-4 .item-html h2 {
        margin: 25px 0 20px -6px;
    }
}

@@media (max-width: 479px) {
    #htmlcontent_top ul li .imgBox {
        width:100%;
        float: none;
        padding: 0;
    }

    #htmlcontent_top ul li .imgBox:after {
        display: none;
    }

    #htmlcontent_top ul li .item-html {
        width: 100%;
        float: none;
        padding: 15px;
        text-align: center;
    }

    #htmlcontent_top ul li .item-html h2 {
        font: 100 48px/1em "Lato","Ubuntu",sans-serif;
        margin: 0 0 20px;
        padding: 0;
    }

    #htmlcontent_top ul li .item-html h2:after {
        display: none;
    }

    #htmlcontent_top ul li .item-html button {
        font-size: 12px;
        padding: 6px 20px 7px;
        min-width: 0;
    }

    #htmlcontent_top ul li .item-html p {
        display: block;
        padding: 0;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .imgBox,#htmlcontent_top ul li.htmlcontent-item-4 .imgBox {
        width: 100%;
        float: none;
        padding: 0;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .imgBox:after,#htmlcontent_top ul li.htmlcontent-item-4 .imgBox:after {
        display: none;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html,#htmlcontent_top ul li.htmlcontent-item-4 .item-html {
        width: 100%;
        float: none;
        padding: 15px;
        text-align: center;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html h2,#htmlcontent_top ul li.htmlcontent-item-4 .item-html h2 {
        font: 100 48px/1em "Lato","Ubuntu",sans-serif;
        margin: 0 0 20px;
        padding: 0;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html h2:after,#htmlcontent_top ul li.htmlcontent-item-4 .item-html h2:after {
        display: none;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html button,#htmlcontent_top ul li.htmlcontent-item-4 .item-html button {
        font-size: 12px;
        padding: 6px 20px 7px;
        min-width: 0;
    }

    #htmlcontent_top ul li.htmlcontent-item-2 .item-html p,#htmlcontent_top ul li.htmlcontent-item-4 .item-html p {
        display: block;
        padding: 0;
    }
}

  </style>
  <div id="htmlcontent_top">
<ul class="htmlcontent-home clearfix row">
<li class="htmlcontent-item-1 col-xs-12 clearfix"><div>
<a href="http://www.fun2tw.com/ExpertInfo/Plan" class="item-link" title="">
<div class="imgBox">
<img src="https://www.fun2tw.com/images/bikini-1807461.jpg" class="item-img" title="" alt="" width="100%" height="100%">
</div>
<div class="item-html">
<h2>行程懶人包</h2>
<p>旅遊行程的規劃，牽涉到諸多因素，舉凡遊客的人數、年齡、體能、興趣、經濟能力、交通工具，一直到旅遊夥伴間的關係、度假目的、生活節奏、甚至於飲食習慣等等不同的變數，都影響到旅遊的品質，因此在行程的安排上自然不得不事先加以考慮、評估。</p>
<button>瞭解更多</button>
</div>
</a>
</div></li>
<li class="htmlcontent-item-2 col-xs-12 clearfix" style="display: none;"><div>
<a href="http://www.fun2tw.com/TravelSchdule/index" class="item-link" title="">
<div class="imgBox">
<img src="https://www.fun2tw.com/images/the-evening-sun-1525624.jpg" class="item-img" title="" alt="" width="100%" height="100%">
</div>
<div class="item-html">
<h2>熱門行程套票</h2>
<p>不曉得要去哪玩？行程我們都安排好了！</p>
<button>瞭解更多</button>
</div>
</a>
</div></li>
<li class="htmlcontent-item-3 col-xs-12 clearfix"><div>
<a href="http://www.fun2tw.com/TravelPlan/overview" class="item-link" title="">
<div class="imgBox">
<img src="https://www.fun2tw.com/upfiles/images/20160809102114.jpg" class="item-img" title="" alt="" width="100%" height="100%">
</div>
<div class="item-html">
<h2>旅遊景點推薦</h2>
<p>有想要逛的景點嗎？我們蒐集了墾丁許多旅遊景點，看你是要遊山，還是玩水，想要來一趟深度之旅，或是探討臺灣古蹟的文化，我們通通都有！</p>
<button>瞭解更多</button>
</div>
</a>
</div></li>
<li class="htmlcontent-item-4 col-xs-12 clearfix"><div>
<a href="http://www.fun2tw.com/ExpertPlan" class="item-link" title="">
<div class="imgBox">
<img src="https://www.fun2tw.com/upfiles/images/20160912%20%232_6476.jpg" class="item-img" title="" alt="" width="100%" height="100%">
</div>
<div class="item-html">
<h2>達人樂遊攻略</h2>
<p>旅遊規劃前，你是否會去看別人遊玩的部落格，看完心得再來擬定行程呢？你的心聲我們都聽到了！我們找了許多墾丁旅遊達人，寫出一篇篇精彩遊記，讓你滿載而歸！</p>
<button>瞭解更多</button>
</div>
</a> 
</div></li>
<li class="htmlcontent-item-5 col-xs-12 clearfix"><div>
<a href="https://www.fun2tw.com/ShopInfo/overview" class="item-link" title="">
<div class="imgBox">
<img src="/images/taiwan-mountain.jpg" class="item-img" title="" alt="" width="100%" height="100%">
</div>
<div class="item-html">
<h2>食宿情報資訊</h2>
<p></p>
<button>瞭解更多</button>
</div>
</a>
</div></li>
</ul>
<div class="clearfix"></div>
</div>
  <!-- <div class="desktop">
    <a  href="/ExpertInfo/Plan" alt="行程懶人包" title="行程懶人包">
      <div class="expertInfo">
        <img src="images/expertInfo1.png" alt="行程懶人包" title="行程懶人包">
      </div>
    </a>
    <a  href="/TravelSchdule/index" alt="熱門行程套票 " title="熱門行程套票 ">
      <div class="expertInfo">
        <img src="images/expertInfo2.png" alt="熱門行程套票 " title="熱門行程套票 ">
      </div>
    </a>
    <a  href="/TravelPlan/overview" alt="景點介紹" title="景點介紹">
      <div class="expertInfo">
        <img src="images/expertInfo3.png" alt="景點介紹" title="景點介紹">
      </div>
    </a>
    <a  href="/ExpertPlan" alt="達人樂遊攻略" title="達人樂遊攻略">
      <div class="expertInfo">
        <img src="images/expertInfo4.png" alt="達人樂遊攻略" title="達人樂遊攻略">
      </div>
    </a>
  </div>
  <div class="mobile">
    <a  href="/ExpertInfo/Plan" alt="行程懶人包" title="行程懶人包">
      <div class="expertInfo">
        <img src="images/expertInfo5.png" alt="行程懶人包" title="行程懶人包">
      </div>
    </a>
    <a  href="/TravelSchdule/index" alt="熱門行程套票 " title="熱門行程套票 ">
      <div class="expertInfo">
        <img src="images/expertInfo6.png" alt="熱門行程套票 " title="熱門行程套票 ">
      </div>
    </a>
    <a  href="/TravelPlan/overview" alt="景點介紹" title="景點介紹">
      <div class="expertInfo">
        <img src="images/expertInfo7.png" alt="景點介紹" title="景點介紹">
      </div>
    </a>
    <a  href="/ExpertPlan" alt="達人樂遊攻略" title="達人樂遊攻略">
      <div class="expertInfo">
        <img src="images/expertInfo8.png" alt="達人樂遊攻略" title="達人樂遊攻略">
      </div>
    </a>
  </div> -->



   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

