﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.ExpertInfo>  
@{
    ViewBag.Title = "墾丁推薦行程─瘋趣台灣-達人攻略";
    List<TravelPlan> travelPlans = ViewBag.travelPlan;
}
@section description
{
    <meta name="description" content="Description：屏東旅行社規劃最優質推薦的墾丁
旅遊行程，激殺優惠價格、專業導覽人員、安全旅
遊保障，最輕鬆便利的達人推薦旅遊，都在瘋趣
台灣-墾丁好行| 限時熱賣中|" />
}
<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>

<div class="container l-white news-content">
<!-- <div class="text-center m1">
  <img src="/images/map_03.jpg" alt="">
</div> -->
  
   <h2 class="l-titles l-titles-indent">
    熱門旅遊景點 <span>POPULAR ATTRACTIONS</span>
  </h2>
 <ul class="l-card l-card-hor l-card-notrailer">
        @foreach (var item in travelPlans)
        {
        <li class="col-md-3 col-xs-12">
            <div class="l-card-main">
              <div class="l-card-image">
                <a href="/TravelPlan/Details/@item.Id">
               @if (item.TravelPlanImages.Count>0)
                {
                    <img style="width:100%  " src="~/upfiles/@(item.TravelPlanImages.FirstOrDefault().Folder)@(item.TravelPlanImages.FirstOrDefault().FileName)" />
                }</a>
              </div>
              <div class="l-card-content">
                  <h2 style="font-weight:bold">@item.Subject</h2>
                  <p class="jq-three">@item.Memo</p>
                  
              </div>
            </div>
        </li>
        }
        </ul>
    <div>
      
    </div>
    <div class="row text-center">
      <a href="/TravelPlan/overview" class="btn btn-danger btn-lg">更多景點介紹</a>
    </div>
          <h2 style="display:none" class="l-titles l-titles-indent">
    達人攻略 <span>EXPERT</span>
  </h2>
    <ul style="display:none"  class="l-card l-card-nogutter l-card-hor l-card-notrailer">
        @foreach (var item in Model)
        {
            <li class="col-md-4 col-xs-12">

             <div class="l-card-main">
          <div class="l-card-image">
             <a href="/ExpertInfo/Details/@item.Id">
               @if (!string.IsNullOrEmpty(item.UpImageUrl))
                {
                     <img style="width:100%;height:300px" src="/upfiles/images/@item.UpImageUrl"/>
                }</a>
          </div>
          <div class="l-card-content">
              <h2>@item.Subject</h2>
              <p class="jq-three"> @item.Memo</p>
              
          </div>
        </div>
        
         
        </li>
        }
        </ul>
<div style="margin:1em"></div>
<a href="/ExpertInfo/Plan"><img src="images/travel-bag.png" alt=""></a>


</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

