﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.TravelOldPlan>  
@{
    ViewBag.Title = "墾丁推薦行程─瘋趣台灣─推薦行程";
  
}
@section description
{
    <meta name="description" content="Description：屏東旅行社規劃最優質推薦的墾丁
旅遊行程，激殺優惠價格、專業導覽人員、安全旅
遊保障，最輕鬆便利的達人推薦旅遊，都在瘋趣
台灣-墾丁好行| 限時熱賣中|" />
}
<style>

   .expertinfo ul {
        padding: 20px;
   }
    .expertinfo li a{
        font-size: 20px;
        color: #00bfd8;
    }
    .expertinfo li li a{
        text-decoration: none;
        font-size: 18px;
        color: #4d4d4d;
    }
    .news-content {
        min-height: 0px;
    }
    .jq-link {
        border-radius: 30px;
        display: inline-block;
        padding: 10px;
    }
    .jq-link.active {
        background: #808080;
        color: white;
    }
    @@media (max-width: 1023px) {
        .expertinfo {
            text-align: center;
        }
        iframe {
            padding-top: 200px;
        }  
        ul.expertinfo {
            background: whitesmoke;
        }
        
    }
    @@media (max-width: 768px) {
        img[alt=懶人包地圖] {
            display: none;
        }

    }
</style>
<!--<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>-->
<div class="container l-white market">
      <h2 class="l-h2">
        <!--<i class="fa fa-suitcase" aria-hidden="true"></i> -->
        行程懶人包 
         
    </h2>
    <div class="text-center">
    <!-- <img src="/images/playnews_01.jpg" alt=""> -->
        
    </div>
    <div class="news-content" style="font-size: 15px;color: #888888;">
        <p >
            繽紛多樣的恆春半島觀光景點，讓你不知道怎麼行程安排才適當嗎？ 瘋趣台灣貼心整理了不同地區跟主題的行程懶人包 帶你玩得充實、玩出不同的恆春風情跟樂趣！</p>
    </div>
    
   
    <div class="col-md-3 col-xs-12">
        <ul class="expertinfo list-none">
        <li><a href="#">一日遊</a>
            <ul>
              @foreach (var item in Model.Where(x=>x.DayType==TravelPlanDay.一日遊))
                {
                    <li><a class="jq-link" data-href="/ExpertInfo/Plandetails/@item.Id"  href="#frameShow"> @item.Subject</a></li>
                    <input type="hidden" value="@item.Id"/>
                }
            </ul>
        </li>
        <li><a href="#">二日遊</a>
            <ul>
                  @foreach (var item in Model.Where(x=>x.DayType==TravelPlanDay.二日遊))
                {
                    <li><a class="jq-link" data-href="/ExpertInfo/Plandetails/@item.Id"  href="#frameShow"> @item.Subject</a></li>
                    <input type="hidden" value="@item.Id"/>
                }
            </ul>
        </li>
        </ul>     
    </div>
    <div id="frameShow" class="col-md-9 col-xs-12 l-white">
        <iframe class="jq-travel-iframe" src="/map.html" width="100%" height="1000px" frameborder="0"></iframe>
    </div>
</div>

<script>
    $(document).ready(function(){
       
        $('.jq-link').click(function(e){
            // e.preventDefault();
            $(this).addClass('active');
            $(this).parents('li').siblings().find('a').removeClass('active');
            var str = $(this).attr('data-href');
            $('.jq-travel-iframe').attr('src',str);
        })
       
    })
</script>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

