﻿@using System.ServiceModel.Configuration
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelOldPlan  
@{
    ViewBag.Title = "墾丁推薦行程─瘋趣台灣─推薦行程";
    Layout = null;
}
@section description
{
    <meta name="description" content="Description：屏東旅行社規劃最優質推薦的墾丁
旅遊行程，激殺優惠價格、專業導覽人員、安全旅
遊保障，最輕鬆便利的達人推薦旅遊，都在瘋趣
台灣-墾丁好行| 限時熱賣中|" />
}
 <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/all.css">
<h2 class="l-titles l-titles-indent">
              [@Model.DayType] @Model.Subject<span>TRAVEL</span>

            </h2>

@Html.Raw(Model.Article)
<div class="text-center">
 @if (!string.IsNullOrEmpty(Model.UpImageUrl))
                {
                     <img src="/upfiles/images/@Model.UpImageUrl"/>
                }
                </div>