﻿@using Fun2twModels.Models
@model List<Fun2tw.Models.Estimate>  
@{
    Layout = null;
}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Info918902</title>
   <link rel="stylesheet" href="~/css/style.css?20170207">

  
</head>

<body>
  <div class="wrap">
  <div class="locations">
  <div class="number"><span>918902 <br> 往左營</span></div>
  <div class="message"></div>
      <div class="goto">
          小灣→台88線→高鐵左營站
      </div>
     @*   <div>最後更新時間:@(Convert.ToDateTime(Session["infoTime"]).ToString("yyyy-MM-dd hh:mm"))</div>*@
</div>
      <ul>
          @foreach (var item in Model)
          {
                        <li>
              <div class="location">@item.StopName</div>
                            <div class="map">
                                @if (!string.IsNullOrEmpty(item.EstimateTime))
                                {
                                    string timein = "";
                                    if (item.EstimateTime == "即將進站")
                                    {
                                     
                                        timein = "time-in";
                                    }
                                
                                
                                    
                                    <div class="time @timein">@item.EstimateTime</div>
                                }
                                 @if (!string.IsNullOrEmpty(item.CarId))
                                {
                                      <div class="bus">@item.CarId</div>
                                }
                             @* @if (!string.IsNullOrEmpty(item.Seat))
                                {
                                     <div class="people">空位：<em>@item.Seat</em> 位 </div>
                                }*@
                                 @*@if (item.Baggage>0)
                                {
                                     <div class="people">行李：<em>@item.Baggage</em> 件 </div>
                                }*@

                               @* @if (!string.IsNullOrEmpty(item.CarId))
                                {
                                    <div class="people">行李：<em>@item.Baggage</em> 件 </div>
                                }*@
                               
                               
                            </div>
          </li>
          }

        <div class="clear"></div>

      </ul>
      
<div class="note" >因網路連線情形或傳輸品質狀況，可能影響更新頻率時間差異，請注意以上到站資訊僅供參考。</div>
</div>
  
  
</body>
</html>
