﻿@using Fun2twModels.Models
@{
   
    ViewBag.Title = "瘋趣台灣－墾丁好行";
}



<link rel="stylesheet" href="~/css/traffic.css">

<style>
  html,body,#body,.wrap,.main,.main-content {
    width: 100%;
    height: 100%;
  }
   
  
  
  .btn-orange-peel {
      width: 100%;
      margin-bottom: 10px;
      background-color: #ffc54c;
      border-color: #ffb83f;
      background-color: #00bfd8;
      border-color: #00bfd8; 
    }
  
  h3 {
    padding: 20px;
  }
  .box-offer img {
    height: 300px;
  }
  
  .float-card-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 100px 50px;
    background: white;
  }
  @@media (max-width: 1199px) {
    .float-card {
      width: 100%;
      height: 100%;
      /*background: rgba(0,0,0,.6);*/


    }
    .float-card-inner {
      background: none;
      color: white;

    }
  }
  @@media (max-width: 1152px) {
    
    
    .float-card-inner{
      
      background: rgba(0,0,0,.8);
      background: none;
      padding: 0 20px 20px 20px;
    }

    
  }
  @@media (max-width: 1024px) {
    
    .float-card {
      width: 100%;
      height: 100%;
    }

  }
  @@media (max-width: 569px) {
    .swiper-container {
      height: 500px;
    }
    .center-block {
      padding-left: 10px;
      padding-right: 10px;
    }
    .page .section-90 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .box-offer img {
      height: auto;
    }
    .swiper-center-caption {
      background: rgba(0,0,0,.4);
      height: 100%;
    }
    
    .shell-wide {
      max-width: 100%;
      width: 100%;
      text-align: center;
      padding: 50px;
      position: absolute;
      z-index: 2;
      bottom: 0;
    }
    

  }
</style>

    <div style="width: 100%;height: 100%;background-image: url(/images/navigation/navigation5.jpg); background-size: cover;">
            <div class="float-card">
                <div class="float-card-inner" style="text-align: center;">
                    <div>
                        <h3 class="reveal-inline-block text-bold">車輛動態</h3>

                    </div>
                    <div>
                        <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block" style="color: white;">
                            已經抵達恆春半島了嗎？
                            快看動態時刻表查詢時間吧！
                        </h6>
                    </div>
                    <br>
                    <a href="/carmember/info9189A1" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往墾丁（不經大鵬灣）</a>
                    <a href="/carmember/info9189A2" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往左營（不經大鵬灣）</a>
                    <a href="/carmember/info918901" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往墾丁</a>
                    <a href="/carmember/info918902" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">往左營</a>
                </div>

            </div>
    </div>
              