﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ContactUS
@{
    ViewBag.Title = "Contact US";

}

<style>
  textarea {
    width: 100%!important;
    height: 250px!important;
  }
</style>

<div class="container contact">

    <div class="row">
        <div class="col-md-5 col-md-offset-4 l-white p1">
            <h2 class="l-titles" style="text-align: center;" >Contact US</h2>
    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   <span style="color: red">@ViewBag.Message</span> 
    <div class="news-content">
      
                <div class="editor-label form-group">
           Name
           @Html.TextBoxFor(model => model.Name,new { placeholder="" })
            @Html.ValidationMessageFor(model => model.Name)

        </div>
        <div class="editor-field">
            
       
            
        </div>

        @* <div class="editor-label form-group">
            Gender 
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.GenderType))))
            @Html.ValidationMessageFor(model => model.Gender)
    
        </div> *@
       <div class="editor-label form-group">
        E-Mail 
        @Html.TextBoxFor(model => model.Email,new { placeholder="" })
        @Html.ValidationMessageFor(model => model.Email)

       </div>

        <div class="editor-label form-group">
            Phone
            @Html.TextBoxFor(model => model.Tel,new { placeholder="" })
            @Html.ValidationMessageFor(model => model.Tel)

        </div>
       
        <div class="editor-label form-group">
            Title
            @Html.TextBoxFor(model => model.Subject,new { placeholder="" })
            @Html.ValidationMessageFor(model => model.Subject)

        </div>
     

        <div class="editor-label form-group">
          Content
        </div>
          <div class="editor-field">
            
       @Html.TextAreaFor(model => model.Article, new { @class= "form-control full" })
            @Html.ValidationMessageFor(model => model.Article)
            
        </div>
        <div class="form-group">
              <div class="g-recaptcha" data-sitekey="6Lf5cCITAAAAAGHeQaUlq5UrJVF1jeTFA0LEOArn"></div>
        </div>
                 <div class="form-group">
          <div align="right">
            <input type="submit" class="btn btn-primary" value="Send" />
            </div>
</div>
    </div>

}

<script>
  $(".form-group input").addClass('form-control');
</script>


</div>
</div>
@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @Scripts.Render("~/bundles/jqueryval")


    
}