﻿
@{
    ViewBag.Title = "聯絡我們";
  
}
<div class="l-banner"  style="background: url(/images/banner-help-bg.png)" >
  <img src="/images/banner-help.png">
</div>
<div class="container L-WHITE" style="text-align: center;">
      <h2 class="l-title">
        <i class="fa fa-youtube-play"></i>Contact US
    </h2>
    <div>
        Your comments have been sent, we will deal with your views as soon as possible, thank you.
    </div>




</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
