﻿
@{
    ViewBag.Title = "會員登入";

}
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=200175623" type="text/javascript" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<script>
 

 
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1006382576125514',
            xfbml: true,
            status: true,
            cookie: true,
            oauth: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            console.log(response.authResponse.accessToken);
            getData();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }


    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function getData() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', { fields: 'id, name, email, gender,  first_name, last_name, picture' }, function(response) {
           if(response.email == undefined){
            alert('您的 FB 信箱尚未驗證，還請先行至 FB 驗證，或使用 Google 登入')
            return false;
           }
            // alert('信箱登入成功: ' + response.email);
            console.dir(response);
            //document.getElementById('status').innerHTML =
            //   'Thanks for logging in, ' + response.name + "  " + response.id + "  " + response.email + "  " + response.gender + "  " + response.first_name + "  " + response.last_name + "  " + response.picture.data.url;
            //Register
            //apiRegister(response.name, response.email, response.picture.data.url);

            $("#treeValid").val(response.id);
            $("#customerName").val(response.name);
            $("#customerEmail").val(response.email);
            $("#form1").submit();
        });

       
    }

    function fbLogIn() {
        FB.login(function(response) {
            if (response.authResponse) {
                statusChangeCallback(response);
            }
        }, {
            scope: "public_profile,email"
        });
    }

    function fbLogOut() {
        FB.logout(function(response) {
            // Person is now logged out
            //document.getElementById('status').innerHTML = "Successful logout";
        });

        $("#status").fadeOut(800);
        $(".login").fadeIn(800);
        $(".fb_logout").fadeOut(800);

    }


    function googleSignOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
            //document.getElementById('status').innerText = "Successful Google logout";
        });

       
    }


   
    function attachSignin(element) {
        //console.log(element.id);
        auth2.attachClickHandler(element, {},
            function(googleUser) {
                var profile = auth2.currentUser.get().getBasicProfile();
                //document.getElementById('status').innerText = "Signed in: " + '  ID: ' + profile.getId() + '  Full Name: ' + profile.getName() + '  Image URL: ' + profile.getImageUrl() + '  Email: ' + profile.getEmail();
                //apiRegister(profile.getName(), profile.getEmail(), profile.getImageUrl());
          
                $("#treeValid").val(profile.getId());
                $("#customerName").val(profile.getName());
                $("#customerEmail").val(profile.getEmail());
                $("#form1").submit();

            }, function(error) {
                alert(JSON.stringify(error, undefined, 2));
            });


    }
</script>

<div class="container l-white">
    <div class="news-content">
        <div align="center">
        <h2 class="l-titles l-titles-indent">
            會員登入 <span>LOGIN</span>
        </h2>
        </div>
        <div class="" style="margin-bottom: 30px; max-width: 500px; margin: 0 auto 30px auto">
            <div class="">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form form-aligned trailer"}))
                {

                    <div class="validform">
                        <span id="status"></span>
                        帳號請輸入手機號碼或E-mail,密碼不得小於6個字元。
                        <h2 style="color: red">@ViewBag.Message</h2>
                        @* <label for="">帳號</label> *@
                        <input class="form-control" type="text" data-val="true" data-val-required="必填欄位" data-val-length="帳號長度至少必須為 6 個字元。"  data-val-length-min="6"  maxlength="50" 

                        

onchange="this.value=this.value.replace(/[^A-z@0-9.]/g,'')" 

                        id="Account" name="account" placeholder="請輸入帳號">
                        <span class="field-validation-valid" data-valmsg-for="account" data-valmsg-replace="true"></span>
                        <br>
                        @* <label for="">密碼</label> *@
                        <input class="form-control"  style="border: 1px solid #CCC;
    border-radius: 5px;" type="password" data-val="true" data-val-length="密碼長度至少必須為 6 個字元。"  data-val-length-min="6" data-val-required="必填欄位" maxlength="15" onchange="this.value=this.value.replace(/[^A-z 　,-.0-9]/g,'')" id="Password" name="Password" placeholder="請輸入密碼">
                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        <div>

                        </div>
                        <div class="m1">
                        @if (@Request["ReturnUrl"] != null)
                            {
                                if (Request["ReturnUrl"].Contains("mobile=true"))
                                {
                                    <input type="hidden" value="@Request["ReturnUrl"]" name="ReturnUrl"/>
                                }
                                else
                                {
                                    <input type="hidden" value="@Request["ReturnUrl"]&mobile=@Request["mobile"]" name="ReturnUrl"/>
                                }
                              
                            }
                            else
                            {
                                <input type="hidden" value="?mobile=@Request["mobile"]" name="ReturnUrl"/>
                            }
                              <input type="submit" class="btn btn-primary" width="auto" value="送出">
                            <input type="reset" class="btn btn-primary" width="auto" value="重設">
                            <a href="/Customer/ForgetPassword" class="" >忘記密碼</a>
                        </div>


                    </div>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                   
                }
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form form-aligned trailer", id = "form1"}))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="social" style="text-align: center;">
                    <input class="login facebook" id="Button2" type="button" value="使用 Facebook 帳號登入" onclick="window.location = 'https://www.facebook.com/dialog/oauth?client_id=1006382576125514&redirect_uri=http://www.fun2tw.com/FB.aspx&scope=public_profile,email&state=@(Request["ReturnUrl"])&mobile=@(Request["mobile"])'"/>
                    <br><br>
  <div style="display:none">
                    <input class="login google" id="customBtn" type="button" value="使用 Google 帳號登入" onclick="window.location = 'https://accounts.google.com/o/oauth2/v2/auth?scope=email+profile&redirect_uri=http://www.fun2tw.com/G.aspx&response_type=code&client_id=690020895963-av5vs1orqqe51s3fpqdbbdd9v4jggfgo.apps.googleusercontent.com&state=@(Request["ReturnUrl"])'"/>
                    <br>
<br></div>
<div>
<input type="button" class="login weibo" value="使用 微博 帳號登入" onclick="window.location = 'https://api.weibo.com/oauth2/authorize?client_id=200175623&redirect_uri=http://www.fun2tw.com/weibo.aspx?ReturnUrl=@(Request["ReturnUrl"])&response_type=code'"/>
</div>	

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=200175623" type="text/javascript" charset="utf-8"></script>
<script>
WB2.anyWhere(function (W) {
    W.widget.connectButton({
        id: "wb_connect_btn",
        type: '3,2',
        callback: {
            login: function (o) { //登录后的回调函数
console.log(o)
                $("#treeValid").val(o.id);
                $("#customerName").val(o.name);
                $("#customerEmail").val('');
                $("#form1").submit();
},
            logout: function () { //退出后的回调函数
            }
        }
    });
});
</script>
<br>
                    <input type="hidden" name="treeValid" id="treeValid" value=""/>
                    <input type="hidden" name="customerName" id="customerName" value=""/>
                     <input type="hidden" name="customerEmail" id="customerEmail" value=""/>
                    <input type="hidden" value="@Request["ReturnUrl"]" name="ReturnUrl"/>
                    <br>
                    (如您使用 iPhone 或 iPad，請以 Safari 瀏覽器開啟本站。)
                </div>
               <script>startApp();</script>
            }

            <div style="padding: 20px 0;text-align: center;">還沒有帳號嗎？請<a href="/customer/register/">註冊</a></div>

        </div>

        <div class="col-md-6 col-xs-12">
            
        </div>
        






    </div>

</div>
@if (!string.IsNullOrEmpty(ViewBag.account))
{
    <div style="display: none">
         <iframe id="Myframe" src="https://ec.fun2tw.com/Customers/index?account=@ViewBag.account&Url=@ViewBag.ReturnUrl"></iframe>
    </div>

    <script>
        $('#Myframe').on('load', function () {
            window.location.href = '@ViewBag.ReturnUrl';
        });

    </script>
}

@section Scripts {

    @*@Scripts.Render("~/bundles/jqueryval")*@

   
<style>

    .form-control {
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid #CCC; 
    }

    .weibo {
        border: 2px solid #f19726;
        color: #f19726;
    }
    .facebook {
        color: #4267b2;
        border: 2px solid #4267b2;

    }
    .google {
        color: #ea4335;
        border: 2px solid #ea4335;
        
    }
    .validform {
        width: 80%;
        margin: 0 auto;
    }

    .social {
        width: 80%;
        margin: 0 auto;
    }
    .btn {
        border-radius: 30px;
    }   
    .login {
        background-color: inherit; 
        padding: 10px 0;
        width: 100%;    
        font-size:  1em;
        border-radius: 30px;
    }
    .login:hover,.login:focus {
        color: white;
    }
    .weibo:hover,.weibo:focus {
        background: #f19726;
    }
    .facebook:hover,.facebook:focus {
        background: #4267b2;
    }
    .google:hover,.google:focus {
        background: #ea4335;
    }
    
    #body {
    }
    img#login_image {
        width: 100px;   
    }
    .fb_logout {
        font-size:  1em;
        padding: 10px 0;

        width: 80%;
        background: #1A60A2;
        color: white;
        border: 0;
        border-radius: 5px;


    }
    .gp_logout {
        font-size:  1em;
        padding: 10px 0;

        width: 80%;
        background: #d73d32;
        color: white;
        border: 0;
        border-radius: 5px;


    }
    .title {
        color: #60babb;

    }
    #email {
        display: none;
    }
    .prompt {
        color: red;
        font-size: 1.2em;
    }
    .m1 {
        text-align: center;
    }
    @@media (max-width: 1000px) {
        .weibo {
        border: 2px solid #f19726;
        background: #f19726;
        color: white;
        }
        .facebook {
        background: #4267b2;
        color: white;
        border: 2px solid #4267b2;

        }
        .google {
        background: #ea4335;
        color: white;
        border: 2px solid #ea4335;
            
        }
        
    }
</style>
}

