﻿@{
    ViewBag.Title = "LogOff";
}
<div align="center">
	<h2>登出中...請稍後</h2>
	<div id="wb_connect_btn" >
</div>

<div style="display: none">
        <iframe src="https://ec.fun2tw.com/Customers/LogOff"></iframe>
    </div>



<script>
var search = document.location.search;
if (search == "?mobile=true")
{
    setTimeout(function(){ window.location='/home/indexforapp?mobile=true'; }, 3000);
}
else {
	 setTimeout(function(){ window.location='https://www.fun2tw.com'; }, 3000);
}
</script>