﻿@{
    ViewBag.Title = "PortalOrder";
}

<style>
	@@media (max-width: 767px) {
		.btn {
			width: 100%;
			margin: 0 0 10px 0;
		}
		
	}
</style>
<div class="container l-white">
	<h2 class="l-titles">請選擇您要瀏覽的訂單</h2>
	<div class="m1 text-center">
		<a  href="https://www.fun2tw.com/Customer/Order" target="_blank" class="btn btn-primary m1 btn-lg">旅遊行程訂單</a>
		<a   href="https://ec.fun2tw.com/Customers/Order" target="_blank" class="btn btn-success m1 btn-lg">伴手禮市集訂單</a>
		<a   href="https://ticket.fun2tw.com/TicketHistory.aspx" class="btn btn-warning m1 btn-lg" target="_blank">墾丁快線訂單</a>
		<a   href="https://www.fun2tw.com/packageticket/Order" class="btn btn-info m1 btn-lg" target="_blank">交通套票</a>
		<a   href="https://ec.fun2tw.com/Customers/TicketsOrder" class="btn btn-danger m1 btn-lg" target="_blank">特惠票券訂單</a>
	</div>
</div>

