﻿
@{
    ViewBag.Title = "註冊成功";
  
}
<style>
  .news-content {
    text-align: center;
  }
</style>
<div class="container l-white news-content">
      <h2 class="l-titles ">
       註冊成功 <span>SUCCESS</span>
    </h2>
    <div>
        您的帳號已經註冊成功! <br>
        <span style="color:red">喜歡我們的服務，歡迎點讚支持我們</span>
    </div>



    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.7&appId=1480894322172352";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/fun2tw/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>


    <div class="m1 text-center">  <a class="btn btn-cyan" href="/Home">回首頁</a></div>



     



</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

