﻿@using Fun2twModels.Models
@model Fun2tw.Models.RegisterView
@{
    ViewBag.Title = "修改個人資料";

}
<style>
    input {
        margin: 10px 0;
        width: 300px;
    }
</style>
<div class="container l-white news-content">
  <h2 class="l-titles ">
       修改個人資料 <span>PROFILE</span>
    </h2>
      <span id="status"></span>
               
				<h2 style="color:red">@ViewBag.Message</h2>
    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="col-md-6">  
        <div class="editor-label" style="padding: 5px 0">
           <b>帳號 ：</b>
           <span>@Model.GetCustomers().Account</span>
            @Html.HiddenFor(model => model.GetCustomers().Account)

        </div>
         <div class="editor-label" style="padding: 5px 0">
           <b>名稱 ：</b>
           <span>@Model.GetCustomers().Name</span>
            @Html.HiddenFor(model => model.Name)    

        </div>
      

        @if (Model.GetCustomers().Password != "FBGmail")
        {
             <div class="editor-label">
            @Html.LabelFor(model => model.Password)

        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Opassword)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.PasswordSalt)
            

            <br>
            (密碼已經加密，不修改請保持空白)

        </div>
        }
       @Html.HiddenFor(model => model.Id)

          <div class="editor-label">
            @Html.LabelFor(model => model.GetCustomers().Email)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Email, new {@autocomplete="off"})

        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.GetCustomers().Telphone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Telphone, new {@autocomplete="off"})

        </div>

        

                <div class="editor-label">
            @Html.LabelFor(model => model.GetCustomers().Mobile)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Mobile, new {@autocomplete="off"})

        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.GetCustomers().Address)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.GetCustomers().Address, new {@autocomplete="off"})

        </div>







        <div class="m1"></div>
     <div class="g-recaptcha" data-sitekey="6Lf5cCITAAAAAGHeQaUlq5UrJVF1jeTFA0LEOArn"></div>

        <p class="">
            <input type="submit" class="btn btn-primary" value="修改" />
        </p>
</div>
}
    </div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @Scripts.Render("~/bundles/jqueryval")


    
}

