﻿
@{
    ViewBag.Title = "上傳影片成功";
  
}
<div class="container">
      <h2 class="l-title">
        <i class="fa fa-youtube-play"></i>上傳影片成功
    </h2>
    <div>
        上傳影片成功，檔案轉檔中，待管理者審核成功後，將會在<a href="/CustomerVideo">旅客影音分享</a>發行影片。
    </div>
    <a href="/Home">回首頁</a>



</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
