﻿@using Fun2twModels.Models
@{
   
    ViewBag.Title = "瘋趣台灣－墾丁好行";
}

<div class="l-banner" style="background: url(/images/banner-location-bg.png)">
  <img src="/images/banner-location.png">
</div>

<div class="container l-white  locations">
  <h3 class="l-h2"><i class="fa fa-bus" aria-hidden="true"></i> Transport</h3>
   <h1>Fun2TW Lead you how to play in Hengchun</h1>
    <div class="locations-map">
      <div class="locations-setp locations-setp-1">
        <h2>Download Fun2TW APP </h2>
        <p>Want to travel to Hengchun?<br>Download APP for plan！</p>
        <!-- <p><a href="https://play.google.com/store/apps/details?id=tw.com.madhatter.fun2tw"><img src="/images/icon-google.png" width="100" alt=""></a></p> -->
        <p><a class="btn btn-primary" href="https://www.fun2tw.com/fun2tw.apk">Download APP </a></p>
      </div>
      <div class="locations-setp locations-setp-2">
        <h2>Route Plan</h2>
        <p>Do you have any ideas? <br>let's start！</p>
        <p><a href="http://www.fun2tw.com/Navigation/plan" class="btn btn-primary">Start planing</a></p>
      </div>
      <div class="locations-setp locations-setp-3">
        <h2>Bus Ticket</h2>
        <p>Do not have any tickets yet？<br>Pingtung Bus ticket is very cheap！</p>
        <p><a href="http://ticket.fun2tw.com/" target="_blank" class="btn btn-primary">buy tickets</a></p>
      </div>
      <div class="locations-setp locations-setp-4">
        <h2>Timetable</h2>
        <p>Arrived in Hengchun?<br>
        let's see Bus timetable!</p>
        <p><a onclick="alert('建置中')" class="btn btn-primary" href="#">See timetable</a></p>
      </div>
      <div class="locations-setp locations-setp-5">
        <h2>Call the driver</h2>
        <p>Ready for the next attraction？<br>Call the driver where you are</p>
        <p><a onclick="alert('建置中')" class="btn btn-primary" href="#">Call driver</a></p>

      </div>
    </div>
 
  </div>
   
