﻿@{
    ViewBag.Title = "Plan";
}

<style>
  .path-tut-mobile {
    display: none;
  }
  .path_bg {
    text-align: center;
    background-size: cover;
    background: #fff;
    background-position: center center;   
  }
  .plannow {
    text-align: center;
    background: url(/images/plannow.png);
    width: 100%;
    height: 209px;
    background-size: cover;
    background-position: center center;   
  }
  @@media (max-width: 767px) {
    .path-tut-mobile {
      display: block;
    }
    
    .path-tut{
      display: none;
    }
    
  }
</style>

<div class="l-banner"  style="background: url(/images/banner-location-bg.png)" >
  <img src="/images/banner-location.png">
</div>

<div class="path_bg">
  <div class="container route-planner" style="margin-top:0;">
    <div style="font-size: 24px;color:#8791da;padding-top: 20px;font-weight: 200;">ROUTE PLANNER</div>
    <div style="color: #f3892f;padding: 20px;"> - Plan your travel Immediately -</div>
  </div>
  <div class="container banner">
    <img class="path-tut" src="/images/path-tut.png" alt="">
    <img class="path-tut-mobile" src="/images/path-tut-mobile.png" alt="">
  </div>
</div>
  
<div class="plannow">
  <div style="color:white;font-size: 30px;font-weight: 200;padding: 40px;">PLAN NOW</div>
  <a href="/TravelPlan/overview" class="button" style="background:#5e6bd1;padding:15px;"> plan your travel Immediately</a>
</div>