﻿@using Fun2twModels.Models
@model List<Fun2tw.Models.TravelNavigation>

@{
    ViewBag.Title = "路線規劃-規劃結果";
            //Layout = null;
}
<script>
    $(document).ready(function () {
        $('.print').click(function (event) {
            /* Act on the event */
            window.print();
        });
    });
</script>

@*   @foreach (var item in Model.OrderBy(x => x.listNum))
            {
                <div>
                   
                    @Html.DisplayFor(modelItem => item.address)
                </div>
                
            }*@

<div class="container l-white news-content">
 <h2 class="l-title">
            Route Plan Result
          </h2>
    <div class="col-xs-12" id="map" style="height:800px"></div>
        <div class="col-xs-12" id="right-panel">
          <p>Total Distance: <span id="total"></span></p>
        </div> 
        <div class="text-center" style="clear:both;padding-top:30px;">
            <input type="button" value="Back" class="btn btn-default" onclick="history.back()"/>
        
                <button class="btn btn-success print"><i class="fa fa-print"></i>&nbsp;Print</button>
            @if (ViewBag.isSave == "")
            {
                 <a style="display:none" href="/Navigation/Save" class="btn btn-primary">Save</a>
            }
           
            
        </div>
</div>


<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #right-panel .adp-placemark td {
        padding: 5px;
        background: #00bfd8;
        color: #fff;
    }

    #map {
        height: 100%;
        float: left;
        width: 63%;
        height: 100%;
    }

    #right-panel {
        float: right;
        width: 34%;
        height: 100%;
    }
    @@media (max-width:768px){
        #right-panel,#map{
            width: 100%;
        }
    }

    #right-panel {
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

        #right-panel select, #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }

    .panel {
        height: 100%;
        overflow: auto;
    }
</style>

<script>
    function initMap() {
        //alert("1111");
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: { lat: 18.6053582, lng: 118.3022123 }
        });

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
            draggable: true,
            map: map,
            panel: document.getElementById('right-panel')
        });

        directionsDisplay.addListener('directions_changed', function () {
            computeTotalDistance(directionsDisplay.getDirections());
        });

        var first;
        var last;
        var waypts = [];
        //alert(first + "\n" + last);
        @{
            //string first = "" , last = "", center = "";
            //var addressList = (List<string>)ViewBag.Address;

            int i = 0;
            foreach (var item in Model.OrderBy(x => x.listNum))
            {
                if (i == 0)
                {
                    <text>
        first = { address: '@item.address', lat: '@item.lat', lng: '@item.lon' };
        //alert(first.address);
        </text>
                }
                else if (i == Model.Count - 1)
                {
                    <text>
        last = { address: '@item.address', lat: '@item.lat', lng: '@item.lon' };
        //alert(last.address);
        </text>
                }
                else
                {
                    <text>
        waypts.push({
            address: '@item.address',
            lat: '@item.lat',
            lng: '@item.lon'
        });
        </text>
                }
                i++;
            }
        }

        //alert(first + "\n" + last);
        displayRoute(first, last, directionsService,
            directionsDisplay, waypts);
    }

    @{
        string waypoints = "";
        if (Request["mode"] != "TRANSIT")
        {
            waypoints = " waypoints: waypts,";
        }
    }

    function displayRoute(first, last, service, display, waypoints) {
        var origin;
        if (first.lat.length > 0 && first.lng.length > 0) {
            origin = new google.maps.LatLng(first.lat, first.lng);
        } else {
            origin = first.address;
        }

        var destination;
        if (last.lat.length > 0 && last.lng.length > 0) {
            destination = new google.maps.LatLng(last.lat, last.lng);
        } else {
            destination = last.address;
        }

        var waypts = [];
        var checkboxArray = waypoints;
        for (var i = 0; i < checkboxArray.length; i++) {
            if (checkboxArray[i].lat.length > 0 && checkboxArray[i].lng.length > 0) {
                waypts.push({
                    location: new google.maps.LatLng(checkboxArray[i].lat, checkboxArray[i].lng),
                    stopover: true
                });
            } else {
                waypts.push({
                    location: checkboxArray[i].address,
                    stopover: true
                });
            }
        }

        //alert(origin);
        //alert(destination);

        service.route({
            origin: origin,
            destination: destination,
            //waypoints: [{ location: '806高雄市前鎮區復興四路' }, { location: '苓洲國小' }],

           @waypoints

            //travelMode: google.maps.TravelMode.DRIVING,
            //travelMode: google.maps.TravelMode.TRANSIT,
            //travelMode: google.maps.TravelMode.WALKING,
            travelMode: google.maps.TravelMode['@Request["mode"]'],
            avoidTolls: true
        }, function (response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                display.setDirections(response);
            } else {
                //alert('Could not display directions due to: ' + status);
                // alert an error message when the route could nog be calculated.
                if (status == 'ZERO_RESULTS') {
                    alert('No route could be found between the origin and destination.');
                } else if (status == 'UNKNOWN_ERROR') {
                    alert('A directions request could not be processed due to a server error. The request may succeed if you try again.');
                } else if (status == 'REQUEST_DENIED') {
                    alert('This webpage is not allowed to use the directions service.');
                } else if (status == 'OVER_QUERY_LIMIT') {
                    alert('The webpage has gone over the requests limit in too short a period of time.');
                } else if (status == 'NOT_FOUND') {
                    alert('At least one of the origin, destination, or waypoints could not be geocoded.');
                } else if (status == 'INVALID_REQUEST') {
                    alert('The DirectionsRequest provided was invalid.');
                } else {
                    alert("There was an unknown error in your request. Requeststatus: \n" + status);
                }
            }
        });
    }

    function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
            total += myroute.legs[i].distance.value;
        }
        total = total / 1000;
        document.getElementById('total').innerHTML = total + ' km';
    }
</script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBHNgGDd59BQqpVBV6Hza24iIgfZTEwjZA&signed_in=true&callback=initMap&region=TW" async defer></script>
