﻿@{
    ViewBag.Title = "Timetable";
}
<link rel="stylesheet" href="~/css/traffic.css">

<style>
    .btn-orange-peel {
        background-color: #ffc54c;
        border-color: #ffb83f;
        background-color: #00bfd8;
        border-color: #00bfd8;
    }


    .page .text-bold, .page strong {
        font-weight: 300;
    }

    .swiper-center-caption {
        background: rgba(0,0,0,.3);
        padding: 50px 0;
    }

    .btn, .pagination-classic > li > a, .pagination-classic > li > span {
        font-family: Microsoft JhengHei,arial,sans-serif;
    }
    .float-card-inner h3 {
        color: white;

    }
    .float-card-inner .text-atlantis {
        color: white;
    }

    h3 {
        padding: 20px;
    }

    .box-offer img {
        height: 300px;
    }

    .float-card-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: inline-block;
        padding: 100px 50px;
        /*background: white;*/
    }

    @@media (max-width: 1199px) {
        .float-card {
            width: 100%;
            height: 100%;
            /*background: rgba(0,0,0,.6);*/
        }
        .reveal-lg-inline-block {
            display: none;
        }

        .float-card-inner {
            background: none;
            color: white;
        }
        
    }

    @@media (max-width: 1152px) {


        .float-card-inner {
            background: rgba(0,0,0,.8);
            background: none;
            padding: 0 20px 20px 20px;
        }
    }

    @@media (max-width: 1024px) {

        .float-card {
            width: 100%;
            height: 100%;
        }
        .page .section-90 {
            padding: 20px;
        }
    }

    @@media (max-width: 569px) {
        .swiper-container {
            height: 500px;
        }

        .center-block {
            
        }

        .box-offer img {
            height: auto;
        }

        .swiper-center-caption {
            background: rgba(0,0,0,.4);
            height: 100%;
        }

        .shell-wide {
            max-width: 100%;
            width: 100%;
            text-align: center;
            padding: 50px;
            position: absolute;
            z-index: 2;
            bottom: 0;
        }
    }
    .fun2tw_timetable {
    	text-align: center;
    }
</style>
<div id="timeTable" class="fun2tw_timetable">
     <div>
        <h3 class="reveal-inline-block text-bold">Timetable</h3>
    </div>
    <div>
        <h6 class="text-bold box-offer-price text-atlantis reveal-inline-block">
           
        </h6>
    </div>
    <div>
    	@* <img src="/img/router.png" alt=""> *@
    </div>
    <a target="_blank" href="/english/Navigation/Kentingstreetcarschedules" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">Kenting Shuttle Bus</a>
    <a target="_blank" href="https://www.fun2tw.com/Navigation/Kentingexpressschedules" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">Kenting Express</a>
    <a target="_blank" href="https://www.fun2tw.com/Navigation/GaoKenschedules" class="btn btn-orange-peel text-spacing-40 offset-top-18 offset-lg-top-10 offset-xl-top-45">Kenting Bus</a> 
    

</div>
