﻿
@{
    ViewBag.Title = "會員登入";

}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<script>
 

 
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1006382576125514',
            xfbml: true,
            status: true,
            cookie: true,
            oauth: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            console.log(response.authResponse.accessToken);
            getData();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }


    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function getData() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', { fields: 'id, name, email, gender,  first_name, last_name, picture' }, function(response) {
           if(response.email == undefined){
            alert('您的 FB 信箱尚未驗證，還請先行至 FB 驗證，或使用 Google 登入')
            return false;
           }
            // alert('信箱登入成功: ' + response.email);
            console.dir(response);
            //document.getElementById('status').innerHTML =
            //   'Thanks for logging in, ' + response.name + "  " + response.id + "  " + response.email + "  " + response.gender + "  " + response.first_name + "  " + response.last_name + "  " + response.picture.data.url;
            //Register
            //apiRegister(response.name, response.email, response.picture.data.url);

            $("#treeValid").val(response.id);
            $("#customerName").val(response.name);
            $("#customerEmail").val(response.email);
            $("#form1").submit();
        });

       
    }

    function fbLogIn() {
        FB.login(function(response) {
            if (response.authResponse) {
                statusChangeCallback(response);
            }
        }, {
            scope: "public_profile,email"
        });
    }

    function fbLogOut() {
        FB.logout(function(response) {
            // Person is now logged out
            //document.getElementById('status').innerHTML = "Successful logout";
        });

        $("#status").fadeOut(800);
        $(".login").fadeIn(800);
        $(".fb_logout").fadeOut(800);

    }


    function googleSignOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
            //document.getElementById('status').innerText = "Successful Google logout";
        });

       
    }


    var googleUser = {};
    var startApp = function() {
        gapi.load('auth2', function() {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '690020895963-av5vs1orqqe51s3fpqdbbdd9v4jggfgo.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                // Request scopes in addition to 'profile' and 'email'
                scope: 'profile'
            });
            attachSignin(document.getElementById('customBtn'));
        });
    }

    function attachSignin(element) {
        //console.log(element.id);
        auth2.attachClickHandler(element, {},
            function(googleUser) {
                var profile = auth2.currentUser.get().getBasicProfile();
                //document.getElementById('status').innerText = "Signed in: " + '  ID: ' + profile.getId() + '  Full Name: ' + profile.getName() + '  Image URL: ' + profile.getImageUrl() + '  Email: ' + profile.getEmail();
                //apiRegister(profile.getName(), profile.getEmail(), profile.getImageUrl());
          
                $("#treeValid").val(profile.getId());
                $("#customerName").val(profile.getName());
                $("#customerEmail").val(profile.getEmail());
                $("#form1").submit();

            }, function(error) {
                alert(JSON.stringify(error, undefined, 2));
            });


    }
</script>

<div class="container l-white">
    <div class="news-content">
        <h2 class="l-titles l-titles-indent">
            ログイン <span>LOGIN</span>
        </h2>
        <div class="col-md-6 col-xs-12" style="margin-bottom: 30px">
            @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form form-aligned trailer", id = "form1"}))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="login" style="text-align: center">
                    <input class="facebookin" id="Button2" type="button" value="Facebookアカウントでログイン" onclick="fbLogIn();"/>
                    <br><br>
                    <input class="googlein" id="customBtn" type="button" value="Googleアカウントでログイン"/>
                    <br>
                    <input type="hidden" name="treeValid" id="treeValid" value="検索"/>
                    <input type="hidden" name="customerName" id="customerName" value="検索"/>
                     <input type="hidden" name="customerEmail" id="customerEmail" value="検索"/>
                    <input type="hidden" value="@Request["ReturnUrl"]" name="ReturnUrl"/>
                    (如您使用 iPhone 或 iPad，請以 Safari 瀏覽器開啟本站。)
                </div>
                <script>startApp();</script>
            }



        </div>
        <div class="col-md-6 col-xs-12">
            <div class="">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form form-aligned trailer"}))
                {

                    <div class="validform">
                        <span id="status"></span>
                        アカウントは携帯電話の番号あるいはE-mailを入力してください <br>
暗証番号は6文字以上英数字を満たしていない場合は暗証番号変更が必要です
                        <h2>@ViewBag.Message</h2>
                        <label for="">アカウント</label>
                        <input class="form-control" type="text" data-val="true" data-val-required="必填欄位" id="Account" name="account" placeholder="アカウント">
                        <span class="field-validation-valid" data-valmsg-for="account" data-valmsg-replace="true"></span>
                        <br>
                        <label for="">暗証番号</label>
                        <input class="form-control" type="password" data-val="true" data-val-required="必填欄位" id="Password" name="Password" placeholder="暗証番号">
                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        <div>

                        </div>
                        <div class="m1">
                            <input type="hidden" value="@Request["ReturnUrl"]" name="ReturnUrl"/>
                            <input type="submit" class="btn btn-primary" value="送信">
                            <input type="reset" class="btn btn-primary" value="リセット">
                            <a href="/Customer/ForgetPassword" class="btn btn-danger" >暗証番号を忘れ</a>
                        </div>


                    </div>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red">@ViewBag.Message</span>
                }
            </div>
        </div>
        






    </div>

</div>
@if (!string.IsNullOrEmpty(ViewBag.account))
{
    <div style="display: none">
         <iframe id="Myframe" src="https://ec.fun2tw.com/Customers/index?account=@ViewBag.account&Url=@ViewBag.ReturnUrl"></iframe>
    </div>

    <script>
        $('#Myframe').on('load', function () {
            window.location.href = '@ViewBag.ReturnUrl';
        });

    </script>
}

@section Scripts {

    @*@Scripts.Render("~/bundles/jqueryval")*@

   
<style>	
				.facebookin {
					padding: 10px 0;
					width: 90%;	
					font-size: 	1em;
					background: #1A60A2;
					color: white;
					border: 0;
					border-radius: 5px;
				}
				.facebookin:focus {
						outline: white;
				}
				.googlein:focus {
						outline: white;
				}
				.googlein {
					padding: 10px 0;

					width: 90%;
					font-size: 	1em;
					background: #d73d32;
					color: white;
					border: 0;
					border-radius: 5px;	
				}
                #body {
                }
				img#login_image {
					width: 100px;	
				}
				.fb_logout {
					font-size: 	1em;
					padding: 10px 0;

					width: 80%;
					background: #1A60A2;
					color: white;
					border: 0;
					border-radius: 5px;


				}
				.gp_logout {
					font-size: 	1em;
					padding: 10px 0;

					width: 80%;
					background: #d73d32;
					color: white;
					border: 0;
					border-radius: 5px;


				}
				.title {
					color: #60babb;

				}
                #email {
                    display: none;
                }
                .prompt {
                    color: red;
                    font-size: 1.2em;
                }
			</style>
}

