﻿
@{
    ViewBag.Title = "修改個人資料成功";
  
}
<div class="container">
      <h2 class="l-title">
        <i class="fa fa-youtube-play"></i>修改個人資料成功
    </h2>
    <div>
        您已經修改個人資料成功!
    </div>
    <a href="/Home">回首頁</a>



</div>
   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}
