﻿@using Fun2twModels.Models
@model  TravelOrder
@{
    ViewBag.Title = "填寫訂單資料";
    DateTime selectDate = (DateTime)ViewBag.selectDate;
    TravelProduct travelproduct = ViewBag.travelproduct;
    List<TravelOrderDetail> travelOrderDetails = ViewBag.travelOrderDetails;
    int CustomerId = ViewBag.CustomerId;
    int SchduleId = ViewBag.SchduleId;
    int i = 0;
    int total = 0;
    int Coupon = 0;
    string CouponCode = ViewBag.Coupon;
    if (!string.IsNullOrEmpty(CouponCode))
    {
        Coupon = 50;
    }
  
}
<style>
    table, th,td {
        border-style: 
                    double;border-width: 1px;
        padding: 4px;
    }
</style>
<div class="container l-white news-content">
<h2 class="l-titles">
    填寫訂單資料 <span> ORDER</span>
</h2>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <input type="hidden" name="Mobile" value="@Request["Mobile"]"/>
    <div>
        <h3>行程名稱:@travelproduct.Subject 出發日:@selectDate.ToString("yyyy/MM/dd")</h3>
        <div></div>
        <h3 class="l-detail-title"><em>填寫旅客清單</em></h3>
        <table class="table table-bordered" >
            <thead>
            <th width="100">品項/價格
            </th>
            <th >
                <span style="color: red">*</span>  個人資料
            </th>
               
              
            </thead>
            <tbody>
            @foreach (var item in travelOrderDetails)
            {
                <tr>
                    <td>
                        @item.Subject
                        <input type="hidden" name="travelOrderDetails[@i].Subject" value="@item.Subject"/>
                        <br>    
                        <span style="color: red">@item.Price</span>
                        <input type="hidden" name="travelOrderDetails[@i].Price" value="@item.Price"/>
                        @{
                            total += item.Price;
                        }
                    </td>
                       
                    <td>
                        <span style="color: red">*</span>姓名 <br> 
                        <input data-val="true" data-val-required="姓名必填" autocomplete="off" maxlength="15" onchange="this.value=this.value.replace(/[^A-z0-9 一-龥０-９　,‧．.]/g,'')"  class="form-control" type="text" name="travelOrderDetails[@i].Name" value="@item.Name"/>
                        <span class="field-validation-valid" data-valmsg-for="travelOrderDetails[@i].Name" data-valmsg-replace="true"></span>
                        <br>
                        護照英文(姓)<br> 
                        <input class="form-control" type="text" name="travelOrderDetails[@i].FirstName" autocomplete="off" maxlength="15" onchange="this.value=this.value.replace(/[^A-z 　,-.]/g,'')" value="@item.FirstName"/>
                        <br>
                        護照英文(名)<br> <input class="form-control" type="text" name="travelOrderDetails[@i].LastName" autocomplete="off" maxlength="30" onchange="this.value=this.value.replace(/[^A-z 　,-.]/g,'')" value="@item.LastName"/><br>
                        <span style="color: red">*</span>身分證字號(首字大寫)<br>
                        <input data-val="true" data-val-required="身分證字號必填" maxlength="10" class="form-control" autocomplete="off" type="password" onKeyUp="value=value.replace(/[^\d|A-Z]/g,'')" name="travelOrderDetails[@i].PassID" value="@item.PassID"/>
                        <span class="field-validation-valid" data-valmsg-for="travelOrderDetails[@i].PassID" data-valmsg-replace="true"></span>
                        <br>
                        <span style="color: red">*</span>出生年月日<br> 
                        <input type="text" data-val="true" data-val-required="出生年月日必填" name="travelOrderDetails[@i].Birthday" maxlength="10" readonly="readonly" class="datepicker form-control" value="@item.Birthday"/>
                        <span class="field-validation-valid" data-valmsg-for="travelOrderDetails[@i].Birthday" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                i++;
            }
            </tbody>
        </table>
        @if (Coupon > 0)
        {
            <div>
                使用Coupon Code :<span style="color: red">@ViewBag.Coupon</span>
            </div>
        }
           
        <div class="text-right">總金額：<span style="color: red">@(total - Coupon)</span></div>
        <input type="hidden" name="Coupon" value="@ViewBag.Coupon"/>
        <input type="hidden" name="ActityDate" value="@selectDate"/>
        <input type="hidden" name="Total" value="@(total - Coupon)"/>
        <input type="hidden" name="CustomerId" value="@CustomerId"/>
        <input type="hidden" name="SchduleId" value="@SchduleId"/>
        <h3 class="l-detail-title"><em>聯絡人資料</em></h3>
        <table class="table table-bordered" > 
            <tbody><tr>
                <th width="100" class="l_2"> <span style="color: red">*</span> 中文姓名
                </th>
                <td class="l_2 gt2" >
                    @Html.TextBoxFor(model => model.OrderName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderName"),@maxlength=15,@onchange="this.value=this.value.replace(/[^A-z 一-龥　,‧．.]/g,'')", @class = "form-control",@autocomplete="off" })
                    @Html.ValidationMessageFor(model => model.OrderName)
                </td>
                   
            </tr>
            <tr>    
                <th  class="l_2">英文姓名
                </th>
                <td class="l_2 gt2" style="color: #000;">
                    @Html.TextBoxFor(model => model.OrderEnglishName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderEnglishName"), @maxlength = 30,@onchange="this.value=this.value.replace(/[^A-z 　,-.]/g,'')", @class = "form-control" ,@autocomplete="off"})
                    @Html.ValidationMessageFor(model => model.OrderEnglishName)

                </td>
            </tr>
            <tr>
                <th class="l_4"> <span style="color: red">*</span> 聯絡電話
                </th>
                <td class="gt2">
                    @Html.TextBoxFor(model => model.OrderTelphone, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderTelphone"), @maxlength = 20,@onchange="this.value=this.value.replace(/[^0-9 -]/g,'')", @class = "form-control" ,@autocomplete="off"})
                    @Html.ValidationMessageFor(model => model.OrderTelphone)
                </td>
                   
            </tr>
            <tr>
                <th class="l_4">行動電話
                </th>
                <td class="gt2" style="color: #000;">
                    @Html.TextBoxFor(model => model.OrderMobile, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderMobile"), @maxlength = 15,@onchange="this.value=this.value.replace(/[^0-9 -]/g,'')", @class = "form-control",@autocomplete="off" })
                    @Html.ValidationMessageFor(model => model.OrderMobile)
                </td> 

            </tr>
            <tr>
                <th class="l_4">傳 真
                </th>
                <td class="gt2">
                    @Html.TextBoxFor(model => model.FAX, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("FAX"), @maxlength = 15,@onchange="this.value=this.value.replace(/[^0-9-]/g,'')", @class = "form-control" ,@autocomplete="off"})
                    @Html.ValidationMessageFor(model => model.FAX)
                </td>
                   
            </tr>
            <tr>    
                <th class="l_4"> <span style="color: red">*</span> Email
                </th>
                <td class="gt2" style="color: #000;">
                    @Html.TextBoxFor(model => model.OrderEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderEmail"), @class = "form-control" ,@autocomplete="off"})
                    @Html.ValidationMessageFor(model => model.OrderEmail)
                </td>

            </tr>
            <tr>
                <th class="l_4"> <span style="color: red">*</span> 聯絡地址
                </th>
                <td class="gt2" >
                    @Html.TextBoxFor(model => model.OrderAddress, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderAddress"), @maxlength =100,@onchange="this.value=this.value.replace(/[^A-z0-9 一-龥０-９　-,]/g,'')", @class = "form-control",@autocomplete="off" })
                    @Html.ValidationMessageFor(model => model.OrderAddress)
                </td>
            </tr>
            <tr>
                <th class="l_4">上車地點
                </th>
                <td class="gt2" >
                    @Html.TextBoxFor(model => model.CarArea, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("CarArea"), @maxlength = 50,@onchange="this.value=this.value.replace(/[^A-z0-9 一-龥０-９　,‧．.]/g,'')", @class = "form-control",@autocomplete="off" })
                    @Html.ValidationMessageFor(model => model.CarArea)
                </td>
            </tr>
            <tr>
                <th class="l_4">特別需求
                </th>
                <td class="gt2">
                    @Html.TextAreaFor(model => model.CustomerMemo, new { @style = "height: 150px;width: 100%", placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("CustomerMemo"), @maxlength = 200, @class = "form-control",@autocomplete="off" })
                    @Html.ValidationMessageFor(model => model.CustomerMemo)

                </td>
            </tr>

            <tr>
                <th class="l_4">請問您從何處獲得資訊知道「瘋趣台灣」的平台
                </th>
                <td class="gt2" >
                    @Html.TextAreaFor(model => model.Source, new { @style = "height: 150px;width: 100%", placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("Source"), @maxlength = 200, @class = "form-control",@autocomplete="off" })
                    @Html.ValidationMessageFor(model => model.Source)
                       
                </td>
            </tr>
            </tbody></table>
        <input type="checkbox" name="updatecustomer" />更新至會員資料
    </div>
    <h3 class="l-detail-title"><em>付款方式</em></h3>
    <div>

          
        @{
            int j = 0;
        }
        @foreach (var item in new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))
        {
            if (!string.IsNullOrEmpty(travelproduct.Paytypes))
            {
                if (travelproduct.Paytypes.IndexOf(item.Text, StringComparison.Ordinal) > -1)
                {
                    if (j == 0)
                    {
                        <input type="radio" name="PayType" value="@item.Text" id="@item.Text" checked="checked"/>
                        <label for="@item.Text">@item.Text</label>
                    }
                    else
                    {
                        <input type="radio" name="PayType" value="@item.Text" id="@item.Text"/>
                        <label for="@item.Text">@item.Text</label>
                    }
                    j++;

                }

            }




        }


    </div>
    <div style="display: none">
        信用卡刷卡
    </div>
    <p class="m1 text-center">
        <input type="submit" class="btn btn-primary" value="下一步"/>
    </p>

}

</div>

@Scripts.Render("~/bundles/jqueryui")
<script src="/Scripts/ui.datepicker-zh-TW.js"></script>
@Styles.Render("~/Content/themes/base/css")
<script>
    $(document).ready(function() {
        $(".datepicker").datepicker({
            defaultDate: -7200
        });
        

    });

  
        function checkID(string) {
            re = /^[A-Z]\d{9}$/;
            if (re.test(string))
                alert("成功！符合「" + re + "」的格式！");
            else
                alert("失敗！不符合「" + re + "」的格式！");
        }

</script>


