﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelProduct
@{
    ViewBag.Title = @Model.Subject;
}

<div class="container  l-white">
      <h2 class="l-titles l-titles-indent">
    @Model.Subject <span>熱門行程</span> </h2> 
    <div class="news-content">
      <div class="l-img">
          <div class="l-img-control">
                <img src="/upfiles/images/@Model.UpImageUrl"/>
         <h2 CLASS="l-img-title">  @Model.EnSubject</h2>
          </div>
         
      </div>
      
      <div style="margin-bottom:1em"></div>
      <ul class="nav nav-tabs l-tab" role="tablist">
           @if (Request["Mobile"]!="true")
          {
                <li role="presentation" style="display: none"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">行程套票</a></li>
          }
        
       </ul>

       <div class="tab-content">
           <div role="tabpanel" class="tab-pane active" id="home">
               <h3 class="l-detail-title"><em>行程特色</em>
               </h3>
               @Html.Raw(Model.FeatureArticle)
               <h3 class="l-detail-title"><em>詳細行程</em>
               </h3>
               @foreach (TravelSchdule schdule in Model.TravelSchdules.OrderBy(x => x.ListNum))
               {
                   <div>
                   <div class="bg-primary">
                    <p style="padding:15px">
                     第 @schdule.ListNum 天 @schdule.Subject
                      
                    </p>
                   </div>
                   <span class="btn btn-success "><i class="fa fa-cutlery" aria-hidden="true"></i> 早餐：@schdule.Breakfast</span>
                       <span class="btn btn-success "><i class="fa fa-cutlery" aria-hidden="true"></i> 午餐：@schdule.Lunch</span>
                       <span class="btn btn-success "><i class="fa fa-cutlery" aria-hidden="true"></i> 晚餐：@schdule.Dinner</span>
                       <span class="btn btn-success "><i class="fa fa-home" aria-hidden="true"></i> 住宿：@schdule.Stay</span>
                        <div class="">
                         @Html.Raw(schdule.Article)
                        </div>
                       
                   </div>

               }

               <h3 class="l-detail-title"><em>費用說明</em>
               </h3>
               @Html.Raw(Model.CastArticle)

               <h3 class="l-detail-title"><em>注意事項</em>
               </h3>
               @Html.Raw(Model.NoteArticle)

               <h3 class="l-detail-title"><em>景點介紹</em>
               </h3>
               <div class="col-lg-12">
                   <div class="row">
                       <ul class="l-card l-card-nogutter spot-img">
                           @foreach (TravelLocation location in Model.TravelLocations.OrderBy(x => x.ListNum))
                           {


                              <li class="col-md-3 col-xs-12">
                                <div class="l-card-main">
                                    <div class="l-card-image">
                                         <img src="/upfiles/images/@location.UpImageUrl"/>
                                     
                                    </div>
                                    <div class="l-card-content">
                                   <h2 style="font-weight:bold">@location.Subject</h2>
                                   <div class="jq-three">@Html.Raw(location.Article)</div>

                                   </div>
                                </div>
                                  
                                 
                                   
                               </li>


                           }
                       </ul>
                       <div class="text-center m1">
                        <a  class="btn btn-cyan" href="/TravelSchdule/SelectDate/@Model.Id?Mobile=@Request["Mobile"]">我要訂購這個行程</a>
                         
                       </div>
                   </div>
               </div>
           </div>
            @if (Request["Mobile"]!="true")
          {
               <div role="tabpanel" class="tab-pane" id="profile">
             <h3 class="l-detail-title"><em>售價及出團日</em></h3>
             <table class="table table-bordered table-hover">
                 <thead>
                     <tr class="active">
                         
                         <th width="20%">出發日期</th>
                         <th width="20%">星期</th>
                         <th width="30%">行　程　名　稱</th>

                         <th width="10%">可賣</th>
                         <th width="10%">訂購</th>
                         <th width="10%">備註</th>
                     </tr>
                 </thead>
                 <tbody>
                     @foreach (TravelDay day in Model.TravelDays.OrderBy(x => x.ActityDate))
                     {
                          <tr class="ba2">
                                                   
                                                     <td> @day.ActityDate.ToString("yyyy/MM/dd")</td>
                                                     <td>@day.ActityDate.ToString("ddd", new System.Globalization.CultureInfo("zh-TW"))</td>
                                                     <td class="gt"><a href="#" title="@Model.Subject">@Model.Subject</a></td>
                                                     
                                                    
                                                     <td>
                                                     @(day.Seat-day.SoldSeat)
                                                     </td>
                                                     <td>
                                                         @{
                                                             TimeSpan Total =day.ActityDate.Subtract( DateTime.Now);
                                                             if (Model.OrderDay <= Total.Days)
                                                             {
                                                                 <span>@Total.Days</span>
                                                             }
                                                             else
                                                             {
                                                                 <span>截止</span> 
                                                             }

                                                         }
                                                        
                                                     </td>
                                                     <td></td>
                                                 </tr>

                     }
                 </tbody>
             </table>

         </div>
          }
         
        
       </div>

    </div>
    

    

   

</div>
