﻿@using Fun2twModels.Models
@model  TravelOrder
@{
    ViewBag.Title = "自動櫃員機ATM繳費";
  
}
<style>
    table, th, td {
        border-style: double;
        border-width: 1px;
        padding: 4px;
    }
</style>
<div class="container l-white news-content">
    <h2 class="l-titles">自動櫃員機ATM繳費 <span>ATM</span>
    </h2>
    <h3>感謝您訂購商品，您的訂單資料已確認送出！</h3>
    轉帳銀行：玉山銀行屏東分行，銀行代號：808<br />
    銀行帳號：0934-940-153868<br />
    戶名：屏東汽車客運股份有限公司<br />
    轉帳金額：@Model.Total<br /><br />

以上為 ATM付款資訊<br />
<ul>
<li>如出發日為<span style="color:red">四日後</span>，請於下單<span style="color:red">二日內</span>完成繳費。</li>
<li>如出發日為<span style="color:red">四日內</span>，請於<span style="color:red">當日</span>完成繳費。</li>
</ul>

 @if (Request["Mobile"] != "true")
    {
<div>於匯款後至<a href="/Customer/Order">我的訂單</a> 輸入付款帳號<span style="color:red">後五碼</span>，以利後續作業。<br /></div>
}
<h2>小叮嚀</h2>
<br />
<ul>
<li>如您<span style="color:red">未於繳費期限內完成付款 或 未輸入匯款帳戶後五碼，您的訂單將會被取消。</span></li>
<li>避開銀行休息時間及休假日付款，將有利後續快速查帳。</li>
<li>如欲訂購四日內之行程，建議您選擇【信用卡刷卡】，方便又迅速。</li>
</ul>

如有任何疑問，歡迎來電洽詢（08-723-7131#253）。<br />

<div class="m1 text-center">
    <a href="/Customer/Order" class="btn btn-primary">
        回訂單查詢
    </a>

</div>
  
</div>
