﻿
@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelProduct>

@{
    ViewBag.Title = "熱門行程";
}
<!--
<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div> 
-->
<div class="container l-white">
       @using (Html.BeginForm())
{
<h2 class="l-h2">
 熱門行程套票 
   
  </h2>

    
}
<div class="text-center form-inline" style="display:none">
      @Html.DropDownList("SearchByThemeId", (IEnumerable<SelectListItem>)ViewBag.ThemeId, "請選擇",new{@class="form-control form-inline"})  <input type="submit" class="btn btn-primary" value="搜尋" />
    </div>
<div class="">
    <div class="">
        <div class="">
            <ul class="list-ticket">
    @foreach (var item in Model) {
        <li class="card">
      

           <div class="list-ticket">
               <div class="list-ticket-card-image" style="height:auto">
                      <a href="/TravelSchdule/Details/@item.Id?mobile=@Request["mobile"]">
                 @if (!string.IsNullOrEmpty(item.UpImageUrl))
                  {
                      <img style="width: 100%;" src="~/upfiles/images/@(item.UpImageUrl)" />
                  }</a>
               </div>
                   
               <div class="list-ticket-card-content">
               <div class="list-ticket-card-text">
              <h2>@item.Subject</h2>
              @if (item.SinglePrice != 0)
                                    {
                                        <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color: #8f8f8f">單人房</span>
                                             @if (item.OriginalSinglePrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalSinglePrice</span>
                                            }

                                           <span class="price" style="color:#f03387;">@item.SinglePrice</span>
                                       </p>



                                    }
                                    @if (item.DoublePrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            雙人房</span>
                                              @if (item.OriginalDoublePrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalDoublePrice</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.DoublePrice</span>
                                        </p>



                                    }

                    @if (item.FourPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            四人房</span>
                                              @if (item.OriginalFourPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalFourPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.FourPrice</span>
                                        </p>



                                    }

                @if (item.SixPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            六人房</span>
                                              @if (item.OriginalSixPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalSixPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.SixPrice</span>
                                        </p>



                                    }

                  @if (item.EightPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            八人房</span>
                                              @if (item.OriginalEightPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalEightPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.EightPrice</span>
                                        </p>



                                    }
                   @if (item.WithoutBedPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            兒童不佔床</span>
                                              @if (item.OriginalWithoutBedPrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalWithoutBedPrice</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.WithoutBedPrice</span>
                                        </p>



                                    }
                                    @if (item.BabyPric != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            嬰兒(2歲以下)</span>
                                               @if (item.OriginalBabyPric != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalBabyPric</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.BabyPric</span>
                                        </p>



                                    }
                                    @if (item.OneDayAdult != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            一日遊大人</span>
                                              @if (item.OriginalOneDayAdult != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayAdult</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayAdult</span>
                                       </p>



                                    }
                                    @if (item.OneDayChild != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            一日遊小孩</span>
                                               @if (item.OriginalOneDayChild != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayChild</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayChild</span>
                                            </p>


                                    }
                                    @if (item.OneDayBaby != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            一日遊嬰兒</span>
                                               @if (item.OriginalOneDayBaby != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayBaby</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayBaby</span>
                                          </p>

              

                                    }

                 <a class="btn btn-blue" href="/TravelSchdule/Details/@item.Id?mobile=@Request["mobile"]">瞭解詳情</a>
               </div>
              </div>
           </div>
        </li>
    
}
</ul>
        </div>
    </div>
</div>
<style>
  .list-ticket-card-image{
    height: 150px;
  }
  @@media (max-width: 1024px) {
    .list-ticket .btn {
      position: relative;
      left: 0;
      bottom: 0;
    }
  }
</style>


<div class="l-pagination">
<div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

</div>

