﻿@using Fun2twModels.Models
@{
    ViewBag.Title = "墾丁旅遊─瘋趣台灣─墾丁好行";
    List<TravelTheme> travelThemes = ViewBag.travelThemes;
    IQueryable<TravelProduct> travelproducts = ViewBag.travelproducts;
    List<PackageTicket> packageTickets = ViewBag.packageTicket;
    if (Request["Mobile"] == "true")
    {
        travelThemes = travelThemes.Take(1).ToList();
    }
}
@section description
{
    <meta name="description" content="屏東客運‧屏東旅行社全新打造瘋趣台灣─墾丁好行4G智慧旅遊服務，提供墾丁快線網路預約、墾丁旅遊特惠套票、在地特產市集訂購|不容錯過的精采‧即刻體驗" />
}
<style>
    .adblock {
        padding: 10px;
        background: #eeeeee;
        color: #00bfd8;
    }

    .text {
        text-align: center;
    }

    .text, .link {
        float: left;
        width: 50%;
    }

    .link {
        text-align: right;
    }

    .link a {
        border-radius: 30px;
        display: inline-block;
        padding: 2px 5px;
        background: white;
        color: #00bfd8;
    }
</style>
@* <script>
    $(window).load(function () {
        $('#slider').nivoSlider({

            directionNav: true,
            manualAdvance: true
        });
    });

</script> *@
<script>
    $(function () {
        $('ul.tab li:eq(0)').addClass('active');
        $('.tab_content:eq(1)').hide();
        $('ul.tab li').click(function (e) {
            e.preventDefault();
            $(this).addClass('active').siblings('li').removeClass('active');
            $($(this).find('a').attr('href')).show().siblings('.tab_content').hide();
        })

        $('.media_container_list li:eq(0)').addClass('active');
        $('.multi_content:eq(0)').show().siblings().hide();
        $('.multi_content2:eq(0)').show().siblings().hide();
        $('.select_list').click(function (e) {
            e.preventDefault();
            $(this).addClass('active').siblings('li').removeClass('active');
            $($(this).find('a').attr('href')).show().siblings('.multi_content').hide();
            $($(this).find('a').attr('href')).show().siblings('.multi_content2').hide();
        })
        $('.category-tab li:eq(0)').addClass('active');
        $('.category-tab-content:eq(0)').show().siblings().hide();
        $('.category-tab li').click(function (e) {
            e.preventDefault();
            $(this).addClass('active').siblings('li').removeClass('active');
            $($(this).find('a').attr('href')).show().siblings('.category-tab-content').hide();
        })

    })
</script>

<div class="container">
@{
    var i = 1;
}
@if (Request["Mobile"] != "true")
{
   
    <ul class="category-tab">

        @foreach (var item in travelThemes)
        {
            <li>
                <a href="#category-tab@(i)">@item.Subject</a>
            </li>
            i++;
        }

    </ul>
}


<div class="tab-content-wrap">
@{
    i = 1;
}
@foreach (var item in travelThemes)
{
    if (item.Subject.Contains("交通套票"))
    {
        <div id="category-tab@(i)" class="category-tab-content">
            @foreach (var items in packageTickets)
            {

                <div class="category-tab-card">
                    <div class="category-tab-card-image">
                        <a href="/PackageTicket/Details/@items.Id?Mobile=@Request["Mobile"]">
                            @if (!string.IsNullOrEmpty(items.UpImageUrl))
                            {
                                <img src="~/upfiles/images/@(items.UpImageUrl)" />
                            }
                            else
                            {
                                <img src="images/travel1.jpg" alt="">
                            }
                        </a>
                    </div>
                    <div class="category-tab-card-title">
                        @items.Subject
                    </div>
                    @if (items.DiscountPrice.HasValue && items.DiscountPrice > 0)
                    {


                        <p>
                            <span style="color: #898989">原價$</span>
                            <span style="text-decoration: line-through; font-size: 20px;">@items.Price</span>

                        </p>
                        <p>
                            <span style="color: #8f8f8f">優惠價$</span>
                            <span style="font-size: 20px; color: #f03387;">@items.DiscountPrice</span>
                        </p>


                    }
                    else
                    {
                        <p>
                            <span style="color: #8f8f8f">原價$</span>
                            <span style="font-size: 20px; color: #f03387;">@items.Price</span>
                        </p>
                    }
                </div>

            }
        </div>

    }
    else
    {
        <div id="category-tab@(i)" class="category-tab-content">
            @foreach (var product in item.TravelProducts.Where(x => x.Enable == BooleanType.是 && x.UpImageUrl != null))
            {
                <div class="category-tab-card">
                    <div class="category-tab-card-image">
                        <a href="/TravelSchdule/Details/@product.Id?Mobile=@Request["Mobile"]">
                            @if (!string.IsNullOrEmpty(product.UpImageUrl))
                            {
                                <img src="~/upfiles/images/s@(product.UpImageUrl)" />
                            }
                            else
                            {
                                <img src="images/travel1.jpg" alt="">
                            }
                        </a>
                    </div>
                    <div class="category-tab-card-title">
                        @product.Subject
                    </div>
                    @if (product.SinglePrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">單人房$</span>
                            @if (product.OriginalSinglePrice != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalSinglePrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">
                                @product.SinglePrice

                            </span>
                        </div>




                    }
                    @if (product.DoublePrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">雙人房$</span>
                            @if (product.OriginalDoublePrice != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalDoublePrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.DoublePrice</span>
                        </div>


                    }

                    @if (product.FourPrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">四人房$</span>
                            @if (product.OriginalFourPrice.Value != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalFourPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.FourPrice</span>
                        </div>
                    }

                    @if (product.SixPrice != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">六人房$</span>
                            @if (product.OriginalSixPrice.Value != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalSixPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.SixPrice</span>
                        </div>





                    }

                    @if (product.EightPrice != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">八人房$</span>
                            @if (product.OriginalEightPrice.Value != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalEightPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.EightPrice</span>
                        </div>




                    }


                    @if (product.WithoutBedPrice != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">兒童不佔床$</span>
                            @if (product.OriginalWithoutBedPrice != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalWithoutBedPrice</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.WithoutBedPrice</span>
                        </div>

                    }
                    @if (product.BabyPric != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">嬰兒(2歲以下)$</span>
                            @if (product.OriginalBabyPric != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalBabyPric</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.BabyPric</span>
                        </div>





                    }
                    @if (product.OneDayAdult != 0)
                    {
                        <div class="category-tab-card-price">
                            <span style="color: #898989">一日遊大人$</span>
                            @if (product.OriginalOneDayAdult != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalOneDayAdult</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.OneDayAdult</span>
                        </div>





                    }
                    @if (product.OneDayChild != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">一日遊小孩$</span>
                            @if (product.OriginalOneDayChild != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalOneDayChild</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.OneDayChild</span>
                        </div>



                    }
                    @if (product.OneDayBaby != 0)
                    {

                        <div class="category-tab-card-price">
                            <span style="color: #898989">一日遊嬰兒$</span>
                            @if (product.OriginalOneDayBaby != 0)
                            {
                                <span style="text-decoration: line-through">@product.OriginalOneDayBaby</span>
                            }
                            <span style="font-size: 20px; color: #f03387;">@product.OneDayBaby</span>
                        </div>





                    }

                </div>
            }


            <div class="clear"></div>
        </div>
        i++;
    }
}
</div>

</div>




<script>
    $(document).ready(function () {

        //nivo
        // $('#slider').nivoSlider({
        //     directionNav: true,
        //     manualAdvance: false,
        //     pauseOnHover: true,
        //     pauseTime: 5000
        // });
        

        $('.filtering').slick({
            slidesToShow: 4,
            slidesToScroll: 4
        });

        var filtered = false;

        $('.js-filter').on('click', function () {
            if (filtered === false) {
                $('.filtering').slick('slickFilter', ':even');
                $(this).text('Unfilter Slides');
                filtered = true;
            } else {
                $('.filtering').slick('slickUnfilter');
                $(this).text('Filter Slides');
                filtered = false;
            }
        });


    });
</script>

