﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelProduct
@{
    ViewBag.Title = @Model.Subject;
    var maxdate = ViewBag.Maxdate;
}
<style>
    table, th, td {
        border-style: double;
        border-width: 1px;
    }
</style>
<div class="container l-white news-content">
    <h2 class="l-titles">
        @Model.Subject <span>訂購行程</span>
    </h2>

    <div style="background-color: red">
        <span style="color: white">@ViewBag.Message</span>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <h3 class="l-detail-title"><em>請挑選出發日期 </em></h3>

@* <input type="text" class="datepicker" value=""/>*@
        <input type="hidden" name="Mobile" value="@Request["Mobile"]"/>
        <input type="hidden" id="datestr" value="@ViewBag.datestr"/>
         <input type="hidden" id="type" name="type" value="@ViewBag.type" />
       
        //if (Model.TravelDays.Count == 0)
        //{
        <div id="datepicker"></div>@*
        }
        else
        {
            <select id="dateDropDown" name="MemberList" >
                @foreach (var day in Model.TravelDays.Where(x => x.ActityDate > DateTime.Now.AddDays(Model.OrderDay)))
                {
                    <option>@day.ActityDate.ToString("yyyy/MM/dd")</option>
                }
            </select>
            <script>
                $(document).ready(function() {
                    $("#dateDropDown option:eq(0)").attr('selected',true);
                    $("#selectDate").val($("#dateDropDown").val());
                });
            </script>

 	   
        
        }

        *@
                                   <div style="display: none"><span>行程出發日期為:<input class="form-control" type="text" id="selectDate" name="selectDate" /></span> <span><input class="form-control" type="text" id="selectDates" name="selectDates" value="@ViewBag.date" /></span></div>
        <div id="pricelist" style="display: none">
        <h3 class="l-detail-title"><em>價目表</em></h3>
          <table class="table table-bordered" style="width: 320px">
            <thead>
              
                <th>項目</th>
                <th>價格</th>

            </thead>
        <tbody>
     
        @if (Model.SinglePrice != 0)
        {
            <tr>
            

                <td>
                    @Html.LabelFor(model => model.SinglePrice)
                </td>
                <td>
                    <span style="color: red">@Model.SinglePrice</span>
                </td>

            </tr>

        }
        @if (Model.DoublePrice != 0)
        {
            <tr>
            
                <td>
                    @Html.LabelFor(model => model.DoublePrice)
                </td>
                <td>
                    <span style="color: red">@Model.DoublePrice</span>
                </td>

            </tr>

        }
        @if (Model.FourPrice != 0)
        {
            <tr>
              
                <td>
                    @Html.LabelFor(model => model.FourPrice)
                </td>
                <td>
                    <span style="color: red">@Model.FourPrice</span>
                </td>

            </tr>

        }

        @if (Model.SixPrice != 0)
        {
            <tr>
              
                <td>
                    @Html.LabelFor(model => model.SixPrice)
                </td>
                <td>
                    <span style="color: red">@Model.SixPrice</span>
                </td>

            </tr>

        }

        @if (Model.EightPrice != 0)
        {
            <tr>
             
                <td>
                    @Html.LabelFor(model => model.EightPrice)
                </td>
                <td>
                    <span style="color: red">@Model.EightPrice</span>
                </td>

            </tr>

        }
        @if (Model.WithoutBedPrice != 0)
        {
            <tr>
             
                <td>
                    @Html.LabelFor(model => model.WithoutBedPrice)
                </td>
                <td>
                    <span style="color: red">@Model.WithoutBedPrice</span>
                </td>

            </tr>

        }
        @if (Model.BabyPric != 0)
        {
            <tr>
            
                <td>
                    @Html.LabelFor(model => model.BabyPric)
                </td>
                <td>
                    <span style="color: red">@Model.BabyPric</span>
                </td>

            </tr>

        }
        @if (Model.OneDayAdult != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.OneDayAdult)
                </td>
                <td>
                    <span style="color: red">@Model.OneDayAdult</span>
                </td>

            </tr>

        }
        @if (Model.OneDayChild != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.OneDayChild)
                </td>
                <td>
                    <span style="color: red">@Model.OneDayChild</span>
                </td>

            </tr>

        }
        @if (Model.OneDayBaby != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.OneDayBaby)
                </td>
                <td>
                    <span style="color: red">@Model.OneDayBaby</span>
                </td>

            </tr>

        }
                 @if (Model.HolidaySinglePrice != 0)
                 {
            <tr>
            

                <td>
                    @Html.LabelFor(model => model.HolidaySinglePrice)
                </td>
                <td>
                    <span style="color: red">@Model.HolidaySinglePrice</span>
                </td>

            </tr>

                 }
        @if (Model.HolidayDoublePrice != 0)
        {
            <tr>
            
                <td>
                    @Html.LabelFor(model => model.HolidayDoublePrice)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayDoublePrice</span>
                </td>

            </tr>

        }
        @if (Model.HolidayFourPrice != 0)
        {
            <tr>
              
                <td>
                    @Html.LabelFor(model => model.HolidayFourPrice)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayFourPrice</span>
                </td>

            </tr>

        }

        @if (Model.HolidaySixPrice != 0)
        {
            <tr>
              
                <td>
                    @Html.LabelFor(model => model.HolidaySixPrice)
                </td>
                <td>
                    <span style="color: red">@Model.HolidaySixPrice</span>
                </td>

            </tr>

        }

        @if (Model.HolidayEightPrice != 0)
        {
            <tr>
             
                <td>
                    @Html.LabelFor(model => model.HolidayEightPrice)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayEightPrice</span>
                </td>

            </tr>

        }
        @if (Model.HolidayWithoutBedPrice != 0)
        {
            <tr>
             
                <td>
                    @Html.LabelFor(model => model.HolidayWithoutBedPrice)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayWithoutBedPrice</span>
                </td>

            </tr>

        }
        @if (Model.HolidayBabyPric != 0)
        {
            <tr>
            
                <td>
                    @Html.LabelFor(model => model.HolidayBabyPric)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayBabyPric</span>
                </td>

            </tr>

        }
        @if (Model.HolidayOneDayAdult != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.HolidayOneDayAdult)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayOneDayAdult</span>
                </td>

            </tr>

        }
        @if (Model.HolidayOneDayChild != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.HolidayOneDayChild)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayOneDayChild</span>
                </td>

            </tr>

        }
        @if (Model.HolidayOneDayBaby != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.HolidayOneDayBaby)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayOneDayBaby</span>
                </td>

            </tr>

        }
               @if (Model.SpecialHolidaySinglePrice != 0)
               {
            <tr>
            

                <td>
                    @Html.LabelFor(model => model.SpecialHolidaySinglePrice)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidaySinglePrice</span>
                </td>

            </tr>

               }
        @if (Model.SpecialHolidayDoublePrice != 0)
        {
            <tr>
            
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayDoublePrice)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayDoublePrice</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayFourPrice != 0)
        {
            <tr>
              
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayFourPrice)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayFourPrice</span>
                </td>

            </tr>

        }

        @if (Model.SpecialHolidaySixPrice != 0)
        {
            <tr>
              
                <td>
                    @Html.LabelFor(model => model.SpecialHolidaySixPrice)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidaySixPrice</span>
                </td>

            </tr>

        }

        @if (Model.SpecialHolidayEightPrice != 0)
        {
            <tr>
             
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayEightPrice)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayEightPrice</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayWithoutBedPrice != 0)
        {
            <tr>
             
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayWithoutBedPrice)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayWithoutBedPrice</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayBabyPric != 0)
        {
            <tr>
            
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayBabyPric)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayBabyPric</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayOneDayAdult != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayOneDayAdult)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayOneDayAdult</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayOneDayChild != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayOneDayChild)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayOneDayChild</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayOneDayBaby != 0)
        {
            <tr>
               
                <td>
                    @Html.LabelFor(model => model.SpecialHolidayOneDayBaby)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayOneDayBaby</span>
                </td>

            </tr>

        }
          




        </tbody>
        </table>
        </div>
        
        
        
        
        
        if (Model.IsUseCoupon == BooleanType.是)
        {
        <h3 class="l-detail-title"><em>折價卷
            Coupon Code</em></h3>
        <span>請輸入Coupon Code</span><input type="text" name="coupon" />
        }
        <div id="common" style="display: none">
        <h3 class="l-detail-title"><em>選擇數量</em>
        </h3>
        <table class="table table-bordered" style="width: 320px">
        <thead>
        <th>選擇數量</th>
        <th>項目</th>
        <th>價格</th>

        </thead>
        <tbody>

        @if (Model.SinglePrice != 0)
        {
            <tr>
                <td>

                    <select name="SinglePrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>

                </td>

                <td>
                    單人房
                </td>
                <td>
                    <span style="color: red">@Model.SinglePrice</span>
                </td>

            </tr>

        }
        @if (Model.DoublePrice != 0)
        {
            <tr>
                <td>
                    <select name="DoublePrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    雙人房
                </td>
                <td>
                    <span style="color: red">@Model.DoublePrice</span>
                </td>

            </tr>

        }
        @if (Model.FourPrice != 0)
        {
            <tr>
                <td>
                    <select name="FourPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    四人房
                </td>
                <td>
                    <span style="color: red">@Model.FourPrice</span>
                </td>

            </tr>

        }

        @if (Model.SixPrice != 0)
        {
            <tr>
                <td>
                    <select name="SixPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    六人房
                </td>
                <td>
                    <span style="color: red">@Model.SixPrice</span>
                </td>

            </tr>

        }

        @if (Model.EightPrice != 0)
        {
            <tr>
                <td>
                    <select name="EightPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    八人房
                </td>
                <td>
                    <span style="color: red">@Model.EightPrice</span>
                </td>

            </tr>

        }
        @if (Model.WithoutBedPrice != 0)
        {
            <tr>
                <td>
                    <select name="WithoutBedPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    兒童不佔床
                </td>
                <td>
                    <span style="color: red">@Model.WithoutBedPrice</span>
                </td>

            </tr>

        }
        @if (Model.BabyPric != 0)
        {
            <tr>
                <td>
                    <select name="BabyPric">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   嬰兒(2歲以下)
                </td>
                <td>
                    <span style="color: red">@Model.BabyPric</span>
                </td>

            </tr>

        }
        @if (Model.OneDayAdult != 0)
        {
            <tr>
                <td>

                    <select name="OneDayAdult">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   一日遊大人
                </td>
                <td>
                    <span style="color: red">@Model.OneDayAdult</span>
                </td>

            </tr>

        }
        @if (Model.OneDayChild != 0)
        {
            <tr>
                <td>
                    <select name="OneDayChild">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    一日遊小孩
                </td>
                <td>
                    <span style="color: red">@Model.OneDayChild</span>
                </td>

            </tr>

        }
        @if (Model.OneDayBaby != 0)
        {
            <tr>
                <td>
                    <select name="OneDayBaby">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    一日遊嬰兒
                </td>
                <td>
                    <span style="color: red">@Model.OneDayBaby</span>
                </td>

            </tr>

        }

        </tbody>
        </table>
        </div>
        
        
        <div id="Holiday" style="display: none">
        <h3 class="l-detail-title"><em>選擇數量</em></h3>
        <table class="table table-bordered" style="width: 320px">
            <thead>
                <th>選擇數量</th>
                <th>項目</th>
                <th>價格</th>

            </thead>
        <tbody>
     
        @if (Model.HolidaySinglePrice != 0)
        {
            <tr>
                <td>
                     
                    <select name="HolidaySinglePrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>

                </td>

                <td>
                    單人房
                </td>
                <td>
                    <span style="color: red">@Model.HolidaySinglePrice</span>
                </td>

            </tr>

        }
        @if (Model.HolidayDoublePrice != 0)
        {
            <tr>
                <td>
                    <select name="HolidayDoublePrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   雙人房
                </td>
                <td>
                    <span style="color: red">@Model.HolidayDoublePrice</span>
                </td>

            </tr>

        }
        @if (Model.HolidayFourPrice != 0)
        {
            <tr>
                <td>
                    <select name="HolidayFourPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    四人房
                </td>
                <td>
                    <span style="color: red">@Model.HolidayFourPrice</span>
                </td>

            </tr>

        }

        @if (Model.HolidaySixPrice != 0)
        {
            <tr>
                <td>
                    <select name="HolidaySixPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    六人房
                </td>
                <td>
                    <span style="color: red">@Model.HolidaySixPrice</span>
                </td>

            </tr>

        }

        @if (Model.HolidayEightPrice != 0)
        {
            <tr>
                <td>
                    <select name="HolidayEightPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   八人房
                </td>
                <td>
                    <span style="color: red">@Model.HolidayEightPrice</span>
                </td>

            </tr>

        }
        @if (Model.HolidayWithoutBedPrice != 0)
        {
            <tr>
                <td>
                    <select name="HolidayWithoutBedPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    兒童不佔床
                </td>
                <td>
                    <span style="color: red">@Model.HolidayWithoutBedPrice</span>
                </td>

            </tr>

        }
        @if (Model.HolidayBabyPric != 0)
        {
            <tr>
                <td>
                    <select name="HolidayBabyPric">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   嬰兒(2歲以下)
                </td>
                <td>
                    <span style="color: red">@Model.HolidayBabyPric</span>
                </td>

            </tr>

        }
        @if (Model.HolidayOneDayAdult != 0)
        {
            <tr>
                <td>
                  
                    <select name="HolidayOneDayAdult">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    一日遊大人
                </td>
                <td>
                    <span style="color: red">@Model.HolidayOneDayAdult</span>
                </td>

            </tr>

        }
        @if (Model.HolidayOneDayChild != 0)
        {
            <tr>
                <td>
                    <select name="HolidayOneDayChild">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    一日遊小孩
                </td>
                <td>
                    <span style="color: red">@Model.HolidayOneDayChild</span>
                </td>

            </tr>

        }
        @if (Model.HolidayOneDayBaby != 0)
        {
            <tr>
                <td>
                    <select name="HolidayOneDayBaby">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    一日遊嬰兒
                </td>
                <td>
                    <span style="color: red">@Model.HolidayOneDayBaby</span>
                </td>

            </tr>

        }
          
        </tbody>
        </table>
       </div>
        
        
        
        <div id="SpecialHoliday" style="display: none">
        <h3 class="l-detail-title"><em>選擇數量</em></h3>
        <table class="table table-bordered" style="width: 320px">
            <thead>
                <th>選擇數量</th>
                <th>項目</th>
                <th>價格</th>

            </thead>
        <tbody>
     
        @if (Model.SpecialHolidaySinglePrice != 0)
        {
            <tr>
                <td>
                     
                    <select name="SpecialHolidaySinglePrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>

                </td>

                <td>
                    單人房
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidaySinglePrice</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayDoublePrice != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidayDoublePrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   雙人房
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayDoublePrice</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayFourPrice != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidayFourPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    四人房
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayFourPrice</span>
                </td>

            </tr>

        }

        @if (Model.SpecialHolidaySixPrice != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidaySixPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   六人房
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidaySixPrice</span>
                </td>

            </tr>

        }

        @if (Model.SpecialHolidayEightPrice != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidayEightPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    八人房
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayEightPrice</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayWithoutBedPrice != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidayWithoutBedPrice">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   兒童不佔床
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayWithoutBedPrice</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayBabyPric != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidayBabyPric">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    嬰兒(2歲以下)
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayBabyPric</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayOneDayAdult != 0)
        {
            <tr>
                <td>
                  
                    <select name="SpecialHolidayOneDayAdult">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   一日遊大人
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayOneDayAdult</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayOneDayChild != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidayOneDayChild">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                   一日遊小孩
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayOneDayChild</span>
                </td>

            </tr>

        }
        @if (Model.SpecialHolidayOneDayBaby != 0)
        {
            <tr>
                <td>
                    <select name="SpecialHolidayOneDayBaby">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option>@i</option>
                        }

                    </select>
                </td>
                <td>
                    一日遊嬰兒
                </td>
                <td>
                    <span style="color: red">@Model.SpecialHolidayOneDayBaby</span>
                </td>

            </tr>

        }
          
        </tbody>
        </table>
       </div>
        
        
        

        <h3 class="l-detail-title">
            <em>國內個別旅遊定型化契約書 </em></h3>
        <p style="padding-left: 10px; color: #9c4d00;">為維護您的權益，請詳閱下列『國內個別旅遊定型化契約書』，再繼續進行報名。</p>
        <div class="contract" style="height: 300px; overflow-y: auto">
            交通部觀光局100年1月17日觀業字第0990044124號函修正發布 <br>
（本契約審閱期間一日， 年 月 日由甲方攜回審閱） <br>
<br>
<br>
立契約書人 <br>
旅客姓名：                                    (以下稱甲方) <br>
旅行社名稱：屏東旅行社股份有限公司(以下稱乙方) <br>
甲乙雙方同意就本旅遊事項，依下列規定辦理： <br><br>
 第一條（國內旅遊之定義） <br>
本契約所謂國內旅遊，指在台灣、澎湖、金門、馬祖及其他自由地區之我國疆域範圍內 
之旅遊。<br><br>
第二條(個別旅遊之定義及內容) <br>
本契約所稱個別旅遊係指：甲方要求乙方代為安排國內交通工具、住宿、旅遊行程；或甲方參加乙方所包裝販賣之交通工具、住宿、旅遊行程之個別旅遊產品。<br><br>
第三條(預定旅遊地及交通住宿內容)<br>
本旅遊之交通、住宿、旅遊行程詳如附件。<br>
前項記載得以所刊登之廣告、宣傳文件代之，視為本契約之一部分，如載明僅供參考者
，其記載無效。<br><br>
第四條(集合及出發時地)<br>
甲方應於 選定參加行程日期準時集合出發。甲方未準時到達致無法出發時， 亦未能中途加入旅遊者，視為甲方解除契約，乙方得依第十一條之規定處理。<br><br>
第五條(旅遊費用及其涵蓋內容)<br>
旅遊費用共：新台幣 依實際選擇行程收費  ，甲方應依下列約定繳付：  <br>
一、簽訂本契約時，甲方應繳付全額費用新台幣 依實際選擇行程付費 。<br>
二、其款項於出發前三日時繳清。<br>
甲方依前項繳納之旅遊費用，應包括本契約所列應由乙方安排之交通費用、旅館住宿費用、旅程遊覽費用。但如雙方約定另含其他費用者，依其約定。<br><br>
第六條(怠於給付旅遊費用之效力)<br>
因可歸責於甲方之事由，怠於給付旅遊費用者，乙方得逕行解除契約，並沒收其已繳之訂金。如有其他損害，並得請求賠償。<br><br>
第七條（旅客協力義務）<br>
旅遊需甲方之行為始能完成，而甲方不為其行為者，乙方得定相當期限，催告甲方為之
。甲方逾期不為其行為者，乙方得終止契約，並得請求賠償因契約終止而生之損害。<br><br>
第八條（強制投保保險）<br>
乙方應依主管機關之規定辦理責任保險及履約保證保險。<br>

乙方如未依前項規定投保者，於發生旅遊意外事故或不能履約之情形時，乙方應以主管機關規定最低投保金額計算其應理賠金額之三倍賠償甲方。<br><br>
第九條（因旅行社過失無法成行）<br>
因可歸責於乙方之事由，致甲方之旅遊活動無法成行時，乙方於知悉旅遊活動無法成行者
，應即通知甲方並說明其事由。怠於通知者，應賠償甲方依旅遊費用之全部計算之違約金
；其已為通知者，則按通知到達甲方時，距出發日期時間之長短，依下列規定計算應賠償甲方之違約金。<br>
一、通知於出發日前第二十一日至第三十日以內到達者，賠償旅遊費用百分之十。<br>
二、通知於出發日前第十一日至第二十日以內到達者，賠償旅遊費用百分之二十。<br>
三、通知於出發日前第四日至第十日以內到達者，賠償旅遊費用百分之三十。<br>
四、通知於出發日前一日至第三日以內到達者，賠償旅遊費用百分之七十。<br>
五、通知於出發當日以後到達者，賠償旅遊費用百分之一百。<br>
甲方如能證明其所受損害超過第一項各款標準者，得就其實際損害請求賠償。<br><br>
第十條（旅程內容之實現及例外）<br>
乙方應依契約所定辦理住宿、交通、旅遊行程等，不得變更，但經甲方要求，乙方同意甲方之要求而變更者，不在此限，惟其所增加之費用應由甲方負擔。<br>
除非有本契約第十二條或第十四條之情事，乙方不得以任何名義或理由變更，乙方未依本契約所訂等級辦理餐宿、交通等事宜時，甲方得請求乙方賠償差額二倍之違約金。<br><br>
第十一條（出發前旅客任意解除契約）<br>
甲方於旅遊活動開始前得通知乙方解除本契約，但應繳交證照費用，並依下列標準賠償乙方：<br>
一、通知於出發日前第二十一日至第三十日以內到達者，賠償旅遊費用百分之十。<br>
二、通知於出發日前第十一日至第二十日以內到達者，賠償旅遊費用百分之二十。<br>
三、通知於出發日前第四日至第十日以內到達者，賠償旅遊費用百分之三十。<br>
四、通知於出發日前一日至第三日以內到達者，賠償旅遊費用百分之七十。<br>
五、通知於出發當日以後到達者，賠償旅遊費用百分之一百。<br>
乙方如能證明其所受損害超過第一項各款標準者，得就其實際損害請求賠償。<br><br>
第十二條（出發前有法定原因解除契約）<br>
因不可抗力或不可歸責於雙方當事人之事由，致本契約之全部或一部無法履行時，得解除契約之全部或一部，不負損害賠償責任。乙方應將已代繳之規費或履行本契約已支付之全部必要費用扣除後之餘款退還甲方。但雙方於知悉旅遊活動無法成行時應即通知他方並說明事由；其怠於通知致使他方受有損害時，應負賠償責任。<br>
為維護本契約旅遊之安全與利益，乙方依前項為解除契約之一部後，應為有利於旅遊之必要措置（但甲方不同意者，得拒絕之），如因此支出必要費用，應由甲方負擔。<br><br>
第十二條之ㄧ（出發前有客觀風險事由解除契約）<br>
出發前，本旅遊所前往旅遊地區之一，有事實足認危害旅客生命、身體、健康、財產安全之虞者，得準用前條之規定。但解除之一方，應另按旅遊費用百分之五補償他方（不得超過百分之五）。<br><br>
第十三條（出發後旅客任意終止契約）甲方於旅遊活動開始後中途退出旅遊活動或未能參加乙方所排定之旅遊項目時，不得要求乙方退還旅遊費用。但乙方因甲方退出旅遊活動後，應可節省或無須支付之費用，應退還甲方。<br><br>
第十四條（旅遊途中行程、食宿、遊覽項目之變更）<br>
甲方於參加乙方所安排之旅遊行程中，因不可抗力或不可歸責於乙方之事由，致無法依預定之旅程、住宿或遊覽項目等履行時，乙方應盡善良管理人之注意為必要之協助。<br><br>
第十五條（責任歸屬及協辦）<br>
旅遊期間，因不可歸責於乙方之事由，致甲方搭乘飛機、輪船、火車、捷運、纜車、汽車等大眾運輸工具所受損害者，應由各該提供服務之業者直接對甲方負責。但乙方應盡善良管理人之注意，協助甲方處理。<br><br>
第十六條（其他協議事項） <br>
甲乙雙方同意遵守下列各項：<br>
一、<br>
二、<br>
前項協議事項，如有變更本契約其他條款之規定，除經交通部觀光局核准，其約定無效
，但有利於甲方者，不在此限。<br>

<br><br><br><br>
<p>
訂約人 甲方：<br>
住   址： <br>
身分證字號：<br>
電話或電傳：<br>
乙方 (公司名稱)： 屏東旅行社股份有限公司 <br>
註冊編號：交觀乙 第1199號<br>
 負 責 人 ：郭子義<br>
 住  址：屏東市光復路104號<br>
電話或電傳：08-7221292、 08-7221299<br>
                        
簽約日期：中華民國   年   月   日<br>
（如未記載以交付訂金日為簽約日期） <br>
簽約地點：  <br>   
（如未記載以甲方住所地為簽約地）<br>
</p>

        </div>
        <p class="m1">
            <input name="chk_d" type="checkbox" id="chk_d" value="d" />
            我已經閱讀「國內個別旅遊定型化契約書」，並同意其內容。
        </p>
        <p class="text-center">
            <input type="submit" disabled="disabled" class="btn btn-primary jq-btn" value="下一步" />

        </p>
    }

    <script>
        $(document).ready(function(){
            if($('#chk_d').prop("checked")==true){
                $('.jq-btn').prop( "disabled",false  );
                
            }else{
                $('.jq-btn').prop( "disabled", true );
            }
           
            $('#chk_d').on('change',function(){
                if($('#chk_d').prop( "checked")==true){
                    $('.jq-btn').prop( "disabled", false );
                    
                }else{
                    $('.jq-btn').prop( "disabled", true );
                }
            });
        })
    </script>






</div>
@Scripts.Render("~/bundles/jqueryui")
<script src="/Scripts/ui.datepicker-zh-TW.js"></script>
@Styles.Render("~/Content/themes/base/css")
@{
    string DisableDates = "";
    foreach (TravelDisableDate dDate in Model.TravelDisableDates)
    {
        DisableDates += ",\"" + dDate.DisableDate.ToString("yyyy-MM-dd") + "\"";
    }
}
<script>
    
    $(document).ready(function() {
  @*      var array = ["2016-01-1"@Html.Raw(DisableDates)];
       
        $("#datepicker").datepicker({
            minDate: @Model.OrderDay,maxDate: "+3m",inline: true,altField: '#selectDate',
            beforeShowDay: function(date){
              var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [array.indexOf(string) == -1];
            }
        });舊有的寫法哪天不能選2018/02/23，下方改為哪天可以選*@


       
        var array = $('#datestr').val();
        var maxdate = $('#maxdate').val();
        var id=@Model.Id;
       
       
        $("#datepicker").datepicker({
            minDate: @Model.OrderDay,maxDate: maxdate,inline: true,altField: '#selectDate',
            beforeShowDay: function(date){

               var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [array.indexOf(string) != -1];
            },
            onSelect:function() {
                var selectDate = $('#selectDate').val();
                $('#selectDates').val(selectDate);
                $.ajax({
                    url: '@Url.Action("GetType", "TravelSchdule")',
                    data: { id: id, selectDate: selectDate },
                     type: 'post',
                     cache: false,
                     async: false,
                     dataType: 'json',
                     success: function (data) {
                         $('#type').val(data["Message"]);
                        
                         document.querySelector('#pricelist').style.display='none';
                         if (data["Message"] === "平日") {
                             document.querySelector('#common').style.display='';
                             document.querySelector('#Holiday').style.display='none';
                             document.querySelector('#SpecialHoliday').style.display = 'none';
                         }else if (data["Message"] === "假日") {
                             document.querySelector('#common').style.display = 'none';
                             document.querySelector('#Holiday').style.display = '';
                             document.querySelector('#SpecialHoliday').style.display = 'none';
                         } else {
                             document.querySelector('#common').style.display = 'none';
                             document.querySelector('#Holiday').style.display='none';
                             document.querySelector('#SpecialHoliday').style.display = '';
                             
                         }
                        
                         
                     }
                 });
            }
           
        });
     
 
        $("#dateDropDown").change(function() {
            $("#selectDate").val($(this).val());
        });
    });
   
</script>
