﻿@{
    ViewBag.Title = "title";

    String key = HttpUtility.HtmlEncode("/e7eFc3R3D77YB2mbUYdqjxMqdu8GIqMjR0hb9Ik/oo7ezV38dCzoA==");
}

<h2>title</h2>

<body onload="document.HPP.submit()">
    <form name="HPP" method="post" target="HPPFrame" action="https://nccnet-ectest.nccc.com.tw/merchant/HPPRequest">
        <div>
            <iframe name="HPPFrame" id="mainFrame" height="600" width="800" frameborder="0" application="yes">

            </iframe>
        </div>
        <input type="hidden" name ="KEY" value="@key" />  
        <input type="text" value="/e7eFc3R3D77YB2mbUYdqjxMqdu8GIqMjR0hb9Ik/oo7ezV38dCzoA==" /> 
        <div>/e7eFc3R3D77YB2mbUYdqjxMqdu8GIqMjR0hb9Ik/oo7ezV38dCzoA==</div>
    </form>
</body>
