﻿@model Fun2twModels.Models.Transaction

@{
    ViewBag.Title = "title";
}

<h2>title</h2>


<div>order id: @Html.DisplayFor(model => model.Orderid)</div>
<div>Response code: @Html.DisplayFor(model => model.Responsecode)</div>
<div>Return code: @Html.DisplayFor(model => model.Returncode)</div>
<div>Response messsage: @Html.DisplayFor(model => model.Responsemsg)</div>

