﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.ExpertInfo>  
@{
    ViewBag.Title = "達人攻略";
    List<TravelPlan> travelPlans = ViewBag.travelPlan;
}
<!--<div class="l-banner"  style="background: url(/images/banner-travel-bg.png)" >
  <img src="/images/banner-travel.png">
</div>

<div class="container l-white news-content"></div>
<div class="text-center m1">
  <img src="/images/map_03.jpg" alt="">
</div> -->
  
  <style>
    .expertInfo img {
      width: 100%;
      display: block;

    }
    .mobile {
      display: none;
    }
    @@media (max-width: 569px) {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
  </style>
  <div class="desktop">
    <a  href="/japan/ExpertInfo/Plan" alt="行程懶人包" title="行程懶人包">
      <div class="expertInfo">
        <img src="./images/expertInfo1.png" alt="行程懶人包" title="行程懶人包">
      </div>
    </a>
    <a  href="/japan/TravelSchdule/index" alt="熱門行程套票 " title="熱門行程套票 ">
      <div class="expertInfo">
        <img src="./images/expertInfo2.png" alt="熱門行程套票 " title="熱門行程套票 ">
      </div>
    </a>
    <a  href="/japan/TravelPlan/overview" alt="景點介紹" title="景點介紹">
      <div class="expertInfo">
        <img src="./images/expertInfo3.png" alt="景點介紹" title="景點介紹">
      </div>
    </a>
    <a  href="/japan/ExpertPlan" alt="達人樂遊攻略" title="達人樂遊攻略">
      <div class="expertInfo">
        <img src="./images/expertInfo4.png" alt="達人樂遊攻略" title="達人樂遊攻略">
      </div>
    </a>
  </div>
  <div class="mobile">
    <a  href="/japan/ExpertInfo/Plan" alt="行程懶人包" title="行程懶人包">
      <div class="expertInfo">
        <img src="./images/expertInfo5.png" alt="行程懶人包" title="行程懶人包">
      </div>
    </a>
    <a  href="/japan/TravelSchdule/index" alt="熱門行程套票 " title="熱門行程套票 ">
      <div class="expertInfo">
        <img src="./images/expertInfo6.png" alt="熱門行程套票 " title="熱門行程套票 ">
      </div>
    </a>
    <a  href="/japan/TravelPlan/overview" alt="景點介紹" title="景點介紹">
      <div class="expertInfo">
        <img src="./images/expertInfo7.png" alt="景點介紹" title="景點介紹">
      </div>
    </a>
    <a  href="/japan/ExpertPlan" alt="達人樂遊攻略" title="達人樂遊攻略">
      <div class="expertInfo">
        <img src="./images/expertInfo8.png" alt="達人樂遊攻略" title="達人樂遊攻略">
      </div>
    </a>
  </div>



   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

