﻿@using System.ServiceModel.Configuration
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelOldPlan  
@{
    ViewBag.Title = "推薦行程";
    Layout = null;
}
 <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/all.css">
<h2 class="l-titles l-titles-indent">
              [@Model.DayType] @Model.Subject<span>TRAVEL</span>

            </h2>

@Html.Raw(Model.Article)
<div class="text-center">
 @if (!string.IsNullOrEmpty(Model.UpImageUrl))
                {
                     <img src="/upfiles/images/@Model.UpImageUrl"/>
                }
                </div>