﻿@using Fun2twModels.Models
@model Fun2twModels.Models.CustomerVideo
@{
    ViewBag.Title = @Model.Subject;
}
<div class="container l-white">
 <h2 class="l-titles l-titles-indent">
   @Model.Subject
  </h2>

@if (!string.IsNullOrEmpty(Model.YoutubeUrl))
{
    <iframe style="width: 100%; height: 480px" src="@Model.YoutubeUrl.Replace("watch?v=", "embed/")" frameborder="0" allowfullscreen></iframe>
}
else
{
                <video id="video" controls="" width=" 100%" height="480">
    <source src="/VideoFiles/@Model.UpFile" />
</video>
}
    
<div class="text-center m1">
	<input type="button" onclick="history.back();" class="btn btn-cyan" value="回列表">
</div>
<!-- <p>@Model.Memo</p> -->
</div>
