﻿@using Fun2twModels.Models
@model  TravelOrder
@{
    ViewBag.Title = "填寫訂單資料";
    DateTime selectDate = (DateTime)ViewBag.selectDate;
    TravelProduct travelproduct = ViewBag.travelproduct;
    List<TravelOrderDetail> travelOrderDetails = ViewBag.travelOrderDetails;
    int CustomerId = ViewBag.CustomerId;
    int SchduleId = ViewBag.SchduleId;
    int i = 0;
    int total=0;
    int Coupon = 0;
    string CouponCode = ViewBag.Coupon;
    if (!string.IsNullOrEmpty(CouponCode))
    {
        Coupon = 50;
    }
  
}
<style>
    table, th,td {
         border-style: 
         double;border-width: 1px;
        padding: 4px;
    }
</style>
<div class="container l-white news-content">
    <h2 class="l-titles">
       注文 <span> ORDER</span>
    </h2>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <input type="hidden" name="Mobile" value="@Request["Mobile"]"/>
        <div>
            <h3>ツアー名:@travelproduct.JpSubject 出発日:@selectDate.ToString("yyyy/MM/dd")</h3>
            <div></div>
            <h3 class="l-detail-title"><em>旅客の資料を入力してくだ</em></h3>
            <table class="table table-bordered" >
                <thead>
                <th width="100">商品/価格
                </th>
                <th >
                    <span style="color: red">*</span>  個人情報
                </th>
               
              
                </thead>
                <tbody>
                @foreach (var item in travelOrderDetails)
                {
                    <tr>
                        <td>
                            @item.Subject
                            <input type="hidden" name="travelOrderDetails[@i].Subject" value="@item.Subject"/>
                            <br>    
                             <span style="color: red">@item.Price</span>
                            <input type="hidden" name="travelOrderDetails[@i].Price" value="@item.Price"/>
                            @{
                                total += item.Price;
                            }
                        </td>
                       
                        <td>
                        <span style="color: red">*</span>名前 <br> 
                            <input data-val="true" data-val-required="必填" class="form-control" type="text" name="travelOrderDetails[@i].Name" value="@item.Name"/>
                            <span class="field-validation-valid" data-valmsg-for="travelOrderDetails[@i].Name" data-valmsg-replace="true"></span>
                            <br>
                        パスポート(姓)<br> 
                        <input class="form-control" type="text" name="travelOrderDetails[@i].FirstName" value="@item.FirstName"/>
                            <br>
                            パスポート(名)<br> <input class="form-control" type="text" name="travelOrderDetails[@i].LastName" value="@item.LastName"/><br>
                            <span style="color: red">*</span>身分証明書番号<br> 
                            <input data-val="true" data-val-required="必填" class="form-control" type="text" name="travelOrderDetails[@i].PassID" value="@item.PassID"/>
                             <span class="field-validation-valid" data-valmsg-for="travelOrderDetails[@i].PassID" data-valmsg-replace="true"></span>
                            <br>
                            <span style="color: red">*</span>生年月日<br> 
                            <input type="text" data-val="true" data-val-required="必填" name="travelOrderDetails[@i].Birthday" class="datepicker form-control" value="@item.Birthday"/>
                             <span class="field-validation-valid" data-valmsg-for="travelOrderDetails[@i].Birthday" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    i++;
                }
                </tbody>
            </table>
            @if (Coupon > 0)
            {
                 <div>
                クーポンコード :<span style="color: red">@ViewBag.Coupon</span>
            </div>
            }
           
            <div class="text-right">総金額：<span style="color: red">@(total - Coupon)</span></div>
            <input type="hidden" name="Coupon" value="@ViewBag.Coupon"/>
            <input type="hidden" name="ActityDate" value="@selectDate"/>
            <input type="hidden" name="Total" value="@(total - Coupon)"/>
            <input type="hidden" name="CustomerId" value="@CustomerId"/>
             <input type="hidden" name="SchduleId" value="@SchduleId"/>
            <h3 class="l-detail-title"><em>連絡先情報</em></h3>
            <table class="table table-bordered" > 
                <tbody><tr>
                    <th width="100" class="l_2"> <span style="color: red">*</span> 名前
                    </th>
                    <td class="l_2 gt2" >
                        @Html.TextBoxFor(model => model.OrderName,new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.OrderName)
                    </td>
                   
                </tr>
                <tr>    
 <th  class="l_2">English Name
                    </th>
                    <td class="l_2 gt2" style="color: #000;">
                        @Html.TextBoxFor(model => model.OrderEnglishName,new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.OrderEnglishName)

                    </td>
                </tr>
                <tr>
                    <th class="l_4"> <span style="color: red">*</span> 電話番号
                    </th>
                    <td class="gt2">
                       @Html.TextBoxFor(model => model.OrderTelphone,new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.OrderTelphone)
                    </td>
                   
                </tr>
               <tr>
                     <th class="l_4">携帯番号
                    </th>
                    <td class="gt2" style="color: #000;">
                        @Html.TextBoxFor(model => model.OrderMobile,new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.OrderMobile)
                    </td> 

               </tr>
                <tr>
                    <th class="l_4">ファクス番号
                    </th>
                    <td class="gt2">
                        @Html.TextBoxFor(model => model.FAX,new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.FAX)
                    </td>
                   
                </tr>
                <tr>    
                         <th class="l_4"> <span style="color: red">*</span> Email
                    </th>
                    <td class="gt2" style="color: #000;">
                         @Html.TextBoxFor(model => model.OrderEmail,new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.OrderEmail)
                    </td>

                </tr>
                <tr>
                    <th class="l_4"> <span style="color: red">*</span> 住所
                    </th>
                    <td class="gt2" >
                        @Html.TextBoxFor(model => model.OrderAddress,new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.OrderAddress)
                    </td>
                </tr>
                <tr>
                    <th class="l_4">乗車する場所
                    </th>
                    <td class="gt2" >
                        @Html.TextBoxFor(model => model.CarArea,new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.CarArea)
                    </td>
                </tr>
                <tr>
                    <th class="l_4">特別リクエスト
                    </th>
                    <td class="gt2">
                        @Html.TextAreaFor(model => model.CustomerMemo, new {@style = "height: 150px;width: 100%", @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.CustomerMemo)

                    </td>
                </tr>

                                    <tr>
                    <th class="l_4">どうやってこのウェブサイトを知っていますか？
                    </th>
                    <td class="gt2" >
                          @Html.TextAreaFor(model => model.Source,new { @style = "height: 150px;width: 100%",@class="form-control" })
            @Html.ValidationMessageFor(model => model.Source)
                       
                    </td>
                </tr>
                </tbody></table>
	 <input type="checkbox" name="updatecustomer" />会員情報を更新
        </div>
        <h3 class="l-detail-title" style="display: none"><em>付款方式</em></h3>
        <div style="display: none">

            @Html.DropDownListFor(model => model.PayType, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.PayType)), PayType.信用卡刷卡))

        </div>
        <div style="display: none">
            信用卡刷卡
        </div>
        <p class="m1 text-center">
         <input type="submit" class="btn btn-primary" value="次へ"/>
          </p>

    }

</div>

@Scripts.Render("~/bundles/jqueryui")
<script src="/Scripts/ui.datepicker-zh-TW.js"></script>
@Styles.Render("~/Content/themes/base/css")
<script>
    $(document).ready(function() {
        $(".datepicker").datepicker({
            defaultDate: -7200
        });
        

    });
</script>


