﻿

@{
    ViewBag.Title = "title";
}
<body onload="document.HPP.submit()">
    <form name="HPP" method="post" target="HPPFrame" action="https://nccnet-ectest.nccc.com.tw/merchant/HPPRequest">
        <div CLASS="container l-white news-content">
            <iframe name="HPPFrame" id="mainFrame" height="600" width="800" frameborder="0" application="yes">

            </iframe>
        </div>
        <input type="hidden" name ="KEY" value="@ViewBag.Key" />   
        @*<div>Message : @ViewBag.Message</div>
        <div>key : @ViewBag.Key</div>
        <div>order Id : @ViewBag.Orderid</div>*@
    </form>
</body>

