﻿@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelProduct>

@{
    ViewBag.Title = "熱門行程";
}

<div class="container l-white">
    @using (Html.BeginForm())
    {
        <h2 class="l-h2">人気モデルコース 
        </h2>

    
    }
    <div class="text-center form-inline" style="display: none">
        @Html.DropDownList("SearchByThemeId", (IEnumerable<SelectListItem>)ViewBag.ThemeId, "請選擇", new { @class = "form-control form-inline" })
        <input type="submit" class="btn btn-primary" value="検索" />
    </div>
    <div class="">
        <div class="">
            <div class="">
                <ul class="list-ticket">
                    @foreach (var item in Model)
                    {
                        <li class="card">


                            <div class="list-ticket">
                                <div class="list-ticket-card-image" style="height: auto">
                                    <a href="/Japan/TravelSchdule/Details/@item.Id">
                                        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                        {
                                            <img src="~/upfiles/images/@(item.UpImageUrl)" />
                                        }</a>
                                </div>

                                <div class="list-ticket-card-content">
                                    <div class="list-ticket-card-text">
                                        <h2>@item.JpSubject</h2>

                                        <p>
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color: #8f8f8f">ディスカウントプライス</span>


                                            <span class="price" style="color: #f03387;">@item.TicketsPrice <span style="font-size: 14px; color: black;">元から</span></span>
                                        </p>

                                        @*   @if (item.SinglePrice != 0)
                                    {
                                        <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color: #8f8f8f">シングル</span>
                                             @if (item.OriginalSinglePrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalSinglePrice</span>
                                            }

                                           <span class="price" style="color:#f03387;">@item.SinglePrice</span>
                                       </p>



                                    }
                                    @if (item.DoublePrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            タブル</span>
                                              @if (item.OriginalDoublePrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalDoublePrice</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.DoublePrice</span>
                                        </p>



                                    }

                    @if (item.FourPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            4人部屋</span>
                                              @if (item.OriginalFourPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalFourPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.FourPrice</span>
                                        </p>



                                    }

                @if (item.SixPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            6人部屋</span>
                                              @if (item.OriginalSixPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalSixPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.SixPrice</span>
                                        </p>



                                    }

                  @if (item.EightPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            8人部屋</span>
                                              @if (item.OriginalEightPrice.Value != 0)
                                              {
                                                 <span style="text-decoration: line-through">@item.OriginalEightPrice</span>
                                              }
                                            <span class="price" style="color:#f03387;">@item.EightPrice</span>
                                        </p>



                                    }
                   @if (item.WithoutBedPrice != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            ベッドなしの子供が添い寝無料</span>
                                              @if (item.OriginalWithoutBedPrice != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalWithoutBedPrice</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.WithoutBedPrice</span>
                                        </p>



                                    }
                                    @if (item.BabyPric != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            幼児（2歳以下）</span>
                                               @if (item.OriginalBabyPric != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalBabyPric</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.BabyPric</span>
                                        </p>



                                    }
                                    @if (item.OneDayAdult != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            大人･日帰り</span>
                                              @if (item.OriginalOneDayAdult != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayAdult</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayAdult</span>
                                       </p>



                                    }
                                    @if (item.OneDayChild != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            子供･日帰り</span>
                                               @if (item.OriginalOneDayChild != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayChild</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayChild</span>
                                            </p>


                                    }
                                    @if (item.OneDayBaby != 0)
                                    {
                                         <p><i class="fa fa-bus" aria-hidden="true"></i>
                                            <span style="color:#8f8f8f">
                                            幼児(ベイビー)･日帰り</span>
                                               @if (item.OriginalOneDayBaby != 0)
                                            {
                                                 <span style="text-decoration: line-through">@item.OriginalOneDayBaby</span>
                                            }
                                            <span class="price" style="color:#f03387;">@item.OneDayBaby</span>
                                          </p>

              

                                    }*@

                                        <a class="btn btn-blue" href="/Japan/TravelSchdule/Details/@item.Id">もっと詳しく</a>
                                    </div>
                                </div>
                            </div>
                        </li>
    
                    }
                </ul>
            </div>
        </div>
    </div>
    <style>
        .list-ticket-card-image {
            height: 150px;
        }
    </style>


    <div class="l-pagination">
        <div class="pagination">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css")
        <script>
            $(document).ready(function () {
                $(".datepicker").datepicker();

            });
        </script>
    }

</div>

