﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelProduct
@{
    ViewBag.Title = @Model.Subject;
}
<style>
    table, th,td {
         border-style: 
         double;border-width: 1px;
    }
</style>
<div class="container l-white news-content">
<h2 class="l-titles">
    @Model.JpSubject <span> ツアーを予約</span>
</h2>

<div style="background-color: red">
    <span style="color:white">@ViewBag.Message</span>
</div>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <h3 class="l-detail-title"><em>出発日を選んでください</em></h3>

@* <input type="text" class="datepicker" value="検索"/>*@
        <input type="hidden" name="Mobile" value="@Request["Mobile"]"/>
        if (Model.TravelDays.Count == 0)
        {
            <div id="datepicker"></div>
        }
        else
        {
            <select id="dateDropDown" multiple="multiple" name="MemberList" style="height:250px;width: 180px;">
                @foreach (var day in Model.TravelDays.Where(x => x.ActityDate > DateTime.Now.AddDays(Model.OrderDay)))
                {
                    <option>@day.ActityDate.ToString("yyyy/MM/dd")</option>
                }
            </select>
            <script>
                $(document).ready(function() {
			$("#dateDropDown option:eq(0)").attr('selected',true);
			$("#selectDate").val($("#dateDropDown").val());
                });
            </script>

 	   
        
        }

        <div style="display:none">   <span>行程出發日期為:<input class="form-control" type="text" id="selectDate" name="selectDate"/></span> </div>

        if (Model.IsUseCoupon == BooleanType.是)
         {
             <h3 class="l-detail-title"><em> クーポンコード
            Coupon Code</em></h3>
        <span>クーポンコードを入力してください</span><input type="text" name="coupon"/>
         }
       
        <h3 class="l-detail-title"><em> 枚数</em></h3>
        <table class="table table-bordered" style="width:320px">
            <thead>
            <th>枚数</th>
            <th>商品</th>
            <th>料金</th>
            
            </thead>
            <tbody>
            @if (Model.SinglePrice != 0)
            {
                     <td>
                        <select name="SinglePrice">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                <tr>
                    <td>
                        シングル
                    </td>
                    <td>
                        <span style="color: red">@Model.SinglePrice</span>
                    </td>
                   
                </tr>

            }
            @if (Model.DoublePrice != 0)
            {
                <tr>
                 <td>
                        <select name="DoublePrice">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                       タブル
                    </td>
                    <td>
                        <span style="color: red">@Model.DoublePrice</span>
                    </td>
                   
                </tr>

            }
                                @if (Model.FourPrice != 0)
            {
                <tr>
                 <td>
                        <select name="FourPrice">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                        4人部屋
                    </td>
                    <td>
                        <span style="color: red">@Model.FourPrice</span>
                    </td>
                   
                </tr>

            }

                @if (Model.SixPrice != 0)
            {
                <tr>
                 <td>
                        <select name="SixPrice">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                        6人部屋
                    </td>
                    <td>
                        <span style="color: red">@Model.SixPrice</span>
                    </td>
                   
                </tr>

            }

                @if (Model.EightPrice != 0)
            {
                <tr>
                 <td>
                        <select name="EightPrice">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                       8人部屋
                    </td>
                    <td>
                        <span style="color: red">@Model.EightPrice</span>
                    </td>
                   
                </tr>

            }
            @if (Model.WithoutBedPrice != 0)
            {
                <tr>
                <td>
                        <select name="WithoutBedPrice">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                        ベッドなしの子供が添い寝無料
                    </td>
                    <td>
                        <span style="color: red">@Model.WithoutBedPrice</span>
                    </td>
                    
                </tr>

            }
            @if (Model.BabyPric != 0)
            {
                <tr>
                 <td>
                        <select name="BabyPric">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                       幼児（2歳以下）
                    </td>
                    <td>
                        <span style="color: red">@Model.BabyPric</span>
                    </td>
                   
                </tr>

            }
            @if (Model.OneDayAdult != 0)
            {
                <tr>
                 <td>
                        <select name="OneDayAdult">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                        大人・日帰り
                    </td>
                    <td>
                        <span style="color: red">@Model.OneDayAdult</span>
                    </td>
                   
                </tr>

            }
            @if (Model.OneDayChild != 0)
            {
                <tr>
                <td>
                        <select name="OneDayChild">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                        子供・日帰り
                    </td>
                    <td>
                        <span style="color: red">@Model.OneDayChild</span>
                    </td>
                    
                </tr>

            }
            @if (Model.OneDayBaby != 0)
            {
                <tr>
                 <td>
                        <select name="OneDayBaby">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option>@i</option>
                            }

                        </select>
                    </td>
                    <td>
                        幼児(ベイビー)・日帰り
                    </td>
                    <td>
                        <span style="color: red">@Model.OneDayBaby</span>
                    </td>
                   
                </tr>

            }
           
            </tbody>
        </table>
       

                            <h3 class="l-detail-title" style="display:none">
                            <em>   手配旅行契約書 </em></h3>
                    <p style="padding-left: 10px; color: #9c4d00;display:none">為維護您的權益，請詳閱下列『國內旅遊定型化契約書』，再繼續進行報名。</p>
                    <div class="contract" style="height:300px;overflow-y:auto;display:none">
                        立契約書人<br />
                    （本契約審閱期間一日， 年 月 日由甲方攜回審閱）<br />
                     （旅客姓名） （以下稱甲方）<br />
                     （旅行社名稱）屏東旅行社股份有限公司　　　　　（以下稱乙方）<br />
                     甲乙雙方同意就本旅遊事項，依下列規定辦理<br />
                     第一條（國內旅遊之意義）<br />
                     本契約所謂國內旅遊，指在台灣、澎湖、金門、馬祖及其他自由地區之我國疆域範圍內之旅遊。<br />
                     第二條（適用之範圍及順序）<br />
                     甲乙雙方關於本旅遊之權利義務，依本契約條款之約定定之；本契約中未約定者，適用中華民國有關法令之規定。<br />
                     附件、廣告亦為本契約之一部。<br />
                     第三條（旅遊團名稱及預定旅遊地區）<br />
                     本旅遊團名稱為 <br />
                     一、旅遊地區（城市或觀光點）：<br />
                     二、行程（包括起程回程之終止地點、日期、交通工具、住宿旅館、餐飲、遊覽及其所附隨之服務說明）：<br />
                     前項記載得以所刊登之廣告、宣傳文件、行程表或說明會之說明內容代之，視為本契約之一部分，如載明僅供參考者，其記載無效。<br />
                     第四條（集合及出發時地）<br />
                     甲方應於所訂定旅遊日期、時間，於約定地點準時集合出發。甲方未準時到約定地點集合致未能出發，亦未能中途加入旅遊者，視為甲                     方解除契約，乙方得依第十八條之規定，行使損害賠償請求權。<br />
                     第五條（旅遊費用）<br />
                     旅遊費用：請參照行程費用說明。<br />
                     甲方應依下列約定繳付：<br />
                     一、簽訂本契約時，甲方應繳付所需團費。<br />
                     二、除經雙方同意並記載於本契約第二十八條，雙方不得以任何名義要求增減旅遊費用。<br />
                     第六條 (旅客怠於給付旅遊費用之效力)<br />
                     因可歸責於甲方之事由，怠於給付旅遊費用者，乙方得逕行解除契約，並沒收其已繳之訂金。如有其他損害，並得請求賠償。<br />
                     第七條 (旅客協力義務)<br />
                     旅遊需甲方之行為始能完成，而甲方不為其行為者，乙方得定相當期限，催告甲方為之。甲方逾期不為其行為者，乙方得終止契約，並                     得請求賠償因契約終止而生之損害。<br />
                     旅遊開始後，乙方依前項規定終止契約時，甲方得請求乙方墊付費用將其送回原出發地。於到達後，由甲方附加年利率 10 ％利息償還乙方。<br />
                     第八條（旅遊費用所涵蓋之項目）<br />
                     甲方依第五條約定繳納之旅遊費用，除雙方另有約定以外，應包括下列項目：<br />
                     一、代辦證件之規費：乙方代理甲方辦理所須證件之規費。<br />
                     二、交通運輸費：旅程所需各種交通運輸之費用。<br />
                     三、餐飲費：旅程中所列應由乙方安排之餐飲費用。<br />
                     四、住宿費：旅程中所需之住宿旅館之費用，如甲方需要單人房，經乙方同意安排者，甲方應補繳所需差額。<br />
                     五、遊覽費用：旅程中所列之一切遊覽費用，包括遊覽交通費、入場門票費。<br />
                     六、接送費：旅遊期間機場、港口、車站等與旅館間之一切接送費用。<br /> 
                     七、服務費：隨團服務人員之報酬。 <br />
                     前項第二款交通運輸費，其費用調高或調低時，應由甲方補足，或由乙方退還。<br />
                     第九條（旅遊費用所未涵蓋項目）<br />
                     第五條之旅遊費用，不包括下列項目：<br />
                     一、非本旅遊契約所列行程之一切費用。<br />
                     二、甲方個人費用：如行李超重費、飲料及酒類、洗衣、電話、電報、私人交通費、行程外陪同購物之報酬、自由活動費、個人傷病醫                     療費、宜自行給與提供個人服務者（如旅館客房服務人員）之小費或尋回遺失物費用及報酬。<br />
                     三、未列入旅程之機票及其他有關費用。<br />
                     四、宜給與司機或隨團服務人員之小費。<br />
                     五、保險費：甲方自行投保旅行平安險之費用。<br />
                     六、其他不屬於第八條所列之開支。<br />
                     第十條（強制投保保險）<br />
                     乙方應依主管機關之規定辦理責任保險及履約保險。<br />
                     乙方如未依前項規定投保者，於發生旅遊意外事故或不能履約之情形時，乙方應以主管機關規定最低投保金額計算其應理賠金額之三倍賠償甲方。<br />
                     第十一條（組團旅遊最低人數）<br />
                     本旅遊團須有 X 人以上簽約參加始組成。如未達前定人數，乙方應於預定出發之四日前通知甲方解除契約，怠於通知致甲方受損害者，乙方應賠償甲方損害。<br />
                     乙方依前項規定解除契約後，得依下列方式之一，返還或移作依第二款成立之新旅遊契約之旅遊費用：<br />
                     一、退還甲方已交付之全部費用，但乙方已代繳之規費得予扣除。<br />
                     二、徵得甲方同意，訂定另一旅遊契約，將依第一項解除契約應返還甲方之全部費用，移作該另訂之旅遊契約之費用全部或一部。<br />
                     第十二條（證照之保管）<br />
                     乙方代理甲方處理旅遊所需之手續，應妥善保管甲方之各項證件，如有遺失或毀損，應即主動補辦。如因致甲方受損害時，應賠償甲方損失。<br />
                     第十三條(旅客之變更)<br />
                     甲方得於預定出發日 十 日前，將其在本契約上之權利義務讓與第三人，但乙方有正當理由者，得予拒絕。<br />
                     前項情形，所減少之費用，甲方不得向乙方請求返還，所增加之費用，應由承受本契約之第三人負擔，甲方並應於接到乙方通知後 三                      日內協同該第三人到乙方營業處所辦理契約承擔手續。<br />
                     承受本契約之第三人，與甲乙雙方辦理承擔手續完畢起，承繼甲方基於本契約一切權利義務。<br />
                     第十四條（旅行社之變更）<br />
                     乙方於出發前非經甲方書面同意，不得將本契約轉讓其他旅行業，否則甲方得解除契約，其受有損害者，並得請求賠償。<br />
                     甲方於出發後始發覺或被告知本契約已轉讓其他旅行業，乙方應賠償甲方所繳全部團費百分之五之違約金，其受有損害者，並得請求賠償。<br />
                     第十五條（旅程內容之實現及例外）<br />
                     旅程中之餐宿、交通、旅程、觀光點及遊覽項目等，應依本契約所訂等級與內容辦理，甲方不得要求變更，但乙方同意甲方之要求而變                     更者，不在此限，惟其所增加之費用應由甲方負擔。除非有本契約第二十或第二十三條之情事，乙方不得以任何名義或理由變更旅遊內                     容，乙方未依本契約所訂與等級辦理餐宿、交通旅程或遊覽項目等事宜時，甲方得請求乙方賠償差額二倍之違約金。<br />
                     第十六條（因旅行社之過失延誤行程）<br />
                     因可歸責於乙方之事由，致延誤行程時，乙方應即徵得甲方之同意，繼續安排未完成之旅遊活動或安排甲方返回。乙方怠於安排時，甲                     方並得以乙方之費用，搭乘相當等級之交通工具，自行返回出發地，乙方並應按實際計算返還甲方未完成旅程之費用。<br />
                     前項延誤行程期間，甲方所支出之食宿或其他必要費用，應由乙方負擔。甲方並得請求依全部旅費除以全部旅遊日數乘以延誤行程日數                     計算之違約金。但延誤行程之總日數，以不超過全部旅遊日數為限，延誤行程時數在五小時以上未滿一日者，以一日計算。<br />
                     第十七條（因旅行社之故意或重大過失棄置旅客）<br />
                     乙方於旅遊途中，因故意或重大過失棄置甲方不顧時，除應負擔棄置期間甲方支出之食宿及其他必要費用，及由出發地至第一旅遊地與                     最後旅遊地返回之交通費用外，並應賠償依全部旅遊費用除以全部旅遊日數乘以棄置日數後相同金額二倍之違約金。但棄置日數之計算，以不超過全部旅遊日數為限。<br />
                     第十八條（出發前旅客任意解除契約）<br />
                     甲方於旅遊活動開始前得通知乙方解除本契約，但應繳交行政規費，並應依下列標準賠償：<br />
                     一、通知於旅遊開始前第三十一日以前到達者，賠償旅遊費用百分之十。<br />
                     二、通知於旅遊開始前第二十一日至第三十日以內到達者，賠償旅遊費用百分之二十。<br />
                     三、通知於旅遊開始前第二日至第二十日以內到達者，賠償旅遊費用百分之三十。<br />
                     四、通知於旅遊開始前一日到達者，賠償旅遊費用百分之五十。<br />
                     五、通知於旅遊開始日或開始後到達者或未通知不參加者，賠償旅遊費用百分之一百。<br />
                     前項規定作為損害賠償計算基準之旅遊費用應先扣除行政規費後計算之。<br />
                     第十九條（因旅行社過失無法成行）<br />
                     乙方因可歸責於自己之事由，致甲方之旅遊活動無法成行者，乙方於知悉旅遊活動無法成行時，應即通知甲方並說明事由。怠於通知者                     ，應賠償甲方依旅遊費用之全部計算之違約金；其已為通知者，則按通知到達甲方時，距出發日期時間之長短，依下列規定計算應賠償甲方之違約金。<br />
                     一、通知於出發日前第三十一日以前到達者，賠償旅遊費用百分之十。<br />
                     二、通知於出發日前第二十一日至第三十日以內到達者，賠償旅遊費用百分之二十。<br />
                     三、通知於出發日前第二日至第二十日以內到達者，賠償旅遊費用百分之三十。<br />
                     四、通知於出發日前一日到達者，賠償旅遊費用百分之五十。 <br />
                     五、通知於出發當日以後到達者，賠償旅遊費用百分之一百。<br />
                     第二十條（出發前有法定原因解除契約）<br />
                     因不可抗力或不可歸責於當事人之事由，致本契約之全部或一部無法履行時，得解除契約之全部或一部，不負損害賠償責任。乙方已代                     繳之規費或履行本契約已支付之全部必要費用，得以扣除餘款退還甲方。但雙方應於知悉旅遊活動無法成行時，應即通知他方並說明其                     事由；其怠於通知致他方受有損害時，應負賠償責任。<br />
                     為維護本契約旅遊團體之安全與利益，乙方依前項為解除契約之一部後，應為有利於旅遊團體之必要措置（但甲方不同意者，得拒絕之                     ）如因此支出之必要費用，應由甲方負擔。<br />
                     第二十一條（出發後旅客任意終止契約）<br />
                     甲方於旅遊活動開始後，中途離隊退出旅遊活動時，不得要求乙方退還旅遊費用。<br />
                     甲方於旅遊活動開始後，未能及時參加排定之旅遊項目或未能及時搭乘飛機、車、船等交通工具時，視為自願放棄其權利，不得向乙方要求退費或任何補償。<br />
                     第二十二條（終止契約後之回程安排）<br />
                     甲方於旅遊活動開始後，中途離隊退出旅遊活動，或怠於配合乙方完成旅遊所需之行為而終止契約者，甲方得請求乙方墊付費用將其送                     回原出發地。於到達後，立即附加年利率 10 ％利息償還乙方。 　乙方因前項事由所受之損害，得向甲方請求賠償。<br />
                     第二十三條（旅遊途中行程、食宿、遊覽項目之變更） 　<br />
                     旅遊途中因不可抗力或不可歸責於乙方之事由，致無法依預定之旅程、食宿或遊覽項目等履行時，為維護本契約旅遊團體之安全及利益                     ，乙方得變更旅程、遊覽項目或更換食宿、旅程，如因此超過原定費用時，不得向甲方收取。但因變更致節省支出經費，應將節省部分退還甲方。<br />
                     甲方不同意前項變更旅程時得終止本契約，並請求乙方墊付費用將其送回原出發地。於到達後，立即附加年利率 10 ％利息償還乙方。<br />
                     第二十四條（責任歸屬與協辦）<br />
                     旅遊期間，因不可歸責於乙方之事由，致甲方搭乘飛機、輪船、火車、捷運、纜車等大眾運輸工具所受之損害者，應由各該提供服務之                     業者直接對甲方負責。但乙方應盡善良管理人之注意，協助甲方處理。<br />
                     第二十五條（協助處理義務）<br />
                     甲方在旅遊中發生身體或財產上之事故時，乙方應為必要之協助及處理。<br />
                     前項之事故，係因非可歸責於乙方之事由所致者，其所生之費用，由甲方負擔。但乙方應盡善良管理人之注意，協助甲方處理。<br />
                     第二十六條（國內購物）<br />
                     乙方不得於旅遊途中，臨時安排甲方購物行程。但經甲方要求或同意者，不在此限。所購物品有貨價與品質不相當或瑕疵者，甲方得於                     受領所購物品後一個月內，請求乙方協助其處理。<br />
                     第二十七條（誠信原則）<br />
                     甲乙雙方應以誠信原則履行本契約。乙方依旅行業管理規則之規定，委託他旅行業代為招攬時，不得以未直接收甲方繳納費用，或以非                     直接招攬甲方參加本旅遊，或以本契約實際上非由乙方參與簽訂為抗辯。<br />
                     第二十八條（其他協議事項）<br />
                     甲乙雙方同意遵守下列各項：<br />
                     一、甲方同意乙方將其姓名提供給其他同團旅客。<br />
                     二、前項協議事項，如有變更本契約其他條款之規定，除經交通部觀光局核准外，其約定無效，但有利於甲方者，不在此限。<br />
                     訂約人 <br />
                     甲　　　方:　　　　　　　　　　　　　　　　　乙方（公司名稱）：屏東旅行社股份有限公司<br />
                     住　　　址：　　　　　　　　　　　　　　　　 註 冊 編 號：交觀乙1199<br />
                     統 一 編 號 ：　　　　　　　　　　　　　　　 代　表　人：楊聖民<br />
                     電話或電傳：　　　　　　　　　　　　　　　　 住　　　址：屏東市光復路104號<br />
                     　　　　　　　　　 　　　　　　　　　　　　　電話或電傳：08-722-1292 <br />
                    </div>
        <p class="m1" style="display:none">
            <input name="chk_d" type="checkbox" id="chk_d" value="d" checked="checked"/>
            我已經閱讀「國內旅遊定型化契約書」，並同意其內容。
        </p>
        <p class="text-center"> 
        <input type="submit" disabled="disabled" class="btn btn-primary jq-btn" value="次へ"/>

        </p>
    }

    <script>
        $(document).ready(function(){
            if($('#chk_d').prop("checked")==true){
                $('.jq-btn').prop( "disabled",false  );
            }else{
                $('.jq-btn').prop( "disabled", true );
            }
           
            $('#chk_d').on('change',function(){
                if($('#chk_d').prop( "checked")==true){
                    $('.jq-btn').prop( "disabled", false );
                }else{
                    $('.jq-btn').prop( "disabled", true );
                }
            });
        })
    </script>






</div>
@Scripts.Render("~/bundles/jqueryui")
<script src="/Scripts/ui.datepicker-zh-TW.js"></script>
@Styles.Render("~/Content/themes/base/css")
@{
    string DisableDates = "";
    foreach (TravelDisableDate dDate in Model.TravelDisableDates)
    {
        DisableDates += ",\"" + dDate.DisableDate.ToString("yyyy-MM-dd") + "\"";
    }
}
<script>
    
    $(document).ready(function() {
        var array = ["2016-01-1"@Html.Raw(DisableDates)];
        $("#datepicker").datepicker({
            minDate: @Model.OrderDay,maxDate: "+3m",inline: true,altField: '#selectDate',
            beforeShowDay: function(date){
                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [array.indexOf(string) == -1];
            }
        });

        $("#dateDropDown").change(function() {
            $("#selectDate").val($(this).val());
        });
    });
</script>
