﻿@using System.Globalization
@model Fun2twModels.Models.Transaction

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
@if (Model != null)
{ 
    <div>訂單編號: @Model.Orderid</div>
    <div>交易卡號: @Model.Pan</div>
    <div>交易狀態: @Model.Transcode</div>
    <div>交易類別: @Model.Transmode</div>
    <div>交易金額: @Model.Transamt</div>
   
    DateTime parsed;

    if (DateTime.TryParseExact(Model.Transdate + Model.Transtime, "yyyyMMddHHmmss", CultureInfo.InvariantCulture, DateTimeStyles.None, out parsed))
    {
        <div>交易時間: @parsed.ToString("yyyy-MM-dd HH:mm:ss")</div>
    }
    
    <div>授權碼: @Model.Approvecode</div>
    <div>授權回應訊息: @Model.Pan</div>
}


<div>@ViewBag.Message</div>
