﻿@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.PushMessage>
@{
    ViewBag.Title = "在地即時情報";
  
}
<div class="l-banner"  style="background:#AFBF53" >
  <img src="/images/banner-news.png">
</div>
<div class="container l-white">
    <h1 class="l-titles l-titles-indent">在地即時情報 <span>LBS</span></h1>
     <ul class="news jq-news">
             @foreach (var item in Model)
      {
          <li>

          <a href="/PushMessage/Details/@item.Id">
           <em style="text-indent:0em;margin-right:1em" class="label label-primary" >@Convert.ToDateTime(item.InitDate).ToString("yyyy/MM/dd") </em>
             @item.Subject</a>
          </li>
      }
    </ul>
    <div class="l-pagination">
    <div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>
</div>
   





   @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    
}

