﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Products

@{
  
    ViewBag.Title = "半島市集-" + Model.Subject;
}
<div class="l-banner"  style="background: url(/images/banner-market-bg.png)" >
  <img src="/images/banner-market.png">
</div>
<div class="container l-white market-detail">
<h1 class="l-titles l-titles-indent">@Model.Subject  <span> @Model.ProductCategory.CategoryPath
    @if (Model.Brand != null)
    {
        @Model.Brand.Subject
    }</span></h1>
    <div class="row">
        
    </div>
        <div class="col-md-12 col-xs-12">
        <img src="/upfiles/images/@Model.UpImageUrl"/>
          <h3>商品介紹</h3>
          <p> @Html.Raw(Model.Article)</p>
      <h3>商品規格</h3>
      <p> @Html.Raw(Model.Description)</p>
      <h3>訂購說明</h3>
      <p> @Html.Raw(Model.Description)</p>
      <p class="l-price">NT. <em>@Model.OnSalePrice</em></p>
      <div style="margin-bottom:1em"> <a  class="btn btn-cyan">加入購物車</a></div>
     
        </div>
  
  
   

    



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
   

}