﻿
@using Fun2twModels.Models
@model List<Fun2twModels.Models.Products>
@{
    ViewBag.Title = "半島市集";
    List<Mall>  malls = ViewBag.mall;
}

<div class="l-banner"  style="background: url(/images/banner-market-bg.png)" >
  <img src="/images/banner-market.png">
</div>
<div class="container">
<h2 class="l-titles l-titles-indent">
    熱賣商品 <span>HOT</span>
  </h2>
    <div class="col-lg-12">
        <div class="row">
            <ul class="l-card  l-card-nogutter">
    @foreach (var item in Model) {
        <li class="col-md-3 col-xs-12">
        <div class="l-card-main">
            <div class="l-card-image">
                 <a href="/Products/Details/@item.Id?mobile=@Request["mobile"]">
                       @if (!string.IsNullOrEmpty(item.UpImageUrl))
                        {
                            <img src="~/upfiles/images/S@(item.UpImageUrl)" />
                        }
                </a>
            </div>
            <div class="l-card-content">
           <h2>@item.Subject</h2>
          <p class="market-side-product-price">NT. <em>@item.OnSalePrice</em></p>
           </div>
        </div>
        </li>
    
}
</ul>
        </div>
    </div>
      <div class="container">
      <ul class="list-none">
    @foreach (var mall in malls)
    {
         
       <li class="col-md-6 col-xs-12 m0 p0 list-none">
             <a href="~/Products/Mall/@mall.Id?mobile=@Request["mobile"]">
                 <!-- ... 請注意，商城圖片須由後台上 ... -->
                 <img src="~/upfiles/images/@(mall.UpImageUrl)"/>
             </a>
       </li>
    }
    </ul>
    </div>
   


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
