﻿
@using MvcPaging
@using Fun2tw.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.ThemeVideo>
@{
    ViewBag.Title = "旅遊主題影片";
}

<div class="container jq-twoline l-white news-content">
  <h2 class="l-h2">
     Travel Theme
  </h2>
<div class="">
    <div class="">
        <div class="">
             <ul class="l-card ">
    @foreach (var item in Model) {
  
    <li class="col-md-3">
        <div class="l-card-main">
          <div class="l-card-image">
            <a href="/english/ThemeVideo/Details/@item.Id">
            <img src="@item.UpImageUrl"/>
    </a>
          </div>
          <div class="l-card-content">
              <h2>@item.Subject</h2>
          </div>
        </div>
    </li>
     
       
}
</ul>
        </div>
    </div>
</div>
<style>
  .l-card-main {
  position: relative;
}
.l-card-image {
  border-radius: 0; 

}
.l-card-content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,.8);
  color: white;
  border-radius: 0; 
}
.pagination a,.pagination span {
  border: 0;
  color: #bbbbbb;
}

.pagination a:hover,
.pagination a:focus,
.pagination span:hover,
.pagination span:focus,
.pagination .current {
  color: white;
  background: #68d1df;
}
</style>

<div class="l-pagination">
<div class="pagination">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

}
