﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.Coupon>
    @{
        ViewBag.Title = "優惠券下載";
        List<Coupon> coupon = ViewBag.Coupon;
    }
    <style>
        .list-ticket {
            overflow: visible;
        }
        .list-ticket li {
            width: 100%;
        }
        .list-ticket-card-content {
            width: 48%;
        }
        .list-ticket-card-content h2{
            overflow: hidden; 
            font-size: 1.3em;
            line-height: 1.5;
            height: 42px;
            overflow: hidden;
            text-align: left;
        }
        
        .list-ticket-card-image {
            margin-right: 10px;
            width: 50%;
            height: 300px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;  
        }
        .Description {
            height: 60px;
            overflow: hidden;
        }
        .list-ticket-card-text p {
            text-align: left;
            height: 120px;
            overflow: hidden;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%,rgba(0,0,0,0) 100%);
            background-image: -webkit-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%,rgba(0,0,0,0) 100%);
            
        }
        @@media (max-width: 1259px) {
            .common {
                width: 600px;
                margin: 0 auto;
            }
            
        }
        @@media (max-width: 768px) {
            .list-ticket li {
                width: 100%;
            }
            .list-ticket-card-content {
                width: 100%;
            }
            .list-ticket-card-image {
                width: 100%;
                height: 250px;
            }
            .common {
                width: 100%;
            }
            .list-ticket-card-content h2 {
                text-align: center;
            }
        }
    </style>

    <div class="container l-white market-detail news-content">
        <div class="common">

            <h2 class="l-h2">
                優惠券下載
            </h2>


            <ul class="list-ticket">
                @foreach (var item in Model.OrderBy(x=>x.ListNum))
                {
                    <li class="card">


                        <div class="list-ticket">
                             @if (!string.IsNullOrEmpty(item.UpImageUrl))
                            {
                                <a href="/Coupon/Download?Subject=@item.Subject&ImageUrl=@item.UpImageUrl&mobile=@Request["mobile"]">
                                    <div class="list-ticket-card-image" style="
                                        background-image: url(/upfiles/images/@(item.UpImageUrl));
                                        background-color: black;
                                        ">
                                               
                                    </div>
                                </a>
                            }
                            
                                <div class="list-ticket-card-content">
                                    <div class="list-ticket-card-text">


                                        <h2>@item.Subject</h2>

                                            
                                            <p>@item.Description</p>

                                            <span style="color: red;">期限 &nbsp; @item.EndUseDate.GetValueOrDefault().ToString("yyyy/MM/dd")</span>

                                            <a href="/Coupon/Download?Subject=@item.Subject&ImageUrl=@item.UpImageUrl&mobile=@Request["mobile"]" class="btn btn-blue">下載</a>
                                    </div>
                                </div>

                        </div>
                    </li>

                   
                }
            </ul>


<!--
            <table class="cart table table-bordered">
                <tr>
                    <th width="12%">名稱</th>
                    <th width="16%" class="text-center">圖片</th>
                    <th width="12%" class="text-center">說明</th>
                    <th width="16%" class="text-center">使用期限</th>
                    <th width="12%" class="text-center">下載</th>

                </tr>
                @foreach (var item in coupon)
                {
                    <tr>
                        <td align="left"><span class="blue">@item.Subject</span></td>

                        <td align="center">
                            @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                 {
                                     <img src="~/upfiles/images/@(item.UpImageUrl)"/>
                                 }
                        </td>
                        <td align="center">@item.Description</td>
                        <td align="center">@item.EndUseDate.GetValueOrDefault().ToString("yyyy/MM/dd")</td>


                        <td align="center">
                            <a href="/Coupon/Download?Subject=@item.Subject&ImageUrl=@item.UpImageUrl&mobile=@Request["mobile"]" class="btn btn-primary">下載</a>
                        </td>
                    </tr>
                }
            </table>
-->

        </div>
    </div>
